<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.car.CarRentalPackageOrderSlippageMapper">

    <resultMap type="com.xiliulou.electricity.entity.car.CarRentalPackageOrderSlippagePo" id="entityMap">
        <!--基础映射 -->
        <result property="id" column="id" jdbcType="BIGINT" />
        <result property="tenantId" column="tenant_id" jdbcType="INTEGER" />
        <result property="franchiseeId" column="franchisee_id" jdbcType="INTEGER" />
        <result property="storeId" column="store_id" jdbcType="INTEGER" />
        <result property="createUid" column="create_uid" jdbcType="BIGINT" />
        <result property="updateUid" column="update_uid" jdbcType="BIGINT" />
        <result property="createTime" column="create_time" jdbcType="BIGINT" />
        <result property="updateTime" column="update_time" jdbcType="BIGINT" />
        <result property="delFlag" column="del_flag" jdbcType="INTEGER" />
        <!-- 私有映射 -->
        <result property="uid" column="uid" jdbcType="BIGINT" />
        <result property="orderNo" column="order_no" jdbcType="VARCHAR" />
        <result property="rentalPackageOrderNo" column="rental_package_order_no" jdbcType="VARCHAR" />
        <result property="rentalPackageId" column="rental_package_id" jdbcType="BIGINT" />
        <result property="rentalPackageType" column="rental_package_type" jdbcType="INTEGER" />
        <result property="type" column="type" jdbcType="INTEGER" />
        <result property="carSn" column="car_sn" jdbcType="VARCHAR" />
        <result property="batterySn" column="battery_sn" jdbcType="VARCHAR" />
        <result property="lateFee" column="late_fee" jdbcType="DECIMAL" />
        <result property="lateFeeStartTime" column="late_fee_start_time" jdbcType="BIGINT" />
        <result property="lateFeeEndTime" column="late_fee_end_time" jdbcType="BIGINT" />
        <result property="lateFeePay" column="late_fee_pay" jdbcType="DECIMAL" />
        <result property="payState" column="pay_state" jdbcType="INTEGER" />
        <result property="payTime" column="pay_time" jdbcType="BIGINT" />
    </resultMap>

    <!-- 表名 -->
    <sql id="table_name">`t_car_rental_package_order_slippage`</sql>

    <!-- 基础字段 -->
    <sql id="basic_field">
        `id`, `tenant_id`, `franchisee_id`, `store_id`, `create_uid`, `update_uid`, `create_time`, `update_time`, `del_flag`,
    </sql>

    <!-- 私有字段 -->
    <sql id="private_field">
        `uid`, `order_no`, `rental_package_order_no`, `rental_package_id`, `rental_package_type`, `type`, `car_sn`, `battery_sn`, `late_fee`, `late_fee_start_time`,
        `late_fee_end_time`, `late_fee_pay`, `pay_state`, `pay_time`
    </sql>

    <!-- 全部字段 -->
    <sql id="all_field">
        <include refid="basic_field" />
        <include refid="private_field" />
    </sql>

    <!-- where 查询条件 -->
    <sql id="where_field">
        <if test=" tenantId != null "> AND `tenant_id` = #{tenantId} </if>
        <if test=" franchiseeId != null "> AND `franchisee_id` = #{franchiseeId} </if>
        <if test=" storeId != null "> AND `store_id` = #{storeId} </if>
        <if test=" orderNo != null and orderNo != '' "> AND `order_no` = #{orderNo} </if>
        <if test=" uid != null "> AND `uid` = #{uid} </if>
        <if test=" rentalPackageId != null "> AND `rental_package_id` = #{rentalPackageId} </if>
        <if test=" rentalPackageType != null "> AND `rental_package_type` = #{rentalPackageType} </if>
        <if test=" payState != null "> AND `pay_state` = #{payState} </if>
        <if test=" createTimeBegin != null and createTimeEnd != null "> AND `create_time` BETWEEN #{createTimeBegin} AND #{createTimeEnd} </if>
        <if test=" franchiseeIdList != null and franchiseeIdList.size > 0 ">
            AND `franchisee_id` IN
            <foreach collection="franchiseeIdList" item="franchiseeId" open="(" close=")" separator=",">
                #{franchiseeId}
            </foreach>
        </if>
        <if test=" storeIdList != null and storeIdList.size > 0 ">
            AND `store_id` IN
            <foreach collection="storeIdList" item="storeId" open="(" close=")" separator=",">
                #{storeId}
            </foreach>
        </if>
    </sql>

    <!-- 条件新增字段 -->
    <sql id="insert_field">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test=" tenantId != null "> `tenant_id`, </if>
            <if test=" franchiseeId != null "> `franchisee_id`, </if>
            <if test=" storeId != null "> `store_id`, </if>
            <if test=" createUid != null "> `create_uid`, </if>
            <if test=" updateUid != null "> `update_uid`, </if>
            <if test=" createTime != null "> `create_time`, </if>
            <if test=" updateTime != null "> `update_time`, </if>
            <if test=" delFlag != null "> `del_flag`, </if>
            <if test=" uid != null "> `uid`, </if>
            <if test=" orderNo != null and orderNo != '' "> `order_no`, </if>
            <if test=" rentalPackageOrderNo != null and rentalPackageOrderNo != '' "> `rental_package_order_no`, </if>
            <if test=" rentalPackageId != null "> `rental_package_id`, </if>
            <if test=" rentalPackageType != null "> `rental_package_type`, </if>
            <if test=" type != null "> `type`, </if>
            <if test=" carSn != null and carSn != '' "> `car_sn`, </if>
            <if test=" batterySn != null and batterySn != '' "> `battery_sn`, </if>
            <if test=" lateFee != null "> `late_fee`, </if>
            <if test=" lateFeeStartTime != null "> `late_fee_start_time`, </if>
            <if test=" lateFeeEndTime != null "> `late_fee_end_time`, </if>
            <if test=" lateFeePay != null "> `late_fee_pay`, </if>
            <if test=" payState != null "> `pay_state`, </if>
            <if test=" payTime != null "> `pay_time`, </if>
        </trim>
    </sql>
    <!-- 条件新增字段值 -->
    <sql id="insert_value">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test=" tenantId != null "> #{tenantId}, </if>
            <if test=" franchiseeId != null "> #{franchiseeId}, </if>
            <if test=" storeId != null "> #{storeId}, </if>
            <if test=" createUid != null "> #{createUid}, </if>
            <if test=" updateUid != null "> #{updateUid}, </if>
            <if test=" createTime != null "> #{createTime}, </if>
            <if test=" updateTime != null "> #{updateTime}, </if>
            <if test=" delFlag != null "> #{delFlag}, </if>
            <if test=" uid != null "> #{uid}, </if>
            <if test=" orderNo != null and orderNo != '' "> #{orderNo}, </if>
            <if test=" rentalPackageOrderNo != null and rentalPackageOrderNo != '' "> #{rentalPackageOrderNo}, </if>
            <if test=" rentalPackageId != null "> #{rentalPackageId}, </if>
            <if test=" rentalPackageType != null "> #{rentalPackageType}, </if>
            <if test=" type != null "> #{type}, </if>
            <if test=" carSn != null and carSn != '' "> #{carSn}, </if>
            <if test=" batterySn != null and batterySn != '' "> #{batterySn}, </if>
            <if test=" lateFee != null "> #{lateFee}, </if>
            <if test=" lateFeeStartTime != null "> #{lateFeeStartTime}, </if>
            <if test=" lateFeeEndTime != null "> #{lateFeeEndTime}, </if>
            <if test=" lateFeePay != null "> #{lateFeePay}, </if>
            <if test=" payState != null "> #{payState}, </if>
            <if test=" payTime != null "> #{payTime}, </if>
        </trim>
    </sql>

    <!-- 根据主键ID进行更新 -->
    <update id="updateById">
        UPDATE <include refid="table_name" />
        <set>
            `update_time` = #{updateTime}
            <if test=" lateFeeEndTime != null "> , `late_fee_end_time` = #{lateFeeEndTime} </if>
            <if test=" lateFeePay != null "> , `late_fee_pay` = #{lateFeePay} </if>
            <if test=" payState != null "> , `pay_state` = #{payState} </if>
            <if test=" payTime != null "> , `pay_time` = #{payTime} </if>
            <if test=" updateUid != null "> , `update_uid` = #{updateUid} </if>
        </set>
        <where>
            `id` = #{id}
        </where>
    </update>

    <!-- 根据套餐购买订单编号和逾期订单类型，查询未支付的逾期订单信息 -->
    <select id="selectByPackageOrderNoAndType" resultMap="entityMap">
        SELECT <include refid="all_field" /> FROM <include refid="table_name" />
        <where>
            `rental_package_order_no` = #{rentalPackageOrderNo} AND `type` = #{type} AND `pay_state` = 1 AND `del_flag` = 0
        </where>
    </select>

    <!-- 根据用户ID查询未支付的逾期订单 -->
    <select id="selectUnPaidByByUid"  resultMap="entityMap">
        SELECT <include refid="all_field" /> FROM <include refid="table_name" />
        <where>
            `tenant_id` = #{tenantId} AND `uid` = #{uid} AND `pay_state` = 1 AND `del_flag` = 0
        </where>
    </select>

    <!-- 是否存在未缴纳的逾期订单 -->
    <select id="isExitUnpaid" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM <include refid="table_name" />
        <where>
            `tenant_id` = #{tenantId} AND `uid` = #{uid} AND `late_fee_start_time` <![CDATA[<=]]> #{time} AND `pay_state` <![CDATA[<>]]> 2 AND `del_flag` = 0
        </where>
    </select>

    <!-- 条件查询列表 -->
    <select id="list" parameterType="com.xiliulou.electricity.model.car.query.CarRentalPackageOrderSlippageQryModel" resultMap="entityMap">
        SELECT <include refid="all_field" /> FROM <include refid="table_name" />
        <where>
            `del_flag` = 0
            <include refid="where_field" />
        </where>
    </select>

    <!-- 条件查询分页 -->
    <select id="page" parameterType="com.xiliulou.electricity.model.car.query.CarRentalPackageOrderSlippageQryModel" resultMap="entityMap">
        SELECT <include refid="all_field" /> FROM <include refid="table_name" />
        <where>
            `del_flag` = 0
            <include refid="where_field" />
        </where>
        ORDER BY `create_time` DESC
        LIMIT #{offset}, #{size}
    </select>

    <!-- 条件查询总数 -->
    <select id="count" parameterType="com.xiliulou.electricity.model.car.query.CarRentalPackageOrderSlippageQryModel" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM <include refid="table_name" />
        <where>
            `del_flag` = 0
            <include refid="where_field" />
        </where>
    </select>

    <!-- 根据订单编码查询 -->
    <select id="selectByOrderNo" resultMap="entityMap">
        SELECT <include refid="all_field" /> FROM <include refid="table_name" />
        <where>
            `order_no` = #{orderNo}
        </where>
    </select>

    <!-- 根据ID查询 -->
    <select id="selectById" resultMap="entityMap">
        SELECT <include refid="all_field" /> FROM <include refid="table_name" />
        <where>
            `id` = #{id}
        </where>
    </select>

    <!-- 条件新增 -->
    <insert id="insert" parameterType="com.xiliulou.electricity.entity.car.CarRentalPackageOrderSlippagePo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO <include refid="table_name" /> <include refid="insert_field" /> VALUES <include refid="insert_value" />
    </insert>

</mapper>
