<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.template.TemplateConfigMapper">
    
    <resultMap type="com.xiliulou.electricity.entity.TemplateConfigEntity" id="TemplateConfigEntityMap">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="tenantId" column="tenant_id" jdbcType="INTEGER"/>
        <result property="batteryOuttimeTemplate" column="battery_outtime_template" jdbcType="VARCHAR"/>
        <result property="electricQuantityRemindTemplate" column="electric_quantity_remind_template" jdbcType="VARCHAR"/>
        <result property="batteryMemberCardExpiringTemplate" column="battery_member_card_expiring_template" jdbcType="VARCHAR"/>
        <result property="carMemberCardExpiringTemplate" column="car_member_card_expiring_template" jdbcType="VARCHAR"/>
        <result property="channel" column="channel" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="BIGINT"/>
        <result property="updateTime" column="update_time" jdbcType="BIGINT"/>
    </resultMap>
    
    <!-- 基础字段 -->
    <sql id="base_column">
        id
        , battery_outtime_template, electric_quantity_remind_template, tenant_id, create_time, update_time, battery_member_card_expiring_template,car_member_card_expiring_template,channel
    </sql>
    <sql id="table_name">
        t_template_config
    </sql>
    
    
    <select id="selectListByTenantIdAndChannels" resultMap="TemplateConfigEntityMap">
        select
        <include refid="base_column"/>
        from
        <include refid="table_name"/>
        where tenant_id=#{tenantId}
        and channel in
        <foreach collection="channels" item="channel" open="(" close=")" separator=",">
            #{channel}
        </foreach>
    </select>
    
    <select id="selectById" resultMap="TemplateConfigEntityMap">
        select
        <include refid="base_column"/>
        from
        <include refid="table_name"/>
        where id = #{id} and tenant_id=#{tenantId}
    </select>
    
    
    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into t_template_config(battery_outtime_template, electric_quantity_remind_template, tenant_id, create_time, update_time,
                                      battery_member_card_expiring_template,
                                      car_member_card_expiring_template, channel)
        values (#{batteryOuttimeTemplate}, #{electricQuantityRemindTemplate}, #{tenantId}, #{createTime}, #{updateTime}, #{batteryMemberCardExpiringTemplate},
                #{carMemberCardExpiringTemplate}, #{channel})
    </insert>
    
    <!--通过主键修改数据-->
    <update id="update">
        update
        <include refid="table_name"/>
        <set>
            <if test="batteryOuttimeTemplate != null ">
                battery_outtime_template = #{batteryOuttimeTemplate},
            </if>
            <if test="electricQuantityRemindTemplate != null ">
                electric_quantity_remind_template = #{electricQuantityRemindTemplate},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="batteryMemberCardExpiringTemplate != null">
                battery_member_card_expiring_template = #{batteryMemberCardExpiringTemplate},
            </if>
            <if test="carMemberCardExpiringTemplate != null ">
                car_member_card_expiring_template = #{carMemberCardExpiringTemplate},
            </if>
        </set>
        where id = #{id} and tenant_id = #{tenantId}
    </update>
    
    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from t_template_config
        where id = #{id}
          and tenant_id = #{tenantId}
    </delete>

</mapper>
