<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.warn.EleWarnHandleRecordMapper">
    
    <insert id="batchInsert" keyProperty="id" useGeneratedKeys="true">
        insert into t_ele_warn_handle_record(batch_no, warn_id, status, tenant_id, create_time, update_time, remark)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.batchNo},#{item.warnId},#{item.status},#{item.tenantId},#{item.createTime},#{item.updateTime}, #{item.remark})
        </foreach>
    </insert>
    
    <sql id="column">
        id,batch_no,warn_id,status,remark,del_flag,tenant_id,create_time,update_time
    </sql>
    
    <select id="selectListByBatchNoList" resultType="com.xiliulou.electricity.entity.warn.EleWarnHandleRecord">
        select
            <include refid="column"/>
        from t_ele_warn_handle_record
        where batch_no in
        <foreach collection="batchNoList" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>
</mapper>