<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.enterprise.CloudBeanUseRecordMapper">
    
    <resultMap type="com.xiliulou.electricity.entity.enterprise.CloudBeanUseRecord" id="CloudBeanUseRecordMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="enterpriseId" column="enterprise_id" jdbcType="INTEGER"/>
        <result property="uid" column="uid" jdbcType="INTEGER"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="orderType" column="order_type" jdbcType="INTEGER"/>
        <result property="beanAmount" column="bean_amount" jdbcType="NUMERIC"/>
        <result property="remainingBeanAmount" column="remaining_bean_amount" jdbcType="NUMERIC"/>
        <result property="packageId" column="package_id" jdbcType="INTEGER"/>
        <result property="franchiseeId" column="franchisee_id" jdbcType="INTEGER"/>
        <result property="ref" column="ref" jdbcType="VARCHAR"/>
        <result property="tenantId" column="tenant_id" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="INTEGER"/>
    </resultMap>
    
    <!--查询单个-->
    <select id="queryById" resultMap="CloudBeanUseRecordMap">
        select
            id, enterprise_id, uid, type, order_type, bean_amount, remaining_bean_amount, package_id, franchisee_id, ref, tenant_id, create_time, update_time
        from t_cloud_bean_use_record
        where id = #{id}
    </select>
    
    <select id="selectCloudBeanByEnterpriseIdAndType" resultType="double">
        select IFNULL(sum(bean_amount),0)
        from t_cloud_bean_use_record
        where enterprise_id = #{enterpriseId} and type=#{type}
    </select>
    
    <select id="selectByEnterpriseIdAndType" resultMap="CloudBeanUseRecordMap">
        select
            id, enterprise_id, uid, type, order_type, bean_amount, remaining_bean_amount, package_id, franchisee_id, ref, tenant_id, create_time, update_time
        from t_cloud_bean_use_record
        where enterprise_id = #{enterpriseId} and type=#{type}
    </select>
    
    <select id="selectByTime" resultMap="CloudBeanUseRecordMap">
        select
            id, enterprise_id, uid, type, order_type, bean_amount, remaining_bean_amount, package_id, franchisee_id, ref, tenant_id, create_time, update_time
        from t_cloud_bean_use_record
        where enterprise_id = #{enterpriseId} and create_time &gt;= #{beginTime} and  create_time &lt;= #{endTime}
    </select>
    
    <select id="selectCanRecycleRecord" resultMap="CloudBeanUseRecordMap">
        SELECT
            cbur.id,
            cbur.enterprise_id,
            cbur.uid,
            cbur.type,
            cbur.bean_amount,
            cbur.remaining_bean_amount,
            cbur.package_id,
            cbur.franchisee_id,
            cbur.ref,
            cbur.tenant_id,
            cbur.create_time,
            cbur.update_time
        FROM
            t_cloud_bean_use_record cbur
                LEFT JOIN t_user_battery_member_card ubmc ON ubmc.uid = cbur.uid
        WHERE
            cbur.enterprise_id = #{enterpriseId} and ubmc.member_card_expire_time &lt;= #{currentTimeMillis}
    </select>
    
    <select id="selectByUserPage" resultMap="CloudBeanUseRecordMap">
        select
        id, enterprise_id, uid, type, order_type, bean_amount, remaining_bean_amount, package_id, franchisee_id, ref, tenant_id, create_time, update_time
        from t_cloud_bean_use_record
        <where>
            <if test="startTime != null">
                and create_time &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                and create_time &lt;= #{endTime}
            </if>
            <if test="uid != null">
                and uid = #{uid}
            </if>
            <if test="enterpriseId != null">
                and enterprise_id = #{enterpriseId}
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
            <if test="tenantId != null">
                and tenant_id = #{tenantId}
            </if>
        </where>
        order by id desc
        limit #{offset}, #{size}
    </select>
    
    <select id="selectListEnterpriseId" resultType="java.lang.Long">
        select distinct enterprise_id from t_cloud_bean_use_record where del_flag = 0
    </select>
    
    <select id="selectBeanAmountByEnterpriseId"
        resultType="com.xiliulou.electricity.vo.enterprise.CloudBeanSumVO">
        select type,sum(bean_amount) as 'beanAmount' from t_cloud_bean_use_record where enterprise_id = #{enterpriseId} GROUP BY type
    </select>
    
    <sql id="pageFilter">
        <where>
            e.del_flag = 0
            <if test="type != null">
                and r.type = #{type}
            </if>
            
            <if test="enterpriseId != null">
                and r.enterprise_id = #{enterpriseId}
            </if>
        
            <if test="franchiseeId != null">
                and r.franchisee_id = #{franchiseeId}
            </if>
        
            <if test="tenantId != null">
                AND r.tenant_id = #{tenantId}
            </if>
            
            <if test="startTime != null">
                and r.create_time &gt;= #{startTime}
            </if>
            
            <if test="endTime != null">
                and r.create_time &lt;= #{endTime}
            </if>
        
            <if test="franchiseeIds != null and franchiseeIds.size()>0">
                and r.franchisee_id in
                <foreach collection="franchiseeIds" item="id" index="index" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
        
            <if test="operateUid != null">
                AND (
                     (r.type IN ( 2, 3, 4, 5 )
                AND EXISTS ( SELECT 1 FROM t_enterprise_cloud_bean_order o WHERE o.operate_uid = #{operateUid} AND o.order_id = r.ref ))
                OR ( r.type IN ( 0, 1 )  and e.uid = #{operateUid} ))
            </if>
        </where>
    </sql>
    
    <select id="selectListByPage" resultType="com.xiliulou.electricity.entity.enterprise.CloudBeanUseRecord">
        SELECT
            r.enterprise_id,
            r.franchisee_id,
            r.type,
            r.bean_amount,
            r.create_time,
            r.ref,
            r.id
        FROM
        t_cloud_bean_use_record r
        left join t_enterprise_info e on e.id = r.enterprise_id
        <include refid="pageFilter"/>
        ORDER BY r.create_time DESC
        <if test="offset != null and size != null">
            limit #{offset}, #{size}
        </if>
    </select>
    
    <select id="countTotal" resultType="java.lang.Integer">
        SELECT
            count(1)
        FROM
        t_cloud_bean_use_record r
        left join t_enterprise_info e on e.id = r.enterprise_id
        <include refid="pageFilter"/>
    </select>
    
    <select id="listForEnterpriseId" resultType="com.xiliulou.electricity.bo.enterprisePackage.CloudBeanUseRecordEnterpriseBo">
        SELECT
            r.enterprise_id,
            e.name as 'enterpriseName'
        FROM
        t_cloud_bean_use_record r
        left join t_enterprise_info e on e.id = r.enterprise_id
        <include refid="pageFilter"/>
    </select>
    
    <!--通过主键修改数据-->
    <update id="update">
        update t_cloud_bean_use_record
        <set>
            <if test="enterpriseId != null">
                enterprise_id = #{enterpriseId},
            </if>
            <if test="uid != null">
                uid = #{uid},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="ref != null">
                ref = #{ref},
            </if>
            <if test="beanAmount != null">
                bean_amount = #{beanAmount},
            </if>
            <if test="remainingBeanAmount != null">
                remaining_bean_amount = #{remainingBeanAmount},
            </if>
            <if test="franchiseeId != null">
                franchisee_id = #{franchiseeId},
            </if>
            <if test="tenantId != null">
                tenant_id = #{tenantId},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>
    
    <!--通过主键删除-->
    <delete id="deleteById">
        delete from t_cloud_bean_use_record where id = #{id}
    </delete>
    
    <insert id="batchInsert" keyProperty="id" useGeneratedKeys="true">
        insert into t_cloud_bean_use_record (id, enterprise_id, uid, type, bean_amount, remaining_bean_amount, package_id, franchisee_id, ref, tenant_id, create_time, update_time, order_type)
        values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.id}, #{item.enterpriseId}, #{item.uid}, #{item.type}, #{item.beanAmount}, #{item.remainingBeanAmount}, #{item.packageId}, #{item.franchiseeId}, #{item.ref}, #{item.tenantId},
            #{item.createTime}, #{item.updateTime}, #{item.orderType})
        </foreach>
    </insert>
</mapper>
