<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.enterprise.EnterpriseChannelUserExitMapper">
    <insert id="insertOne" keyProperty="id" useGeneratedKeys="true">
        insert into t_enterprise_channel_user_history
        <trim prefix="(" suffix=")" suffixOverrides=",">
            uid,
            channel_user_id,
            enterprise_id,
            franchisee_id,
            tenant_id,
            type,
            error_msg,
            create_time,
            update_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{uid},
            #{channelUserId},
            #{enterpriseId},
            #{franchiseeId},
            #{tenantId},
            #{type},
            #{errorMsg},
            #{createTime},
            #{updateTime}
        </trim>
    </insert>
    
    <insert id="batchInsert" keyProperty="id" useGeneratedKeys="true">
        insert into t_enterprise_channel_user_history(  uid,
        channel_user_id,
        enterprise_id,
        franchisee_id,
        tenant_id,
        type,
        error_msg,
        create_time,
        update_time)
        values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.uid},
            #{item.channelUserId},
            #{item.enterpriseId},
            #{item.franchiseeId},
            #{item.tenantId},
            #{item.type},
            #{item.errorMsg},
            #{item.createTime},
            #{item.updateTime}
            )
        </foreach>

    </insert>
    <update id="updateById">
        update t_enterprise_channel_user_history
        <set>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="errorMsg != null">
                error_msg = #{errorMsg},
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>
</mapper>
