<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.enterprise.EnterpriseChannelUserHistoryMapper">

    <!-- 基础字段 -->
    <sql id="selectEnterpriseChannelUser">
        select id, uid, invitation_way, enterprise_id, franchisee_id, tenant_id, renewal_status, cloud_bean_status, inviter_id, create_time, update_time, remark from t_enterprise_channel_user
    </sql>
    
    <insert id="insertOne" keyProperty="id" useGeneratedKeys="true">
        insert into t_enterprise_channel_user_history
        <trim prefix="(" suffix=")" suffixOverrides=",">
            uid,
            invitation_way,
            enterprise_id,
            franchisee_id,
            tenant_id,
            payment_status,
            renewal_status,
            inviter_id,
            join_time,
            exit_time,
            type,
            create_time,
            update_time,
            remark
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{uid},
            #{invitationWay},
            #{enterpriseId},
            #{franchiseeId},
            #{tenantId},
            #{paymentStatus},
            #{renewalStatus},
            #{inviterId},
            #{joinTime},
            #{exitTime},
            #{type},
            #{createTime},
            #{updateTime},
            #{remark}
        </trim>
    </insert>
    
    <insert id="batchInsert" keyProperty="id" useGeneratedKeys="true">
        insert into t_enterprise_channel_user_history( uid,
        invitation_way,
        enterprise_id,
        franchisee_id,
        tenant_id,
        payment_status,
        renewal_status,
        inviter_id,
        join_time,
        exit_time,
        type,
        create_time,
        update_time,
        remark)
        values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.uid},
            #{item.invitationWay},
            #{item.enterpriseId},
            #{item.franchiseeId},
            #{item.tenantId},
            #{item.paymentStatus},
            #{item.renewalStatus},
            #{item.inviterId},
            #{item.joinTime},
            #{item.exitTime},
            #{item.type},
            #{item.createTime},
            #{item.updateTime},
            #{item.remark})
        </foreach>

    </insert>
    
</mapper>
