<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.faq.FaqV2Mapper">
    
    <resultMap id="BaseResultMap" type="com.xiliulou.electricity.entity.faq.FaqV2">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="typeId" column="type_id" jdbcType="BIGINT"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="answer" column="answer" jdbcType="VARCHAR"/>
        <result property="onShelf" column="on_shelf" jdbcType="SMALLINT"/>
        <result property="sort" column="sort" jdbcType="DECIMAL"/>
        <result property="tenantId" column="tenant_id" jdbcType="INTEGER"/>
        <result property="opUser" column="op_user" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="BIGINT"/>
        <result property="updateTime" column="update_time" jdbcType="BIGINT"/>
    </resultMap>
    
    <sql id="Base_Column_List">
        id
        ,type_id,title,
        answer,on_shelf,sort,
        tenant_id,op_user,create_time,
        update_time
    </sql>
    <sql id="Base_Column_No_Answer_List">
        id
        ,type_id,title,
        on_shelf,sort,
        tenant_id,op_user,create_time,
        update_time
    </sql>
    
    
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_new_faq
        where id = #{id,jdbcType=BIGINT}
    </select>
    
    <select id="selectListByIds" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_new_faq
        where
        <if test="ids !=null and ids.size>0">
            and id in
            <foreach collection="ids" item="id" index="i" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
    </select>
    
    <select id="selectLeftJoinByParams" resultType="com.xiliulou.electricity.bo.faq.FaqV2BO">
        select f.id as id,f.type_id as type_id,c.type as type,c.sort as type_sort, title, f.sort as sort,f.on_shelf as on_shelf
        FROM t_faq_category c left join t_new_faq f ON f.type_id = c.id
        <where>
            <if test="params.title != null and params.title != ''">
                and title like concat('%',#{params.title},'%')
            </if>
            <if test="params.typeId != null">
                and f.type_id = #{params.typeId}
            </if>
            <if test="params.tenantId != null">
                and c.tenant_id = #{params.tenantId}
            </if>
        </where>
    </select>
    <select id="selectListByParams" resultType="com.xiliulou.electricity.entity.faq.FaqV2">
        select
        <include refid="Base_Column_No_Answer_List"/>
        FROM t_new_faq
        <include refid="Example_Where_Clause"/>
    </select>
    
    <select id="selectListByParamsPage" resultType="com.xiliulou.electricity.entity.faq.FaqV2">
        select
        <include refid="Base_Column_No_Answer_List"/>
        FROM t_new_faq
        
        <include refid="Example_Where_Clause"/>
        order by sort
        <include refid="Pagination_Limit"/>
    </select>
    
    <!-- 通用查询结果列 -->
    <sql id="Example_Where_Clause_List">
        <trim prefix="where" prefixOverrides="and|or">
            <if test="params.title != null and params.title != ''">
                and title like concat('%',#{params.title},'%')
            </if>
            <if test="params.tenantId != null">
                and tenant_id = #{params.tenantId}
            </if>
        </trim>
    </sql>
    
    <!-- 通用查询结果列 -->
    <sql id="Example_Where_Clause">
        <trim prefix="where" prefixOverrides="and|or">
            <if test="params.id != null">
                and id = #{params.id}
            </if>
            <if test="params.typeId != null">
                and type_id = #{params.typeId}
            </if>
            <if test="params.title != null and params.title != ''">
                and title like concat('%',#{params.title},'%')
            </if>
            <if test="params.tenantId != null">
                and tenant_id = #{params.tenantId}
            </if>
            <if test="params.opUser != null">
                and op_user = #{params.opUser}
            </if>
        </trim>
    </sql>
    
    <sql id="Pagination_Limit">
        <if test="pageOffset != null and pageSize != null">
            <!--  mysql分页方式 <![CDATA[ limit #{pageOffset} , #{pageSize} ]]>   postgresql 分页方式如下 limit #{pageSize}
            OFFSET #{pageOffset} -->
            <![CDATA[ limit #{pageOffset} , #{pageSize} ]]>
        </if>
    </sql>
    
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from t_new_faq
        where id = #{id,jdbcType=BIGINT}
    </delete>
    
    <delete id="removeByIds">
        delete
        from t_new_faq
        where id in
        <foreach collection="ids" item="id" index="i" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
    
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.xiliulou.electricity.entity.faq.FaqV2" useGeneratedKeys="true">
        insert into t_new_faq
        ( id, type_id, title
        , answer, on_shelf, sort
        , tenant_id, op_user, create_time
        , update_time)
        values ( #{id,jdbcType=BIGINT}, #{typeId,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}
               , #{answer,jdbcType=VARCHAR}, #{onShelf,jdbcType=SMALLINT}, #{sort,jdbcType=DECIMAL}
               , #{tenantId,jdbcType=INTEGER}, #{opUser,jdbcType=BIGINT}, #{createTime,jdbcType=BIGINT}
               , #{updateTime,jdbcType=BIGINT})
    </insert>
    
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.xiliulou.electricity.entity.faq.FaqV2" useGeneratedKeys="true">
        insert into t_new_faq
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="typeId != null">typeId,</if>
            <if test="title != null">title,</if>
            <if test="answer != null">answer,</if>
            <if test="onShelf != null">onShelf,</if>
            <if test="sort != null">sort,</if>
            <if test="tenantId != null">tenantId,</if>
            <if test="opUser != null">opUser,</if>
            <if test="createTime != null">createTime,</if>
            <if test="updateTime != null">updateTime,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">id = #{id,jdbcType=BIGINT},</if>
            <if test="typeId != null">type_id = #{typeId,jdbcType=BIGINT},</if>
            <if test="title != null">title = #{title,jdbcType=VARCHAR},</if>
            <if test="answer != null">answer = #{answer,jdbcType=VARCHAR},</if>
            <if test="onShelf != null">on_shelf = #{onShelf,jdbcType=SMALLINT},</if>
            <if test="sort != null">sort = #{sort,jdbcType=DECIMAL},</if>
            <if test="tenantId != null">tenant_id = #{tenantId,jdbcType=INTEGER},</if>
            <if test="opUser != null">op_user = #{opUser,jdbcType=BIGINT},</if>
            <if test="createTime != null">create_time = #{createTime,jdbcType=BIGINT},</if>
            <if test="updateTime != null">update_time = #{updateTime,jdbcType=BIGINT},</if>
        </trim>
    </insert>
    
    <insert id="batchInsert" keyProperty="id" useGeneratedKeys="true">
        insert into t_new_faq
        (type_id, title, answer, on_shelf, sort, tenant_id, op_user, create_time, update_time)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.typeId},#{item.title},#{item.answer},#{item.onShelf},#{item.sort},#{item.tenantId},#{item.opUser},#{item.createTime},#{item.updateTime})
        </foreach>
    </insert>
    
    <update id="updateByPrimaryKeySelective" parameterType="com.xiliulou.electricity.entity.faq.FaqV2">
        update t_new_faq
        <set>
            <if test="typeId != null">
                type_id = #{typeId,jdbcType=BIGINT},
            </if>
            <if test="title != null and title != ''">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="answer != null and answer != ''">
                answer = #{answer,jdbcType=VARCHAR},
            </if>
            <if test="onShelf != null">
                on_shelf = #{onShelf,jdbcType=SMALLINT},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=DECIMAL},
            </if>
            <if test="tenantId != null">
                tenant_id = #{tenantId,jdbcType=INTEGER},
            </if>
            <if test="opUser != null">
                op_user = #{opUser,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    
    <update id="updateByPrimaryKey" parameterType="com.xiliulou.electricity.entity.faq.FaqV2">
        update t_new_faq
        set type_id     = #{typeId,jdbcType=BIGINT},
            title       = #{title,jdbcType=VARCHAR},
            answer      = #{answer,jdbcType=VARCHAR},
            on_shelf    = #{onShelf,jdbcType=SMALLINT},
            sort        = #{sort,jdbcType=DECIMAL},
            tenant_id   = #{tenantId,jdbcType=INTEGER},
            op_user     = #{opUser,jdbcType=BIGINT},
            create_time = #{createTime,jdbcType=BIGINT},
            update_time = #{updateTime,jdbcType=BIGINT}
        where id = #{id,jdbcType=BIGINT}
    </update>
    
    <select id="countFaqReqByTypeId" resultType="java.lang.Integer">
        select count(1) from t_new_faq where type_id = #{typeId,jdbcType=BIGINT}
    </select>
    
    <update id="batchUpdateByIds">
        update t_new_faq
        <set>
            <if test="faqV2.typeId != null">
                type_id = #{faqV2.typeId,jdbcType=BIGINT},
            </if>
            <if test="faqV2.title != null and title != ''">
                title = #{faqV2.title,jdbcType=VARCHAR},
            </if>
            <if test="faqV2.answer != null">
                answer = #{faqV2.answer,jdbcType=VARCHAR},
            </if>
            <if test="faqV2.onShelf != null">
                on_shelf = #{faqV2.onShelf,jdbcType=SMALLINT},
            </if>
            <if test="faqV2.sort != null">
                sort = #{faqV2.sort,jdbcType=DECIMAL},
            </if>
            <if test="faqV2.tenantId != null">
                tenant_id = #{faqV2.tenantId,jdbcType=INTEGER},
            </if>
            <if test="faqV2.opUser != null">
                op_user = #{faqV2.opUser,jdbcType=BIGINT},
            </if>
            <if test="faqV2.createTime != null">
                create_time = #{faqV2.createTime,jdbcType=BIGINT},
            </if>
            <if test="faqV2.updateTime != null">
                update_time = #{faqV2.updateTime,jdbcType=BIGINT},
            </if>
        </set>
        where id in
        <foreach collection="ids" item="id" index="i" open="(" close=")" separator=",">
            #{id,jdbcType=BIGINT}
        </foreach>
    </update>
    
    <select id="selectMinimumSort" resultType="java.lang.Integer">
        select min(sort) from t_new_faq where tenant_id = #{tenantId,jdbcType=INTEGER}
    </select>
</mapper>
