<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.meituan.MeiTuanRiderMallOrderMapper">
    <!-- 基础字段 -->
    <sql id="basic_field">
        id
        , meituan_order_id, meituan_order_time, meituan_order_status, meituan_actually_pay_price, meituan_virtual_recharge_type, meituan_account, coupon, order_id, order_sync_status, order_use_status, package_id, package_type, uid, tenant_id, del_flag, create_time, update_time
    </sql>
    
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into t_meituan_rider_mall_order (meituan_order_id, meituan_order_time, meituan_order_status, meituan_actually_pay_price, meituan_virtual_recharge_type,
                                                meituan_account, coupon, order_id, order_sync_status, order_use_status, package_id, package_type, uid, tenant_id, del_flag,
                                                create_time, update_time)
        values (#{meiTuanOrderId}, #{meiTuanOrderTime}, #{meiTuanOrderStatus}, #{meiTuanActuallyPayPrice}, #{meiTuanVirtualRechargeType}, #{meiTuanAccount}, #{coupon}, #{orderId},
                #{orderSyncStatus}, #{orderUseStatus}, #{packageId}, #{packageType}, #{uid}, #{tenantId}, #{delFlag}, #{createTime}, #{updateTime})
    </insert>
    
    <insert id="batchInsert">
        insert into t_meituan_rider_mall_order(meituan_order_id, meituan_order_time, meituan_order_status, meituan_actually_pay_price, meituan_virtual_recharge_type,
        meituan_account, coupon, order_id, order_sync_status, order_use_status, package_id, package_type, uid, tenant_id, del_flag, create_time, update_time) values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.meiTuanOrderId}, #{item.meiTuanOrderTime}, #{item.meiTuanOrderStatus}, #{item.meiTuanActuallyPayPrice}, #{item.meiTuanVirtualRechargeType},
            #{item.meiTuanAccount}, #{item.coupon}, #{item.orderId},
            #{orderSyncStatus}, #{item.orderUseStatus}, #{item.packageId}, #{item.packageType}, #{item.uid}, #{item.tenantId}, #{item.delFlag}, #{item.createTime},
            #{item.updateTime})
        </foreach>
    </insert>
    
    <update id="update">
        update t_meituan_rider_mall_order
        <set>
            <if test="appId != null">
                app_id = #{appId},
            </if>
            <if test="appKey != null">
                app_key = #{appKey},
            </if>
            <if test="secret != null">
                secret = #{secret},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag},
            </if>
            where id = #{id}
        </set>
    </update>
    
    <update id="batchUpdate">
        update t_meituan_rider_mall_order
        set order_sync_status = 3
        <where>
            id in
            <foreach collection="list" item="item" separator=",">
                #{item.id}
            </foreach>
        </where>
    </update>
    
    <select id="selectByOrderId" resultType="com.xiliulou.electricity.entity.meituan.MeiTuanRiderMallOrder">
        select
        <include refid="basic_field"/>
        from t_meituan_rider_mall_order
        where meituan_order_id = #{orderId}
        <if test="phone != null and phone != ''">
            and meituan_account = #{phone}
        </if>
        <if test="uid != null and uid != 0">
            and uid = #{uid}
        </if>
    </select>
    
    <select id="selectByUidAndPhone" resultType="com.xiliulou.electricity.entity.meituan.MeiTuanRiderMallOrder">
        select select
        <include refid="basic_field"/>
        from t_meituan_rider_mall_order
        where tenant_id = #{tenantId} and uid = #{uid} and meituan_account = #{phone}
        <if test="orderId != null and orderId != ''">
            and order_id = #{orderId}
        </if>
        order by order_use_status desc, id desc
        limit #{offset}, #{size}
    </select>
    
    <select id="selectUnSyncedOrder" resultType="com.xiliulou.electricity.entity.meituan.MeiTuanRiderMallOrder">
        select select
        <include refid="basic_field"/>
        from t_meituan_rider_mall_order
        where tenant_id = #{tenantId} and order_sync_status != 3 and del_flag = 0
        order by id
    </select>
</mapper>
