<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.merchant.MerchantWithdrawApplicationRecordMapper">

    <insert id="insertOne"  keyProperty="id" useGeneratedKeys="true">
        insert into t_merchant_withdraw_application_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            uid,
            order_no,
            batch_no,
            batch_detail_no,
            amount,
            status,
            tenant_id,
            remark,
            response,
            create_time,
            update_time,
            pay_config_type,
            franchisee_id
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{uid},
            #{orderNo},
            #{batchNo},
            #{batchDetailNo},
            #{amount},
            #{status},
            #{tenantId},
            #{remark},
            #{response},
            #{createTime},
            #{updateTime},
            #{payConfigType},
            #{franchiseeId}
        </trim>
    </insert>
    
    <insert id="batchInsert"  keyProperty="id" useGeneratedKeys="true">
        insert into t_merchant_withdraw_application_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            uid,
            order_no,
            batch_no,
            batch_detail_no,
            amount,
            status,
            tenant_id,
            remark,
            response,
            create_time,
            update_time,
            pay_config_type,
            franchisee_id
        </trim>
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.uid},
            #{item.orderNo},
            #{item.batchNo},
            #{item.batchDetailNo},
            #{item.amount},
            #{item.status},
            #{item.tenantId},
            #{item.remark},
            #{item.response},
            #{item.createTime},
            #{item.updateTime},
            #{item.payConfigType},
            #{item.franchiseeId}
            )
        </foreach>
    
    </insert>
    
    <update id="updateOne">
        update t_merchant_withdraw_application_record
        <set>
            <if test="status != null">
                status = #{status},
            </if>
            
            <if test="remark != null">
                remark = #{remark},
            </if>
            
            <if test="transactionBatchId != null and transactionBatchId != ''">
                transaction_batch_id = #{transactionBatchId},
            </if>
    
            <if test="transactionBatchDetailId != null and transactionBatchDetailId != ''">
                transaction_detail_id = #{transactionBatchDetailId},
            </if>
            
            <if test="response != null">
                response = #{response},
            </if>
        
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>
    
    <select id="selectListByCondition" resultType="com.xiliulou.electricity.vo.merchant.MerchantWithdrawApplicationRecordVO">
        select mwar.id,
               mwar.create_time,
               mwar.update_time,
               mwar.tenant_id,
               mw.remark,
               mwar.uid,
               mwar.order_no,
               mwar.transaction_batch_id,
               mwar.status
        from t_merchant_withdraw_application_record mwar
        left join t_merchant_withdraw_application mw on mwar.order_no = mw.order_no
        <where>
            mwar.tenant_id = #{tenantId}
            <if test="id != null and id != ''">
                and mwar.id = #{id}
            </if>
            
            <if test="batchNo != null and batchNo != ''">
                and mwar.batch_no = #{batchNo}
            </if>
            
            <if test="transactionBatchId != null and transactionBatchId != ''">
                and mwar.transaction_batch_id
                <![CDATA[ =  ]]> #{transactionBatchId}
            </if>
            
            <if test="status != null and status != ''">
                and mwar.status = #{status}
            </if>
            
            <if test="beginTime != null ">
                and mwar.create_time <![CDATA[ >=  ]]> #{beginTime}
            </if>
            <if test="endTime != null ">
                and mwar.create_time <![CDATA[ <=  ]]> #{endTime}
            </if>
        </where>
        order by mwar.create_time desc
        <if test="offset != null and size != null">
            limit #{offset}, #{size}
        </if>
    </select>
    
    <select id="countByCondition" resultType="Integer">
        select count(1)
        from t_merchant_withdraw_application_record mwar
        <where>
            mwar.tenant_id = #{tenantId}
            <if test="id != null and id != ''">
                and mwar.id = #{id}
            </if>
            
            <if test="batchNo != null and batchNo != ''">
                and mwar.batch_no = #{batchNo}
            </if>
            
            <if test="transactionBatchId != null and transactionBatchId != ''">
                and mwar.transaction_batch_id
                <![CDATA[ =  ]]> #{transactionBatchId}
            </if>
            
            <if test="status != null and status != ''">
                and mwar.status = #{status}
            </if>
            <if test="beginTime != null ">
                and mwar.create_time <![CDATA[ >=  ]]> #{beginTime}
            </if>
    
            <if test="endTime != null ">
                and mwar.create_time <![CDATA[ <=  ]]> #{endTime}
            </if>
        </where>
    </select>
    
    <select id="selectById" resultType="com.xiliulou.electricity.vo.merchant.MerchantWithdrawApplicationRecordVO">
        select mwar.id,
               mwar.create_time,
               mwar.update_time,
               mwar.tenant_id,
               mwar.remark,
               mwar.uid,
               mwar.order_no,
               mwar.transaction_batch_id,
               mwar.status
        from t_merchant_withdraw_application_record mwar
        where mwar.id = #{id}
    </select>
    
     <select id="selectByOrderNo" resultType="com.xiliulou.electricity.entity.merchant.MerchantWithdrawApplicationRecord">
        select mwar.id,
               mwar.create_time,
               mwar.update_time,
               mwar.tenant_id,
               mwar.remark,
               mwar.uid,
               mwar.order_no,
               mwar.transaction_batch_id,
               mwar.status
        from t_merchant_withdraw_application_record mwar
        where mwar.order_no = #{orderNo}
          and mwar.tenant_id = #{tenantId}
    </select>
    
    <select id="queryList" resultType="com.xiliulou.electricity.vo.merchant.MerchantWithdrawApplicationRecordVO">
        select mwar.id,
        mwar.create_time,
        mwar.update_time,
        mwar.tenant_id,
        mwar.remark,
        mwar.uid,
        mwar.order_no,
        mwar.transaction_batch_id,
        mwar.status
        from t_merchant_withdraw_application_record mwar
        <where>
            mwar.tenant_id = #{tenantId}
            <if test="id != null and id != ''">
                and mwar.id = #{id}
            </if>
            
            <if test="batchNo != null and batchNo != ''">
                and mwar.batch_no = #{batchNo}
            </if>
            
            <if test="transactionBatchId != null and transactionBatchId != ''">
                and mwar.transaction_batch_id
                <![CDATA[ =  ]]> #{transactionBatchId}
            </if>
            
            <if test="status != null and status != ''">
                and mwar.status = #{status}
            </if>
            
            <if test="beginTime != null ">
                and mwar.create_time <![CDATA[ >=  ]]> #{beginTime}
            </if>
            <if test="endTime != null ">
                and mwar.create_time <![CDATA[ <=  ]]> #{endTime}
            </if>
        </where>
        order by mwar.create_time desc
        <if test="offset != null and size != null">
            limit #{offset}, #{size}
        </if>
    </select>
    
    <delete id="removeById">
        update t_merchant_withdraw_application_record
        set del_flag = 1
        where id = #{id}
    </delete>
    
    <update id="updateApplicationRecordStatusByBatchNo">
        update t_merchant_withdraw_application_record
        <set>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where batch_no = #{batchNo}
          and tenant_id = #{tenantId}
    </update>
    
    <update id="updateApplicationRecordStatus">
        update t_merchant_withdraw_application_record
        <set>
            <if test="response != null and response != ''">
                response = #{response},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
            <if test="transactionBatchId != null and transactionBatchId != ''">
                transaction_batch_id = #{transactionBatchId},
            </if>
    
            <if test="transactionBatchDetailId != null and transactionBatchDetailId != ''">
                transaction_detail_id = #{transactionBatchDetailId},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        <where>
            <if test="batchNo != null and batchNo != ''">
                and batch_no = #{batchNo}
            </if>

            <if test="batchDetailNo != null and batchDetailNo != ''">
                and batch_detail_no = #{batchDetailNo}
            </if>
    
            <if test="tenantId != null">
                and tenant_id = #{tenantId}
            </if>

        </where>
    </update>
    
    <select id="selectListByBatchNo" resultType="com.xiliulou.electricity.bo.merchant.MerchantWithdrawApplicationRecordBO">
        select mwar.id,
               mwar.create_time,
               mwar.update_time,
               mwar.amount,
               mwar.tenant_id,
               mwar.remark,
               mwar.uid,
               mwar.order_no,
               mwar.batch_no,
               mwar.batch_detail_no,
               mwar.transaction_batch_id,
               mwar.status,
               mwar.franchisee_id,
               mwar.pay_config_type
        from t_merchant_withdraw_application_record mwar
        where mwar.batch_no = #{batchNo}
          and mwar.tenant_id = #{tenantId}
    </select>
    
</mapper>