<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.merchant.MerchantPlaceFeeMonthRecordMapper">
    <insert id="save">
        insert into t_merchant_place_fee_month_record  (month_date , place_id, eid, sn, rent_start_time ,rent_end_time,rent_days,place_fee,month_place_fee,
            tenant_id, del_flag, create_time, update_time)
        values (#{item.monthDate}, #{item.placeId}, #{item.eid}, #{item.sn}, #{item.rentStartTime}, #{item.rentEndTime}, #{item.rentDays}, #{item.placeFee},
                #{item.monthPlaceFee}, #{item.tenantId}), #{item.delFlag}, #{item.createTime}, #{item.updateTime})
    </insert>
    
    <select id="selectListBySettlementTime" resultType="com.xiliulou.electricity.vo.merchant.MerchantPlaceFeeMonthRecordVO">
        select tenant_id,
               sum(month_place_fee)           as month_total_place_fee,
               sum(rent_days)                 as month_rent_days,
               any_value(place_id) AS place_id,
               any_value(month_date) AS month_date,
               any_value(sn) AS sn,
               any_value(rent_start_time) AS rent_start_time,
               any_value(rent_end_time) AS rent_end_time,
               any_value(rent_days) AS rent_days,
               any_value(place_fee) AS place_fee,
               any_value(month_place_fee) AS month_place_fee
        from t_merchant_place_fee_month_record
        where month_date = #{date}
          and tenant_id = #{tenantId}
          and del_flag = 0
        group by tenant_id, place_id
    </select>
    
    <select id="selectList" resultType="com.xiliulou.electricity.entity.merchant.MerchantPlaceFeeMonthRecord">
        select
        month_date , place_id, eid, sn, rent_start_time ,rent_end_time,rent_days,place_fee,month_place_fee,
        tenant_id, del_flag, create_time, update_time
        from t_merchant_place_fee_month_record
        where
        del_flag = 0
        and eid != 0
        
        <if test="placeIdList != null and placeIdList.size() > 0">
            and place_id in
            <foreach collection="placeIdList" item="placeId" close=")" open="(" separator=",">
                #{placeId}
            </foreach>
        </if>
        
        <if test="monthList != null and monthList.size() > 0">
            and month_date in
            <foreach collection="monthList" item="month" close=")" open="(" separator=",">
                #{month}
            </foreach>
        </if>
    </select>
</mapper>