<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.merchant.MerchantCabinetPowerMonthDetailMapper">
    <!-- 基础字段 -->
    <sql id="basic_field">
        id, place_id, eid, sn, date, start_power, end_power, sum_power, sum_charge, json_rule, begin_time, end_time, tenant_id, franchisee_id, store_id, del_flag, create_time, update_time
    </sql>
    
    <select id="selectListByTenantId" resultType="com.xiliulou.electricity.vo.merchant.MerchantCabinetPowerMonthDetailVO">
        select
        <include refid="basic_field"/>
        from t_merchant_cabinet_power_month_detail
        <where>
            tenant_id = #{tenantId} and del_flag = 0 and date = #{monthDate}
            <if test="franchiseeIds != null and franchiseeIds.size()>0">
                and franchisee_id in
                <foreach collection="franchiseeIds" item="franchiseeId" index="index" open="(" close=")" separator=",">
                    #{franchiseeId}
                </foreach>
            </if>
        </where>
    </select>
</mapper>
