<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.merchant.MerchantPlaceFeeDailyRecordMapper">
    <select id="selectList" resultType="java.math.BigDecimal">
        select
            sum(IFNULL(day_place_fee,0))
        from t_merchant_place_fee_daily_record
        where del_flag = 0
        and eid = #{cabinetId}
        and statement_end_time <![CDATA[ >=  ]]>  #{cabinetStartTime}
        and statement_end_time <![CDATA[ <=  ]]>  #{cabinetEndTime}
   group by eid
    </select>

</mapper>
