<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.merchant.MerchantCabinetBindTimeMapper">
    
    <insert id="batchInsert">
        insert into t_merchant_cabinet_bind_time (merchant_id, cabinet_id, place_id,bind_time
        ,tenant_id,create_time ,update_time)
        values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.merchantId}, #{item.cabinetId}, #{item.placeId}, #{item.bindTime}, #{item.tenantId}
            ,#{item.createTime},#{item.updateTime})
        </foreach>
    </insert>
    
    <update id="updateById">
        update t_merchant_cabinet_bind_time
        set bind_time   = #{bindTime},
            update_time = #{updateTime}
        where id = #{id}
    </update>
    <sql id="column">
        merchant_id
        , cabinet_id, place_id,bind_time
        ,tenant_id,create_time ,update_time
    </sql>
    <select id="queryListByMerchantId"
        resultType="com.xiliulou.electricity.entity.merchant.MerchantCabinetBindTime">
        select
        <include refid="column"/>
        from t_merchant_cabinet_bind_time
        where merchant_id = #{merchantId}
        <if test="cabinetId != null">
            and cabinet_id = #{cabinet_id}
        </if>
        <if test="placeId != null">
            and place_id = #{placeId}
        </if>
    </select>
</mapper>
