<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.merchant.MerchantJoinRecordMapper">
    <!-- 基础字段 -->
    <sql id="basic_field">
        id, merchant_id, channel_employee_uid, place_id, inviter_uid, inviter_type, join_uid, start_time, expired_time, status, protection_time, protection_status, del_flag, create_time, update_time, tenant_id, remark, modify_inviter,franchisee_id,package_id,package_type,order_id
    </sql>
    
    <!--新增所有列-->
    <insert id="insertOne" keyProperty="id" useGeneratedKeys="true">
        insert into t_merchant_join_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            merchant_id, channel_employee_uid, place_id, inviter_uid, inviter_type, join_uid, start_time, expired_time, status, protection_time, protection_status, del_flag,
            create_time, update_time, tenant_id, remark, modify_inviter
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{merchantId}, #{channelEmployeeUid}, #{placeId}, #{inviterUid}, #{inviterType}, #{joinUid}, #{startTime}, #{expiredTime}, #{status}, #{protectionTime},
            #{protectionStatus}, #{delFlag}, #{createTime}, #{updateTime}, #{tenantId}, #{remark}, #{modifyInviter}
        </trim>
    </insert>
    
    <update id="updateStatus">
        update t_merchant_join_record
        <set>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime}
            </if>
            where join_uid = #{joinUid}
        </set>
    </update>
    
    <update id="updateProtectionExpired">
        update t_merchant_join_record
        set protection_status = #{protectionStatus},
            update_time       = #{updateTime}
        where protection_time &lt;= #{updateTime}
          and protection_status = 0
    </update>
    
    <update id="updateExpired">
        update t_merchant_join_record
        set status      = #{status},
            update_time = #{updateTime}
        where expired_time &lt;= #{updateTime}
          and status = 1
    </update>
    
    <update id="updateStatusById">
        update t_merchant_join_record
        set status      = #{status},
            update_time = #{updateTime}
        where id = #{id}
    </update>
    
    <update id="removeByJoinUid">
        update t_merchant_join_record set del_flag = 1, update_time = #{updateTime} where join_uid = #{joinUid} and tenant_id = #{tenantId} and status = 2
    </update>
    
    <select id="selectByMerchantIdAndJoinUid" resultType="com.xiliulou.electricity.entity.merchant.MerchantJoinRecord">
        select
        <include refid="basic_field"/>
        from t_merchant_join_record where del_flag = 0 and merchant_id = #{merchantId} and join_uid = #{joinUid}
    </select>
    
    <select id="selectList" resultType="com.xiliulou.electricity.entity.merchant.MerchantJoinRecord">
        select
        <include refid="basic_field"/>
        from t_merchant_join_record
        <where>
            del_flag = 0
            and tenant_id = #{tenantId}
            <if test="merchantIdList != null and merchantIdList.size() > 0">
                and merchant_id in
                <foreach collection="merchantIdList" separator="," open="(" close=")" item="merchantId">
                    #{merchantId}
                </foreach>
            </if>
            
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
    </select>
    
    <select id="countListByMerchantIdAndStatus" resultType="integer">
        select
        count(1)
        from t_merchant_join_record where del_flag = 0 and merchant_id = #{merchantId} and status = #{status}
    </select>
    
    <sql id="pageFilter">
        <where>
            del_flag = 0
            <if test="tenantId != null">
                and tenant_id = #{tenantId}
            </if>
            <if test="merchantId != null">
                and merchant_id = #{merchantId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
    </sql>
    
    <select id="countTotal" resultType="java.lang.Integer">
        SELECT
        count(1)
        FROM
        t_merchant_join_record
        <include refid="pageFilter"/>
    </select>
    
    <select id="selectListByPage" resultType="com.xiliulou.electricity.entity.merchant.MerchantJoinRecord">
        SELECT
        <include refid="basic_field"/>
        FROM
        t_merchant_join_record
        <include refid="pageFilter"/>
        limit #{offset}, #{size}
    </select>
    
    <select id="selectByJoinUid" resultType="com.xiliulou.electricity.entity.merchant.MerchantJoinRecord">
        select
        <include refid="basic_field"/>
        from t_merchant_join_record where del_flag = 0 and join_uid = #{joinUid} order by id desc limit 1
    </select>
    
    <select id="countByCondition" resultType="java.lang.Integer">
        select IFNULL(count(1), 0) from (
        select distinct(join_uid) from t_merchant_join_record
        <where>
            modify_inviter = 0
            <if test="startTime != null">
                and start_time >= #{startTime}
            </if>
            <if test="endTime != null">
                and start_time &lt;= #{endTime}
            </if>
            <if test="channelEmployeeUid != null">
                and channel_employee_uid = #{channelEmployeeUid}
            </if>
            <if test="type != null and type!=3">
                and inviter_type = #{type}
            </if>
            <if test="uid != null and type!=3">
                and inviter_uid = #{uid}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="tenantId != null">
                and tenant_id = #{tenantId}
            </if>
    
        </where>
        ) a
    </select>
    
    <select id="countByMerchantIdList" resultType="com.xiliulou.electricity.vo.merchant.MerchantJoinRecordVO">
        SELECT
        merchant_id,
        count( 1 ) as 'merchantUserNum'
        FROM
        t_merchant_join_record
        WHERE
        del_flag = 0
        and `status` = #{status}
        <if test="tenantId != null">
            and tenant_id = #{tenantId}
        </if>
        AND merchant_id IN
        <foreach collection="merchantIdList" item="merchantId" close=")" open="(" separator=",">
            #{merchantId}
        </foreach>
        GROUP BY
        merchant_id
    </select>
    
    <select id="selectListPromotionDataDetail" resultType="com.xiliulou.electricity.entity.merchant.MerchantJoinRecord">
        select join_uid,start_time,status from t_merchant_join_record
        <where>
            del_flag = 0
            <if test="startTime != null">
                and start_time &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                and start_time &lt;= #{endTime}
            </if>
            <if test="type != null">
                and inviter_type = #{type}
            </if>
            <if test="uid != null">
                and inviter_uid = #{uid}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="tenantId != null">
                and tenant_id = #{tenantId}
            </if>
            order by start_time desc
            limit #{offset}, #{size}
        </where>
    </select>
    
    <select id="selectJoinUserList" resultType="com.xiliulou.electricity.vo.merchant.MerchantJoinUserVO">
        select tmjr.id,
        tmjr.merchant_id,
        tmjr.join_uid,
        tui.name,
        tui.phone,
        tubmc.member_card_id as packageId,
        tubmc.member_card_expire_time as expireTime,
        tubmc.order_id,
        tmjr.inviter_uid,
        tmjr.inviter_type,
        tmjr.status,
        tmjr.tenant_id,
        tmjr.protection_status,
        tmjr.protection_time
        from t_merchant_join_record tmjr
        left join t_user_info tui on tui.uid = tmjr.join_uid
        left join t_user_battery_member_card tubmc on tmjr.join_uid = tubmc.uid
        <where>
            tmjr.del_flag = 0
            and tmjr.status = 2
            <if test="merchantId != null">
                and tmjr.merchant_id = #{merchantId}
            </if>
            
            <if test="tenantId != null">
                and tmjr.tenant_id = #{tenantId}
            </if>
            
            <if test="name != null and name != ''">
                and tui.name like concat('%', #{name}, '%')
            </if>
            
            <if test="type != null">
                <choose>
                    <when test="type == 2">
                        and tubmc.member_card_expire_time &gt;= #{expireTime}
                    </when>
                    
                    <when test="type == 3">
                        and tubmc.member_card_expire_time &lt;= #{expireTime}
                        and tubmc.member_card_expire_time &gt;= #{currentTime}
                    </when>
                    
                    <when test="type == 4">
                        and tubmc.member_card_expire_time &lt;= #{currentTime}
                    </when>
                </choose>
            
            </if>
        
        </where>
        order by tubmc.member_card_expire_time desc
        limit #{offset}, #{size}
    </select>
    
    <select id="existMerchantInviterData" resultType="java.lang.Integer">
        select 1
        from t_merchant_join_record
        where del_flag = 0
          and inviter_type = #{inviterType}
          and inviter_uid = #{inviterUid}
          and tenant_id = #{tenantId} limit 1
    </select>
    
    <select id="existMerchantAllInviterData" resultType="java.lang.Integer">
        select 1
        from t_merchant_join_record
        where del_flag = 0
          and merchant_id = #{merchantId}
          and tenant_id = #{tenantId} limit 1
    </select>
    
    <select id="countEmployeeScanCodeNum" resultType="java.lang.Integer">
        select IFNULL(count(1), 0) from (
        select distinct(join_uid) from t_merchant_join_record
        <where>
            modify_inviter = 0 and inviter_type = 2
            <if test="startTime != null">
                and start_time >= #{startTime}
            </if>
            <if test="endTime != null">
                and start_time &lt;= #{endTime}
            </if>
            <if test="channelEmployeeUid != null">
                and channel_employee_uid = #{channelEmployeeUid}
            </if>
            <if test="uidList != null">
                and inviter_uid in
                <foreach collection="uidList" separator="," open="(" close=")" item="inviterUid">
                    #{inviterUid}
                </foreach>
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="tenantId != null">
                and tenant_id = #{tenantId}
            </if>
        
        </where>
        ) a
    </select>
    
    <select id="selectListAllPromotionDataDetail" resultType="com.xiliulou.electricity.entity.merchant.MerchantJoinRecord">
        select join_uid,start_time,status from t_merchant_join_record
        <where>
            del_flag = 0
            <if test="startTime != null">
                and start_time &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                and start_time &lt;= #{endTime}
            </if>
            <if test="merchantId != null">
                and merchant_id = #{merchantId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="tenantId != null">
                and tenant_id = #{tenantId}
            </if>
            order by start_time desc
            limit #{offset}, #{size}
        </where>
    </select>
    
    <select id="selectListByJoinUidAndStatus" resultType="com.xiliulou.electricity.entity.merchant.MerchantJoinRecord">
        SELECT
        <include refid="basic_field"/>
        FROM
        t_merchant_join_record
        <where>
            del_flag = 0 and join_uid = #{joinUid}
            <if test="statusList != null">
                and status in
                <foreach collection="statusList" separator="," open="(" close=")" item="status">
                    #{status}
                </foreach>
            </if>
        </where>
        order by id desc
    </select>
    
    <select id="selectSuccessRecordByJoinUid" resultType="com.xiliulou.electricity.entity.merchant.MerchantJoinRecord">
        select
        <include refid="basic_field"/>
        from t_merchant_join_record
        where del_flag = 0 and tenant_id = #{tenantId} and join_uid = #{joinUid} and status = 2
    </select>
    
    <select id="countSuccessByCondition" resultType="java.lang.Integer">
        select IFNULL(count(1), 0) from (
        select distinct(join_uid) from t_merchant_join_record
        <where>
            del_flag = 0
            <if test="startTime != null">
                and start_time >= #{startTime}
            </if>
            <if test="endTime != null">
                and start_time &lt;= #{endTime}
            </if>
            <if test="channelEmployeeUid != null">
                and channel_employee_uid = #{channelEmployeeUid}
            </if>
            <if test="type != null and type!=3">
                and inviter_type = #{type}
            </if>
            <if test="uid != null and type!=3">
                and inviter_uid = #{uid}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="tenantId != null">
                and tenant_id = #{tenantId}
            </if>
    
        </where>
        ) a
    </select>
    
    <select id="countEmployeeScanCodeSuccessNum" resultType="java.lang.Integer">
        select IFNULL(count(1), 0) from (
        select distinct(join_uid) from t_merchant_join_record
        <where>
            del_flag = 0 and inviter_type = 2
            <if test="startTime != null">
                and start_time >= #{startTime}
            </if>
            <if test="endTime != null">
                and start_time &lt;= #{endTime}
            </if>
            <if test="channelEmployeeUid != null">
                and channel_employee_uid = #{channelEmployeeUid}
            </if>
            <if test="uidList != null">
                and inviter_uid in
                <foreach collection="uidList" separator="," open="(" close=")" item="inviterUid">
                    #{inviterUid}
                </foreach>
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="tenantId != null">
                and tenant_id = #{tenantId}
            </if>
    
        </where>
        ) a
    </select>
    
    
    
    <select id="selectListScanCodeRecordPage" resultType="com.xiliulou.electricity.entity.merchant.MerchantJoinRecord">
        SELECT
        <include refid="basic_field"/>
        FROM
        t_merchant_join_record
        <where>
            modify_inviter = 0
            <if test="uids != null and uids.size()>0">
                and join_uid in
                <foreach collection="uids" separator="," open="(" close=")" item="item">
                    #{item}
                </foreach>
            </if>
            <if test="orderIdList != null and orderIdList.size()>0">
                and order_id in
                <foreach collection="orderIdList" separator="," open="(" close=")" item="item">
                    #{item}
                </foreach>
            </if>
            <if test="scanTimeStart != null">
                and start_time >= #{scanTimeStart}
            </if>
            <if test="scanTimeEnd != null">
                and start_time &lt;= #{scanTimeEnd}
            </if>
            <if test="merchantId != null">
                and merchant_id = #{merchantId}
            </if>
            <if test="franchiseeId != null">
                and franchisee_id = #{franchiseeId}
            </if>
            <if test="tenantId != null">
                and tenant_id = #{tenantId}
            </if>
            <if test="franchiseeIds!=null">
                and franchisee_id in
                <foreach collection="franchiseeIds" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
        order by id desc
        limit #{offset}, #{size}
    </select>
    
    <select id="countScanCodeRecord" resultType="integer">
        SELECT
        count(1)
        FROM
        t_merchant_join_record
        <where>
            modify_inviter = 0
            <if test="uids != null and uids.size()>0">
                and join_uid in
                <foreach collection="uids" separator="," open="(" close=")" item="item">
                    #{item}
                </foreach>
            </if>
            <if test="orderIdList != null and orderIdList.size()>0">
                and order_id in
                <foreach collection="orderIdList" separator="," open="(" close=")" item="item">
                    #{item}
                </foreach>
            </if>
            <if test="scanTimeStart != null">
                and start_time >= #{scanTimeStart}
            </if>
            <if test="scanTimeEnd != null">
                and start_time &lt;= #{scanTimeEnd}
            </if>
            <if test="merchantId != null">
                and merchant_id = #{merchantId}
            </if>
            <if test="franchiseeId != null">
                and franchisee_id = #{franchiseeId}
            </if>
            <if test="tenantId != null">
                and tenant_id = #{tenantId}
            </if>
            <if test="franchiseeIds!=null">
                and franchisee_id in
                <foreach collection="franchiseeIds" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>
</mapper>




