<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.merchant.MerchantCabinetPowerMonthRecordProMapper">
    <!-- 基础字段 -->
    <sql id="basic_field">
        id, merchant_id, place_id, eid, sn, date, month_sum_power, month_sum_charge, tenant_id, del_flag, create_time, update_time
    </sql>
    <select id="sumMonthPower" resultType="com.xiliulou.electricity.vo.merchant.MerchantPowerDetailVO">
        select sum(month_sum_power) as power, sum(month_sum_charge) as charge
        from t_merchant_cabinet_power_month_record_pro
        <where>
            del_flag = 0
            <if test="cabinetIds != null and cabinetIds.size() > 0">
                and sn in
                <foreach collection="cabinetIds" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="monthDateList != null and monthDateList.size() > 0">
                and date in
                <foreach collection="monthDateList" item="date" open="(" close=")" separator=",">
                    #{date}
                </foreach>
            </if>
        </where>
    </select>

</mapper>
