<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.merchant.RebateRecordMapper">
    
    <resultMap type="com.xiliulou.electricity.entity.merchant.RebateRecord" id="RebateRecordMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="uid" column="uid" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="orderId" column="order_id" jdbcType="VARCHAR"/>
        <result property="originalOrderId" column="original_order_id" jdbcType="VARCHAR"/>
        <result property="memberCardId" column="member_card_id" jdbcType="INTEGER"/>
        <result property="memberCardName" column="member_card_name" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="orderType" column="order_type" jdbcType="INTEGER"/>
        <result property="refundFlag" column="refund_flag" jdbcType="INTEGER"/>
        <result property="franchiseeId" column="franchisee_id" jdbcType="INTEGER"/>
        <result property="level" column="level" jdbcType="VARCHAR"/>
        <result property="merchantId" column="merchant_id" jdbcType="INTEGER"/>
        <result property="merchantUid" column="merchant_uid" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="channeler" column="channeler" jdbcType="INTEGER"/>
        <result property="channelerRebate" column="channeler_rebate" jdbcType="NUMERIC"/>
        <result property="merchantRebate" column="merchant_rebate" jdbcType="NUMERIC"/>
        <result property="placeId" column="place_id" jdbcType="INTEGER"/>
        <result property="placeUid" column="place_uid" jdbcType="INTEGER"/>
        <result property="rebateTime" column="rebate_time" jdbcType="INTEGER"/>
        <result property="settleTime" column="settle_time" jdbcType="INTEGER"/>
        <result property="tenantId" column="tenant_id" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="INTEGER"/>
    </resultMap>
    
    <!--查询单个-->
    <select id="selectById" resultMap="RebateRecordMap">
        select id,
               uid,
               name,
               phone,
               order_id,
               original_order_id,
               member_card_id,
               type,
               order_type,
               refund_flag,
               franchisee_id,
               level,
               merchant_id,
               member_card_name,
               merchant_uid,
               status,
               channeler,
               channeler_rebate,
               merchant_rebate,
               place_id,
               place_uid,
               rebate_time,
               settle_time,
               tenant_id,
               create_time,
               update_time
        from t_rebate_record
        where id = #{id}
    </select>
    
    <select id="selectByOrderId" resultMap="RebateRecordMap">
        select id,
               uid,
               name,
               phone,
               order_id,
               original_order_id,
               member_card_id,
               member_card_name,
               type,
               order_type,
               refund_flag,
               franchisee_id,
               level,
               merchant_id,
               merchant_uid,
               status,
               channeler,
               channeler_rebate,
               merchant_rebate,
               place_id,
               place_uid,
               rebate_time,
               settle_time,
               tenant_id,
               create_time,
               update_time
        from t_rebate_record
        where order_id = #{orderId}
    </select>
    
    <select id="selectByOriginalOrderId" resultMap="RebateRecordMap">
        select id,
               uid,
               name,
               phone,
               order_id,
               original_order_id,
               member_card_id,
               member_card_name,
               type,
               order_type,
               refund_flag,
               franchisee_id,
               level,
               merchant_id,
               merchant_uid,
               status,
               channeler,
               channeler_rebate,
               merchant_rebate,
               place_id,
               place_uid,
               rebate_time,
               settle_time,
               tenant_id,
               create_time,
               update_time
        from t_rebate_record
        where original_order_id = #{originalOrderId}
          and status in (0, 1)
    </select>
    
    <select id="selectLatestByOriginalOrderId" resultMap="RebateRecordMap">
        select id,
               uid,
               name,
               phone,
               order_id,
               original_order_id,
               member_card_id,
               member_card_name,
               type,
               order_type,
               refund_flag,
               franchisee_id,
               level,
               merchant_id,
               merchant_uid,
               status,
               channeler,
               channeler_rebate,
               merchant_rebate,
               place_id,
               place_uid,
               rebate_time,
               settle_time,
               tenant_id,
               create_time,
               update_time
        from t_rebate_record
        where original_order_id = #{originalOrderId}
        order by id limit 1
    </select>
    
    <select id="selectNotSettleListByLimit" resultMap="RebateRecordMap">
        select id,
               uid,
               name,
               phone,
               order_id,
               original_order_id,
               member_card_id,
               member_card_name,
               type,
               order_type,
               refund_flag,
               franchisee_id,
               level,
               merchant_id,
               merchant_uid,
               status,
               channeler,
               channeler_rebate,
               merchant_rebate,
               place_id,
               place_uid,
               rebate_time,
               settle_time,
               tenant_id,
               create_time,
               update_time
        from t_rebate_record
        where status = 0
          and create_time &gt;= #{startTime}
          and create_time &lt; #{endTime} limit #{offset}
            , #{size}
    </select>
    
    <select id="existsExpireRebateRecordByOriginalOrderId" resultType="Integer">
        SELECT 1
        FROM t_rebate_record
        WHERE original_order_id = #{originalOrderId}
          AND status in (2, 3) LIMIT 1
    </select>
    
    <select id="selectRebatedByUid" resultMap="RebateRecordMap">
        select id,
               uid,
               name,
               phone,
               order_id,
               original_order_id,
               member_card_id,
               member_card_name,
               type,
               order_type,
               franchisee_id,
               level,
               merchant_id,
               merchant_uid,
               status,
               channeler,
               channeler_rebate,
               merchant_rebate,
               place_id,
               place_uid,
               rebate_time,
               settle_time,
               tenant_id,
               create_time,
               update_time
        from t_rebate_record
        where status in (0, 1)
          and uid = #{uid}
          and merchant_id = #{merchantId}
          and member_card_id = #{memberCardId}
          and level > #{currentLevel}
    </select>
    
    <select id="selectCurrentMonthRebateRecord" resultMap="RebateRecordMap">
        select id,
               uid,
               name,
               phone,
               order_id,
               original_order_id,
               member_card_id,
               member_card_name,
               type,
               order_type,
               franchisee_id,
               level,
               merchant_id,
               merchant_uid,
               status,
               channeler,
               channeler_rebate,
               merchant_rebate,
               place_id,
               place_uid,
               rebate_time,
               settle_time,
               tenant_id,
               create_time,
               update_time
        from t_rebate_record
        where id in (SELECT MAX(id) as id
                     FROM t_rebate_record
                     WHERE status in (0, 1)
                       AND merchant_id = #{merchantId}
                       and create_time &gt;= #{startTime}
                       and create_time &lt; #{endTime}
                     GROUP BY original_order_id)
            limit #{offset}
            , #{size}
    </select>
    
    <select id="selectByPage" resultMap="RebateRecordMap">
        select
        id, uid, name, phone, order_id, original_order_id, member_card_id, member_card_name, type, order_type, franchisee_id, level, merchant_id, merchant_uid, status, channeler,
        channeler_rebate, merchant_rebate, place_id, place_uid, rebate_time, settle_time, tenant_id, create_time, update_time
        from t_rebate_record
        <where>
            <if test="channeler != null">
                and channeler = #{channeler}
            </if>
            <if test="merchantId != null">
                and merchant_id = #{merchantId}
            </if>
            <if test="franchiseeId != null">
                and franchisee_id = #{franchiseeId}
            </if>
            <if test="orderId != null and orderId != ''">
                and order_id =#{orderId}
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
            <if test="uid != null">
                and uid = #{uid}
            </if>
            <if test="tenantId != null">
                and tenant_id = #{tenantId}
            </if>
            <if test="beginTime != null">
                and create_time &gt;= #{beginTime}
            </if>
            <if test="endTime != null">
                and create_time &lt;= #{endTime}
            </if>
        </where>
        order by rebate_time desc
        limit #{offset}, #{size}
    </select>
    
    <select id="selectByPageCount" resultType="int">
        select count(1) from t_rebate_record
        <where>
            <if test="channeler != null">
                and channeler = #{channeler}
            </if>
            <if test="merchantId != null">
                and merchant_id = #{merchantId}
            </if>
            <if test="franchiseeId != null">
                and franchisee_id = #{franchiseeId}
            </if>
            <if test="orderId != null and orderId != ''">
                and order_id =#{orderId}
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
            <if test="uid != null">
                and uid = #{uid}
            </if>
            <if test="tenantId != null">
                and tenant_id = #{tenantId}
            </if>
            <if test="beginTime != null">
                and create_time &gt;= #{beginTime}
            </if>
            <if test="endTime != null">
                and create_time &lt;= #{endTime}
            </if>
        </where>
    </select>
    
    <!--新增所有列-->
    <insert id="insertOne" keyProperty="id" useGeneratedKeys="true">
        insert into t_rebate_record(uid, name, phone, order_id, original_order_id, member_card_id, member_card_name, type, order_type, refund_flag, franchisee_id, level,
                                    merchant_id, merchant_uid, status, channeler, channeler_rebate, merchant_rebate, place_id, place_uid, rebate_time, settle_time, tenant_id,
                                    create_time, update_time)
        values (#{uid}, #{name}, #{phone}, #{orderId}, #{originalOrderId}, #{memberCardId}, #{memberCardName}, #{type}, #{orderType}, #{refundFlag}, #{franchiseeId}, #{level},
                #{merchantId}, #{merchantUid}, #{status}, #{channeler}, #{channelerRebate}, #{merchantRebate}, #{placeId}, #{placeUid}, #{rebateTime}, #{settleTime}, #{tenantId},
                #{createTime}, #{updateTime})
    </insert>
    
    <!--通过主键修改数据-->
    <update id="update">
        update t_rebate_record
        <set>
            <if test="uid != null">
                uid = #{uid},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="orderId != null and orderId != ''">
                order_id = #{orderId},
            </if>
            <if test="originalOrderId != null and originalOrderId != ''">
                original_order_id = #{originalOrderId},
            </if>
            <if test="memberCardId != null">
                member_card_id = #{memberCardId},
            </if>
            <if test="memberCardName != null and memberCardName != ''">
                member_card_name = #{memberCardName},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="orderType != null">
                order_type = #{orderType},
            </if>
            <if test="refundFlag != null">
                refund_flag = #{refundFlag},
            </if>
            <if test="franchiseeId != null">
                franchisee_id = #{franchiseeId},
            </if>
            <if test="level != null and level != ''">
                level = #{level},
            </if>
            <if test="merchantId != null">
                merchant_id = #{merchantId},
            </if>
            <if test="merchantUid != null">
                merchant_uid = #{merchantUid},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="channeler != null">
                channeler = #{channeler},
            </if>
            <if test="channelerRebate != null">
                channeler_rebate = #{channelerRebate},
            </if>
            <if test="merchantRebate != null">
                merchant_rebate = #{merchantRebate},
            </if>
            <if test="placeId != null">
                place_id = #{placeId},
            </if>
            <if test="placeUid != null">
                place_uid = #{placeUid},
            </if>
            <if test="rebateTime != null">
                rebate_time = #{rebateTime},
            </if>
            <if test="settleTime != null">
                settle_time = #{settleTime},
            </if>
            <if test="tenantId != null">
                tenant_id = #{tenantId},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>
    
    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from t_rebate_record
        where id = #{id}
    </delete>
    
    <select id="sumMerchantIncomeByStatus" resultType="java.math.BigDecimal">
        select IFNULL(sum(merchant_rebate), 0) from t_rebate_record
        <where>
            <if test="tenantId != null">
                and tenant_id = #{tenantId}
            </if>
            <if test="uid != null and type == 1">
                and merchant_uid = #{uid}
            </if>
            <if test="uid != null and type == 2">
                and place_uid = #{uid}
            </if>
            <if test="uid != null and type == 3">
                and channeler = #{uid}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="rebateStartTime != null">
                and rebate_time >= #{rebateStartTime}
            </if>
            <if test="rebateEndTime!=null">
                and rebate_time &lt;= #{rebateEndTime}
            </if>
            <if test="settleStartTime != null">
                and settle_time >= #{settleStartTime}
            </if>
            <if test="settleEndTime != null">
                and settle_time &lt;= #{settleEndTime}
            </if>
        </where>
    </select>
    
    <select id="sumEmployeeIncomeByStatus" resultType="java.math.BigDecimal">
        select IFNULL(sum(channeler_rebate), 0) from t_rebate_record
        <where>
            <if test="tenantId != null">
                and tenant_id = #{tenantId}
            </if>
            <if test="uid != null and type == 3">
                and channeler = #{uid}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="merchantUid != null">
                and merchant_uid = #{merchantUid}
            </if>
            <if test="rebateStartTime != null">
                and rebate_time >= #{rebateStartTime}
            </if>
            <if test="rebateEndTime!=null">
                and rebate_time &lt;= #{rebateEndTime}
            </if>
            <if test="settleStartTime != null">
                and settle_time >= #{settleStartTime}
            </if>
            <if test="settleEndTime != null">
                and settle_time &lt;= #{settleEndTime}
            </if>
        </where>
    </select>
    
    <select id="countByTime" resultType="java.lang.Integer">
        select IFNULL(count(1), 0) from t_rebate_record
        <where>
            <if test="tenantId != null">
                and tenant_id = #{tenantId}
            </if>
            <if test="uid != null and userType == 1">
                and merchant_uid = #{uid}
            </if>
            <if test="uid != null and userType == 2">
                and place_uid = #{uid}
            </if>
            <if test="channelEmployeeUid != null ">
                and channeler = #{channelEmployeeUid}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="rebateType != null">
                and type = #{rebateType}
            </if>
            <if test="refundFlag != null">
                and refund_flag = #{refundFlag}
            </if>
            <if test="startTime != null">
                and create_time >= #{startTime}
            </if>
            <if test="endTime != null">
                and create_time &lt;= #{endTime}
            </if>
        </where>
    </select>
    
    <select id="selectListPromotionDetail" resultMap="RebateRecordMap">
        select
        id, uid, name, phone, member_card_id, merchant_id, merchant_uid, status, merchant_rebate, rebate_time
        from t_rebate_record
        <where>
            <if test="uid != null and type == 1">
                and merchant_uid = #{uid}
            </if>
            <if test="uid != null and type == 2">
                and place_uid = #{uid}
            </if>
            <if test="uid != null and type == 3">
                and channeler = #{uid}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="tenantId != null">
                and tenant_id = #{tenantId}
            </if>
            <if test="startTime != null">
                and create_time &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                and create_time &lt;= #{endTime}
            </if>
        </where>
        order by id desc
        limit #{offset}, #{size}
    </select>
    
    <select id="selectListRenewal" resultType="com.xiliulou.electricity.vo.merchant.MerchantStatisticsUserVO">
        SELECT
            month_date,
            count( 1 ) AS 'scanCodeCount'
        FROM
        t_rebate_record
            <where>
                <if test="tenantId != null">
                    and tenant_id = #{tenantId}
                </if>
                <if test="uid != null and userType == 1">
                    and merchant_uid = #{uid}
                </if>
                <if test="uid != null and userType == 2">
                    and place_uid = #{uid}
                </if>
                <if test="channelEmployeeUid != null ">
                    and channeler = #{channelEmployeeUid}
                </if>
                <if test="status != null">
                    and status = #{status}
                </if>
                <if test="rebateType != null">
                    and type = #{rebateType}
                </if>
                <if test="refundFlag != null">
                    and refund_flag = #{refundFlag}
                </if>
                <if test="startTime != null">
                    and create_time >= #{startTime}
                </if>
                <if test="endTime != null">
                    and create_time &lt;= #{endTime}
                </if>
            </where>
        group by month_date
    </select>

</mapper>
