<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.asset.AssetWarehouseMapper">
    <!-- 基础字段 -->
    <sql id="basic_field">
        id,
        name,
        status,
        manager_name,
        manager_phone,
        address,
        del_flag,
        tenant_id,
        create_time,
        update_time,
        franchisee_id
    </sql>
    
    <!--新增所有列-->
    <insert id="insertOne" keyProperty="id" useGeneratedKeys="true">
        insert into t_asset_warehouse
        <trim prefix="(" suffix=")" suffixOverrides=",">
            name,
            status,
            manager_name,
            manager_phone,
            address,
            del_flag,
            tenant_id,
            create_time,
            update_time,
            franchisee_id
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{name},
            #{status},
            #{managerName},
            #{managerPhone},
            #{address},
            #{delFlag},
            #{tenantId},
            #{createTime},
            #{updateTime},
            #{franchiseeId}
        </trim>
    </insert>
    
    <update id="updateById">
        update t_asset_warehouse
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="managerName != null">
                manager_name = #{managerName},
            </if>
            <if test="managerPhone != null">
                manager_phone = #{managerPhone},
            </if>
            <if test="address != null">
                address = #{address},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="franchiseeId != null">
                franchisee_id = #{franchiseeId}
            </if>
        </set>
        where id = #{id} and tenant_id = #{tenantId}
    </update>
    
    <select id="selectListByPage" resultType="com.xiliulou.electricity.bo.asset.AssetWarehouseBO">
        SELECT
        <include refid="basic_field"/>
        FROM t_asset_warehouse
        <where>
            <if test="name != null and name != ''">
                and name like concat('%', #{name}, '%')
            </if>
            <if test="franchiseeId != null">
                and franchisee_id = #{franchiseeId}
            </if>
            and tenant_id = #{tenantId} and del_flag = 0
        </where>
        ORDER BY id DESC
        limit #{offset}, #{size}
    </select>
    
    <select id="countTotal" resultType="java.lang.Integer">
        select count(1)
        from t_asset_warehouse
        <where>
            <if test="name != null and name != ''">
                and name like concat('%', #{name}, '%')
            </if>
            <if test="franchiseeId != null">
                and franchisee_id = franchiseeId
            </if>
            and tenant_id = #{tenantId} and del_flag = 0
        </where>
    </select>
    
    <select id="selectListWarehouseNames" resultType="com.xiliulou.electricity.bo.asset.AssetWarehouseNameBO">
        select id, name
        from t_asset_warehouse
        <where>
            tenant_id = #{tenantId} and del_flag = 0 and status = 0
            <if test="name != null and name != ''">
                and name like concat('%', #{name}, '%')
            </if>
            <if test="franchiseeId != null">
                and franchisee_id = franchiseeId
            </if>
        </where>
        ORDER BY id DESC
        limit #{offset}, #{size}
    </select>
    
    <select id="selectById" resultType="com.xiliulou.electricity.bo.asset.AssetWarehouseBO">
        select
        <include refid="basic_field"/>
        from t_asset_warehouse where del_flag = 0 and id = #{id}
    </select>
    
    <select id="existsByName" resultType="java.lang.Integer">
        select 1 from t_asset_warehouse where name = #{name} and tenant_id = #{tenantId} and del_flag = 0 limit 1;
    </select>

    <select id="selectListByIdList" resultType="com.xiliulou.electricity.bo.asset.AssetWarehouseNameBO">
        select id,name from t_asset_warehouse where del_flag = 0 and id in
        <foreach collection="idList" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
</mapper>




