<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.asset.AssetInventoryMapper">
    <!-- 基础字段 -->
    <sql id="basic_field">
        id,
        order_no,
        franchisee_id,
        type,
        status,
        inventoried_total,
        pending_total,
        finish_time,
        operator,
        tenant_id,
        del_flag,
        create_time,
        update_time,
        remark
    </sql>
    
    <!--新增所有列-->
    <insert id="insertOne" keyProperty="id" useGeneratedKeys="true">
        insert into t_asset_inventory
        <trim prefix="(" suffix=")" suffixOverrides=",">
            order_no,
            franchisee_id,
            type,
            status,
            inventoried_total,
            pending_total,
            finish_time,
            operator,
            tenant_id,
            del_flag,
            create_time,
            update_time,
            remark
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{orderNo},
            #{franchiseeId},
            #{type},
            #{status},
            #{inventoriedTotal},
            #{pendingTotal},
            #{finishTime},
            #{operator},
            #{tenantId},
            #{delFlag},
            #{createTime},
            #{updateTime},
            #{remark}
        </trim>
    </insert>
    
    <update id="updateByOrderNo">
        update t_asset_inventory
        set inventoried_total = inventoried_total + #{inventoryCount},
            pending_total = pending_total - #{inventoryCount},
            status = #{status},
            update_time = #{updateTime}
        where tenant_id = #{tenantId}
          and order_no = #{orderNo};
    </update>
    
    <select id="selectListByFranchiseeId" resultType="com.xiliulou.electricity.bo.asset.AssetInventoryBO">
        select
        <include refid="basic_field"/>
        from t_asset_inventory
        <where>
            <if test="orderNo != null and orderNo != ''">
                and order_no=#{orderNo}
            </if>
            <if test="franchiseeId != null ">
                and franchisee_id=#{franchiseeId}
            </if>
            <if test="status != null ">
                and status=#{status}
            </if>
            <if test="franchiseeIds != null and franchiseeIds.size()>0">
                and franchisee_id in
                <foreach collection="franchiseeIds" item="id" index="index" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
            and tenant_id = #{tenantId} and del_flag = 0
        </where>
        order by id desc
        limit #{offset}, #{size}
    </select>
    
    <select id="countTotal" resultType="java.lang.Integer">
        select count(1)
        from t_asset_inventory
        <where>
            <if test="orderNo != null and orderNo != ''">
                and order_no=#{orderNo}
            </if>
            <if test="franchiseeId != null ">
                and franchisee_id=#{franchiseeId}
            </if>
            <if test="status != null ">
                and status=#{status}
            </if>
            <if test="franchiseeIds != null and franchiseeIds.size()>0">
                and franchisee_id in
                <foreach collection="franchiseeIds" item="id" index="index" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
            and tenant_id = #{tenantId} and del_flag = 0
        </where>
    </select>
    
    <select id="selectById" resultType="com.xiliulou.electricity.bo.asset.AssetInventoryBO">
        select
        <include refid="basic_field"/>
        from t_asset_inventory where del_flag = 0 and id = #{id}
    </select>
    
    <select id="selectInventoryStatusByFranchiseeId" resultType="java.lang.Integer">
        select status from t_asset_inventory where tenant_id = #{tenantId} and franchisee_id = #{franchiseeId}  and type = #{type} order by id desc limit 1;
    </select>
    
    <select id="selectByOrderNo" resultType="com.xiliulou.electricity.vo.asset.AssetInventoryVO">
        select
        <include refid="basic_field"/>
        from t_asset_inventory
        <where>
            <if test="orderNo != null and orderNo != ''">
                and order_no=#{orderNo}
            </if>
            <if test="tenantId != null ">
                and tenant_id=#{tenantId}
            </if>
            and del_flag = 0
        </where>
    </select>
    
    <select id="existInventoryByFranchiseeIdList" resultType="java.lang.Integer">
        select 1 from t_asset_inventory where tenant_id = #{tenantId} and franchisee_id in
        <foreach collection="franchiseeIdList" item="item" open="(" close=")" separator=",">
            <if test="item != null and item != ''">
                #{item}
            </if>
        </foreach>
          and type = #{type} and status = 0 order by id desc limit 1;
    </select>

</mapper>




