<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.asset.AssetExitWarehouseRecordMapper">
    <!-- 基础字段 -->
    <sql id="basic_field">
        id,
        order_no,
        franchisee_id,
        store_id,
        type,
        warehouse_id,
        operator,
        tenant_id,
        del_flag,
        create_time,
        update_time,
        remark
    </sql>
    
    <!--新增所有列-->
    <insert id="insertOne" keyProperty="id" useGeneratedKeys="true">
        insert into t_asset_exit_warehouse_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            order_no,
            franchisee_id,
            store_id,
            type,
            warehouse_id,
            operator,
            tenant_id,
            del_flag,
            create_time,
            update_time,
            remark
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{orderNo},
            #{franchiseeId},
            #{storeId},
            #{type},
            #{warehouseId},
            #{operator},
            #{tenantId},
            #{delFlag},
            #{createTime},
            #{updateTime},
            #{remark}
        </trim>
    </insert>
    
    <select id="selectListByFranchiseeId" resultType="com.xiliulou.electricity.bo.asset.AssetExitWarehouseBO">
        select taewr.id, taewr.order_no, taewr.franchisee_id, taewr.store_id, taewr.type, taewr.warehouse_id, taewr.operator, taewr.tenant_id, taewr.del_flag, taewr.create_time,
        taewr.update_time, taewr.remark, taw.name as warehouseName
        from t_asset_exit_warehouse_record taewr
        left join t_asset_warehouse taw on taw.id = taewr.warehouse_id
        <where>
            tenant_id = #{tenantId} and del_flag = 0
            <if test="orderNo != null and orderNo != ''">
                and order_no=#{orderNo}
            </if>
            <if test="franchiseeId != null ">
                and franchisee_id=#{franchiseeId}
            </if>
            <if test="type != null ">
                and type=#{type}
            </if>
        </where>
        order by id desc
        limit #{offset}, #{size}
    </select>
    
    <select id="countTotal" resultType="java.lang.Integer">
        select count(1)
        from t_asset_exit_warehouse_record
        <where>
            tenant_id = #{tenantId} and del_flag = 0
            <if test="orderNo != null and orderNo != ''">
                and order_no=#{orderNo}
            </if>
            <if test="franchiseeId != null ">
                and franchisee_id=#{franchiseeId}
            </if>
            <if test="type != null ">
                and type=#{type}
            </if>
        </where>
    </select>

</mapper>




