<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.asset.AssetWarehouseRecordMapper">
    <!-- 基础字段 -->
    <sql id="basic_field">
        id,
        record_no,
        type,
        operate_type,
        sn,
        warehouse_id,
        operator,
        tenant_id,
        del_flag,
        create_time,
        update_time,
        remark
    </sql>
    
    <insert id="batchInsert" keyProperty="id" useGeneratedKeys="true">
        insert into t_asset_warehouse_record(record_no, type, operate_type, sn, warehouse_id, operator, tenant_id, del_flag, create_time, update_time, remark)
        values
        <foreach item="item" index="index" collection="batchInsertList" separator=",">
            (#{item.recordNo},#{item.type},#{item.operateType}, #{item.sn}, #{item.warehouseId}, #{item.operator}, #{item.tenantId}, #{item.delFlag}, #{item.createTime},
            #{item.updateTime}, #{item.remark})
        </foreach>
    </insert>
    
    <select id="selectListByWarehouseId" resultType="com.xiliulou.electricity.entity.asset.AssetWarehouseRecord">
        SELECT
        <include refid="basic_field"/>
        FROM t_asset_warehouse_record
        <where>
            warehouse_id = #{warehouseId} and del_flag = 0
            <if test="type != null">
                and type = #{type}
            </if>
            <if test="sn != null and sn != ''">
                and sn like concat('%', #{sn}, '%')
            </if>
        </where>
        ORDER BY id DESC
        <if test="offset != null and size != null">
            limit #{offset}, #{size}
        </if>
    </select>

</mapper>




