<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.BatteryMemberCardMapper">
    
    <resultMap type="com.xiliulou.electricity.entity.BatteryMemberCard" id="BatteryMemberCardMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="deposit" column="deposit" jdbcType="NUMERIC"/>
        <result property="rentPrice" column="rent_price" jdbcType="NUMERIC"/>
        <result property="rentPriceUnit" column="rent_price_unit" jdbcType="NUMERIC"/>
        <result property="validDays" column="valid_days" jdbcType="INTEGER"/>
        <result property="rentUnit" column="rent_unit" jdbcType="INTEGER"/>
        <result property="franchiseeId" column="franchisee_id" jdbcType="INTEGER"/>
        <result property="rentType" column="rent_type" jdbcType="INTEGER"/>
        <result property="sendCoupon" column="send_coupon" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="limitCount" column="limit_count" jdbcType="INTEGER"/>
        <result property="useCount" column="use_count" jdbcType="INTEGER"/>
        <result property="couponId" column="coupon_id" jdbcType="INTEGER"/>
        <result property="isRefund" column="is_refund" jdbcType="INTEGER"/>
        <result property="refundLimit" column="refund_limit" jdbcType="INTEGER"/>
        <result property="freeDeposite" column="free_deposite" jdbcType="INTEGER"/>
        <result property="serviceCharge" column="service_charge" jdbcType="NUMERIC"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="businessType" column="business_type" jdbcType="INTEGER"/>
        <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
        <result property="tenantId" column="tenant_id" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="INTEGER"/>
        <result property="sortParam" column="sort_param" jdbcType="BIGINT"/>
        <result property="groupType" column="group_type" jdbcType="INTEGER"/>
        <result property="couponIds" column="coupon_ids"/>
        <result property="userInfoGroupIds" column="user_info_group_ids"/>
        <result property="installmentServiceFee" column="installment_service_fee" jdbcType="DECIMAL"/>
        <result property="downPayment" column="down_payment" jdbcType="DECIMAL"/>
    </resultMap>
    
    <resultMap type="com.xiliulou.electricity.vo.BatteryMemberCardAndTypeVO" id="BatteryMemberCardTypeMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="deposit" column="deposit" jdbcType="NUMERIC"/>
        <result property="rentPrice" column="rent_price" jdbcType="NUMERIC"/>
        <result property="rentPriceUnit" column="rent_price_unit" jdbcType="NUMERIC"/>
        <result property="validDays" column="valid_days" jdbcType="INTEGER"/>
        <result property="rentUnit" column="rent_unit" jdbcType="INTEGER"/>
        <result property="franchiseeId" column="franchisee_id" jdbcType="INTEGER"/>
        <result property="rentType" column="rent_type" jdbcType="INTEGER"/>
        <result property="sendCoupon" column="send_coupon" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="limitCount" column="limit_count" jdbcType="INTEGER"/>
        <result property="useCount" column="use_count" jdbcType="INTEGER"/>
        <result property="couponId" column="coupon_id" jdbcType="INTEGER"/>
        <result property="isRefund" column="is_refund" jdbcType="INTEGER"/>
        <result property="refundLimit" column="refund_limit" jdbcType="INTEGER"/>
        <result property="freeDeposite" column="free_deposite" jdbcType="INTEGER"/>
        <result property="serviceCharge" column="service_charge" jdbcType="NUMERIC"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="businessType" column="business_type" jdbcType="INTEGER"/>
        <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
        <result property="tenantId" column="tenant_id" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="INTEGER"/>
        <result property="sortParam" column="sort_param" jdbcType="BIGINT"/>
        <result property="groupType" column="group_type" jdbcType="INTEGER"/>
        <result property="couponIds" column="coupon_ids"/>
        <result property="userInfoGroupIds" column="user_info_group_ids"/>
        <result property="installmentServiceFee" column="installment_service_fee" jdbcType="DECIMAL"/>
        <result property="downPayment" column="down_payment" jdbcType="DECIMAL"/>
        <collection property="batteryType" javaType="java.util.List" ofType="com.xiliulou.electricity.entity.MemberCardBatteryType">
            <id property="id" column="mcbt_id" jdbcType="INTEGER"/>
            <result property="batteryType" column="battery_type" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>
    
    <resultMap type="com.xiliulou.electricity.vo.BatteryMemberCardAndTypeVO" id="BatteryMemberCardTypePageMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="deposit" column="deposit" jdbcType="NUMERIC"/>
        <result property="rentPrice" column="rent_price" jdbcType="NUMERIC"/>
        <result property="rentPriceUnit" column="rent_price_unit" jdbcType="NUMERIC"/>
        <result property="validDays" column="valid_days" jdbcType="INTEGER"/>
        <result property="rentUnit" column="rent_unit" jdbcType="INTEGER"/>
        <result property="franchiseeId" column="franchisee_id" jdbcType="INTEGER"/>
        <result property="rentType" column="rent_type" jdbcType="INTEGER"/>
        <result property="sendCoupon" column="send_coupon" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="limitCount" column="limit_count" jdbcType="INTEGER"/>
        <result property="useCount" column="use_count" jdbcType="INTEGER"/>
        <result property="couponId" column="coupon_id" jdbcType="INTEGER"/>
        <result property="isRefund" column="is_refund" jdbcType="INTEGER"/>
        <result property="refundLimit" column="refund_limit" jdbcType="INTEGER"/>
        <result property="freeDeposite" column="free_deposite" jdbcType="INTEGER"/>
        <result property="serviceCharge" column="service_charge" jdbcType="NUMERIC"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="businessType" column="business_type" jdbcType="INTEGER"/>
        <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
        <result property="tenantId" column="tenant_id" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="INTEGER"/>
        <result property="sortParam" column="sort_param" jdbcType="BIGINT"/>
        <result property="groupType" column="group_type" jdbcType="INTEGER"/>
        <result property="couponIds" column="coupon_ids"/>
        <result property="userInfoGroupIds" column="user_info_group_ids"/>
        <result property="installmentServiceFee" column="installment_service_fee" jdbcType="DECIMAL"/>
        <result property="downPayment" column="down_payment" jdbcType="DECIMAL"/>
        <collection property="batteryType" javaType="java.util.List" ofType="com.xiliulou.electricity.entity.MemberCardBatteryType" column="id"
            select="selectListMemberCardBatteryType">
            <id property="id" column="mcbt_id" jdbcType="INTEGER"/>
            <result property="batteryType" column="battery_type" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>
    
    <!--查询单个-->
    <select id="queryById" resultMap="BatteryMemberCardMap">
        select id,
               name,
               deposit,
               rent_price,
               rent_price_unit,
               valid_days,
               rent_unit,
               franchisee_id,
               rent_type,
               send_coupon,
               status,
               limit_count,
               use_count,
               coupon_id,
               is_refund,
               refund_limit,
               free_deposite,
               service_charge,
               remark,
               business_type,
               del_flag,
               tenant_id,
               create_time,
               update_time,
               sort_param,
               group_type,
               coupon_ids,
               user_info_group_ids,
               installment_service_fee,
               down_payment
        from t_battery_member_card
        where id = #{id}
    </select>
    
    <select id="selectBySearchV2" resultMap="BatteryMemberCardMap">
        select
        id, name
        from t_battery_member_card
        <where>
            <if test="businessTypes != null">
                and business_type in
                <foreach collection="businessTypes" item="businessTyp" index="index" open="(" close=")" separator=",">
                    #{businessTyp}
                </foreach>
            </if>
            <if test="franchiseeId != null">
                and franchisee_id = #{franchiseeId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="name != null and name != ''">
                and name like concat('%',#{name,jdbcType=VARCHAR},'%')
            </if>
            <if test="rentType != null and rentType==1">
                and rent_type in (1,0)
            </if>
            <if test="rentType != null and rentType==2">
                and rent_type in (2,0)
            </if>
            <if test="tenantId != null">
                and tenant_id = #{tenantId}
            </if>
            <if test="delFlag != null">
                and del_flag = #{delFlag}
            </if>
            <if test="franchiseeIds != null">
                and franchisee_id in
                <foreach collection="franchiseeIds" item="id" index="index" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
        </where>
        order by id desc
        limit #{offset}, #{size}
    </select>
    
    <select id="selectBySearch" resultMap="BatteryMemberCardMap">
        select
        id, name
        from t_battery_member_card
        <where>
            case
                when #{catchEnterprise} = 1 then business_type in (0, 2, 4)
                else business_type = 0
            end
            <if test="franchiseeId != null">
                and franchisee_id = #{franchiseeId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="name != null and name != ''">
                and name like concat('%',#{name,jdbcType=VARCHAR},'%')
            </if>
            <if test="rentType != null and rentType==1">
                and rent_type in (1,0)
            </if>
            <if test="rentType != null and rentType==2">
                and rent_type in (2,0)
            </if>
            <if test="tenantId != null">
                and tenant_id = #{tenantId}
            </if>
            <if test="delFlag != null">
                and del_flag = #{delFlag}
            </if>
            <if test="franchiseeIds != null">
                and franchisee_id in
                <foreach collection="franchiseeIds" item="id" index="index" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
        </where>
        order by id desc
        limit #{offset}, #{size}
    </select>
    
    <select id="selectByPage" resultMap="BatteryMemberCardTypePageMap">
        select
        tbmc.id, tbmc.name, tbmc.deposit, tbmc.rent_price, tbmc.rent_price_unit, tbmc.valid_days, tbmc.rent_unit, tbmc.franchisee_id, tbmc.rent_type, tbmc.send_coupon,
        tbmc.status, tbmc.limit_count, tbmc.use_count, tbmc.coupon_id, tbmc.is_refund, tbmc.refund_limit, tbmc.free_deposite,
        tbmc.service_charge, tbmc.remark, tbmc.business_type, tbmc.del_flag, tbmc.tenant_id, tbmc.create_time, tbmc.update_time, tbmc.sort_param, tbmc.coupon_ids,
        tbmc.user_info_group_ids, tbmc.group_type, tbmc.installment_service_fee, tbmc.down_payment
        from t_battery_member_card tbmc
        left join t_member_card_battery_type tmcbt on tbmc.id = tmcbt.mid
        <where>
            <if test="businessTypes != null">
                and tbmc.business_type in
                <foreach collection="businessTypes" item="businessType" open="(" separator="," close=")">
                    #{businessType}
                </foreach>
            </if>
            
            <if test="franchiseeId != null">
                and tbmc.franchisee_id = #{franchiseeId}
            </if>
            <if test="status != null">
                and tbmc.status = #{status}
            </if>
            <if test="name != null and name != ''">
                and tbmc.name like concat('%',#{name,jdbcType=VARCHAR},'%')
            </if>
            <if test="rentType != null">
                and tbmc.rent_type = #{rentType}
            </if>
            <if test="rentType != null">
                and tbmc.group_type = 0
            </if>
            <if test="rentUnit != null">
                and tbmc.rent_unit = #{rentUnit}
            </if>
            <if test="tenantId != null">
                and tbmc.tenant_id = #{tenantId}
            </if>
            <if test="delFlag != null">
                and tbmc.del_flag = #{delFlag}
            </if>
            <if test="franchiseeIds != null">
                and tbmc.franchisee_id in
                <foreach collection="franchiseeIds" item="id" index="index" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
            <if test="originalBatteryModel != null and originalBatteryModel != ''">
                and tmcbt.battery_type = #{originalBatteryModel}
            </if>
            <if test="userInfoGroupId != null and userInfoGroupId != ''">
                and JSON_CONTAINS(tbmc.user_info_group_ids, #{userInfoGroupId})
            </if>
            <if test="userInfoGroupId != null and userInfoGroupId != ''">
                and tbmc.group_type = 1
            </if>
            <if test="batteryModel != null and batteryModel != ''">
                and tmcbt.mid is null
            </if>
        </where>
        group by tbmc.id
        order by tbmc.status, tbmc.sort_param desc
        limit #{offset}, #{size}
    </select>
    
    <!--一对多分页查询，查询集合属性值-->
    <select id="selectListMemberCardBatteryType" resultType="com.xiliulou.electricity.entity.MemberCardBatteryType">
        select id, battery_type
        from t_member_card_battery_type
        where mid = #{id}
    </select>
    
    <select id="selectByQuery" resultMap="BatteryMemberCardMap">
        select
        id, name, deposit, rent_price, rent_price_unit, valid_days, rent_unit, franchisee_id, rent_type, send_coupon,status, limit_count, use_count, coupon_id, is_refund,
        refund_limit, free_deposite, service_charge, remark, business_type, del_flag, tenant_id, create_time, update_time, sort_param, group_type, coupon_ids, user_info_group_ids,installment_service_fee,
        down_payment
        from t_battery_member_card
        <where>
            business_type=0
            <if test="franchiseeId != null">
                and franchisee_id = #{franchiseeId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="name != null and name != ''">
                and name like concat('%',#{name,jdbcType=VARCHAR},'%')
            </if>
            <if test="rentType != null">
                and rent_type = #{rentType}
            </if>
            <if test="tenantId != null">
                and tenant_id = #{tenantId}
            </if>
            <if test="isRefund != null">
                and is_refund = #{isRefund}
            </if>
            <if test="delFlag != null">
                and del_flag = #{delFlag}
            </if>
            <if test="franchiseeIds != null">
                and franchisee_id in
                <foreach collection="franchiseeIds" item="id" index="index" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
        </where>
        order by id desc
        <if test="offset != null and size != null">
            limit #{offset}, #{size}
        </if>
    </select>
    
    <select id="isMemberCardBindFranchinsee" resultType="Integer">
        SELECT 1
        FROM t_battery_member_card
        WHERE del_flag = 0
          and franchisee_id = #{franchiseeId}
          AND tenant_id = #{tenantId} LIMIT 1
    </select>
    
    <select id="selectByPageForUser" resultMap="BatteryMemberCardTypeMap">
        select
        bmc.id,
        bmc.name,
        bmc.deposit,
        bmc.rent_price,
        bmc.rent_price_unit,
        bmc.valid_days,
        bmc.remark,
        bmc.rent_unit,
        bmc.franchisee_id,
        bmc.rent_type,
        bmc.send_coupon,
        bmc.status,
        bmc.limit_count,
        bmc.use_count,
        bmc.coupon_id,
        bmc.is_refund,
        bmc.refund_limit,
        bmc.free_deposite,
        bmc.service_charge,
        bmc.create_time,
        bmc.sort_param,
        bmc.coupon_ids,
        bmc.user_info_group_ids,
        bmc.group_type,
        bmc.installment_service_fee,
        bmc.down_payment,
        bmc.business_type,
        mcbt.id as mcbt_id,
        mcbt.battery_type battery_type
        from t_battery_member_card bmc
        left join t_member_card_battery_type mcbt on bmc.id=mcbt.mid
        <where>
            bmc.business_type in (0, 4) and bmc.status=0 and bmc.del_flag=0
            <if test="batteryV != null and batteryV != ''">
                and mcbt.battery_v = #{batteryV}
            </if>
            <if test="deposit != null">
                and bmc.deposit = #{deposit}
            </if>
            <if test="franchiseeId != null">
                and bmc.franchisee_id = #{franchiseeId}
            </if>
            <if test="status != null">
                and bmc.status = #{status}
            </if>
            <if test="limitCount != null">
                and bmc.limit_count = #{limitCount}
            </if>
            <if test="freeDeposite != null">
                and bmc.free_deposite = #{freeDeposite}
            </if>
            <if test="name != null and name != ''">
                and bmc.name like concat('%',#{name,jdbcType=VARCHAR},'%')
            </if>
            <if test="tenantId != null">
                and bmc.tenant_id = #{tenantId}
            </if>
            <if test="userInfoGroupIdsForSearch != null">
                and
                <foreach collection="userInfoGroupIdsForSearch" item="userInfoGroupId" index="index" open="(" separator="or" close=")">
                    JSON_CONTAINS(bmc.user_info_group_ids, #{userInfoGroupId})
                </foreach>
            </if>
            <if test="userInfoGroupIdsForSearch != null">
                and bmc.group_type = 1
            </if>
            <if test="rentTypes != null">
                and bmc.group_type = 0
            </if>
            <if test="rentTypes != null">
                and bmc.rent_type in
                <foreach collection="rentTypes" item="id" index="index" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
        </where>
        order by bmc.sort_param desc
        limit #{offset}, #{size}
    </select>
    
    <select id="selectMembercardBatteryV" resultType="com.xiliulou.electricity.vo.BatteryMemberCardVO">
        select
        bmc.id,
        mcbt.battery_v
        from t_battery_member_card bmc left join t_member_card_battery_type mcbt on bmc.id=mcbt.mid
        <where>
            bmc.business_type=0
            <if test="batteryV != null and batteryV != ''">
                and mcbt.battery_v = #{batteryV}
            </if>
            <if test="franchiseeId != null">
                and bmc.franchisee_id = #{franchiseeId}
            </if>
            <if test="status != null">
                and bmc.status = #{status}
            </if>
            <if test="name != null and name != ''">
                and bmc.name like concat('%',#{name,jdbcType=VARCHAR},'%')
            </if>
            <if test="rentType != null">
                and bmc.rent_type = #{rentType}
            </if>
            <if test="tenantId != null">
                and bmc.tenant_id = #{tenantId}
            </if>
            <if test="delFlag != null">
                and bmc.del_flag = #{delFlag}
            </if>
            <if test="franchiseeId != null">
                and bmc.franchisee_id = #{franchiseeId}
            </if>
        </where>
    </select>
    
    <select id="selectByPageCount" resultType="int">
        select
        count(distinct tbmc.id)
        from t_battery_member_card tbmc
        left join t_member_card_battery_type tmcbt on tbmc.id = tmcbt.mid
        <where>
            <if test="businessTypes != null">
                and tbmc.business_type in
                <foreach collection="businessTypes" item="businessType" open="(" separator="," close=")">
                    #{businessType}
                </foreach>
            </if>
            <if test="franchiseeId != null">
                and tbmc.franchisee_id = #{franchiseeId}
            </if>
            <if test="status != null">
                and tbmc.status = #{status}
            </if>
            <if test="name != null and name != ''">
                and tbmc.name like concat('%',#{name,jdbcType=VARCHAR},'%')
            </if>
            <if test="rentType != null">
                and tbmc.rent_type = #{rentType}
            </if>
            <if test="rentType != null">
                and tbmc.group_type = 0
            </if>
            <if test="rentUnit != null">
                and tbmc.rent_unit = #{rentUnit}
            </if>
            <if test="tenantId != null">
                and tbmc.tenant_id = #{tenantId}
            </if>
            <if test="delFlag != null">
                and tbmc.del_flag = #{delFlag}
            </if>
            <if test="franchiseeIds != null">
                and tbmc.franchisee_id in
                <foreach collection="franchiseeIds" item="id" index="index" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
            <if test="originalBatteryModel != null and originalBatteryModel != ''">
                and tmcbt.battery_type = #{originalBatteryModel}
            </if>
            <if test="userInfoGroupId != null and userInfoGroupId != ''">
                and JSON_CONTAINS(tbmc.user_info_group_ids, #{userInfoGroupId})
            </if>
            <if test="userInfoGroupId != null and userInfoGroupId != ''">
                and tbmc.group_type = 1
            </if>
            <if test="batteryModel != null and batteryModel != ''">
                and tmcbt.mid is null
            </if>
        </where>
    </select>
    
    <select id="checkMembercardExist" resultType="Integer">
        select 1
        from t_battery_member_card
        where name = #{name}
          and del_flag = 0
          and business_type in (0, 2)
          and tenant_id = #{tenantId} LIMIT 1
    </select>
    
    <select id="listByIdList" resultType="com.xiliulou.electricity.entity.BatteryMemberCard">
        SELECT
        id,
        `name`
        FROM
        t_battery_member_card
        WHERE
        del_flag = 0
        and tenant_id = #{tenantId}
        and franchisee_id = #{franchiseeId}
        and business_type =  #{businessType}
        AND id IN
        <foreach collection="idList" item="id" close=")" open="(" separator="," >
            #{id}
        </foreach>
    
    </select>

    <!--通过主键修改数据-->
    <update id="update">
        update t_battery_member_card
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="deposit != null">
                deposit = #{deposit},
            </if>
            <if test="rentPrice != null">
                rent_price = #{rentPrice},
            </if>
            <if test="rentPriceUnit != null">
                rent_price_unit = #{rentPriceUnit},
            </if>
            <if test="validDays != null">
                valid_days = #{validDays},
            </if>
            <if test="rentUnit != null">
                rent_unit = #{rentUnit},
            </if>
            <if test="franchiseeId != null">
                franchisee_id = #{franchiseeId},
            </if>
            <if test="rentType != null">
                rent_type = #{rentType},
            </if>
            <if test="sendCoupon != null">
                send_coupon = #{sendCoupon},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            coupon_id = #{couponId},
            coupon_ids = #{couponIds},
            <if test="limitCount != null">
                limit_count = #{limitCount},
            </if>
            <if test="useCount != null">
                use_count = #{useCount},
            </if>
            <if test="isRefund != null">
                is_refund = #{isRefund},
            </if>
            <if test="refundLimit != null">
                refund_limit = #{refundLimit},
            </if>
            <if test="freeDeposite != null">
                free_deposite = #{freeDeposite},
            </if>
            <if test="serviceCharge != null">
                service_charge = #{serviceCharge},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
            <if test="businessType != null">
                business_type = #{businessType},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="groupType != null">
                group_type = #{groupType},
            </if>
            <if test="userInfoGroupIds != null and userInfoGroupIds != ''">
                user_info_group_ids = #{userInfoGroupIds},
            </if>
            <if test="installmentServiceFee != null">
                installment_service_fee = #{installmentServiceFee},
            </if>
            <if test="downPayment != null">
                down_payment = #{downPayment},
            </if>
        </set>
        where id = #{id}
    </update>
    
    <update id="batchUpdateSortParam">
        update t_battery_member_card
        set sort_param = case id
        <foreach collection="sortParamQueries" item="item" index="index">
            when #{item.id} then #{item.sortParam}
        </foreach>
        end
        where id in
        <foreach collection="sortParamQueries" item="item" index="index" open="(" separator="," close=")">
            #{item.id}
        </foreach>
    </update>
    
    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from t_battery_member_card
        where id = #{id}
    </delete>
    
    <!--根据条件查询企业渠道套餐信息-->
    <select id="selectMemberCardsByEnterprise" resultMap="BatteryMemberCardTypeMap">
        select
        bmc.id,
        bmc.name,
        bmc.deposit,
        bmc.rent_price,
        bmc.rent_price_unit,
        bmc.valid_days,
        bmc.remark,
        bmc.rent_unit,
        bmc.franchisee_id,
        bmc.rent_type,
        bmc.send_coupon,
        bmc.status,
        bmc.limit_count,
        bmc.use_count,
        bmc.coupon_id,
        bmc.is_refund,
        bmc.refund_limit,
        bmc.free_deposite,
        bmc.service_charge,
        bmc.installment_service_fee,
        bmc.down_payment,
        mcbt.id as mcbt_id,
        mcbt.battery_type battery_type
        from t_battery_member_card bmc
        left join t_member_card_battery_type mcbt on bmc.id=mcbt.mid
        <where>
            bmc.business_type=2 and bmc.status=0 and bmc.del_flag=0
            <if test="batteryV != null and batteryV != ''">
                and mcbt.battery_v = #{batteryV}
            </if>
            <if test="deposit != null">
                and bmc.deposit = #{deposit}
            </if>
            <if test="franchiseeId != null">
                and bmc.franchisee_id = #{franchiseeId}
            </if>
            <if test="status != null">
                and bmc.status = #{status}
            </if>
            <if test="limitCount != null">
                and bmc.limit_count = #{limitCount}
            </if>
            <if test="freeDeposite != null">
                and bmc.free_deposite = #{freeDeposite}
            </if>
            <if test="name != null and name != ''">
                and bmc.name like concat('%',#{name,jdbcType=VARCHAR},'%')
            </if>
            <if test="tenantId != null">
                and bmc.tenant_id = #{tenantId}
            </if>
            <if test="rentTypes != null">
                and bmc.rent_type in
                <foreach collection="rentTypes" item="id" index="index" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
            
            <if test="packageIds != null">
                and bmc.id in
                <foreach collection="packageIds" item="packageId" index="index" open="(" close=")" separator=",">
                    #{packageId}
                </foreach>
            </if>
        </where>
        order by bmc.id desc
    
    </select>
    
    <select id="selectMembercardBatteryVByEnterprise" resultType="com.xiliulou.electricity.vo.BatteryMemberCardVO">
        select
        bmc.id,
        mcbt.battery_v
        from t_battery_member_card bmc left join t_member_card_battery_type mcbt on bmc.id=mcbt.mid
        <where>
            bmc.business_type=2
            <if test="batteryV != null and batteryV != ''">
                and mcbt.battery_v = #{batteryV}
            </if>
            <if test="franchiseeId != null">
                and bmc.franchisee_id = #{franchiseeId}
            </if>
            <if test="status != null">
                and bmc.status = #{status}
            </if>
            <if test="name != null and name != ''">
                and bmc.name like concat('%',#{name,jdbcType=VARCHAR},'%')
            </if>
            <if test="rentType != null">
                and bmc.rent_type = #{rentType}
            </if>
            <if test="tenantId != null">
                and bmc.tenant_id = #{tenantId}
            </if>
            <if test="delFlag != null">
                and bmc.del_flag = #{delFlag}
            </if>
            <if test="franchiseeId != null">
                and bmc.franchisee_id = #{franchiseeId}
            </if>
            <if test="packageIds != null">
                and bmc.id in
                <foreach collection="packageIds" item="packageId" index="index" open="(" close=")" separator=",">
                    #{packageId}
                </foreach>
            </if>
        </where>
    </select>
    
    
    <select id="selectByPageForMerchant" resultMap="BatteryMemberCardMap">
        select
        id, name, deposit, rent_price, rent_price_unit, valid_days, rent_unit, franchisee_id, rent_type, send_coupon,
        status, limit_count, use_count, coupon_id, is_refund, refund_limit, free_deposite,
        service_charge, remark, business_type, del_flag, tenant_id, create_time, update_time, installment_service_fee, down_payment
        from t_battery_member_card
        <where>
            <if test="businessTypes == null">
                and business_type in (0,1,2,3)
            </if>
            <if test="businessTypes != null">
                and business_type in
                <foreach collection="businessTypes" item="businessType" open="(" separator="," close=")">
                    #{businessType}
                </foreach>
            </if>
            <if test="franchiseeId != null">
                and franchisee_id = #{franchiseeId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="name != null and name != ''">
                and name like concat('%',#{name,jdbcType=VARCHAR},'%')
            </if>
            <if test="rentType != null">
                and rent_type = #{rentType}
            </if>
            <if test="rentUnit != null">
                and rent_unit = #{rentUnit}
            </if>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="tenantId != null">
                and tenant_id = #{tenantId}
            </if>
            <if test="delFlag != null">
                and del_flag = #{delFlag}
            </if>
            <if test="franchiseeIds != null">
                and franchisee_id in
                <foreach collection="franchiseeIds" item="id" index="index" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
        </where>
        order by franchisee_id,id desc
    </select>
    
    <select id="selectListMemberCardForSort" resultType="com.xiliulou.electricity.vo.BatteryMemberCardVO">
        select id, `name`, create_time, sort_param
        from t_battery_member_card
        where del_flag = 0 and status = 0 and business_type = 0
        <if test="query.tenantId != null">
            and tenant_id = #{query.tenantId}
        </if>
        <if test="query.franchiseeIds != null">
            and franchisee_id in
            <foreach collection="query.franchiseeIds" item="franchiseeId" index="index" open="(" close=")" separator=",">
                #{franchiseeId}
            </foreach>
        </if>
        order by id desc
    </select>
    <sql id="column">
        tbmc.id, tbmc.name, tbmc.deposit, tbmc.rent_price, tbmc.rent_price_unit, tbmc.valid_days, tbmc.rent_unit, tbmc.franchisee_id, tbmc.rent_type, tbmc.send_coupon,
        tbmc.status, tbmc.limit_count, tbmc.use_count, tbmc.coupon_id, tbmc.is_refund, tbmc.refund_limit, tbmc.free_deposite,
        tbmc.service_charge, tbmc.remark, tbmc.business_type, tbmc.del_flag, tbmc.tenant_id, tbmc.create_time, tbmc.update_time, tbmc.sort_param, tbmc.coupon_ids,
        tbmc.user_info_group_ids, tbmc.group_type, tbmc.tenant_id, tbmc.installment_service_fee, tbmc.down_payment
    </sql>
    <sql id="pageFilter">
        <where>
            <if test="businessType != null">
                and tbmc.business_type = #{businessType}
            </if>
    
            <if test="franchiseeId != null">
                and tbmc.franchisee_id = #{franchiseeId}
            </if>
            <if test="status != null">
                and tbmc.status = #{status}
            </if>
            <if test="name != null and name != ''">
                and tbmc.name like concat('%',#{name,jdbcType=VARCHAR},'%')
            </if>
            <if test="rentType != null">
                and tbmc.rent_type = #{rentType}
            </if>
            <if test="rentType != null">
                and tbmc.group_type = 0
            </if>
            <if test="rentUnit != null">
                and tbmc.rent_unit = #{rentUnit}
            </if>
            <if test="tenantId != null">
                and tbmc.tenant_id = #{tenantId}
            </if>
            <if test="delFlag != null">
                and tbmc.del_flag = #{delFlag}
            </if>
            <if test="franchiseeIds != null">
                and tbmc.franchisee_id in
                <foreach collection="franchiseeIds" item="id" index="index" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
            <if test="originalBatteryModel != null and originalBatteryModel != ''">
                and tmcbt.battery_type = #{originalBatteryModel}
            </if>
            <if test="userInfoGroupId != null and userInfoGroupId != ''">
                and JSON_CONTAINS(tbmc.user_info_group_ids, #{userInfoGroupId})
            </if>
            <if test="userInfoGroupId != null and userInfoGroupId != ''">
                and tbmc.group_type = 1
            </if>
            <if test="batteryModel != null and batteryModel != ''">
                and tmcbt.mid is null
            </if>
        </where>
    </sql>
    <select id="selectListSuperAdminPage" resultMap="BatteryMemberCardTypePageMap">
        SELECT
        <include refid="column"/>
        FROM
        t_battery_member_card tbmc
        LEFT JOIN t_member_card_battery_type tmcbt ON tbmc.id = tmcbt.mid
        <include refid="pageFilter"/>
        group by tbmc.id
        order by tbmc.status, tbmc.sort_param desc
        limit #{offset}, #{size}
    </select>

</mapper>
