<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.BatteryModelMapper">

    <resultMap type="com.xiliulou.electricity.entity.BatteryModel" id="BatteryModelMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="mid" column="mid" jdbcType="INTEGER"/>
        <result property="batteryModel" column="battery_model" jdbcType="INTEGER"/>
        <result property="batteryType" column="battery_type" jdbcType="VARCHAR"/>
        <result property="batteryV" column="battery_v" jdbcType="NUMERIC"/>
        <result property="batteryVShort" column="battery_v_short" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
        <result property="tenantId" column="tenant_id" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="BatteryModelMap">
        select
          id, mid,battery_model, battery_type, battery_v, battery_v_short, del_flag, type, tenant_id, create_time, update_time
        from t_battery_model
        where id = #{id}
    </select>

    <select id="checkMidExist" resultType="Integer">
        select 1 from t_battery_model where del_flag=0 and mid = #{mid} LIMIT 1
    </select>

    <!--查询指定行数据-->
    <select id="selectByPage" resultType="com.xiliulou.electricity.vo.BatteryModelPageVO">
        select
        tbm.id,
        bm.name as material,
        tbm.battery_model,
        tbm.battery_type,
        tbm.battery_v,
        tbm.battery_v_short,
        tbm.create_time,
        tbm.update_time,
        tbm.type
        from t_battery_model tbm left join t_battery_material bm on tbm.mid=bm.id
        where tbm.del_flag=0
        <if test="batteryType != null and batteryType != ''">
            and tbm.battery_type = #{batteryType}
        </if>
        <if test="tenantId != null">
            and tbm.tenant_id = #{tenantId}
        </if>
        order by tbm.id desc
        limit #{offset}, #{size}
    </select>

    <select id="selectByPageCount" resultType="int">
        select
        count(1)
        from t_battery_model
        where del_flag=0
        <if test="batteryType != null and batteryType != ''">
            and battery_type = #{batteryType}
        </if>
        <if test="tenantId != null">
            and tenant_id = #{tenantId}
        </if>
    </select>

    <select id="selectShortBatteryType" resultType="string">
        select
        battery_v_short
        from t_battery_model
        where del_flag=0
        <if test="batteryType != null and batteryType != ''">
            and battery_type = #{batteryType}
        </if>
        <if test="batteryTypes != null">
            and battery_type in
            <foreach collection="batteryTypes" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        <if test="tenantId != null">
            and tenant_id = #{tenantId}
        </if>
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="BatteryModelMap">
        select
        id, mid,battery_model, battery_type, battery_v, battery_v_short, del_flag, type, tenant_id, create_time, update_time
        from t_battery_model
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="batteryModel != null">
                and battery_model = #{batteryModel}
            </if>
            <if test="batteryType != null and batteryType != ''">
                and battery_type = #{batteryType}
            </if>
            <if test="batteryV != null">
                and battery_v = #{batteryV}
            </if>
            <if test="batteryVShort != null and batteryVShort != ''">
                and battery_v_short = #{batteryVShort}
            </if>
            <if test="delFlag != null">
                and del_flag = #{delFlag}
            </if>
            <if test="tenantId != null">
                and tenant_id = #{tenantId}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insertOne" keyProperty="id" useGeneratedKeys="true">
        insert into t_battery_model(mid,battery_model, battery_type, battery_v, battery_v_short, del_flag, type, tenant_id, create_time, update_time)
        values (#{mid},#{batteryModel}, #{batteryType}, #{batteryV}, #{batteryVShort}, #{delFlag}, #{type}, #{tenantId}, #{createTime}, #{updateTime})
    </insert>


    <insert id="batchInsertDefaultBatteryModel" keyProperty="id" useGeneratedKeys="true">
        insert into t_battery_model(mid,battery_model, battery_type, battery_v, battery_v_short, del_flag, type,tenant_id, create_time, update_time)
        values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.mid},#{item.batteryModel}, #{item.batteryType}, #{item.batteryV}, #{item.batteryVShort}, #{item.delFlag}, #{item.type}, #{item.tenantId}, #{item.createTime}, #{item.updateTime})
        </foreach>
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update t_battery_model
        <set>
            <if test="mid != null">
                mid = #{mid},
            </if>
            <if test="batteryModel != null">
                battery_model = #{batteryModel},
            </if>
            <if test="batteryType != null and batteryType != ''">
                battery_type = #{batteryType},
            </if>
            <if test="batteryV != null">
                battery_v = #{batteryV},
            </if>
            <if test="batteryVShort != null and batteryVShort != ''">
                battery_v_short = #{batteryVShort},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="tenantId != null">
                tenant_id = #{tenantId},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from t_battery_model where id = #{id}
    </delete>

</mapper>
