<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.BatteryMemberCardOrderCouponMapper">

    <resultMap type="com.xiliulou.electricity.entity.BatteryMemberCardOrderCoupon" id="BatteryMemberCardOrderCouponMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="orderId" column="order_id" jdbcType="VARCHAR"/>
        <result property="couponId" column="coupon_id" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="INTEGER"/>
        <result property="tenantId" column="tenant_id" jdbcType="INTEGER"/>
    </resultMap>


    <select id="selectOrderIdByCouponId" resultType="string">
        select   order_id    from t_battery_member_card_order_coupon
        where coupon_id = #{couponId}
    </select>


    <select id="selectCouponIdsByOrderId" resultType="long">
        select coupon_id
        from t_battery_member_card_order_coupon
        where order_id = #{orderId}
    </select>

    <!--新增所有列-->
    <insert id="batchInsert">
        insert into t_battery_member_card_order_coupon(order_id, coupon_id, create_time, update_time, tenant_id) values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.orderId}, #{item.couponId}, #{item.createTime}, #{item.updateTime}, #{item.tenantId})
        </foreach>
    </insert>

</mapper>
