<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.BatteryMemberCardMapper">

    <resultMap type="com.xiliulou.electricity.entity.BatteryMemberCard" id="BatteryMemberCardMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="deposit" column="deposit" jdbcType="NUMERIC"/>
        <result property="rentPrice" column="rent_price" jdbcType="NUMERIC"/>
        <result property="rentPriceUnit" column="rent_price_unit" jdbcType="NUMERIC"/>
        <result property="validDays" column="valid_days" jdbcType="INTEGER"/>
        <result property="rentUnit" column="rent_unit" jdbcType="INTEGER"/>
        <result property="franchiseeId" column="franchisee_id" jdbcType="INTEGER"/>
        <result property="rentType" column="rent_type" jdbcType="INTEGER"/>
        <result property="sendCoupon" column="send_coupon" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="limitCount" column="limit_count" jdbcType="INTEGER"/>
        <result property="useCount" column="use_count" jdbcType="INTEGER"/>
        <result property="couponId" column="coupon_id" jdbcType="INTEGER"/>
        <result property="isRefund" column="is_refund" jdbcType="INTEGER"/>
        <result property="refundLimit" column="refund_limit" jdbcType="INTEGER"/>
        <result property="freeDeposite" column="free_deposite" jdbcType="INTEGER"/>
        <result property="serviceCharge" column="service_charge" jdbcType="NUMERIC"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="businessType" column="business_type" jdbcType="INTEGER"/>
        <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
        <result property="tenantId" column="tenant_id" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap type="com.xiliulou.electricity.vo.BatteryMemberCardAndTypeVO" id="BatteryMemberCardTypeMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="deposit" column="deposit" jdbcType="NUMERIC"/>
        <result property="rentPrice" column="rent_price" jdbcType="NUMERIC"/>
        <result property="rentPriceUnit" column="rent_price_unit" jdbcType="NUMERIC"/>
        <result property="validDays" column="valid_days" jdbcType="INTEGER"/>
        <result property="rentUnit" column="rent_unit" jdbcType="INTEGER"/>
        <result property="franchiseeId" column="franchisee_id" jdbcType="INTEGER"/>
        <result property="rentType" column="rent_type" jdbcType="INTEGER"/>
        <result property="sendCoupon" column="send_coupon" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="limitCount" column="limit_count" jdbcType="INTEGER"/>
        <result property="useCount" column="use_count" jdbcType="INTEGER"/>
        <result property="couponId" column="coupon_id" jdbcType="INTEGER"/>
        <result property="isRefund" column="is_refund" jdbcType="INTEGER"/>
        <result property="refundLimit" column="refund_limit" jdbcType="INTEGER"/>
        <result property="freeDeposite" column="free_deposite" jdbcType="INTEGER"/>
        <result property="serviceCharge" column="service_charge" jdbcType="NUMERIC"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="businessType" column="business_type" jdbcType="INTEGER"/>
        <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
        <result property="tenantId" column="tenant_id" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="INTEGER"/>
        <collection property="batteryType" resultMap="memberCardBatteryType"/>
    </resultMap>

    <resultMap id="memberCardBatteryType" type="com.xiliulou.electricity.entity.MemberCardBatteryType">
        <id column="id" property="id"/>
        <result column="battery_type" property="batteryType"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="BatteryMemberCardMap">
        select
          id, name, deposit, rent_price, rent_price_unit, valid_days, rent_unit, franchisee_id, rent_type, send_coupon, status, limit_count, use_count, coupon_id, is_refund, refund_limit, free_deposite, service_charge, remark, business_type, del_flag, tenant_id, create_time, update_time
        from t_battery_member_card
        where id = #{id}
    </select>

    <select id="selectBySearch" resultMap="BatteryMemberCardMap">
        select
        id, name
        from t_battery_member_card
        <where>
            business_type=0
            <if test="franchiseeId != null">
                and franchisee_id = #{franchiseeId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="name != null and name != ''">
                and name like concat('%',#{name,jdbcType=VARCHAR},'%')
            </if>
            <if test="rentType != null and rentType==1">
                and rent_type in (1,0)
            </if>
            <if test="rentType != null and rentType==2">
                and rent_type in (2,0)
            </if>
            <if test="tenantId != null">
                and tenant_id = #{tenantId}
            </if>
            <if test="delFlag != null">
                and del_flag = #{delFlag}
            </if>
            <if test="franchiseeIds != null">
                and franchisee_id in
                <foreach collection="franchiseeIds" item="id" index="index" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
        </where>
        order by id desc
        limit #{offset}, #{size}
    </select>

    <select id="selectByPage" resultMap="BatteryMemberCardMap">
        select
        id, name, deposit, rent_price, rent_price_unit, valid_days, rent_unit, franchisee_id, rent_type, send_coupon,
        status, limit_count, use_count, coupon_id, is_refund, refund_limit, free_deposite,
        service_charge, remark, business_type, del_flag, tenant_id, create_time, update_time
        from t_battery_member_card
        <where>
            business_type=0
            <if test="franchiseeId != null">
                and franchisee_id = #{franchiseeId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="name != null and name != ''">
                and name like concat('%',#{name,jdbcType=VARCHAR},'%')
            </if>
            <if test="rentType != null">
                and rent_type = #{rentType}
            </if>
            <if test="rentUnit != null">
                and rent_unit = #{rentUnit}
            </if>
            <if test="tenantId != null">
                and tenant_id = #{tenantId}
            </if>
            <if test="delFlag != null">
                and del_flag = #{delFlag}
            </if>
            <if test="franchiseeIds != null">
                and franchisee_id in
                <foreach collection="franchiseeIds" item="id" index="index" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
        </where>
        order by id desc
        limit #{offset}, #{size}
    </select>

    <select id="selectByQuery" resultMap="BatteryMemberCardMap">
        select
        id, name, deposit, rent_price, rent_price_unit, valid_days, rent_unit, franchisee_id, rent_type, send_coupon,
        status, limit_count, use_count, coupon_id, is_refund, refund_limit, free_deposite, service_charge, remark, business_type, del_flag, tenant_id, create_time, update_time
        from t_battery_member_card
        <where>
            business_type=0
            <if test="franchiseeId != null">
                and franchisee_id = #{franchiseeId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="name != null and name != ''">
                and name like concat('%',#{name,jdbcType=VARCHAR},'%')
            </if>
            <if test="rentType != null">
                and rent_type = #{rentType}
            </if>
            <if test="tenantId != null">
                and tenant_id = #{tenantId}
            </if>
            <if test="isRefund != null">
                and is_refund = #{isRefund}
            </if>
            <if test="delFlag != null">
                and del_flag = #{delFlag}
            </if>
            <if test="franchiseeIds != null">
                and franchisee_id in
                <foreach collection="franchiseeIds" item="id" index="index" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
        </where>
        order by id desc
        <if test="offset != null and size != null">
            limit #{offset}, #{size}
        </if>
    </select>

    <select id="selectByPageForUser" resultMap="BatteryMemberCardTypeMap">
        select
        bmc.id,
        bmc.name,
        bmc.deposit,
        bmc.rent_price,
        bmc.rent_price_unit,
        bmc.valid_days,
        bmc.rent_unit,
        bmc.franchisee_id,
        bmc.rent_type,
        bmc.send_coupon,
        bmc.status,
        bmc.limit_count,
        bmc.use_count,
        bmc.coupon_id,
        bmc.is_refund,
        bmc.refund_limit,
        bmc.free_deposite,
        bmc.service_charge,
        mcbt.battery_type battery_type
        from t_battery_member_card bmc
        left join t_member_card_battery_type mcbt on bmc.id=mcbt.mid
        <where>
            bmc.business_type=0 and bmc.status=0 and bmc.del_flag=0
            <if test="batteryV != null and batteryV != ''">
                and mcbt.battery_v = #{batteryV}
            </if>
            <if test="deposit != null">
                and bmc.deposit = #{deposit}
            </if>
            <if test="franchiseeId != null">
                and bmc.franchisee_id = #{franchiseeId}
            </if>
            <if test="status != null">
                and bmc.status = #{status}
            </if>
            <if test="limitCount != null">
                and bmc.limit_count = #{limitCount}
            </if>
            <if test="name != null and name != ''">
                and bmc.name like concat('%',#{name,jdbcType=VARCHAR},'%')
            </if>
            <if test="tenantId != null">
                and bmc.tenant_id = #{tenantId}
            </if>
            <if test="rentTypes != null">
                and bmc.rent_type in
                <foreach collection="rentTypes" item="id" index="index" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
        </where>
        order by bmc.id desc
        limit #{offset}, #{size}
    </select>

    <select id="selectMembercardBatteryV" resultType="com.xiliulou.electricity.vo.BatteryMemberCardVO">
        select
        bmc.id,
        mcbt.battery_v
        from t_battery_member_card bmc left join t_member_card_battery_type mcbt on bmc.id=mcbt.mid
        <where>
            bmc.business_type=0
            <if test="batteryV != null and batteryV != ''">
                and mcbt.battery_v = #{batteryV}
            </if>
            <if test="franchiseeId != null">
                and bmc.franchisee_id = #{franchiseeId}
            </if>
            <if test="status != null">
                and bmc.status = #{status}
            </if>
            <if test="name != null and name != ''">
                and bmc.name like concat('%',#{name,jdbcType=VARCHAR},'%')
            </if>
            <if test="rentType != null">
                and bmc.rent_type = #{rentType}
            </if>
            <if test="tenantId != null">
                and bmc.tenant_id = #{tenantId}
            </if>
            <if test="delFlag != null">
                and bmc.del_flag = #{delFlag}
            </if>
            <if test="franchiseeId != null">
                and bmc.franchisee_id = #{franchiseeId}
            </if>
        </where>
    </select>

    <select id="selectByPageCount" resultType="int">
        select
        count(*)
        from t_battery_member_card
        <where>
            business_type=0
            <if test="franchiseeId != null">
                and franchisee_id = #{franchiseeId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="name != null and name != ''">
                and name like concat('%',#{name,jdbcType=VARCHAR},'%')
            </if>
            <if test="rentType != null">
                and rent_type = #{rentType}
            </if>
            <if test="rentUnit != null">
                and rent_unit = #{rentUnit}
            </if>
            <if test="tenantId != null">
                and tenant_id = #{tenantId}
            </if>
            <if test="delFlag != null">
                and del_flag = #{delFlag}
            </if>
            <if test="franchiseeIds != null">
                and franchisee_id in
                <foreach collection="franchiseeIds" item="id" index="index" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>

    <select id="checkMembercardExist" resultType="Integer">
        select 1 from t_battery_member_card where name=#{name} and business_type=0 and tenant_id = #{tenantId} LIMIT 1
    </select>

    <!--通过主键修改数据-->
    <update id="update">
        update t_battery_member_card
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="deposit != null">
                deposit = #{deposit},
            </if>
            <if test="rentPrice != null">
                rent_price = #{rentPrice},
            </if>
            <if test="rentPriceUnit != null">
                rent_price_unit = #{rentPriceUnit},
            </if>
            <if test="validDays != null">
                valid_days = #{validDays},
            </if>
            <if test="rentUnit != null">
                rent_unit = #{rentUnit},
            </if>
            <if test="franchiseeId != null">
                franchisee_id = #{franchiseeId},
            </if>
            <if test="rentType != null">
                rent_type = #{rentType},
            </if>
            <if test="sendCoupon != null">
                send_coupon = #{sendCoupon},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            coupon_id = #{couponId},
            <if test="limitCount != null">
                limit_count = #{limitCount},
            </if>
            <if test="useCount != null">
                use_count = #{useCount},
            </if>
            <if test="isRefund != null">
                is_refund = #{isRefund},
            </if>
            <if test="refundLimit != null">
                refund_limit = #{refundLimit},
            </if>
            <if test="freeDeposite != null">
                free_deposite = #{freeDeposite},
            </if>
            <if test="serviceCharge != null">
                service_charge = #{serviceCharge},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
            <if test="businessType != null">
                business_type = #{businessType},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from t_battery_member_card where id = #{id}
    </delete>

</mapper>
