<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.CarAttrMapper">
    
    <select id="getGpsList" resultType="com.xiliulou.electricity.entity.clickhouse.CarAttr">
        select dev_id devId,longitude,latitude ,create_time createTime from t_car_attr
        <where>
            dev_id = #{devId}
            and create_time &gt;= #{beginTime}
            and create_tme &lt;=#{endTime}
            order by create_time desc
            limit #{offset}, #{size}
        </where>
    </select>

</mapper>
