<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.CarDepositOrderMapper">

    <resultMap type="com.xiliulou.electricity.entity.CarDepositOrder" id="CarDepositOrderMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="uid" column="uid" jdbcType="INTEGER"/>
        <result property="orderId" column="order_id" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="franchiseeId" column="franchisee_id" jdbcType="INTEGER"/>
        <result property="payAmount" column="pay_amount" jdbcType="NUMERIC"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="storeId" column="store_id" jdbcType="INTEGER"/>
        <result property="carModelId" column="car_model_id" jdbcType="INTEGER"/>
        <result property="payType" column="pay_type" jdbcType="INTEGER"/>
        <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
        <result property="tenantId" column="tenant_id" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="INTEGER"/>
    </resultMap>

    <!-- 基础字段 -->
    <sql id="selectCarDepositOrder">
       	select   id, uid, order_id, name, phone, franchisee_id, pay_amount, status, store_id, car_model_id, pay_type, rent_battery, del_flag, tenant_id, create_time, update_time        from t_car_deposit_order
    </sql>

    <!--查询单个-->
    <select id="selectById" resultMap="CarDepositOrderMap">
        <include refid="selectCarDepositOrder"/>
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="selectByPage" resultMap="CarDepositOrderMap">
        <include refid="selectCarDepositOrder"/>
        <where>
            <if test="orderId != null and orderId != ''">
                and order_id = #{orderId}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="phone != null and phone != ''">
                and phone = #{phone}
            </if>
            <if test="franchiseeId != null">
                and franchisee_id = #{franchiseeId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="payType != null">
                and pay_type = #{payType}
            </if>
            <if test="delFlag != null">
                and del_flag = #{delFlag}
            </if>
            <if test="tenantId != null">
                and tenant_id = #{tenantId}
            </if>
            <if test="beginTime != null ">
                and create_time &gt;= #{beginTime}
            </if>
            <if test="endTime != null">
                and create_time &lt;= #{endTime}
            </if>
        </where>
        order by create_time desc
        limit #{offset}, #{size}
    </select>

    <select id="selectPageCount" resultType="int">
       select count(1) from t_car_deposit_order
        <where>
            <if test="orderId != null and orderId != ''">
                and order_id = #{orderId}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="phone != null and phone != ''">
                and phone = #{phone}
            </if>
            <if test="franchiseeId != null">
                and franchisee_id = #{franchiseeId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="payType != null">
                and pay_type = #{payType}
            </if>
            <if test="delFlag != null">
                and del_flag = #{delFlag}
            </if>
            <if test="tenantId != null">
                and tenant_id = #{tenantId}
            </if>
            <if test="beginTime != null ">
                and create_time &gt;= #{beginTime}
            </if>
            <if test="endTime != null">
                and create_time &lt;= #{endTime}
            </if>
        </where>
    </select>


    <!--通过实体作为筛选条件查询-->
    <select id="selectByQuery" resultMap="CarDepositOrderMap">
        <include refid="selectCarDepositOrder"/>
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="uid != null">
                and uid = #{uid}
            </if>
            <if test="orderId != null and orderId != ''">
                and order_id = #{orderId}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="phone != null and phone != ''">
                and phone = #{phone}
            </if>
            <if test="franchiseeId != null">
                and franchisee_id = #{franchiseeId}
            </if>
            <if test="payAmount != null">
                and pay_amount = #{payAmount}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="storeId != null">
                and store_id = #{storeId}
            </if>
            <if test="carModelId != null">
                and car_model_id = #{carModelId}
            </if>
            <if test="payType != null">
                and pay_type = #{payType}
            </if>
            <if test="delFlag != null">
                and del_flag = #{delFlag}
            </if>
            <if test="tenantId != null">
                and tenant_id = #{tenantId}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insertOne" keyProperty="id" useGeneratedKeys="true">
        insert into t_car_deposit_order(uid, order_id, name, phone, franchisee_id, pay_amount,rent_battery, status, store_id, car_model_id, pay_type, del_flag, tenant_id, create_time, update_time)
        values (#{uid}, #{orderId}, #{name}, #{phone}, #{franchiseeId}, #{payAmount},#{rentBattery}, #{status}, #{storeId}, #{carModelId}, #{payType}, #{delFlag}, #{tenantId}, #{createTime}, #{updateTime})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update t_car_deposit_order
        <set>
            <if test="uid != null">
                uid = #{uid},
            </if>
            <if test="orderId != null and orderId != ''">
                order_id = #{orderId},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="franchiseeId != null">
                franchisee_id = #{franchiseeId},
            </if>
            <if test="payAmount != null">
                pay_amount = #{payAmount},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="storeId != null">
                store_id = #{storeId},
            </if>
            <if test="carModelId != null">
                car_model_id = #{carModelId},
            </if>
            <if test="payType != null">
                pay_type = #{payType},
            </if>
            <if test="rentBattery != null">
                rent_battery = #{rentBattery},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag},
            </if>
            <if test="tenantId != null">
                tenant_id = #{tenantId},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from t_car_deposit_order where id = #{id}
    </delete>

</mapper>
