<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.CarLockCtrlHistoryMapper">
    
    <resultMap type="com.xiliulou.electricity.entity.CarLockCtrlHistory" id="CarLockCtrlHistoryMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="uid" column="uid" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="carId" column="car_id" jdbcType="INTEGER"/>
        <result property="carSn" column="car_sn" jdbcType="VARCHAR"/>
        <result property="carModel" column="car_model" jdbcType="VARCHAR"/>
        <result property="carModelId" column="car_model_id" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="INTEGER"/>
        <result property="tenantId" column="tenant_id" jdbcType="INTEGER"/>
    </resultMap>
    
    <!--查询单个-->
    <select id="queryById" resultMap="CarLockCtrlHistoryMap">
        select
          id, uid, name, phone, status, type, car_id, car_sn, car_model, car_model_id, create_time, update_time, tenant_id
        from t_car_lock_ctrl_history
        where id = #{id}
    </select>
    
    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="CarLockCtrlHistoryMap">
        select
          id, uid, name, phone, status, type, car_id, car_sn, car_model, car_model_id, create_time, update_time, tenant_id
        from t_car_lock_ctrl_history
        limit #{offset}, #{limit}
    </select>
    
    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="CarLockCtrlHistoryMap">
        select
        id, uid, name, phone, status, type, car_id, car_sn, car_model, car_model_id, create_time,
        update_time, tenant_id
        from t_car_lock_ctrl_history
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="uid != null">
                and uid = #{uid}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="phone != null and phone != ''">
                and phone = #{phone}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
            <if test="carId != null">
                and car_id = #{carId}
            </if>
            <if test="carSn != null and carSn != ''">
                and car_sn = #{carSn}
            </if>
            <if test="carModel != null and carModel != ''">
                and car_model = #{carModel}
            </if>
            <if test="carModelId != null">
                and car_model_id = #{carModelId}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="tenantId != null">
                and tenant_id = #{tenantId}
            </if>
        </where>
    </select>
    
    <!--新增所有列-->
    <insert id="insertOne" keyProperty="id" useGeneratedKeys="true">
        insert into t_car_lock_ctrl_history(uid, name, phone, status, type, car_id, car_sn, car_model, car_model_id, create_time, update_time, tenant_id)
        values (#{uid}, #{name}, #{phone}, #{status}, #{type}, #{carId}, #{carSn}, #{carModel}, #{carModelId}, #{createTime}, #{updateTime}, #{tenantId})
    </insert>
    
    <!--通过主键修改数据-->
    <update id="update">
        update t_car_lock_ctrl_history
        <set>
            <if test="uid != null">
                uid = #{uid},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="carId != null">
                car_id = #{carId},
            </if>
            <if test="carSn != null and carSn != ''">
                car_sn = #{carSn},
            </if>
            <if test="carModel != null and carModel != ''">
                car_model = #{carModel},
            </if>
            <if test="carModelId != null">
                car_model_id = #{carModelId},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="tenantId != null">
                tenant_id = #{tenantId},
            </if>
        </set>
        where id = #{id}
    </update>
    
    <!--通过主键删除-->
    <delete id="deleteById">
        delete from t_car_lock_ctrl_history where id = #{id}
    </delete>
    
    <select id="queryList" resultType="com.xiliulou.electricity.vo.CarLockCtrlHistoryVo">
        select
        clch.id,
        clch.uid,
        clch.name,
        clch.phone,
        clch.status,
        clch.type,
        clch.car_id,
        clch.car_sn,
        clch.car_model,
        clch.car_model_id,
        clch.create_time,
        clch.update_time
        from t_car_lock_ctrl_history clch
        left join t_electricity_car tec on clch.car_id=tec.id
        <where>
            clch.tenant_id = #{tenantId}
            <if test="name != null and name != ''">
                and clch.name like concat('%', #{name}, '%')
            </if>
            <if test="phone != null and phone != ''">
                and clch.phone like concat('%', #{phone}, '%')
            </if>
            <if test="uid != null">
                and clch.uid = #{uid}
            </if>
            <if test="carSn != null and carSn != ''">
                and clch.car_sn like concat('%', #{carSn}, '%')
            </if>
            <if test="beginTime != null">
                and clch.create_time &gt; #{beginTime}
            </if>
            <if test="endTime != null">
                and clch.create_time &lt; #{endTime}
            </if>
            <if test="franchiseeIds != null and franchiseeIds.size()>0">
                and tec.franchisee_id in
                <foreach collection="franchiseeIds" item="id" index="index" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
            <if test="storeIds != null and storeIds.size()>0">
                and tec.store_id in
                <foreach collection="storeIds" item="id" index="index" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
        </where>
        order by clch.create_time desc
        limit #{offset}, #{size}
    </select>
    
    <select id="queryCount" resultType="integer">
        select
        count(*)
        from t_car_lock_ctrl_history clch
        left join t_electricity_car tec on clch.car_id=tec.id
        <where>
            clch.tenant_id = #{tenantId}
            <if test="name != null and name != ''">
                and clch.name like concat('%', #{name}, '%')
            </if>
            <if test="phone != null and phone != ''">
                and clch.phone like concat('%', #{phone}, '%')
            </if>
            <if test="uid != null">
                and clch.uid = #{uid}
            </if>
            <if test="carSn != null and carSn != ''">
                and clch.car_sn like concat('%', #{carSn}, '%')
            </if>
            <if test="beginTime != null">
                and clch.create_time &gt; #{beginTime}
            </if>
            <if test="endTime != null">
                and clch.create_time &lt; #{endTime}
            </if>
            <if test="franchiseeIds != null and franchiseeIds.size()>0">
                and tec.franchisee_id in
                <foreach collection="franchiseeIds" item="id" index="index" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
            <if test="storeIds != null and storeIds.size()>0">
                and tec.store_id in
                <foreach collection="storeIds" item="id" index="index" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>
</mapper>
