<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.CarMemberCardOrderMapper">

    <resultMap type="com.xiliulou.electricity.entity.CarMemberCardOrder" id="CarMemberCardOrderMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="uid" column="uid" jdbcType="INTEGER"/>
        <result property="orderId" column="order_id" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="carModelId" column="car_model_id" jdbcType="INTEGER"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
        <result property="memberCardType" column="member_card_type" jdbcType="VARCHAR"/>
        <result property="cardName" column="card_name" jdbcType="VARCHAR"/>
        <result property="payType" column="pay_type" jdbcType="INTEGER"/>
        <result property="payAmount" column="pay_amount" jdbcType="NUMERIC"/>
        <result property="validDays" column="valid_days" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="INTEGER"/>
        <result property="storeId" column="store_id" jdbcType="INTEGER"/>
        <result property="franchiseeId" column="franchisee_id" jdbcType="INTEGER"/>
        <result property="tenantId" column="tenant_id" jdbcType="INTEGER"/>
    </resultMap>

    <!-- 基础字段 -->
    <sql id="selectCarMemberCardOrder">
       	select   id, uid, order_id, status, car_model_id, user_name, member_card_type, card_name, pay_type, pay_amount, valid_days, create_time, update_time, store_id, franchisee_id, tenant_id        from t_car_member_card_order
    </sql>

    <!--查询单个-->
    <select id="selectById" resultMap="CarMemberCardOrderMap">
        <include refid="selectCarMemberCardOrder"/>
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="selectByPage" resultMap="CarMemberCardOrderMap">
        <include refid="selectCarMemberCardOrder"/>
        <where>

            <if test="orderId != null and orderId != ''">
                and order_id = #{orderId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="carModelId != null">
                and car_model_id = #{carModelId}
            </if>
            <if test="userName != null and userName != ''">
                and user_name = #{userName}
            </if>
            <if test="memberCardType != null and memberCardType != ''">
                and member_card_type = #{memberCardType}
            </if>
            <if test="cardName != null and cardName != ''">
                and card_name = #{cardName}
            </if>
            <if test="payType != null">
                and pay_type = #{payType}
            </if>
            <if test="payAmount != null">
                and pay_amount = #{payAmount}
            </if>
            <if test="validDays != null">
                and valid_days = #{validDays}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="storeId != null">
                and store_id = #{storeId}
            </if>
            <if test="franchiseeId != null">
                and franchisee_id = #{franchiseeId}
            </if>
            <if test="tenantId != null">
                and tenant_id = #{tenantId}
            </if>
        </where>
        order by create_time desc
        limit #{offset}, #{size}
    </select>

    <select id="selectByPageCount" resultMap="CarMemberCardOrderMap">
       select count(1) from t_car_member_card_order
        <where>
            <if test="orderId != null and orderId != ''">
                and order_id = #{orderId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="carModelId != null">
                and car_model_id = #{carModelId}
            </if>
            <if test="userName != null and userName != ''">
                and user_name = #{userName}
            </if>
            <if test="memberCardType != null and memberCardType != ''">
                and member_card_type = #{memberCardType}
            </if>
            <if test="cardName != null and cardName != ''">
                and card_name = #{cardName}
            </if>
            <if test="payType != null">
                and pay_type = #{payType}
            </if>
            <if test="payAmount != null">
                and pay_amount = #{payAmount}
            </if>
            <if test="validDays != null">
                and valid_days = #{validDays}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="storeId != null">
                and store_id = #{storeId}
            </if>
            <if test="franchiseeId != null">
                and franchisee_id = #{franchiseeId}
            </if>
            <if test="tenantId != null">
                and tenant_id = #{tenantId}
            </if>
        </where>
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="selectByQuery" resultMap="CarMemberCardOrderMap">
        <include refid="selectCarMemberCardOrder"/>
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="uid != null">
                and uid = #{uid}
            </if>
            <if test="orderId != null and orderId != ''">
                and order_id = #{orderId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="carModelId != null">
                and car_model_id = #{carModelId}
            </if>
            <if test="userName != null and userName != ''">
                and user_name = #{userName}
            </if>
            <if test="memberCardType != null and memberCardType != ''">
                and member_card_type = #{memberCardType}
            </if>
            <if test="cardName != null and cardName != ''">
                and card_name = #{cardName}
            </if>
            <if test="payType != null">
                and pay_type = #{payType}
            </if>
            <if test="payAmount != null">
                and pay_amount = #{payAmount}
            </if>
            <if test="validDays != null">
                and valid_days = #{validDays}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="storeId != null">
                and store_id = #{storeId}
            </if>
            <if test="franchiseeId != null">
                and franchisee_id = #{franchiseeId}
            </if>
            <if test="tenantId != null">
                and tenant_id = #{tenantId}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insertOne" keyProperty="id" useGeneratedKeys="true">
        insert into t_car_member_card_order(uid, order_id, status, car_model_id, user_name, member_card_type, card_name, pay_type, pay_amount, valid_days, create_time, update_time, store_id, franchisee_id, tenant_id)
        values (#{uid}, #{orderId}, #{status}, #{carModelId}, #{userName}, #{memberCardType}, #{cardName}, #{payType}, #{payAmount}, #{validDays}, #{createTime}, #{updateTime}, #{storeId}, #{franchiseeId}, #{tenantId})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update t_car_member_card_order
        <set>
            <if test="uid != null">
                uid = #{uid},
            </if>
            <if test="orderId != null and orderId != ''">
                order_id = #{orderId},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="carModelId != null">
                car_model_id = #{carModelId},
            </if>
            <if test="userName != null and userName != ''">
                user_name = #{userName},
            </if>
            <if test="memberCardType != null and memberCardType != ''">
                member_card_type = #{memberCardType},
            </if>
            <if test="cardName != null and cardName != ''">
                card_name = #{cardName},
            </if>
            <if test="payType != null">
                pay_type = #{payType},
            </if>
            <if test="payAmount != null">
                pay_amount = #{payAmount},
            </if>
            <if test="validDays != null">
                valid_days = #{validDays},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="storeId != null">
                store_id = #{storeId},
            </if>
            <if test="franchiseeId != null">
                franchisee_id = #{franchiseeId},
            </if>
            <if test="tenantId != null">
                tenant_id = #{tenantId},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from t_car_member_card_order where id = #{id}
    </delete>

</mapper>
