<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.CarMemberCardOrderMapper">

    <resultMap type="com.xiliulou.electricity.entity.CarMemberCardOrder" id="CarMemberCardOrderMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="uid" column="uid" jdbcType="INTEGER"/>
        <result property="orderId" column="order_id" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="carModelId" column="car_model_id" jdbcType="INTEGER"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
        <result property="memberCardType" column="member_card_type" jdbcType="VARCHAR"/>
        <result property="cardName" column="card_name" jdbcType="VARCHAR"/>
        <result property="payType" column="pay_type" jdbcType="INTEGER"/>
        <result property="payAmount" column="pay_amount" jdbcType="NUMERIC"/>
        <result property="validDays" column="valid_days" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="INTEGER"/>
        <result property="storeId" column="store_id" jdbcType="INTEGER"/>
        <result property="franchiseeId" column="franchisee_id" jdbcType="INTEGER"/>
        <result property="tenantId" column="tenant_id" jdbcType="INTEGER"/>
    </resultMap>

    <!-- 基础字段 -->
    <sql id="selectCarMemberCardOrder">
       	select   id, uid, order_id, status, car_model_id, user_name, member_card_type, card_name, pay_type, pay_amount, valid_days, create_time, update_time, store_id, franchisee_id, tenant_id        from t_car_member_card_order
    </sql>

    <!--查询单个-->
    <select id="selectById" resultMap="CarMemberCardOrderMap">
        <include refid="selectCarMemberCardOrder"/>
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="selectByPage" resultType="com.xiliulou.electricity.vo.CarMemberCardOrderVO">
        select
        tcco.id,
        tcco.uid,
        tcco.order_id,
        tcco.status,
        tcco.car_model_id,
        tcco.member_card_type,
        tcco.card_name,
        tcco.pay_type,
        tcco.pay_amount,
        tcco.valid_days,
        tcco.create_time,
        tcco.update_time,
        tcco.store_id,
        tcco.franchisee_id,
        tcco.name as user_name,
        tui.phone
        from t_car_member_card_order tcco left join t_user_info tui on tcco.uid=tui.uid
        <where>
            <if test="orderId != null and orderId != ''">
                and tcco.order_id = #{orderId}
            </if>
            <if test="uid != null">
                and tcco.uid = #{uid}
            </if>
            <if test="status != null">
                and tcco.status = #{status}
            </if>
            <if test="carModelId != null">
                and tcco.car_model_id = #{carModelId}
            </if>
            <if test="userName != null and userName != ''">
                and tcco.user_name = #{userName}
            </if>
            <if test="phone != null and phone != ''">
                and tui.phone = #{phone}
            </if>
            <if test="memberCardType != null and memberCardType != ''">
                and tcco.member_card_type = #{memberCardType}
            </if>
            <if test="cardName != null and cardName != ''">
                and tcco.card_name = #{cardName}
            </if>
            <if test="payType != null">
                and tcco.pay_type = #{payType}
            </if>
            <if test="payAmount != null">
                and tcco.pay_amount = #{payAmount}
            </if>
            <if test="validDays != null">
                and tcco.valid_days = #{validDays}
            </if>
            <if test="beginTime != null">
                and tcco.create_time &gt;= #{beginTime}
            </if>
            <if test="endTime != null">
                and tcco.create_time &lt;= #{endTime}
            </if>
            <if test="storeId != null">
                and tcco.store_id = #{storeId}
            </if>
            <if test="franchiseeId != null">
                and tcco.franchisee_id = #{franchiseeId}
            </if>
            <if test="tenantId != null">
                and tcco.tenant_id = #{tenantId}
            </if>
            <if test="franchiseeIds != null">
                and tcco.franchisee_id in
                <foreach collection="franchiseeIds" item="id" index="index" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
            <if test="storeIds != null ">
                and tcco.store_id in
                <foreach collection="storeIds" item="id" index="index" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
        </where>
        order by tcco.create_time desc
        limit #{offset}, #{size}
    </select>

    <select id="selectByPageCount" resultType="int">
        select count(1) from t_car_member_card_order
        <where>
            <if test="orderId != null and orderId != ''">
                and order_id = #{orderId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="carModelId != null">
                and car_model_id = #{carModelId}
            </if>
            <if test="userName != null and userName != ''">
                and user_name = #{userName}
            </if>
            <if test="memberCardType != null and memberCardType != ''">
                and member_card_type = #{memberCardType}
            </if>
            <if test="cardName != null and cardName != ''">
                and card_name = #{cardName}
            </if>
            <if test="payType != null">
                and pay_type = #{payType}
            </if>
            <if test="payAmount != null">
                and pay_amount = #{payAmount}
            </if>
            <if test="validDays != null">
                and valid_days = #{validDays}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="storeId != null">
                and store_id = #{storeId}
            </if>
            <if test="franchiseeId != null">
                and franchisee_id = #{franchiseeId}
            </if>
            <if test="tenantId != null">
                and tenant_id = #{tenantId}
            </if>
            <if test="franchiseeIds != null">
                and franchisee_id in
                <foreach collection="franchiseeIds" item="id" index="index" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
            <if test="storeIds != null ">
                and store_id in
                <foreach collection="storeIds" item="id" index="index" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="selectByQuery" resultMap="CarMemberCardOrderMap">
        <include refid="selectCarMemberCardOrder"/>
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="uid != null">
                and uid = #{uid}
            </if>
            <if test="orderId != null and orderId != ''">
                and order_id = #{orderId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="carModelId != null">
                and car_model_id = #{carModelId}
            </if>
            <if test="userName != null and userName != ''">
                and user_name = #{userName}
            </if>
            <if test="memberCardType != null and memberCardType != ''">
                and member_card_type = #{memberCardType}
            </if>
            <if test="cardName != null and cardName != ''">
                and card_name = #{cardName}
            </if>
            <if test="payType != null">
                and pay_type = #{payType}
            </if>
            <if test="payAmount != null">
                and pay_amount = #{payAmount}
            </if>
            <if test="validDays != null">
                and valid_days = #{validDays}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="storeId != null">
                and store_id = #{storeId}
            </if>
            <if test="franchiseeId != null">
                and franchisee_id = #{franchiseeId}
            </if>
            <if test="tenantId != null">
                and tenant_id = #{tenantId}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insertOne" keyProperty="id" useGeneratedKeys="true">
        insert into t_car_member_card_order(uid, order_id, status, car_model_id, user_name, member_card_type, card_name, pay_type, pay_amount, valid_days, create_time, update_time, store_id, franchisee_id, tenant_id)
        values (#{uid}, #{orderId}, #{status}, #{carModelId}, #{userName}, #{memberCardType}, #{cardName}, #{payType}, #{payAmount}, #{validDays}, #{createTime}, #{updateTime}, #{storeId}, #{franchiseeId}, #{tenantId})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update t_car_member_card_order
        <set>
            <if test="uid != null">
                uid = #{uid},
            </if>
            <if test="orderId != null and orderId != ''">
                order_id = #{orderId},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="carModelId != null">
                car_model_id = #{carModelId},
            </if>
            <if test="userName != null and userName != ''">
                user_name = #{userName},
            </if>
            <if test="memberCardType != null and memberCardType != ''">
                member_card_type = #{memberCardType},
            </if>
            <if test="cardName != null and cardName != ''">
                card_name = #{cardName},
            </if>
            <if test="payType != null">
                pay_type = #{payType},
            </if>
            <if test="payAmount != null">
                pay_amount = #{payAmount},
            </if>
            <if test="validDays != null">
                valid_days = #{validDays},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="storeId != null">
                store_id = #{storeId},
            </if>
            <if test="franchiseeId != null">
                franchisee_id = #{franchiseeId},
            </if>
            <if test="tenantId != null">
                tenant_id = #{tenantId},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from t_car_member_card_order where id = #{id}
    </delete>

    <select id="queryCarMemberCardTurnOver" resultType="decimal">
        select sum(pay_amount) from t_car_member_card_order
        where status=1 and pay_type=0
        <if test="tenantId != null">
            and tenant_id = #{tenantId}
        </if>
        <if test="todayStartTime != null">
            and create_time &gt;=#{todayStartTime}
        </if>
        <if test="franchiseeIds != null">
            and franchisee_id in
            <foreach collection="franchiseeIds" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
    </select>

    <select id="queryCarMemberCardTurnOverByCreateTime"            resultType="com.xiliulou.electricity.vo.HomePageTurnOverGroupByWeekDayVo">
        select sum(pay_amount) as turnOver,FROM_UNIXTIME( create_time / 1000, '%Y-%m-%d' ) as
        weekDate from t_car_member_card_order
        where status=1 and pay_type=0
        <if test="tenantId != null">
            and tenant_id = #{tenantId}
        </if>
        <if test="franchiseeIds != null">
            and franchisee_id in
            <foreach collection="franchiseeIds" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        <if test="beginTime != null">
            and create_time &gt;=#{beginTime}
        </if>
        <if test="endTime != null">
            and create_time &lt;=#{endTime}
        </if>
        GROUP BY
        weekDate
    </select>

</mapper>
