<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.CarRefundOrderMapper">
    
    <resultMap type="com.xiliulou.electricity.entity.CarRefundOrder" id="CarRefundOrderMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="orderId" column="order_id" jdbcType="VARCHAR"/>
        <result property="uid" column="uid" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="carId" column="car_id" jdbcType="INTEGER"/>
        <result property="carSn" column="car_sn" jdbcType="VARCHAR"/>
        <result property="carDeposit" column="car_deposit" jdbcType="NUMERIC"/>
        <result property="carModelId" column="car_model_id" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="INTEGER"/>
        <result property="storeId" column="store_id" jdbcType="INTEGER"/>
        <result property="tenantId" column="tenant_id" jdbcType="INTEGER"/>
        <result property="depositOrderId" column="deposit_order_id" jdbcType="VARCHAR"/>
    </resultMap>
    
    <!--查询单个-->
    <select id="queryById" resultMap="CarRefundOrderMap">
        select
          id, order_id, uid, name, phone, car_id, car_sn, car_deposit, car_model_id, status, remark, create_time, update_time, store_id, tenant_id, deposit_order_id
        from t_car_refund_order
        where id = #{id}
    </select>
    
    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="CarRefundOrderMap">
        select
          id, order_id, uid, name, phone, car_id, car_sn, car_deposit, car_model_id, status, remark, create_time, update_time, store_id, tenant_id, deposit_order_id
        from t_car_refund_order
        limit #{offset}, #{limit}
    </select>
    
    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="CarRefundOrderMap">
        select
        id, order_id, uid, name, phone, car_id, car_sn, car_deposit, car_model_id, status, remark, deposit_order_id
        create_time, update_time, store_id, tenant_id
        from t_car_refund_order
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="orderId != null and orderId != ''">
                and order_id = #{orderId}
            </if>
            <if test="uid != null">
                and uid = #{uid}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="phone != null and phone != ''">
                and phone = #{phone}
            </if>
            <if test="carId != null">
                and car_id = #{carId}
            </if>
            <if test="carSn != null and carSn != ''">
                and car_sn = #{carSn}
            </if>
            <if test="carDeposit != null">
                and car_deposit = #{carDeposit}
            </if>
            <if test="carModelId != null">
                and car_model_id = #{carModelId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="remark != null and remark != ''">
                and remark = #{remark}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="storeId != null">
                and store_id = #{storeId}
            </if>
            <if test="tenantId != null">
                and tenant_id = #{tenantId}
            </if>
        </where>
    </select>
    
    <!--新增所有列-->
    <insert id="insertOne" keyProperty="id" useGeneratedKeys="true">
        insert into t_car_refund_order(order_id, uid, name, phone, car_id, car_sn, car_deposit, car_model_id, status, remark, create_time, update_time, store_id, tenant_id, deposit_order_id)
        values (#{orderId}, #{uid}, #{name}, #{phone}, #{carId}, #{carSn}, #{carDeposit}, #{carModelId}, #{status}, #{remark}, #{createTime}, #{updateTime}, #{storeId}, #{tenantId}, #{depositOrderId})
    </insert>
    
    <!--通过主键修改数据-->
    <update id="update">
        update t_car_refund_order
        <set>
            <if test="orderId != null and orderId != ''">
                order_id = #{orderId},
            </if>
            <if test="uid != null">
                uid = #{uid},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="carId != null">
                car_id = #{carId},
            </if>
            <if test="carSn != null and carSn != ''">
                car_sn = #{carSn},
            </if>
            <if test="carDeposit != null">
                car_deposit = #{carDeposit},
            </if>
            <if test="carModelId != null">
                car_model_id = #{carModelId},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="storeId != null">
                store_id = #{storeId},
            </if>
            <if test="tenantId != null">
                tenant_id = #{tenantId},
            </if>
            <if test="depositOrderId != null and depositOrderId != ''">
                deposit_order_id = #{depositOrderId}
            </if>
        </set>
        where id = #{id}
    </update>
    
    <!--通过主键删除-->
    <delete id="deleteById">
        delete from t_car_refund_order where id = #{id}
    </delete>
    
    <select id="queryList" resultMap="CarRefundOrderMap">
        select
        id, order_id, uid, `name`, phone, car_id, car_sn, car_deposit, car_model_id, status, remark, create_time ,
        deposit_order_id
        update_time, store_id, tenant_id
        from t_car_refund_order
        <where>
            
            <if test="orderId != null and orderId != ''">
                and order_id = #{orderId}
            </if>
            <if test="userName != null and userName != ''">
                and `name` = #{userName}
            </if>
            <if test="phone != null and phone != ''">
                and phone = #{phone}
            </if>
            <if test="storeId != null">
                and store_id = #{storeId}
            </if>
        </where>
        order by create_time desc
        limit #{offset}, #{size}
    </select>
    
    <select id="queryCount" resultType="long">
        select
        count(*)
        from t_car_refund_order
        <where>
            <if test="orderId != null and orderId != ''">
                and order_id = #{orderId}
            </if>
            <if test="userName != null and userName != ''">
                and `name` = #{userName}
            </if>
            <if test="phone != null and phone != ''">
                and phone = #{phone}
            </if>
            <if test="storeId != null">
                and store_id = #{storeId}
            </if>
        </where>
    </select>
    
    <select id="queryCountByStatus" resultType="integer">
        select count(*)
        from t_car_refund_order
        where uid = #{uid} and tenant_id = #{tenantId}
        <if test="status != null">
            and status = #{status}
        </if>
    </select>
    
    <select id="queryStatusByLastCreateTime" resultType="integer">
        select status
        from t_car_refund_order
        where uid = #{uid} and tenant_id = #{tenantId} and car_sn = #{sn} and deposit_order_id = #{depositOrderId}
        order by create_time desc
        limit 1
    </select>
</mapper>
