<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.CouponMapper">


    <!--查询指定行数据-->
    <select id="queryList" resultType="com.xiliulou.electricity.entity.Coupon">
        select
          id, name, status, apply_type,  discount_type, amount, discount, count, days,  description,
          uid, user_name, create_time, update_time, del_flag,franchisee_id,type
        from t_coupon
        <where>
            <if test="query.name != null and query.name != ''">
                and name = #{query.name}
            </if>
            <if test="query.discountType != null">
                and discount_type = #{query.discountType}
            </if>
            <if test="query.franchiseeId!=null">
                and franchisee_id =#{query.franchiseeId}
            </if>
            <if test="query.applyType!=null">
                and apply_type =#{query.applyType}
            </if>
            <if test="query.tenantId != null ">
                and tenant_id = #{query.tenantId}
            </if>
        </where>
        order by create_time desc
        <if test="query.offset != null and query.size != null">
            limit #{query.offset}, #{query.size}
        </if>
    </select>

    <select id="queryCount" resultType="java.lang.Integer">
        select  COUNT(1)
        from t_coupon
        <where>
            <if test="query.name != null and query.name != ''">
                and name = #{query.name}
            </if>
            <if test="query.discountType != null">
                and discount_type = #{query.discountType}
            </if>
            <if test="query.franchiseeId!=null">
                and franchisee_id =#{query.franchiseeId}
            </if>
            <if test="query.applyType!=null">
                and apply_type =#{query.applyType}
            </if>
            <if test="query.tenantId != null ">
                and tenant_id = #{query.tenantId}
            </if>
        </where>
    </select>
    
    
    <!--通过主键删除-->
    <delete id="deleteById">
        delete from t_coupon where id = #{id} and tenant_id = #{tenantId}
    </delete>

</mapper>
