<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.DataScreenMapper">


    <select id="queryWeekElectricityOrderStatistic" resultType="com.xiliulou.electricity.vo.WeekOrderStatisticVo">
        SELECT
		count(1) as weekCount,
		FROM_UNIXTIME( create_time / 1000, '%Y-%m-%d' ) as weekDate
	    FROM
		t_electricity_cabinet_order
		<where>
			<if test="tenantId != null">
				and tenant_id = #{tenantId}
			</if>
			<if test="beginTime != null">
				and create_time &gt;=#{beginTime}
			</if>
		</where>
	    GROUP BY weekDate
    </select>

	<select id="queryWeekMemberCardStatistic" resultType="com.xiliulou.electricity.vo.WeekOrderStatisticVo">
		SELECT
		count(1) as weekCount,
		FROM_UNIXTIME( tel.create_time / 1000, '%Y-%m-%d' ) as weekDate
		FROM
		t_electricity_member_card_order tel
		LEFT JOIN t_user_info tui ON tui.uid = tel.uid
		LEFT JOIN t_franchisee tf ON tf.id = tel.franchisee_id
		<where>
			<if test="tenantId != null">
				and tel.tenant_id = #{tenantId}
			</if>
			<if test="beginTime != null">
				and tel.create_time &gt;=#{beginTime}
			</if>
		</where>
		GROUP BY
		weekDate
	</select>

	<select id="queryWeekRentBatteryStatistic" resultType="com.xiliulou.electricity.vo.WeekOrderStatisticVo">
		SELECT
		count(1) as weekCount,
		FROM_UNIXTIME( create_time / 1000, '%Y-%m-%d' ) as weekDate
		FROM
		t_rent_battery_order
		<where>
			<if test="tenantId != null">
				and tenant_id = #{tenantId}
			</if>
			<if test="beginTime != null">
				and create_time &gt;=#{beginTime}
			</if>
		</where>
		GROUP BY
		weekDate
	</select>

</mapper>
