<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.DivisionAccountRecordMapper">

    <resultMap type="com.xiliulou.electricity.entity.DivisionAccountRecord" id="DivisionAccountRecordMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="divisionAccountConfigId" column="division_account_config_id" jdbcType="INTEGER"/>
        <result property="uid" column="uid" jdbcType="INTEGER"/>
        <result property="membercardName" column="membercard_name" jdbcType="VARCHAR"/>
        <result property="orderNo" column="order_no" jdbcType="VARCHAR"/>
        <result property="price" column="price" jdbcType="NUMERIC"/>
        <result property="payAmount" column="pay_amount" jdbcType="NUMERIC"/>
        <result property="payTime" column="pay_time" jdbcType="INTEGER"/>
        <result property="operatorIncome" column="operator_income" jdbcType="NUMERIC"/>
        <result property="franchiseeIncome" column="franchisee_income" jdbcType="NUMERIC"/>
        <result property="storeIncome" column="store_income" jdbcType="NUMERIC"/>
        <result property="operatorRate" column="operator_rate" jdbcType="NUMERIC"/>
        <result property="franchiseeRate" column="franchisee_rate" jdbcType="NUMERIC"/>
        <result property="storeRate" column="store_rate" jdbcType="NUMERIC"/>
        <result property="tenantId" column="tenant_id" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="source" column="source" jdbcType="INTEGER"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="divisionAccountStatus" column="division_account_status" jdbcType="INTEGER"/>
        <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="DivisionAccountRecordMap">
        select
          id, division_account_config_id, membercard_name,uid,order_no, price, pay_amount, pay_time, operator_income, franchisee_income, store_income, operator_rate, franchisee_rate, store_rate, tenant_id, status, source, type, division_account_status, del_flag, create_time, update_time
        from t_division_account_record
        where id = #{id}
    </select>
    
    
    <select id="selectByOrderId" resultMap="DivisionAccountRecordMap">
        select
          id, division_account_config_id, membercard_name,uid,order_no, price, pay_amount, pay_time, operator_income, franchisee_income, store_income, operator_rate, franchisee_rate, store_rate, tenant_id, status, source, type, division_account_status, del_flag, create_time, update_time
        from t_division_account_record
        where order_no = #{orderId}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="DivisionAccountRecordMap">
        select
          id, division_account_config_id, membercard_name,uid,order_no, price, pay_amount, pay_time, operator_income, franchisee_income, store_income, operator_rate, franchisee_rate, store_rate, tenant_id, status, source, del_flag, create_time, update_time
        from t_division_account_record
        limit #{offset}, #{size}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="DivisionAccountRecordMap">
        select
        id, division_account_config_id, membercard_name,uid,order_no, price, pay_amount, pay_time, operator_income,
        franchisee_income, store_income, tenant_id, status, source, del_flag, create_time, update_time
        from t_division_account_record
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="divisionAccountConfigId != null">
                and division_account_config_id = #{divisionAccountConfigId}
            </if>
            <if test="membercardName != null and membercardName != ''">
                and membercard_name = #{membercardName}
            </if>
            <if test="price != null">
                and price = #{price}
            </if>
            <if test="payAmount != null">
                and pay_amount = #{payAmount}
            </if>
            <if test="payTime != null">
                and pay_time = #{payTime}
            </if>
            <if test="operatorIncome != null">
                and operator_income = #{operatorIncome}
            </if>
            <if test="franchiseeIncome != null">
                and franchisee_income = #{franchiseeIncome}
            </if>
            <if test="storeIncome != null">
                and store_income = #{storeIncome}
            </if>
            <if test="tenantId != null">
                and tenant_id = #{tenantId}
            </if>
            <if test="delFlag != null">
                and del_flag = #{delFlag}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
    </select>

    <select id="selectDAFreezeStatusRecordsByTime" resultMap="DivisionAccountRecordMap">
        select
            id,
            division_account_config_id,
            membercard_name,
            uid,
            order_no,
            price,
            pay_amount,
            pay_time,
            operator_income,
            franchisee_income,
            store_income,
            tenant_id,
            status,
            source,
            type,
            division_account_status,
            del_flag,
            create_time,
            update_time
        from t_division_account_record
        where type = 0
        and division_account_status = 0
        and del_flag = 0
        and create_time &lt;=  #{time}
    </select>

    <select id="selectByPage" resultMap="DivisionAccountRecordMap">
        select
        id,
        division_account_config_id,
        membercard_name,
        uid,
        order_no,
        price,
        pay_amount,
        pay_time,
        operator_income,
        franchisee_income,
        store_income,status,
        source,
        type,
        create_time
        from t_division_account_record
        <where>
            <if test="membercardName != null and membercardName != ''">
                and membercard_name = #{membercardName}
            </if>
            <if test="source != null">
                and source = #{source}
            </if>
            <if test="divisionAccountConfigId != null">
                and division_account_config_id = #{divisionAccountConfigId}
            </if>
            <if test="tenantId != null">
                and tenant_id = #{tenantId}
            </if>
            <if test="beginTime != null">
                and create_time &gt;=#{beginTime}
            </if>
            <if test="endTime != null">
                and create_time &lt;=#{endTime}
            </if>
            <if test="franchiseeIds != null and franchiseeIds.size()>0">
                and franchisee_id in
                <foreach collection="franchiseeIds" item="id" index="index" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
            <if test="storeIds != null and storeIds.size()>0">
                and store_id in
                <foreach collection="storeIds" item="id" index="index" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
        </where>
        order by create_time desc
        limit #{offset}, #{size}
    </select>

    <select id="selectStatisticByPage" resultType="com.xiliulou.electricity.vo.DivisionAccountRecordStatisticVO">
        select
        division_account_config_id,
        sum(operator_income) operator_income,
        sum(franchisee_income) franchisee_income,
        sum(store_income) store_income
        from t_division_account_record
        where tenant_id = #{tenantId}
        and type = 0
        and division_account_status in (0,1)
        <if test="membercardName != null and membercardName != ''">
            and membercard_name = #{membercardName}
        </if>
        <if test="divisionAccountConfigId != null">
            and division_account_config_id = #{divisionAccountConfigId}
        </if>
        <if test="beginTime != null">
            and create_time &gt;=#{beginTime}
        </if>
        <if test="endTime != null">
            and create_time &lt;=#{endTime}
        </if>
        <if test="franchiseeIds != null and franchiseeIds.size()>0">
            and franchisee_id in
            <foreach collection="franchiseeIds" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        <if test="storeIds != null and storeIds.size()>0">
            and store_id in
            <foreach collection="storeIds" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        group by division_account_config_id
        order by division_account_config_id
        limit #{offset}, #{size}
    </select>

    <select id="selectByPageCount" resultType="int">
        select
        count(1)
        from t_division_account_record
        <where>
            <if test="membercardName != null and membercardName != ''">
                and membercard_name = #{membercardName}
            </if>
            <if test="source != null">
                and source = #{source}
            </if>
            <if test="divisionAccountConfigId != null">
                and division_account_config_id = #{divisionAccountConfigId}
            </if>
            <if test="tenantId != null">
                and tenant_id = #{tenantId}
            </if>
            <if test="beginTime != null">
                and create_time &gt;=#{beginTime}
            </if>
            <if test="endTime != null">
                and create_time &lt;=#{endTime}
            </if>
            <if test="franchiseeIds != null and franchiseeIds.size()>0">
                and franchisee_id in
                <foreach collection="franchiseeIds" item="id" index="index" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
            <if test="storeIds != null and storeIds.size()>0">
                and store_id in
                <foreach collection="storeIds" item="id" index="index" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>

    <select id="selectStatisticByPageCount" resultType="int">
        select count(1) from (
        select
        division_account_config_id
        from t_division_account_record
        where tenant_id = #{tenantId}
        and type = 0
        and division_account_status in (0,1)
        <if test="membercardName != null and membercardName != ''">
            and membercard_name = #{membercardName}
        </if>
        <if test="divisionAccountConfigId != null">
            and division_account_config_id = #{divisionAccountConfigId}
        </if>
        <if test="beginTime != null">
            and create_time &gt;=#{beginTime}
        </if>
        <if test="endTime != null">
            and create_time &lt;=#{endTime}
        </if>
        <if test="franchiseeIds != null and franchiseeIds.size()>0">
            and franchisee_id in
            <foreach collection="franchiseeIds" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        <if test="storeIds != null and storeIds.size()>0">
            and store_id in
            <foreach collection="storeIds" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        group by division_account_config_id
        ) a
    </select>

    <!--新增所有列-->
    <insert id="insertOne" keyProperty="id" useGeneratedKeys="true">
        insert into t_division_account_record(division_account_config_id, membercard_name,uid,order_no, price, pay_amount, pay_time, operator_income, franchisee_income, store_income, operator_rate, franchisee_rate, store_rate, tenant_id, status, type, division_account_status, del_flag, create_time, update_time,franchisee_id,store_id)
        values (#{divisionAccountConfigId}, #{membercardName},#{uid},#{orderNo}, #{price}, #{payAmount}, #{payTime}, #{operatorIncome}, #{franchiseeIncome}, #{storeIncome}, #{operatorRate}, #{franchiseeRate}, #{storeRate}, #{tenantId}, #{status}, #{type}, #{division_account_status}, #{delFlag}, #{createTime}, #{updateTime},#{franchiseeId},#{storeId})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update t_division_account_record
        <set>
            <if test="divisionAccountConfigId != null">
                division_account_config_id = #{divisionAccountConfigId},
            </if>
            <if test="membercardName != null and membercardName != ''">
                membercard_name = #{membercardName},
            </if>
            <if test="orderNo != null and orderNo != ''">
                order_no = #{orderNo},
            </if>
            <if test="uid != null">
                uid = #{uid},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="payAmount != null">
                pay_amount = #{payAmount},
            </if>
            <if test="payTime != null">
                pay_time = #{payTime},
            </if>
            <if test="operatorIncome != null">
                operator_income = #{operatorIncome},
            </if>
            <if test="franchiseeIncome != null">
                franchisee_income = #{franchiseeIncome},
            </if>
            <if test="storeIncome != null">
                store_income = #{storeIncome},
            </if>
            <if test="tenantId != null">
                tenant_id = #{tenantId},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="source != null">
                source = #{source},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="divisionAccountStatus != null">
                division_account_status = #{divisionAccountStatus},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from t_division_account_record where id = #{id}
    </delete>

    <!--根据ID修改分账状态-->
    <update id="updateDAStatus">
        update t_division_account_record
        <set>
            <if test="divisionAccountStatus != null">
                division_account_status = #{divisionAccountStatus},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>
