<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.EleBatteryServiceFeeOrderMapper">



	<select id="queryUserList" resultType="com.xiliulou.electricity.entity.EleBatteryServiceFeeOrder">
		SELECT * FROM
		t_ele_battery_service_fee_order
		WHERE uid =#{uid}
		and status =1
		<if test="startTime != null">
			and create_time BETWEEN #{startTime} and #{endTime}
		</if>
		order by create_time desc
		limit #{offset},#{size}
	</select>



	<select id="queryListForAdmin" resultType="com.xiliulou.electricity.vo.EleBatteryServiceFeeOrderVo">
		SELECT te.pay_amount, te.sn, te.battery_type, te.order_id, te.create_time, te.model_type, te.status, te.battery_service_fee, tf.model_battery_deposit,
		  tf.name as franchisee_name   FROM
		t_ele_battery_service_fee_order te left join t_franchisee tf on te.franchisee_id = tf.id
		WHERE te.uid =#{uid}
		<if test="status != null">
			and te.status =#{status}
		</if>
		<if test="startTime != null">
			and te.create_time BETWEEN #{startTime} and #{endTime}
		</if>
		order by te.create_time desc
		limit #{offset},#{size}
	</select>



</mapper>
