<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.ElectricityCabinetServerMapper">

    <resultMap type="com.xiliulou.electricity.entity.ElectricityCabinetServer" id="ElectricityCabinetServerMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="electricityCabinetId" column="electricity_cabinet_id" jdbcType="INTEGER"/>
        <result property="productKey" column="product_key" jdbcType="VARCHAR"/>
        <result property="deviceName" column="device_name" jdbcType="VARCHAR"/>
        <result property="tenantId" column="tenant_id" jdbcType="INTEGER"/>
        <result property="serverBeginTime" column="server_begin_time" jdbcType="INTEGER"/>
        <result property="serverEndTime" column="server_end_time" jdbcType="INTEGER"/>
        <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="ElectricityCabinetServerMap">
        select
          id, electricity_cabinet_id, product_key, device_name, tenant_id, server_begin_time, server_end_time, del_flag, create_time, update_time
        from t_electricity_cabinet_server
        where id = #{id} and del_flag = 0
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="ElectricityCabinetServerMap">
        select
          id, electricity_cabinet_id, product_key, device_name, tenant_id, server_begin_time, server_end_time, del_flag, create_time, update_time
        from t_electricity_cabinet_server
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="ElectricityCabinetServerMap">
        select
        id, electricity_cabinet_id, product_key, device_name, tenant_id, server_begin_time,
        server_end_time, del_flag, create_time, update_time
        from t_electricity_cabinet_server
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="electricityCabinetId != null">
                and electricity_cabinet_id = #{electricityCabinetId}
            </if>
            <if test="productKey != null and productKey != ''">
                and product_key = #{productKey}
            </if>
            <if test="deviceName != null and deviceName != ''">
                and device_name = #{deviceName}
            </if>
            <if test="tenantId != null">
                and tenant_id = #{tenantId}
            </if>
            <if test="serverBeginTime != null">
                and server_begin_time = #{serverBeginTime}
            </if>
            <if test="serverEndTime != null">
                and server_end_time = #{serverEndTime}
            </if>
            <if test="delFlag != null">
                and del_flag = #{delFlag}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insertOne" keyProperty="id" useGeneratedKeys="true">
        insert into t_electricity_cabinet_server(electricity_cabinet_id, product_key, device_name, tenant_id, server_begin_time, server_end_time, del_flag, create_time, update_time)
        values (#{electricityCabinetId}, #{productKey}, #{deviceName}, #{tenantId}, #{serverBeginTime}, #{serverEndTime}, #{delFlag}, #{createTime}, #{updateTime})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update t_electricity_cabinet_server
        <set>
            <if test="electricityCabinetId != null">
                electricity_cabinet_id = #{electricityCabinetId},
            </if>
            <if test="productKey != null and productKey != ''">
                product_key = #{productKey},
            </if>
            <if test="deviceName != null and deviceName != ''">
                device_name = #{deviceName},
            </if>
            <if test="tenantId != null">
                tenant_id = #{tenantId},
            </if>
            <if test="serverBeginTime != null">
                server_begin_time = #{serverBeginTime},
            </if>
            <if test="serverEndTime != null">
                server_end_time = #{serverEndTime},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from t_electricity_cabinet_server where id = #{id}
    </delete>

    <select id="queryList" resultMap="ElectricityCabinetServerMap">
        select
        ecs.id, ecs.electricity_cabinet_id, ecs.product_key, ecs.device_name, ecs.tenant_id,
        ecs.server_begin_time, ecs.server_end_time, ecs.del_flag,
        ecs.create_time, ecs.update_time
        from t_electricity_cabinet_server ecs
        left join t_electricity_cabinet ec on ecs.electricity_cabinet_id = ec.id
        left join t_tenant t on ecs.tenant_id = t.id
        <where>
            ecs.del_flag = 0
            <if test="eleName != null and eleName != ''">
                and ec.name like concat('%', #{eleName}, '%')
            </if>
            <if test="deviceName != null and deviceName != ''">
                and ec.device_name like concat('%', #{deviceName}, '%')
            </if>
            <if test="tenantName != null and tenantName != ''">
                and t.name like concat('%', #{tenantName}, '%')
            </if>
            <if test="serverTimeStart != null">
                and ecs.server_begin_time &gt; #{serverTimeStart}
            </if>
            <if test="serverTimeEnd != null">
                and ecs.server_end_time &lt; #{serverTimeEnd}
            </if>
        </where>
        order by server_end_time
        limit #{offset}, #{size}
    </select>

    <select id="queryCount" resultType="long">
        select
        count(*)
        from t_electricity_cabinet_server ecs
        left join t_electricity_cabinet ec on ecs.electricity_cabinet_id = ec.id
        left join t_tenant t on ecs.tenant_id = t.id
        <where>
            ecs.del_flag = 0
            <if test="eleName != null and eleName != ''">
                and ec.name like concat('%', #{eleName}, '%')
            </if>
            <if test="deviceName != null and deviceName != ''">
                and ec.device_name like concat('%', #{deviceName}, '%')
            </if>
            <if test="tenantName != null and tenantName != ''">
                and t.name like concat('%', #{tenantName}, '%')
            </if>
            <if test="serverTimeStart != null">
                and ecs.server_begin_time &gt; #{serverTimeStart}
            </if>
            <if test="serverTimeEnd != null">
                and ecs.server_end_time &lt; #{serverTimeEnd}
            </if>
        </where>
    </select>


    <select id="queryByProductKeyAndDeviceName" resultMap="ElectricityCabinetServerMap">
        select
          id, electricity_cabinet_id, product_key, device_name, tenant_id, server_begin_time, server_end_time, del_flag, create_time, update_time
        from t_electricity_cabinet_server
        where del_flag = 0 and product_key = #{productKey} and device_name = #{deviceName}
    </select>
</mapper>
