<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.ElectricityBatteryMapper">

    <resultMap type="com.xiliulou.electricity.entity.ElectricityBattery" id="ElectricityBatteryMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="power" column="power" jdbcType="INTEGER"/>
        <result property="voltage" column="voltage" jdbcType="INTEGER"/>
        <result property="capacity" column="capacity" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="INTEGER"/>
        <result property="delFlag" column="del_flag" jdbcType="OTHER"/>
        <result property="healthStatus" column="health_status" jdbcType="INTEGER"/>
        <result property="chargeStatus" column="charge_status" jdbcType="INTEGER"/>
    </resultMap>

    <update id="update">
        update t_electricity_battery
        <set>
            <if test="status != null">
                status =#{status},
            </if>
            <if test="updateTime != null">
                update_time =#{updateTime},
            </if>
        </set>
        where id=#{id}
    </update>


    <!--电池分页-->
    <select id="getElectricityBatteryPage" resultType="com.xiliulou.electricity.vo.ElectricityBatteryVo">
        select tel.* , ts.name as shop_name ,tebm.name as battery_model_name ,tec.name as cabinet_name , tui.name as
        user_name from
        t_electricity_battery tel
        LEFT JOIN t_store ts on ts.id = tel.shop_id
        LEFT JOIN t_electricity_battery_model tebm on tebm.id = tel.model_id
        LEFT JOIN t_electricity_cabinet tec on tec.id =tel.cabinet_id
        LEFT JOIN t_user_info tui on tui.now_electricity_battery_sn = tel.serial_number
        where tel.del_flag = 0
        <if test="query.sn != null">
            and tel.sn like concat('%',#{query.sn,jdbcType=VARCHAR},'%')
        </if>
        <if test="query.modelId != null">
            and tel.model_id =#{query.modelId}
        </if>
        <if test="query.status != null">
            and tel.status =#{query.status}
        </if>
        <if test="query.cabinetId != null">
            and tel.cabinet_id =#{query.cabinetId}
        </if>
        order by tel.create_time desc

    </select>
    <select id="homeTwo" resultType="com.xiliulou.electricity.entity.ElectricityBattery">
        select teb.id as id,teb.sn as sn,
        teb.power as power,teb.voltage as voltage,teb.capacity as capacity,
        teb.status as status,teb.create_time as create_time,teb.update_time as update_time,
        teb.del_flag as del_flag
        from t_electricity_battery as teb
        where teb.del_flag=0
    </select>
    <select id="selectBatteryInfo" resultType="com.xiliulou.electricity.vo.ElectricityBatteryVo">
         SELECT eb.*
        FROM t_electricity_battery  eb
				LEFT JOIN t_user_info   tui  on  tui.now_electricity_battery_sn = eb.serial_number
        WHERE tui.uid = #{uid};
    </select>

</mapper>