<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.ElectricityCabinetChooseCellConfigMapper">
    
    <sql id="basic_field">
        id, num, column, middle_cell, below_cell, top_cell, del_flag, create_time, update_time
    </sql>
    
    <select id="selectConfigByNum" resultType="com.xiliulou.electricity.entity.ElectricityCabinetChooseCellConfig">
        select
        <include refid="basic_field"/>
        from t_electricity_cabinet_choose_cell_config
        where num = #{num}
        and del_flag = 0
    </select>
</mapper>