<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.ElectricityCabinetBoxMapper">

    <!--查询指定行数据-->
    <select id="queryList" resultType="com.xiliulou.electricity.vo.ElectricityCabinetBoxVO">
        select
        id, electricity_cabinet_id, cell_no, sn, usable_status,
        status,is_lock,is_fan,temperature,is_heat,is_light, create_time,
        update_time, del_flag,tenant_id,temperature,battery_type,charge_v,charge_a,lock_type
        from t_electricity_cabinet_box
        where del_flag=0
        <if test="query.electricityCabinetId != null">
            and electricity_cabinet_id = #{query.electricityCabinetId}
        </if>
        <if test="query.tenantId != null ">
            and tenant_id = #{query.tenantId}
        </if>
        order by -cell_no DESC
        limit #{query.offset}, #{query.size}
    </select>

    <select id="queryElectricityBatteryBox" resultType="com.xiliulou.electricity.entity.ElectricityCabinetBox">
        select
        id, electricity_cabinet_id, cell_no, sn, usable_status,
        status,is_lock,is_fan,temperature,is_heat,is_light, create_time,
        update_time, del_flag,tenant_id,temperature,battery_type,charge_v
        from t_electricity_cabinet_box
        where del_flag=0 AND electricity_cabinet_id=#{id}
        and status=0 and usable_status=0
        <if test="cellNo != null ">
            and cell_no != #{cellNo}
        </if>
        <if test="batteryType != null ">
            and battery_type = #{batteryType}
        </if>
        <if test="batteryType == null ">
            and battery_type is null
        </if>
    </select>


    <update id="batchDeleteBoxByElectricityCabinetId">
        update t_electricity_cabinet_box
        set del_flag    = 1,
            update_time = #{updateTime}
        where electricity_cabinet_id = #{id}
    </update>


    <update id="modifyByCellNo">
        update t_electricity_cabinet_box
        set sn = #{sn},
        <if test="status!= null ">
            status = #{status},
        </if>
        <if test="chargeV != null">
            charge_v= #{chargeV},
        </if>
        <if test="chargeA != null">
            charge_a= #{chargeA},
        </if>
        b_id = #{bId},
        update_time = #{updateTime},
        battery_type = #{batteryType},
        power = #{power}
        where cell_no = #{cellNo}
        and electricity_cabinet_id = #{electricityCabinetId}
        and del_flag=0
    </update>


    <update id="modifyCellByCellNo">
        update t_electricity_cabinet_box
        <set>
            <if test="usableStatus!= null ">
                usable_status = #{usableStatus},
            </if>
            <if test="status!= null ">
                status = #{status},
            </if>
            <if test="isLock!= null ">
                is_lock = #{isLock},
            </if>
            <if test="isFan!= null ">
                is_fan = #{isFan},
            </if>
            <if test="temperature!= null ">
                temperature = #{temperature},
            </if>
            <if test="isHeat!= null ">
                is_heat = #{isHeat},
            </if>
            <if test="isLight!= null ">
                is_light = #{isLight},
            </if>
            <if test="updateTime!= null ">
                update_time = #{updateTime},
            </if>
            <if test="chargeV != null">
                charge_v= #{chargeV},
            </if>
            <if test="bId != null">
                b_id = #{bId},
            </if>
            <if test="lockType != null">
                lock_type = #{lockType},
            </if>
        </set>
        where cell_no = #{cellNo}
        and electricity_cabinet_id = #{electricityCabinetId}
        and del_flag=0
    </update>

    <select id="queryUsableBatteryCellNo" resultType="com.xiliulou.electricity.entity.ElectricityCabinetBox">
        select
        id, electricity_cabinet_id, cell_no, sn, usable_status,
        status,is_lock,is_fan,temperature,is_heat,is_light, create_time,
        update_time, del_flag,tenant_id,temperature,battery_type,power,charge_v,b_id
        from t_electricity_cabinet_box
        <where>
            electricity_cabinet_id = #{eid}
            and usable_status = 0
            and del_flag = 0
            and status = 0
            and power &gt;= #{fullV}
            <if test="type != null and type!= ''">
               and battery_type = #{type}
            </if>
        </where>
        order by power desc
    </select>

    <select id="queryUsableEmptyCellNo" resultType="com.xiliulou.electricity.entity.ElectricityCabinetBox">
        select
        id, electricity_cabinet_id, cell_no, sn, usable_status,
        status,is_lock,is_fan,temperature,is_heat,is_light, create_time,
        update_time, del_flag,tenant_id,temperature,battery_type,power,charge_v
        from t_electricity_cabinet_box
        <where>
            electricity_cabinet_id = #{eid}
            and usable_status = 0
            and del_flag = 0
            and status = 1
        </where>
        order by cell_no desc
    </select>
    
    <select id="selectUsableEmptyCellNumber" resultType="int">
        select count(1)
        from t_electricity_cabinet_box
        <where>
            electricity_cabinet_id = #{eid}
            and tenant_id=#{tenantId}
            and usable_status = 0
            and del_flag = 0
            and status = 1
        </where>
        order by cell_no desc
    </select>

    <update id="modifyCellUsableStatus">
        update t_electricity_cabinet_box
        set usable_status=1
        where electricity_cabinet_id = #{electricityCabinetId}
          and cell_no = #{cellNo}
          and del_flag = 0
    </update>

    <select id="queryBoxCount" resultType="integer">
        select count(1) from t_electricity_cabinet_box
        where del_flag=0
        <if test="id != null">
            and electricity_cabinet_id = #{id}
        </if>
        <if test="tenantId != null ">
            and tenant_id = #{tenantId}
        </if>
    </select>

</mapper>
