<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.ElectricityMemberCardMapper">


    <select id="isMemberCardBindFranchinsee" resultType="Integer">
        SELECT 1 FROM t_electricity_member_card WHERE del_flag=0 and franchisee_id = #{franchiseeId} AND tenant_id = #{tenantId} LIMIT 1
    </select>


    <select id="selectByQuery" resultType="com.xiliulou.electricity.entity.ElectricityMemberCard">
        SELECT id,name,valid_days,model_type,battery_Type,status
        FROM t_electricity_member_card
        where del_flag=0
        <if test="name != null and name != ''">
            and name like concat('%',#{name,jdbcType=VARCHAR},'%')
        </if>
        <if test="status != null">
            AND status = #{status}
        </if>
        <if test="cardModel != null ">
            and card_model = #{cardModel}
        </if>
        <if test="tenantId != null ">
            and tenant_id = #{tenantId}
        </if>
        <if test="franchiseeId != null ">
            and franchisee_id = #{franchiseeId}
        </if>
        ORDER BY id DESC
    </select>


    <select id="queryList" resultType="com.xiliulou.electricity.vo.ElectricityMemberCardVO">
        SELECT
        temc.id,temc.name,temc.type,temc.holiday_price,temc.price,temc.valid_days,temc.max_use_count,temc.status,temc.create_time,temc.update_time,
        temc.limit_count,temc.franchisee_id,temc.del_flag,temc.tenant_id,temc.model_type,temc.battery_Type,temc.is_bind_activity,temc.activity_id,
        temc.card_model,tecm.name as carModel,temc.car_model_id,tf.name as franchiseeName
        FROM t_electricity_member_card temc left join t_electricity_car_model tecm on temc.car_model_id=tecm.id
        left join t_franchisee tf on temc.franchisee_id=tf.id
        where temc.del_flag=0
        <if test="status != null">
            AND temc.status = #{status}
        </if>
        <if test="type != null">
            AND temc.type = #{type}
        </if>
        <if test="tenantId != null ">
            and temc.tenant_id = #{tenantId}
        </if>
        <if test="franchiseeIds != null ">
            and temc.franchisee_id in
            <foreach collection="franchiseeIds" item="id" index="index" open="(" close=")"  separator=",">
                #{id}
            </foreach>
        </if>
        ORDER BY temc.create_time DESC
        limit #{offset}, #{size}
    </select>


    <select id="queryUserList" resultType="com.xiliulou.electricity.entity.ElectricityMemberCard">
        SELECT *
        FROM t_electricity_member_card
        where status=0 and franchisee_id=#{id} and del_flag=0
        <if test="batteryType != null and batteryType != ''">
            and battery_type = #{batteryType}
        </if>
        <if test="cardModel != null ">
            and card_model = #{cardModel}
        </if>
        ORDER BY create_time DESC
        limit #{offset}, #{size}
    </select>


    <select id="queryCount" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM t_electricity_member_card temc left join t_electricity_car_model tecm on temc.car_model_id=tecm.id
        where temc.del_flag=0
        <if test="status != null">
            AND temc.status = #{status}
        </if>
        <if test="type != null">
            AND temc.type = #{type}
        </if>
        <if test="tenantId != null ">
            and temc.tenant_id = #{tenantId}
        </if>
        <if test="franchiseeIds != null ">
            and temc.franchisee_id in
            <foreach collection="franchiseeIds" item="id" index="index" open="(" close=")"  separator=",">
                #{id}
            </foreach>
        </if>
        <if test="name != null and name!=''">
            and temc.name = #{name}
        </if>
    </select>


    <select id="listByFranchisee" resultType="com.xiliulou.electricity.entity.ElectricityMemberCard">
        SELECT *
        FROM t_electricity_member_card
        where del_flag=0
        <if test="status != null">
            AND status = #{status}
        </if>
        <if test="type != null">
            AND type = #{type}
        </if>
        <if test="tenantId != null ">
            and tenant_id = #{tenantId}
        </if>
        <if test="franchiseeId != null ">
            and franchisee_id = #{franchiseeId}
        </if>
        <if test="franchiseeIds != null ">
            and franchisee_id in
            <foreach collection="franchiseeIds" item="id" index="index" open="(" close=")"  separator=",">
                #{id}
            </foreach>
        </if>
        ORDER BY create_time DESC
        limit #{offset}, #{size}
    </select>


    <select id="listCountByFranchisee" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM t_electricity_member_card
        where del_flag=0
        <if test="status != null">
            AND status = #{status}
        </if>
        <if test="type != null">
            AND type = #{type}
        </if>
        <if test="tenantId != null ">
            and tenant_id = #{tenantId}
        </if>
        <if test="franchiseeId != null ">
            and franchisee_id = #{franchiseeId}
        </if>
        <if test="franchiseeIds != null ">
            and franchisee_id in
            <foreach collection="franchiseeIds" item="id" index="index" open="(" close=")"  separator=",">
                #{id}
            </foreach>
        </if>
    </select>


    <update id="unbindActivity">
       update t_electricity_member_card
       set is_bind_activity=0,
       activity_id=null
       where id = #{id}
	</update>

    <update id="update">
        update t_electricity_member_card
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="holidayPrice != null">
                holiday_price = #{holidayPrice},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="validDays != null">
                valid_days = #{validDays},
            </if>
            <if test="maxUseCount != null">
                max_use_count = #{maxUseCount},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="limitCount != null">
                limit_count = #{limitCount},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="franchiseeId != null">
                franchisee_id = #{franchiseeId},
            </if>
            <if test="modelType != null">
                model_type = #{modelType},
            </if>
            <if test="batteryType != null">
                battery_Type = #{batteryType},
            </if>
            <if test="isBindActivity != null">
                is_bind_activity = #{isBindActivity},
            </if>
            <if test="activityId != null">
                activity_id = #{activityId},
            </if>
            <if test="cardModel != null">
                card_model = #{cardModel},
            </if>
            <if test="carModelId != null">
                car_model_id = #{carModelId},
            </if>
        </set>
        where id = #{id} and tenant_id = #{tenantId}
    </update>


    <insert id="batchInsert" >
        insert into t_electricity_member_card(name, type, holiday_price, price, valid_days, max_use_count, status, create_time,
        update_time,limit_count,franchisee_id,del_flag,tenant_id,model_type,battery_Type,is_bind_activity,activity_id
        ) values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.name}, #{item.type}, #{item.holidayPrice}, #{item.price}, #{item.validDays}, #{item.maxUseCount}, #{item.status}, #{item.createTime},
        #{item.updateTime}, #{item.limitCount}, #{item.franchiseeId}, #{item.delFlag}, #{item.tenantId}, #{item.modelType}, #{item.batteryType}, #{item.isBindActivity}, #{item.activityId})
        </foreach>
    </insert>


</mapper>
