<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.ElectricityCabinetMapper">


    <!--查询指定行数据-->
    <select id="queryList" resultType="com.xiliulou.electricity.vo.ElectricityCabinetVO">
        select
        id, name,sn, address, longitude, latitude, product_key, device_name, usable_status,
        online_status, model_id, version, fully_charged, service_phone, business_time, create_time,
        update_time, del_flag,tenant_id,store_id
        from t_electricity_cabinet
        where del_flag=0
        <if test="query.name != null and query.name != ''">
            and name like concat('%',#{query.name,jdbcType=VARCHAR},'%')
        </if>
        <if test="query.address != null and query.address != ''">
            and address like concat('%',#{query.address,jdbcType=VARCHAR},'%')
        </if>
        <if test="query.usableStatus != null">
            and usable_status = #{query.usableStatus}
        </if>
        <if test="query.id != null">
            and id =#{query.id}
        </if>
        <if test="query.onlineStatus != null">
            and online_status = #{query.onlineStatus}
        </if>
        <if test="query.tenantId != null ">
            and tenant_id = #{query.tenantId}
        </if>
        <if test="query.beginTime != null">
            and create_time &gt;=#{query.beginTime}
        </if>
        <if test="query.endTime != null">
            and create_time &lt;=#{query.endTime}
        </if>
        <if test="query.eleIdList!=null and query.eleIdList!=''">
            and id in
            <foreach collection="query.eleIdList" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        order by create_time desc
        limit #{query.offset}, #{query.size}
    </select>

	<select id="queryCount" resultType="java.lang.Integer">
		select count(1)
		from t_electricity_cabinet
		where del_flag=0
		<if test="query.name != null and query.name != ''">
			and name like concat('%',#{query.name,jdbcType=VARCHAR},'%')
		</if>
		<if test="query.address != null and query.address != ''">
			and address like concat('%',#{query.address,jdbcType=VARCHAR},'%')
		</if>
		<if test="query.usableStatus != null">
			and usable_status = #{query.usableStatus}
		</if>
		<if test="query.onlineStatus != null">
			and online_status = #{query.onlineStatus}
		</if>
		<if test="query.tenantId != null ">
			and tenant_id = #{query.tenantId}
		</if>
		<if test="query.beginTime != null">
			and create_time &gt;=#{query.beginTime}
		</if>
		<if test="query.endTime != null">
			and create_time &lt;=#{query.endTime}
		</if>
		<if test="query.eleIdList!=null and query.eleIdList!=''">
			and id in
			<foreach collection="query.eleIdList" item="id" index="index" open="(" close=")" separator=",">
				#{id}
			</foreach>
		</if>
	</select>


    <select id="showInfoByDistance" resultType="com.xiliulou.electricity.vo.ElectricityCabinetVO">
        select tec.id, tec.name,tec.sn, tec.address, tec.longitude, tec.latitude, tec.product_key, tec.device_name, tec.device_secret,
        tec.usable_status, tec.online_status, tec.model_id, tec.version,
        tec.fully_charged, tec.service_phone, tec.business_time, tec.create_time, tec.update_time, ROUND(
        6378.138 * 2 * ASIN(
        SQRT(
        POW(
        SIN(
        (
        #{query.lat} * PI() / 180 - tec.latitude * PI() / 180
        ) / 2
        ),
        2
        ) + COS(#{query.lat} * PI() / 180) * COS(tec.latitude * PI() / 180) * POW(
        SIN(
        (
        #{query.lon} * PI() / 180 - tec.longitude * PI() / 180
        ) / 2
        ),
        2
        )
        )
        ) * 1000
        ) AS distance
        from t_electricity_cabinet tec
        left join t_store ts on  tec.store_id=ts.id
        where tec.del_flag = 0
        <if test="query.name != null ">
            and tec.name like concat('%',#{query.name,jdbcType=VARCHAR},'%')
        </if>
        <if test="query.franchiseeId != null ">
            and ts.franchisee_id = #{query.franchiseeId}
        </if>
        <if test="query.tenantId != null ">
            and tec.tenant_id = #{query.tenantId}
        </if>
        <if test="query.distance != null">
            having distance &lt; #{query.distance}
        </if>
        order by distance asc
    </select>


    <select id="selectElectricityCabinetByAddress" resultType="com.xiliulou.electricity.vo.ElectricityCabinetVO">
        select tec.id,tec.name,tec.address, tec.longitude, tec.latitude, ROUND( 6378.138 * 2 * ASIN( SQRT( POW( SIN( ( #{lat} * PI() / 180 - tec.latitude * PI() / 180
        ) / 2 ), 2 ) + COS(#{lat} * PI() / 180) * COS(tec.latitude * PI() / 180) * POW( SIN( ( #{lon} * PI() / 180 - tec.longitude * PI() / 180 ) / 2
        ), 2 ) ) ) * 1000 ) AS distance
        from t_electricity_cabinet tec
        left join t_store ts on  tec.store_id=ts.id
        where tec.del_flag = 0
        <if test="address != null ">
            and tec.address like concat('%',#{address,jdbcType=VARCHAR},'%')
        </if>
        <if test="franchiseeId != null ">
            and ts.franchisee_id = #{franchiseeId}
        </if>
        <if test="tenantId != null ">
            and tec.tenant_id = #{tenantId}
        </if>
        order by distance asc
        limit #{offset}, #{size}
    </select>

    <select id="queryFullyElectricityBattery" resultType="java.lang.Long">
        select eb.id from t_electricity_cabinet as ec
        left join t_electricity_cabinet_box as ecb on ec.id=ecb.electricity_cabinet_id
        left join t_electricity_battery as eb on ecb.sn is not null and ecb.sn=eb.sn
        where eb.power&gt;=ec.fully_charged and ec.id = #{id} and ecb.usable_status =0
        <if test="batteryType != null and batteryType != '-1' ">
            and ecb.battery_type = #{batteryType}
        </if>
        <if test="batteryType == null ">
            and ecb.battery_type is null
        </if>
    </select>

    <select id="queryFullyElectricityBatteryForLowBatteryExchange" resultType="java.lang.Long">
        select eb.id from t_electricity_cabinet as ec
        left join t_electricity_cabinet_box as ecb on ec.id=ecb.electricity_cabinet_id
        left join t_electricity_battery as eb on ecb.sn is not null and ecb.sn=eb.sn
        where eb.power&gt;=#{fullyCharged} and ec.id = #{id} and ecb.usable_status =0
        <if test="batteryType != null and batteryType != '-1' ">
            and ecb.battery_type = #{batteryType}
        </if>
        <if test="batteryType == null ">
            and ecb.battery_type is null
        </if>
    </select>


    <select id="queryNameList" resultType="java.util.Map">
        select
        id, name
        from t_electricity_cabinet
        where del_flag=0
        <if test="query.tenantId != null ">
            and tenant_id = #{query.tenantId}
        </if>
        <if test="eleIdList!=null and eleIdList!=''">
            and id in
            <foreach collection="eleIdList" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        limit #{offset}, #{size}
    </select>

    <select id="homeOne" resultType="com.xiliulou.electricity.entity.ElectricityCabinet">
        select
        id, name,sn, address, longitude, latitude, product_key, device_name, device_secret, usable_status,
        online_status, model_id, version, fully_charged, service_phone, business_time, create_time, update_time,
        del_flag
        from t_electricity_cabinet
        where del_flag=0
        <if test="eleIdList!=null and eleIdList!=''">
            and id in
            <foreach collection="eleIdList" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        <if test="tenantId != null ">
            and tenant_id = #{tenantId}
        </if>
    </select>

    <select id="homeThree" resultType="java.util.HashMap">
        select from_unixtime(create_time / 1000, '%Y-%m-%d') date, count(*) as count
        from t_electricity_cabinet where create_time &gt;= #{startTimeMilliDay} and create_time &lt;=#{endTimeMilliDay}
        <if test="eleIdList!=null and eleIdList!=''">
            and id in
            <foreach collection="eleIdList" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        <if test="tenantId != null ">
            and tenant_id = #{tenantId}
        </if>
        group by date
        order by date desc
    </select>

    <select id="queryCountByStoreIds" resultType="integer">
        select count(1)
        from t_electricity_cabinet
        <where>
            del_flag=0
            <if test="tenantId != null">
                and tenant_id = #{tenantId}
            </if>
            <if test="storeIds != null and storeIds.size() > 0">
                and store_id in
                <foreach collection="storeIds" item="id" separator="," open="(" close=")">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>

	<select id="queryCountByStoreIdsAndStatus" resultType="integer">
		select count(1)
		from t_electricity_cabinet
		<where>
			del_flag=0
			<if test="tenantId != null">
				and tenant_id = #{tenantId}
			</if>
			<if test="storeIds != null and storeIds.size() > 0">
				and store_id in
				<foreach collection="storeIds" item="id" separator="," open="(" close=")">
					#{id}
				</foreach>
			</if>
			<if test="status != null">
				and online_status = #{status}
			</if>
		</where>
	</select>
	
	<!--通过主键修改数据-->
	<update id="updateEleById">
		update t_electricity_cabinet
		<set>
			<if test="name != null and name != ''">
				name = #{name},
			</if>
			<if test="address != null and address != ''">
				address = #{address},
			</if>
			<if test="longitude != null">
				longitude = #{longitude},
			</if>
			<if test="latitude != null">
				latitude = #{latitude},
			</if>
			<if test="productKey != null and productKey != ''">
				product_key = #{productKey},
			</if>
			<if test="deviceName != null and deviceName != ''">
				device_name = #{deviceName},
			</if>
			<if test="deviceSecret != null and deviceSecret != ''">
				device_secret = #{deviceSecret},
			</if>
			<if test="usableStatus != null">
				usable_status = #{usableStatus},
			</if>
			<if test="onlineStatus != null">
				online_status = #{onlineStatus},
			</if>
			<if test="modelId != null">
				model_id = #{modelId},
			</if>
			<if test="version != null and version != ''">
				version = #{version},
			</if>
			<if test="fullyCharged != null">
				fully_charged = #{fullyCharged},
			</if>
			<if test="servicePhone != null and servicePhone != ''">
				service_phone = #{servicePhone},
			</if>
			<if test="businessTime != null and businessTime != ''">
				business_time = #{businessTime},
			</if>
			<if test="createTime != null">
				create_time = #{createTime},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime},
			</if>
			<if test="delFlag != null">
				del_flag = #{delFlag},
			</if>
			<if test="storeId != null">
				store_id = #{storeId},
			</if>
			<if test="sn != null and sn != ''">
				sn = #{sn},
			</if>
		</set>
		where id = #{id} and tenant_id = #{tenantId}
	</update>

    <select id="queryName" resultType="com.xiliulou.electricity.vo.ElectricityCabinetVO">
        select id,name from t_electricity_cabinet
        where del_flag=0
        <if test="tenantId != null ">
            and tenant_id = #{tenantId}
        </if>
        <if test="id != null">
            and id =#{id}
        </if>
    </select>
    
    <select id="superAdminSelectByQuery" resultType="com.xiliulou.electricity.entity.ElectricityCabinet">
        select id,name from t_electricity_cabinet
        where del_flag=0
        <if test="tenantId != null ">
            and tenant_id = #{tenantId}
        </if>
        <if test="id != null">
            and id =#{id}
        </if>
        <if test="name != null and '' != name">
            and name like concat('%',#{name,jdbcType=VARCHAR},'%')
        </if>
    </select>
    
    <select id="selectByQuery" resultType="com.xiliulou.electricity.entity.ElectricityCabinet">
        select id,name from t_electricity_cabinet
        where del_flag=0
        <if test="tenantId != null ">
            and tenant_id = #{tenantId}
        </if>
        <if test="id != null">
            and id =#{id}
        </if>
        <if test="name != null and '' != name">
            and name like concat('%',#{name,jdbcType=VARCHAR},'%')
        </if>
        <if test="eleIdList!=null and eleIdList!=''">
            and id in
            <foreach collection="eleIdList" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
    </select>

    <select id="selectEidByStoreId" resultType="java.lang.Integer">
        select id from t_electricity_cabinet
        where del_flag=0
        <if test="tenantId != null ">
            and tenant_id = #{tenantId}
        </if>
        <if test="storeId != null">
            and store_id =#{storeId}
        </if>
    </select>


	<select id="selectEleCabinetListByLongitudeAndLatitude" resultType="com.xiliulou.electricity.entity.ElectricityCabinet">
		select id, name,longitude, latitude, online_status
		from t_electricity_cabinet
		where del_flag=0
		<if test="query.name != null and query.name != ''">
			and name like concat('%',#{query.name,jdbcType=VARCHAR},'%')
		</if>
		<if test="query.id != null">
			and id =#{query.id}
		</if>
        <if test="query.eleIdList!=null and query.eleIdList!=''">
            and id in
            <foreach collection="query.eleIdList" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
		<if test="query.tenantId != null ">
			and tenant_id = #{query.tenantId}
		</if>
	</select>
    
    <select id="batchOperateList" resultType="com.xiliulou.electricity.vo.ElectricityCabinetBatchOperateVo">
        select
        id, name, sn, product_key, device_name, online_status,model_id as modelId
        from t_electricity_cabinet
        where del_flag=0
        <if test="name != null and name != ''">
            and tec.name like concat('%',#{name, jdbcType=VARCHAR},'%')
        </if>
        <if test="tenantId != null ">
            and tec.tenant_id = #{tenantId}
        </if>
        <if test="eleIdList!=null and eleIdList!=''">
            and tec.id in
            <foreach collection="eleIdList" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        <if test="modelId != null and modelId != ''">
            and modelId = #{modelId}
        </if>
        <if test="sn != null and sn != ''">
            and tec.sn like concat('%',#{sn, jdbcType=VARCHAR},'%')
        </if>
        order by create_time desc
        limit #{offset}, #{size}
    </select>

    <select id="cabinetSearch" resultType="com.xiliulou.electricity.vo.SearchVo">
        select id, name
        from t_electricity_cabinet_model
        where del_flag=0
        <if test="name != null and name != ''">
            and name like concat('%',#{name, jdbcType=VARCHAR},'%')
        </if>
        <if test="tenantId != null">
            and tenant_id = #{tenantId}
        </if>
        order by id
        limit #{offset}, #{size}
    </select>


</mapper>
