<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.ElectricityMemberCardMapper">


    <select id="getElectricityMemberCardPage" resultType="com.xiliulou.electricity.entity.ElectricityMemberCard">
            SELECT *
            FROM t_electricity_member_card
        <where>
            <if test="status != null">
                AND status = #{status}
            </if>
            <if test="type != null">
                AND type = #{type}
            </if>

        </where>

        ORDER BY create_time DESC


    </select>

    <select id="queryElectricityMemberCard" resultType="com.xiliulou.electricity.entity.ElectricityMemberCard">
        SELECT temc.*
        FROM t_electricity_member_card as temc
        left join electricity.t_franchisee_bind_card as tfbc on temc.id=tfbc.card_id
        where temc.status=0 and tfbc.franchisee_id=#{id}
        ORDER BY temc.create_time DESC
    </select>


</mapper>
