<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.ElectricityCabinetFileMapper">

    <resultMap type="com.xiliulou.electricity.entity.ElectricityCabinetFile" id="ElectricityCabinetFileMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="electricityCabinetId" column="electricity_cabinet_id" jdbcType="INTEGER"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="index" column="index" jdbcType="INTEGER"/>
        <result property="url" column="url" jdbcType="VARCHAR"/>
        <result property="bucketName" column="bucket_name" jdbcType="VARCHAR"/>
        <result property="isOss" column="is_oss" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="INTEGER"/>
        <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="ElectricityCabinetFileMap">
        select
          id, name, electricity_cabinet_id, type, index, url, bucket_name, is_oss, create_time, update_time, del_flag
        from electricity.t_electricity_cabinet_file
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="ElectricityCabinetFileMap">
        select
          id, name, electricity_cabinet_id, type, index, url, bucket_name, is_oss, create_time, update_time, del_flag
        from electricity.t_electricity_cabinet_file
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="ElectricityCabinetFileMap">
        select
          id, name, electricity_cabinet_id, type, index, url, bucket_name, is_oss, create_time, update_time, del_flag
        from electricity.t_electricity_cabinet_file
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="electricityCabinetId != null">
                and electricity_cabinet_id = #{electricityCabinetId}
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
            <if test="index != null">
                and index = #{index}
            </if>
            <if test="url != null and url != ''">
                and url = #{url}
            </if>
            <if test="bucketName != null and bucketName != ''">
                and bucket_name = #{bucketName}
            </if>
            <if test="isOss != null">
                and is_oss = #{isOss}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="delFlag != null">
                and del_flag = #{delFlag}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insertOne" keyProperty="id" useGeneratedKeys="true">
        insert into electricity.t_electricity_cabinet_file(name, electricity_cabinet_id, type, index, url, bucket_name, is_oss, create_time, update_time, del_flag)
        values (#{name}, #{electricityCabinetId}, #{type}, #{index}, #{url}, #{bucketName}, #{isOss}, #{createTime}, #{updateTime}, #{delFlag})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update electricity.t_electricity_cabinet_file
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="electricityCabinetId != null">
                electricity_cabinet_id = #{electricityCabinetId},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="index != null">
                index = #{index},
            </if>
            <if test="url != null and url != ''">
                url = #{url},
            </if>
            <if test="bucketName != null and bucketName != ''">
                bucket_name = #{bucketName},
            </if>
            <if test="isOss != null">
                is_oss = #{isOss},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <update id="deleteById">
        update electricity.t_electricity_cabinet_file set del_flag=1 where id = #{id}
    </update>

</mapper>