<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.ElectricityCabinetExtraMapper">
    <!-- 基础字段 -->
    <sql id="basic_field">
        eid
        , battery_count_type,rent_tab_type,return_tab_type, min_retain_battery_count ,max_retain_battery_count,tenant_id, del_flag, create_time, update_time
    </sql>
    
    <select id="selectByEid" resultType="com.xiliulou.electricity.entity.ElectricityCabinetExtra">
        select
        <include refid="basic_field"/>
        from t_electricity_cabinet_extra
        where eid = #{eid} and del_flag = 0
    </select>
    
    <insert id="insertOne" keyProperty="id" useGeneratedKeys="true">
        insert into t_electricity_cabinet_extra(eid, battery_count_type, rent_tab_type, return_tab_type, min_retain_battery_count, max_retain_battery_count, tenant_id, del_flag,
                                                create_time, update_time)
        values (#{eid}, #{batteryCountType}, #{rentTabType}, #{returnTabType}, #{minRetainBatteryCount}, #{maxRetainBatteryCount}, #{tenantId}, #{delFlag}, #{createTime},
                #{updateTime})
    </insert>
    
    <update id="update">
        update t_electricity_cabinet_extra
        <set>
            <if test="rent_tab_type != null">
                rent_tab_type = #{rentTabType},
            </if>
            <if test="return_tab_type != null">
                return_tab_type = #{returnTabType},
            </if>
            <if test="batteryCountType != null">
                battery_count_type = #{batteryCountType},
            </if>
            <if test="tenantId != null">
                tenant_id = #{tenantId},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where eid = #{eid}
    </update>
    
    
    <update id="updateMinElectricityCabinetExtra">
        update t_electricity_cabinet_extra
        set min_retain_battery_count = #{minRetainBatteryCount},
            rent_tab_type            = #{rentTabType},
            update_time              = #{updateTime}
        where eid = #{id}
    </update>
    
    <update id="updateMaxElectricityCabinetExtra">
        update t_electricity_cabinet_extra
        set max_retain_battery_count = #{maxRetainBatteryCount},
            return_tab_type          = #{returnTabType},
            update_time              = #{updateTime}
        where eid = #{id}
    </update>
    
    <update id="updateTabTypeCabinetExtra">
        update t_electricity_cabinet_extra
        set update_time              = #{updateTime},
            rent_tab_type            = #{rentTabType},
            return_tab_type          = #{returnTabType},
            max_retain_battery_count = #{maxRetainBatteryCount},
            min_retain_battery_count = #{minRetainBatteryCount}
        where eid = #{id}
    </update>
</mapper>
