<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.ElectricityCarMapper">

    <!-- 基础字段 -->
    <sql id="selectElectricityCar">
       	select   id, sn, model, longitude, latitude, status, uid, phone, user_info_id, user_name, store_id, model_id, battery_sn, create_time, update_time, del_flag, tenant_id,lock_type         from t_electricity_car
    </sql>

    <!--查询指定行数据-->
    <select id="queryList" resultType="com.xiliulou.electricity.vo.ElectricityCarVO">
        select
        tec.id,tec.sn,
        tec.model,tec.longitude,tec.latitude,tec.status,tec.uid,tec.user_name,tec.store_id, tec.phone
        ,tec.create_time,tec.update_time,ts.name as storeName,tec.uid
        from t_electricity_car tec
        left join t_store ts on tec.store_id=ts.id
        left join t_franchisee_user_info tfui on
        tec.user_info_id=tfui.user_info_id
        where tec.del_flag=0
        <if test="query.sn != null and query.sn!=''">
            and tec.sn = #{query.sn}
        </if>
        <if test="query.model != null and query.model !=''">
            and tec.model = #{query.model}
        </if>
        <if test="query.status != null ">
            and tec.status = #{query.status}
        </if>
        <if test="query.phone != null and query.phone != '' ">
            and tec.phone = #{query.phone}
        </if>
        <if test="query.storeId != null ">
            and tec.store_id = #{query.storeId}
        </if>
        <if test="query.storeIds != null ">
            and tec.store_id in
            <foreach collection="query.storeIds" item="id" index="index" open="(" close=")"  separator=",">
                #{id}
            </foreach>
        </if>
        <if test="query.batterySn != null and query.batterySn!=''">
            and tfui.now_electricity_battery_sn = #{query.batterySn}
        </if>
        <if test="query.beginTime != null">
            and tec.create_time &gt;=#{query.beginTime}
        </if>
        <if test="query.endTime != null">
            and tec.create_time &lt;=#{query.endTime}
        </if>
        <if test="query.tenantId != null ">
            and tec.tenant_id = #{query.tenantId}
        </if>
        order by tec.create_time desc
        limit #{query.offset}, #{query.size}
    </select>

    <select id="queryCount" resultType="integer">
        select
        count(1)
        from t_electricity_car tec left join t_store ts on tec.store_id=ts.id
        left join t_franchisee_user_info tfui on
        tec.user_info_id=tfui.user_info_id
        where tec.del_flag=0
        <if test="query.sn != null and query.sn!=''">
            and tec.sn = #{query.sn}
        </if>
        <if test="query.model != null and query.model !=''">
            and tec.model = #{query.model}
        </if>
        <if test="query.status != null ">
            and tec.status = #{query.status}
        </if>
        <if test="query.storeId != null ">
            and tec.store_id = #{query.storeId}
        </if>
        <if test="query.storeIds != null ">
            and tec.store_id in
            <foreach collection="query.storeIds" item="id" index="index" open="(" close=")"  separator=",">
                #{id}
            </foreach>
        </if>
        <if test="query.phone != null and query.phone != '' ">
            and tec.phone = #{query.phone}
        </if>
        <if test="query.batterySn != null and query.batterySn!=''">
            and tec.battery_sn = #{query.batterySn}
        </if>
        <if test="query.beginTime != null">
            and tec.create_time &gt;=#{query.beginTime}
        </if>
        <if test="query.endTime != null">
            and tec.create_time &lt;=#{query.endTime}
        </if>
        <if test="query.tenantId != null ">
            and tec.tenant_id = #{query.tenantId}
        </if>
        order by tec.create_time desc
    </select>


    <update id="updateBindUser">
        update t_electricity_car set
        status=#{status},
        uid=#{uid},
        phone=#{phone},
        user_info_id=#{userInfoId},
        user_name=#{userName},
        update_time=#{updateTime}
        where id=#{id}
    </update>

    <select id="queryCountByStoreIds" resultType="integer">
        select count(1)
        from t_electricity_car
        <where>
            del_flag=0
            <if test="tenantId != null">
                and tenant_id = #{tenantId}
            </if>
            <if test="storeIds != null and storeIds.size() > 0">
                and store_id in
                <foreach collection="storeIds" item="id" separator="," open="(" close=")">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>

    <!--根据车辆SN查询单个-->
    <select id="selectById" resultType="com.xiliulou.electricity.entity.ElectricityCar">
        <include refid="selectElectricityCar"/>
        where id = #{id} and del_flag=0
    </select>


    <!--根据车辆SN查询单个-->
    <select id="selectBySn" resultType="com.xiliulou.electricity.entity.ElectricityCar">
        <include refid="selectElectricityCar"/>
        where
        sn = #{sn}
        and del_flag=0
        <if test="tenantId != null">
            and tenant_id = #{tenantId}
        </if>
    </select>
    
    <update id="updateLockTypeById">
        update t_electricity_car set lock_type = #{lockType}
        where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>
    
    <select id="queryByStoreIds" resultType="com.xiliulou.electricity.entity.ElectricityCar">
        <include refid="selectElectricityCar"/>
        <where>
            del_flag = 0
            and tenant_id = #{tenantId}
            and store_id in
            <foreach collection="storeIds" open="(" close=")" item="id" separator=",">
                #{id}
            </foreach>
        </where>
    </select>
    
    <select id="queryElectricityCarOverview" resultType="com.xiliulou.electricity.entity.ElectricityCar">
        <include refid="selectElectricityCar"/>
        <where>
            <if test="franchiseeIds != null and franchiseeIds.size() > 0">
                
                <foreach collection="franchiseeIds" item="fid" open="(" close=")" separator=",">
                
                </foreach>
            </if>
        </where>
    </select>

</mapper>
