<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.ElectricityCarMapper">

    <!-- 基础字段 -->
    <sql id="selectElectricityCar">
       	select   id, sn, model, longitude, latitude, status, uid, phone, user_info_id, user_name, store_id, model_id, battery_sn, create_time, update_time, del_flag, tenant_id,lock_type         from t_electricity_car
    </sql>

    <!-- 根据ID更新车辆绑定用户，包含绑定、解绑 -->
    <update id="updateCarBindStatusById">
        UPDATE `t_electricity_car`
        <set>
            `uid` = #{uid}, `user_info_id` = #{userInfoId}, `user_name` = #{userName}, `phone` = #{phone}, `update_time` = #{updateTime}, `status` = #{status}
        </set>
        <where>
            `id` = #{id}
        </where>
    </update>

    <!-- 根据 uid 查询， 复合查询，车辆、门店-->
    <select id="queryByCarId" resultType="com.xiliulou.electricity.domain.car.CarInfoDO">
        SELECT
            ec.id AS carId,
            ec.sn AS carSn,
            ec.store_id AS storeId,
            s.`name` AS storeName,
            s.`longitude` AS longitude,
            s.`latitude` AS latitude
        FROM
            t_electricity_car ec
                JOIN t_store s ON ec.store_id = s.id
        WHERE
            ec.id = #{carId}
          AND ec.tenant_id = #{tenantId}
    </select>

    <!--查询指定行数据-->
    <select id="queryList" resultType="com.xiliulou.electricity.vo.ElectricityCarVO">
        select
        tec.id,tec.sn,
        tec.model,tec.longitude,tec.latitude,tec.status,tec.uid,tec.user_name,tec.store_id, tec.phone, tec.franchisee_id,
        tec.create_time,tec.update_time,ts.name as storeName,tec.uid
        from t_electricity_car tec
        left join t_store ts on tec.store_id=ts.id
        where tec.del_flag=0
        <if test="query.sn != null and query.sn!=''">
            and tec.sn = #{query.sn}
        </if>
        <if test="query.model != null and query.model !=''">
            and tec.model = #{query.model}
        </if>
        <if test="query.status != null ">
            and tec.status = #{query.status}
        </if>
        <if test="query.phone != null and query.phone != '' ">
            and tec.phone = #{query.phone}
        </if>
        <if test="query.uid != null">
            and tec.uid = #{query.uid}
        </if>
        <if test="query.storeId != null ">
            and tec.store_id = #{query.storeId}
        </if>
        <if test="query.storeIds != null ">
            and tec.store_id in
            <foreach collection="query.storeIds" item="id" index="index" open="(" close=")"  separator=",">
                #{id}
            </foreach>
        </if>
        <if test="query.franchiseeIds != null ">
            and tec.franchisee_id in
            <foreach collection="query.franchiseeIds" item="id" index="index" open="(" close=")"  separator=",">
                #{id}
            </foreach>
        </if>
        <if test="query.beginTime != null">
            and tec.create_time &gt;=#{query.beginTime}
        </if>
        <if test="query.endTime != null">
            and tec.create_time &lt;=#{query.endTime}
        </if>
        <if test="query.tenantId != null ">
            and tec.tenant_id = #{query.tenantId}
        </if>
        order by tec.create_time desc
        limit #{query.offset}, #{query.size}
    </select>

    <select id="queryCount" resultType="integer">
        select
        count(1)
        from t_electricity_car tec left join t_store ts on tec.store_id=ts.id
        left join t_franchisee_user_info tfui on
        tec.user_info_id=tfui.user_info_id
        where tec.del_flag=0
        <if test="query.sn != null and query.sn!=''">
            and tec.sn = #{query.sn}
        </if>
        <if test="query.model != null and query.model !=''">
            and tec.model = #{query.model}
        </if>
        <if test="query.status != null ">
            and tec.status = #{query.status}
        </if>
        <if test="query.storeId != null ">
            and tec.store_id = #{query.storeId}
        </if>
        <if test="query.storeIds != null ">
            and tec.store_id in
            <foreach collection="query.storeIds" item="id" index="index" open="(" close=")"  separator=",">
                #{id}
            </foreach>
        </if>
        <if test="query.franchiseeIds != null ">
            and tec.franchisee_id in
            <foreach collection="query.franchiseeIds" item="id" index="index" open="(" close=")"  separator=",">
                #{id}
            </foreach>
        </if>
        <if test="query.phone != null and query.phone != '' ">
            and tec.phone = #{query.phone}
        </if>
        <if test="query.uid != null">
            and tec.uid = #{query.uid}
        </if>
        <if test="query.batterySn != null and query.batterySn!=''">
            and tec.battery_sn = #{query.batterySn}
        </if>
        <if test="query.beginTime != null">
            and tec.create_time &gt;=#{query.beginTime}
        </if>
        <if test="query.endTime != null">
            and tec.create_time &lt;=#{query.endTime}
        </if>
        <if test="query.tenantId != null ">
            and tec.tenant_id = #{query.tenantId}
        </if>
        order by tec.create_time desc
    </select>


    <update id="updateBindUser">
        update t_electricity_car set
        status=#{status},
        uid=#{uid},
        phone=#{phone},
        user_info_id=#{userInfoId},
        user_name=#{userName},
        update_time=#{updateTime}
        where id=#{id}
    </update>

    <select id="queryCountByStoreIds" resultType="integer">
        select count(1)
        from t_electricity_car
        <where>
            del_flag=0
            <if test="tenantId != null">
                and tenant_id = #{tenantId}
            </if>
            <if test="storeIds != null and storeIds.size() > 0">
                and store_id in
                <foreach collection="storeIds" item="id" separator="," open="(" close=")">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>

    <!--根据车辆SN查询单个-->
    <select id="selectById" resultType="com.xiliulou.electricity.entity.ElectricityCar">
        <include refid="selectElectricityCar"/>
        where id = #{id} and del_flag=0
    </select>


    <!--根据车辆SN查询单个-->
    <select id="selectBySn" resultType="com.xiliulou.electricity.entity.ElectricityCar">
        <include refid="selectElectricityCar"/>
        where
        sn = #{sn}
        and del_flag=0
        <if test="tenantId != null">
            and tenant_id = #{tenantId}
        </if>
    </select>
    
    <update id="updateLockTypeById">
        update t_electricity_car set lock_type = #{lockType}
        where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>
    
    <select id="queryByStoreIds" resultType="com.xiliulou.electricity.entity.ElectricityCar">
        <include refid="selectElectricityCar"/>
        <where>
            del_flag = 0
            and tenant_id = #{tenantId}
            and store_id in
            <foreach collection="storeIds" open="(" close=")" item="id" separator=",">
                #{id}
            </foreach>
        </where>
    </select>
    
    <select id="queryElectricityCarOverview" resultType="com.xiliulou.electricity.vo.ElectricityCarOverviewVo">
        select ec.sn, ec.id, ec.longitude, ec.latitude, ec.model as car_model_name,
        s.name as store_name, ec.lock_type, ec.user_name, ec.phone
        from t_electricity_car ec
        left join t_store s on ec.store_id = s.id
        <where>
            ec.tenant_id = #{tenantId}
            <if test="carIds != null and carIds.size() > 0">
                and ec.id in
                <foreach collection="carIds" item="id" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
            <if test="sn != null and sn != ''">
                and ec.sn = #{sn}
            </if>
        </where>
    </select>
    
    <select id="batteryStatistical" resultType="long">
        select count(*) from t_electricity_car
        <where>
            tenant_id = #{tenantId} and del_flag = 0
            <if test="carIds != null and carIds.size() > 0">
                and id in
                <foreach collection="carIds" item="id" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>

    <select id="isUserBindCar" resultType="Integer">
		SELECT 1 FROM t_electricity_car WHERE del_flag=0 and uid = #{uid} AND tenant_id = #{tenantId} LIMIT 1
	</select>

    
    <select id="queryEnableMoveCarByStoreId" resultType="com.xiliulou.electricity.vo.ElectricityCarMoveVo">
        select
            id, sn
        from t_electricity_car
        where tenant_id = #{tenantId} and del_flag = 0
        and store_id = #{storeId} and status = 0
        <if test="sn != null and sn != ''">
            and sn = #{sn}
        </if>
        limit #{offset}, #{size}
    </select>
    
    <select id="queryModelIdBySidAndIds" resultType="com.xiliulou.electricity.entity.ElectricityCar">
        select id, sn, model_id from t_electricity_car
        <where>
            del_flag = 0
            and tenant_id = #{tenantId}
            and id in
            <foreach collection="carIds" open="(" close=")" item="id" separator=",">
                #{id}
            </foreach>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="sid != null">
                and store_id = #{sid}
            </if>
        </where>
    </select>
    <update id="updateStoreIdByIds">
        update t_electricity_car
        set store_id = #{sid}, update_time = #{updateTime}
        where tenant_id = #{tenantId} and del_flag = 0
        and id in
        <foreach collection="carIds" open="(" close=")" item="id" separator=",">
            #{id}
        </foreach>
    </update>
<!--  数据聚合专用，不可服用-->
    <sql id="QUERY_CAR_DATA" >
        select ec.sn AS carSn ,ec.model,f.name AS franchiseeName,s.name AS storeName,ui.uid AS uid,ui.user_name AS userName ,ui.phone as phone,
               ec.status AS carStatus,ec.update_time AS updateTime ,ec.create_time AS creatTime
               crpmt.due_time  AS dueTime,ec.latitude AS latitude , ec.longitude AS longitude
        from t_electricity_car ec
                 left join t_user_info ui on ec.uid = ui.uid
                 left join t_franchisee f on ec.id = f.id
                 left join t_store s on ec.id = s.id
                 left join t_car_rental_package_member_term crpmt on crpmt.uid = ui.uid
    </sql>
    <sql id="QUERY_CAR_DATA_COUNT" >
        select count(*)
        from t_electricity_car ec
                 left join t_user_info ui on ec.uid = ui.uid
                 left join t_franchisee f on ec.id = f.id
                 left join t_store s on ec.id = s.id
                 left join t_car_rental_package_member_term crpmt on crpmt.uid = ui.uid
    </sql>


    <select id="queryAllCarData" resultType="com.xiliulou.electricity.entity.car.CarDataEntity">
        <include refid="QUERY_CAR_DATA"/>

        where ec.tenant_id = #{query.tenantId} and ec.del_flag = 0

        <if test="query.carSn != null and query.carSn!=''">
            and ec.sn like concat('%',#{query.carSn, jdbcType=VARCHAR},'%')
        </if>
        <if test="query.model != null and query.model !=''">
            and ec.model like concat('%',#{query.model, jdbcType=VARCHAR},'%')
        </if>
--         门店和加盟
        <if test="query.franchiseeId != null ">
            and ec.franchisee_id = #{query.franchiseeId}
        </if>
--         用户名和手机
        <if test="query.phone != null and query.phone != '' ">
            and ui.phone = #{query.phone}
        </if>
        <if test="query.userName != null and query.userName !=''">
            and ui.user_name like concat('%',#{query.userName, jdbcType=VARCHAR},'%')
        </if>
        order by ec.create_time desc
        limit #{query.offset}, #{query.size}


    </select>
    <select id="queryAllCarDataCount" resultType="java.lang.Integer">
        <include refid="QUERY_CAR_DATA_COUNT"/>

        where ec.tenant_id = #{query.tenantId} and ec.del_flag = 0

        <if test="query.carSn != null and query.carSn!=''">
            and ec.sn like concat('%',#{query.carSn, jdbcType=VARCHAR},'%')
        </if>
        <if test="query.model != null and query.model !=''">
            and ec.model like concat('%',#{query.model, jdbcType=VARCHAR},'%')
        </if>
        --         门店和加盟
        <if test="query.franchiseeId != null ">
            and ec.franchisee_id = #{query.franchiseeId}
        </if>
        --         用户名和手机
        <if test="query.phone != null and query.phone != '' ">
            and ui.phone = #{query.phone}
        </if>
        <if test="query.userName != null and query.userName !=''">
            and ui.user_name like concat('%',#{query.userName, jdbcType=VARCHAR},'%')
        </if>
        order by ec.create_time desc
        limit #{query.offset}, #{query.size}

    </select>
    <select id="queryRentCarData" resultType="com.xiliulou.electricity.entity.car.CarDataEntity">
        <include refid="QUERY_CAR_DATA"/>

        where ec.tenant_id = #{query.tenantId} and ec.del_flag = 0 and ec.status = 1

        <if test="query.carSn != null and query.carSn!=''">
            and ec.sn like concat('%',#{query.carSn, jdbcType=VARCHAR},'%')
        </if>
        <if test="query.model != null and query.model !=''">
            and ec.model like concat('%',#{query.model, jdbcType=VARCHAR},'%')
        </if>
        --         门店和加盟
        <if test="query.franchiseeId != null ">
            and ec.franchisee_id = #{query.franchiseeId}
        </if>
        --         用户名和手机
        <if test="query.phone != null and query.phone != '' ">
            and ui.phone = #{query.phone}
        </if>
        <if test="query.userName != null and query.userName !=''">
            and ui.user_name like concat('%',#{query.userName, jdbcType=VARCHAR},'%')
        </if>

        order by ec.create_time desc
        limit #{query.offset}, #{query.size}
    </select>

    <select id="queryRentCarDataCount" resultType="java.lang.Integer">
        <include refid="QUERY_CAR_DATA_COUNT"/>

        where ec.tenant_id = #{query.tenantId} and ec.del_flag = 0 and sec.tatus = 1

        <if test="query.carSn != null and query.carSn!=''">
            and ec.sn like concat('%',#{query.carSn, jdbcType=VARCHAR},'%')
        </if>
        <if test="query.model != null and query.model !=''">
            and ec.model like concat('%',#{query.model, jdbcType=VARCHAR},'%')
        </if>
        --         门店和加盟
        <if test="query.franchiseeId != null ">
            and ec.franchisee_id = #{query.franchiseeId}
        </if>
        --         用户名和手机
        <if test="query.phone != null and query.phone != '' ">
            and ui.phone = #{query.phone}
        </if>
        <if test="query.userName != null and query.userName !=''">
            and ui.user_name like concat('%',#{query.userName, jdbcType=VARCHAR},'%')
        </if>

        order by ec.create_time desc
        limit #{query.offset}, #{query.size}
    </select>
    <select id="queryNotRentCarData" resultType="com.xiliulou.electricity.entity.car.CarDataEntity">
        <include refid="QUERY_CAR_DATA"/>

        where ec.tenant_id = #{query.tenantId} and ec.del_flag = 0 and ec.status = 0

        <if test="query.carSn != null and query.carSn!=''">
            and ec.sn like concat('%',#{query.carSn, jdbcType=VARCHAR},'%')
        </if>
        <if test="query.model != null and query.model !=''">
            and ec.model like concat('%',#{query.model, jdbcType=VARCHAR},'%')
        </if>
        --         门店和加盟
        <if test="query.franchiseeId != null ">
            and ec.franchisee_id = #{query.franchiseeId}
        </if>
        --         用户名和手机
        <if test="query.phone != null and query.phone != '' ">
            and ui.phone = #{query.phone}
        </if>
        <if test="query.userName != null and query.userName !=''">
            and ui.user_name like concat('%',#{query.userName, jdbcType=VARCHAR},'%')
        </if>

        order by ec.create_time desc
        limit #{query.offset}, #{query.size}


    </select>
    <select id="queryNotRentCarDataCount" resultType="java.lang.Integer">
        <include refid="QUERY_CAR_DATA_COUNT"/>

        where ec.tenant_id = #{query.tenantId} and ec.del_flag = 0 and ec.status = 0

        <if test="query.carSn != null and query.carSn!=''">
            and ec.sn like concat('%',#{query.carSn, jdbcType=VARCHAR},'%')
        </if>
        <if test="query.model != null and query.model !=''">
            and ec.model like concat('%',#{query.model, jdbcType=VARCHAR},'%')
        </if>
        --         门店和加盟
        <if test="query.franchiseeId != null ">
            and ec.franchisee_id = #{query.franchiseeId}
        </if>
        --         用户名和手机
        <if test="query.phone != null and query.phone != '' ">
            and ui.phone = #{query.phone}
        </if>
        <if test="query.userName != null and query.userName !=''">
            and ui.user_name like concat('%',#{query.userName, jdbcType=VARCHAR},'%')
        </if>
        order by ec.create_time desc
        limit #{query.offset}, #{query.size}

    </select>
    <select id="queryOverdueCarData" resultType="com.xiliulou.electricity.entity.car.CarDataEntity">
        <include refid="QUERY_CAR_DATA"></include>
        where ec.tenant_id = #{query.tenantId} and ec.del_flag = 0 and UNIX_TIMESTAMP() > crpmt.due_time

        <if test="query.carSn != null and query.carSn!=''">
            and ec.sn like concat('%',#{query.carSn, jdbcType=VARCHAR},'%')
        </if>
        <if test="query.model != null and query.model !=''">
            and ec.model like concat('%',#{query.model, jdbcType=VARCHAR},'%')
        </if>
        --         门店和加盟
        <if test="query.franchiseeId != null ">
            and ec.franchisee_id = #{query.franchiseeId}
        </if>
        --         用户名和手机
        <if test="query.phone != null and query.phone != '' ">
            and ui.phone = #{query.phone}
        </if>
        <if test="query.userName != null and query.userName !=''">
            and ui.user_name like concat('%',#{query.userName, jdbcType=VARCHAR},'%')
        </if>
        order by ec.create_time desc
        limit #{query.offset}, #{query.size}
    </select>
    <select id="queryOverdueCarDataCount" resultType="java.lang.Integer">
        <include refid="QUERY_CAR_DATA_COUNT"></include>
        where ec.tenant_id = #{query.tenantId} and ec.del_flag = 0 and UNIX_TIMESTAMP() > crpmt.due_time

        <if test="query.carSn != null and query.carSn!=''">
            and ec.sn like concat('%',#{query.carSn, jdbcType=VARCHAR},'%')
        </if>
        <if test="query.model != null and query.model !=''">
            and ec.model like concat('%',#{query.model, jdbcType=VARCHAR},'%')
        </if>
        --         门店和加盟
        <if test="query.franchiseeId != null ">
            and ec.franchisee_id = #{query.franchiseeId}
        </if>
        --         用户名和手机
        <if test="query.phone != null and query.phone != '' ">
            and ui.phone = #{query.phone}
        </if>
        <if test="query.userName != null and query.userName !=''">
            and ui.user_name like concat('%',#{query.userName, jdbcType=VARCHAR},'%')
        </if>
        order by ec.create_time desc
        limit #{query.offset}, #{query.size}
    </select>
    <select id="queryOfflineCarData" resultType="com.xiliulou.electricity.entity.car.CarDataEntity">
        <include refid="QUERY_CAR_DATA"></include>
        where ec.tenant_id = #{query.tenantId} and ec.del_flag = 0 and (ec.longitude is null or ec.latitude id null)

        <if test="query.carSn != null and query.carSn!=''">
            and ec.sn like concat('%',#{query.carSn, jdbcType=VARCHAR},'%')
        </if>
        <if test="query.model != null and query.model !=''">
            and ec.model like concat('%',#{query.model, jdbcType=VARCHAR},'%')
        </if>
        --         门店和加盟
        <if test="query.franchiseeId != null ">
            and ec.franchisee_id = #{query.franchiseeId}
        </if>
        --         用户名和手机
        <if test="query.phone != null and query.phone != '' ">
            and ui.phone = #{query.phone}
        </if>
        <if test="query.userName != null and query.userName !=''">
            and ui.user_name like concat('%',#{query.userName, jdbcType=VARCHAR},'%')
        </if>
        order by ec.create_time desc
        limit #{query.offset}, #{query.size}

    </select>
    <select id="queryOfflineCarDataCount" resultType="java.lang.Integer">
        <include refid="QUERY_CAR_DATA_COUNT"></include>
        where ec.tenant_id = #{query.tenantId} and ec.del_flag = 0 and (ec.longitude is null or ec.latitude id null)

        <if test="query.carSn != null and query.carSn!=''">
            and ec.sn like concat('%',#{query.carSn, jdbcType=VARCHAR},'%')
        </if>
        <if test="query.model != null and query.model !=''">
            and ec.model like concat('%',#{query.model, jdbcType=VARCHAR},'%')
        </if>
        --         门店和加盟
        <if test="query.franchiseeId != null ">
            and ec.franchisee_id = #{query.franchiseeId}
        </if>
        --         用户名和手机
        <if test="query.phone != null and query.phone != '' ">
            and ui.phone = #{query.phone}
        </if>
        <if test="query.userName != null and query.userName !=''">
            and ui.user_name like concat('%',#{query.userName, jdbcType=VARCHAR},'%')
        </if>
        order by ec.create_time desc
        limit #{query.offset}, #{query.size}

    </select>


</mapper>
