<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.ElectricityBatteryMapper">

    <resultMap type="com.xiliulou.electricity.entity.ElectricityBattery" id="ElectricityBatteryMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="shopId" column="shop_id" jdbcType="INTEGER"/>
        <result property="agentId" column="agent" jdbcType="INTEGER"/>
        <result property="serialNumber" column="serial_number" jdbcType="VARCHAR"/>
        <result property="modelId" column="model_id" jdbcType="INTEGER"/>
        <result property="capacity" column="capacity" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="OTHER"/>
        <result property="createTime" column="create_time" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="INTEGER"/>
        <result property="delFlag" column="del_flag" jdbcType="OTHER"/>
        <result property="uid" column="uid" jdbcType="INTEGER"/>
        <result property="cabinetId" column="cabinet_id" jdbcType="INTEGER"/>
    </resultMap>


    <!--电池分页-->
    <select id="getElectricityBatteryPage" resultType="com.xiliulou.electricity.vo.ElectricityBatteryVo">
            select  * from  t_electricity_battery where  del_flag = 0  order by  create_time desc limit 0, 5;


    </select>
    <select id="homeTwo" resultType="com.xiliulou.electricity.entity.ElectricityBattery">
        select teb.id as id,teb.shop_id as shop_id,teb.agentId as agentId,teb.serial_number as serial_number,teb.model_id as model_id,
        teb.capacity as capacity,teb.status as status,teb.create_time as create_time,teb.update_time as update_time,
        teb.del_flag as del_flag,teb.uid as uid,teb.cabinet_id as cabinet_id
        form t_electricity_battery as teb
        left join electricity.t_store as ts on teb.shop_id=ts.id
        where teb.del_flag=0 and ts.del_flag=0
        <if test="areaId != null">
            and ts.area_id = #{areaId}
        </if>
    </select>


</mapper>