<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.ElectricityBatteryMapper">



	<!--电池分页-->
	<select id="queryList" resultType="com.xiliulou.electricity.entity.ElectricityBattery">
		select b.id, b.sn,b.power, b.voltage, b.capacity, b.status, b.create_time, b.update_time, b.del_flag, b.tenant_id, b.electricity_cabinet_id,
		b.uid,b.model,b.charge_status,b.iot_card_number
		from t_electricity_battery b
		where b.del_flag = 0 and b.tenant_id = #{query.tenantId}
		<if test="query.sn != null and query.sn !=''">
			and b.sn like concat('%',#{query.sn,jdbcType=VARCHAR},'%')
		</if>
		<if test="query.status != null">
			and b.status =#{query.status}
		</if>
		<if test="query.chargeStatus != null">
			and b.charge_status =#{query.chargeStatus}
		</if>
		<if test="query.tenantId != null">
			and b.tenant_id = #{query.tenantId}
		</if>
		<if test="query.electricityCabinetName != null">
 			and b.electricity_cabinet_name like  concat('%',#{query.electricityCabinetName},'%') and status = 0
 		</if>
		<if test="query.electricityBatteryIdList!=null and query.electricityBatteryIdList!=''">
			and b.id in
			<foreach collection="query.electricityBatteryIdList" item="id" index="index" open="(" close=")"
					 separator=",">
				#{id}
			</foreach>
		</if>
		<if test="query.franchiseeName != null">
			and b.id in (select fbeb.electricity_battery_id from t_franchisee_bind_electricity_battery fbeb left join t_franchisee f on fbeb.franchisee_id = f.id where f.name like concat('%',#{query.franchiseeName},'%'))
		</if>
		order by create_time desc
		limit #{offset}, #{size}
	</select>

	<!--电池分页-->
	<select id="queryNotBindList" resultType="com.xiliulou.electricity.entity.ElectricityBattery">
		select b.id, b.sn,b.power, b.voltage, b.capacity, b.status, b.create_time, b.update_time, b.del_flag, b.tenant_id, b.electricity_cabinet_id,
		b.uid,b.model,b.charge_status
		from t_electricity_battery b
		where b.del_flag = 0 and b.tenant_id = #{tenantId}
		and id not in(
		     select electricity_battery_id from t_franchisee_bind_electricity_battery fbeb where 1=1
		     <if test="franchiseeId != null">
				 and fbeb.franchisee_id != #{franchiseeId}
             </if>
		     )
		order by create_time desc
		limit #{offset}, #{size}
	</select>

	<select id="queryCount" resultType="java.lang.Integer">
		select COUNT(1)
		from t_electricity_battery b
		where b.del_flag = 0
		<if test="query.tenantId != null">
			and b.tenant_id =#{query.tenantId}
		</if>
		<if test="query.sn != null and query.sn !=''">
			and b.sn like concat('%',#{query.sn,jdbcType=VARCHAR},'%')
		</if>
		<if test="query.status != null">
			and b.status =#{query.status}
		</if>
		<if test="query.chargeStatus != null">
			and b.charge_status =#{query.chargeStatus}
		</if>
		<if test="query.tenantId != null">
			and b.tenant_id = #{query.tenantId}
		</if>
		<if test="query.electricityCabinetName != null">
            and b.electricity_cabinet_name like  concat('%',#{query.electricityCabinetName},'%') and status = 0
		</if>
		<if test="query.electricityBatteryIdList!=null and query.electricityBatteryIdList!=''">
			and b.id in
			<foreach collection="query.electricityBatteryIdList" item="id" index="index" open="(" close=")"
					 separator=",">
				#{id}
			</foreach>
		</if>
		<if test="query.franchiseeName != null">
            and b.id in (select fbeb.electricity_battery_id from t_franchisee_bind_electricity_battery fbeb left join t_franchisee f on fbeb.franchisee_id = f.id where f.name like concat('%',#{query.franchiseeName},'%'))
		</if>
	</select>



	<select id="selectBatteryInfo" resultType="com.xiliulou.electricity.vo.ElectricityBatteryVO">
        select teb.id as id, teb.sn as sn,teb.power as power, teb.voltage as voltage,
        teb.capacity as capacity,teb.status as status, teb.create_time as createTime, teb.update_time as updateTime,
        teb.electricity_cabinet_id as electricityCabinetId,teb.uid as uid,
        tbop.battery_v as battery_v, tbop.battery_charge_a as battery_charge_a,
        tbop.sum_v as sum_v, tbop.sum_a as sum_a
        FROM t_electricity_battery as teb
        left join t_battery_other_properties as tbop on teb.sn=tbop.battery_name
        WHERE teb.uid = #{uid} and teb.del_flag = 0
    </select>


	<select id="selectBatteryDetailInfoBySN" resultType="com.xiliulou.electricity.vo.ElectricityBatteryVO">
        select teb.id as id, teb.sn as sn,teb.power as power, teb.voltage as voltage,
        teb.capacity as capacity,teb.status as status, teb.create_time as createTime, teb.update_time as updateTime,
        teb.electricity_cabinet_id as electricityCabinetId,teb.uid as uid,teb.charge_status as chargeStatus,
        tbop.battery_v as batteryV,tbop.battery_charge_a as batteryChargeA
        FROM t_electricity_battery as teb
        left join t_battery_other_properties as tbop on teb.sn=tbop.battery_name
        WHERE teb.sn = #{sn} and teb.del_flag = 0
    </select>


	<select id="queryBorrowExpireBattery" resultMap="queryBorrowExpireBatteryMap">
        select b.sn, b.electricity_cabinet_name, b.borrow_expire_time, u.name, u.phone, b.status, b.tenant_id
        FROM t_electricity_battery b left join t_user_info u on b.uid = u.uid
        WHERE b.borrow_expire_time &lt; #{curTime} and b.del_flag = 0 and b.status in(2,3,4) limit #{offset}, #{size}
    </select>
	<resultMap id="queryBorrowExpireBatteryMap" type="com.xiliulou.electricity.vo.BorrowExpireBatteryVo">
		<result column="sn" property="sn"></result>
		<result column="electricity_cabinet_name" property="electricityCabinetName"></result>
		<result column="borrow_expire_time" property="borrowExpireTime"></result>
		<result column="name" property="name"></result>
		<result column="phone" property="phone"></result>
		<result column="status" property="status"></result>
		<result column="tenant_id" property="tenantId"></result>
	</resultMap>


	<select id="queryLowBattery" resultType="com.xiliulou.electricity.entity.ElectricityBattery">
		select sn, tenant_id, uid , power from t_electricity_battery where power &lt; #{batteryLevel} and status = 2 limit #{offset}, #{size}
    </select>

	<select id="queryByUid" resultType="com.xiliulou.electricity.entity.ElectricityBattery">
		select teb.id as id, teb.sn as sn,teb.power as power, teb.voltage as voltage,
        teb.capacity as capacity,teb.status as status, teb.create_time as createTime, teb.update_time as updateTime,
        teb.electricity_cabinet_id as electricityCabinetId,teb.uid as uid
        FROM t_electricity_battery as teb
        WHERE teb.uid = #{uid} and teb.del_flag = 0
	</select>

	<update id="updateByOrder">
		update t_electricity_battery
		set
		<if test="chargeStatus != null">
			charge_status =#{chargeStatus},
		</if>
		<if test="healthStatus != null">
			health_status =#{healthStatus},
		</if>
		<if test="power != null">
			power =#{power},
		</if>
		<if test="model != null">
			model =#{model},
		</if>
		<if test="exchangeCount != null">
			exchange_count =#{exchangeCount},
		</if>
		electricity_cabinet_name=#{electricityCabinetName},
		electricity_cabinet_id=#{electricityCabinetId},
		uid=#{uid},status=#{status},
		last_deposit_cell_no=#{lastDepositCellNo},
		borrow_expire_time=#{borrowExpireTime},
		update_time=#{updateTime}
		where id=#{id}
	</update>

	<update id="updateByOrderV2">
		update t_electricity_battery
		set
		<if test="chargeStatus != null">
			charge_status =#{chargeStatus},
		</if>
		<if test="healthStatus != null">
			health_status =#{healthStatus},
		</if>
		<if test="power != null">
			power =#{power},
		</if>
		<if test="model != null">
			model =#{model},
		</if>
		<if test="exchangeCount != null">
			exchange_count =#{exchangeCount},
		</if>
		electricity_cabinet_name=#{electricityCabinetName},
		electricity_cabinet_id=#{electricityCabinetId},
		status=#{status},
		last_deposit_cell_no=#{lastDepositCellNo},
		borrow_expire_time=#{borrowExpireTime},
		update_time=#{updateTime}
		where id=#{id}
	</update>

	<select id="homepageBatteryAnalysis" resultType="com.xiliulou.electricity.vo.HomepageBatteryFrequencyVo">
       select sn,exchange_count as useCount,status from t_electricity_battery b
       where b.del_flag = 0
		<if test="query.tenantId != null">
			and b.tenant_id =#{query.tenantId}
		</if>
		<if test="query.batterySn != null and query.batterySn !=''">
			and b.sn like concat('%',#{query.batterySn,jdbcType=VARCHAR},'%')
		</if>
		<if test="query.beginTime != null">
			and b.update_time &gt;=#{query.beginTime}
		</if>
		<if test="query.endTime != null">
			and b.update_time &lt;=#{query.endTime}
		</if>
		<if test="query.franchiseeId != null">
			and b.id in (select fbeb.electricity_battery_id from t_franchisee_bind_electricity_battery fbeb where fbeb.franchisee_id=#{query.franchiseeId})
		</if>
		order by exchange_count desc
		limit #{query.offset}, #{query.size}
    </select>

	<select id="homepageBatteryAnalysisCount" resultType="com.xiliulou.electricity.vo.HomepageBatteryFrequencyVo">
		select sn,exchange_count as useCount,status from t_electricity_battery b
		where b.del_flag = 0
		<if test="query.tenantId != null">
			and b.tenant_id =#{query.tenantId}
		</if>
		<if test="query.batterySn != null and query.batterySn !=''">
			and b.sn like concat('%',#{query.batterySn,jdbcType=VARCHAR},'%')
		</if>
		<if test="query.beginTime != null">
			and b.update_time &gt;=#{query.beginTime}
		</if>
		<if test="query.endTime != null">
			and b.update_time &lt;=#{query.endTime}
		</if>
		<if test="query.franchiseeId != null">
			and b.id in (select fbeb.electricity_battery_id from t_franchisee_bind_electricity_battery fbeb where fbeb.franchisee_id=#{query.franchiseeId})
		</if>
	</select>

	<select id="queryBatteryOverview" resultType="com.xiliulou.electricity.entity.ElectricityBattery">
		select b.id, b.sn,b.power, b.voltage, b.capacity, b.status, b.create_time, b.update_time, b.del_flag, b.tenant_id, b.electricity_cabinet_id,
		b.uid,b.model,b.charge_status,b.iot_card_number,b.longitude,b.latitude
		from t_electricity_battery b
		where b.del_flag = 0 and b.tenant_id = #{query.tenantId}
		<if test="query.sn != null and query.sn !=''">
			and b.sn like concat('%',#{query.sn,jdbcType=VARCHAR},'%')
		</if>
		<if test="query.status != null">
			and b.status =#{query.status}
		</if>
		order by create_time desc
	</select>

	<select id="batteryStatistical" resultType="com.xiliulou.electricity.vo.BatteryStatisticalVo">
		SELECT  COUNT(1) sumCount,
 				sum(CASE WHEN status = 0 THEN 1 ELSE 0 END) wareHouseCount ,
 				sum(CASE WHEN status = 1 THEN 1 ELSE 0 END) stockCount ,
 				sum(CASE WHEN status = 2 THEN 1 ELSE 0 END) leaseCount ,
 				sum(CASE WHEN status = 3 THEN 1 ELSE 0 END) exceptionCount ,
 				sum(CASE WHEN status = 4 THEN 1 ELSE 0 END) exceptionFreeCount
 		FROM t_electricity_battery  where tenant_id=#{tenantId} and del_flag=0;
	</select>


</mapper>
