<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.ElectricityCarModelMapper">


    <!-- 基础字段 -->
    <sql id="selectElectricityCarModel">
       	select   id, name, franchisee_id, del_flag, create_time, update_time, tenant_id, store_id, rent_type, car_deposit, other_properties  from t_electricity_car_model
    </sql>

    <!--查询单个-->
    <select id="selectById" resultType="com.xiliulou.electricity.entity.ElectricityCarModel">
        <include refid="selectElectricityCarModel"/>
        where id = #{id}
    </select>

    <!--查询指定行数据-->

    <select id="queryList" resultType="com.xiliulou.electricity.vo.ElectricityCarModelVO">
        select
        tecm.id, tecm.name,tecm.franchisee_id, tecm.del_flag, tecm.create_time, tecm.update_time,tecm.tenant_id,
        tecm.store_id, tecm.rent_type, tecm.car_deposit, tecm.other_properties
        from t_electricity_car_model tecm
        where tecm.del_flag=0
        <if test="query.name != null and query.name != ''">
            and tecm.name = #{query.name}
        </if>
        <if test="query.tenantId != null">
            and tecm.tenant_id = #{query.tenantId}
        </if>
        <if test="query.franchiseeId != null">
            and tecm.franchisee_id = #{query.franchiseeId}
        </if>
        <if test="query.franchiseeIds != null">
            and tecm.franchisee_id in
            <foreach collection="query.franchiseeIds" item="id" index="index" open="(" close=")"  separator=",">
                #{id}
            </foreach>
        </if>
        order by tecm.update_time desc
        limit #{query.offset}, #{query.size}
    </select>

    <select id="queryCount" resultType="java.lang.Integer">
        select COUNT(1)
        from t_electricity_car_model tecm  left join t_franchisee tf on tecm.franchisee_id=tf.id
        where tecm.del_flag=0
        <if test="query.name != null and query.name != ''">
            and tecm.name = #{query.name}
        </if>
        <if test="query.tenantId != null">
            and tecm.tenant_id = #{query.tenantId}
        </if>
        <if test="query.franchiseeIds != null">
            and tecm.franchisee_id in
            <foreach collection="query.franchiseeIds" item="id" index="index" open="(" close=")"  separator=",">
                #{id}
            </foreach>
        </if>
    </select>

    <!--查询指定行数据-->
    <select id="selectByPage" resultType="com.xiliulou.electricity.entity.ElectricityCarModel">
        <include refid="selectElectricityCarModel"/>
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="franchiseeId != null">
                and franchisee_id = #{franchiseeId}
            </if>
            <if test="delFlag != null">
                and del_flag = #{delFlag}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="tenantId != null">
                and tenant_id = #{tenantId}
            </if>
            <if test="storeId != null">
                and store_id = #{storeId}
            </if>
            <if test="rentType != null and rentType != ''">
                and rent_type = #{rentType}
            </if>
            <if test="carDeposit != null">
                and car_deposit = #{carDeposit}
            </if>
            <if test="otherProperties != null and otherProperties != ''">
                and other_properties = #{otherProperties}
            </if>
        </where>
        order by create_time desc
        limit #{offset}, #{size}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="selectByQuery" resultType="com.xiliulou.electricity.entity.ElectricityCarModel">
        <include refid="selectElectricityCarModel"/>
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="franchiseeId != null">
                and franchisee_id = #{franchiseeId}
            </if>
            <if test="delFlag != null">
                and del_flag = #{delFlag}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="tenantId != null">
                and tenant_id = #{tenantId}
            </if>
            <if test="storeId != null">
                and store_id = #{storeId}
            </if>
            <if test="rentType != null and rentType != ''">
                and rent_type = #{rentType}
            </if>
            <if test="carDeposit != null">
                and car_deposit = #{carDeposit}
            </if>
            <if test="otherproperties != null and otherproperties != ''">
                and otherProperties = #{otherproperties}
            </if>
        </where>
    </select>
    
    <!--通过主键修改数据-->
    <update id="update">
        update t_electricity_car_model
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="franchiseeId != null">
                franchisee_id = #{franchiseeId},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="storeId != null">
                store_id = #{storeId},
            </if>
            <if test="rentType != null and rentType != ''">
                rent_type = #{rentType},
            </if>
            <if test="carDeposit != null">
                car_deposit = #{carDeposit},
            </if>
            <if test="otherProperties != null and otherProperties != ''">
                other_properties = #{otherProperties},
            </if>
        </set>
        where id = #{id} and tenant_id = #{tenantId}
    </update>
    


</mapper>
