<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.ElectricityCabinetFileMapper">

    <resultMap type="com.xiliulou.electricity.entity.ElectricityCabinetFile" id="ElectricityCabinetFileMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="electricityCabinetId" column="electricity_cabinet_id" jdbcType="INTEGER"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="sequence" column="sequence" jdbcType="INTEGER"/>
        <result property="url" column="url" jdbcType="VARCHAR"/>
        <result property="bucketName" column="bucket_name" jdbcType="VARCHAR"/>
        <result property="isOss" column="is_oss" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="INTEGER"/>
    </resultMap>
    <delete id="deleteByDeviceInfo">
        delete from electricity.t_electricity_cabinet_file
        where type = #{fileType} and is_oss=#{isUseOSS}
        <if test="electricityCabinetId != null">
            and electricity_cabinet_id = #{electricityCabinetId}
        </if>
    </delete>


</mapper>