<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.ElectricityCabinetStatisticMapper">

    <select id="selectByElectricityCabinetId" resultType="com.xiliulou.electricity.entity.ElectricityCabinetStatistic">
        select id, statistic_date, electricity_cabinet_id,use_frequency,average_number,average_activity,today_number,today_activity
        from t_electricity_cabinet_statistic
        where electricity_cabinet_id = #{eid} and statistic_date = #{statisticDate}
    </select>
    
    <select id="selectListByElectricityCabinetIdList" resultType="com.xiliulou.electricity.entity.ElectricityCabinetStatistic">
        select id, statistic_date, electricity_cabinet_id,use_frequency,average_number,average_activity,today_number,today_activity
        from t_electricity_cabinet_statistic
        where electricity_cabinet_id = #{eid} and statistic_date = #{statisticDate}
    </select>
    
    <insert id="insertOne">
        insert into t_electricity_cabinet_statistic(statistic_date, electricity_cabinet_id, electricity_cabinet_name, use_frequency, average_number, average_activity，today_number,today_activity,create_time,update_time,tenant_id)
            values (#{statisticDate}, #{electricityCabinetId}, #{electricityCabinetName}, #{useFrequency}, #{averageNumber},#{averageActivity},#{todayNumber},#{todayActivity},#{createTime},#{updateTime},#{tenantId})
    </insert>
    
    <insert id="batchInsert">
        insert into t_electricity_cabinet_statistic(statistic_date, electricity_cabinet_id, electricity_cabinet_name, use_frequency, average_number, average_activity，today_number,today_activity,create_time,update_time,tenant_id)
        values
        <foreach item="item" index="index" collection="statisticList" separator=",">
            (#{item.statisticDate}, #{item.electricityCabinetId}, #{item.electricityCabinetName}, #{item.useFrequency}, #{item.averageNumber},#{item.averageActivity},#{item.todayNumber},#{item.todayActivity},#{item.createTime},#{item.updateTime},#{item.tenantId})
        </foreach>
    </insert>
    
    <update id="update">
        update t_electricity_cabinet_statistic
        <set>
            <if test="statisticDate != null">
                statistic_date = #{statisticDate},
            </if>
            <if test="electricityCabinetId != null and electricityCabinetId != ''">
                electricity_cabinet_id = #{electricityCabinetId},
            </if>
            <if test="electricityCabinetName != null">
                electricity_cabinet_name = #{electricityCabinetName},
            </if>
            <if test="useFrequency != null">
                use_frequency = #{useFrequency},
            </if>
            <if test="averageNumber != null">
                average_number = #{averageNumber},
            </if>
            <if test="averageActivity != null">
                average_activity = #{averageActivity},
            </if>
            <if test="todayNumber != null">
                today_number = #{todayNumber},
            </if>
            <if test="todayActivity != null">
                today_activity = #{todayActivity},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>
