<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.ElectricityCabinetOrderOperHistoryMapper">


    <select id="queryListByOrderId" resultType="com.xiliulou.electricity.entity.ElectricityCabinetOrderOperHistory">
		select
		id ,order_id ,type , msg , create_time,
		tenant_id
		from t_electricity_cabinet_order_oper_history
		where order_id = #{query.orderId}
		AND type =#{query.type}
		order by create_time desc
		limit #{query.offset}, #{query.size}
	</select>

    <select id="queryCountByOrderId" resultType="java.lang.Integer">
		select count(1)
		from t_electricity_cabinet_order_oper_history
		where tecooh.order_id = #{query.orderId}
		AND type =#{query.type}
	</select>

    <insert id="insertOffLineEleExchangeOperateHistory">
        insert into t_electricity_cabinet_order_oper_history (order_id,type,msg,create_time,tenant_id)
        values
        <foreach collection="query.operateMsgVos" item="item" separator=",">
            (
            #{orderId,jdbcType=VARCHAR},
            #{type,jdbcType=INTEGER},
            #{item.operateMsg,jdbcType=VARCHAR},
            #{item.operateTime,jdbcType=BIGINT},
            #{tenantId,jdbcType=INTEGER}
            )
        </foreach>
    </insert>
</mapper>
