<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.ElectricityCabinetHysicsOperRecordMapper">

    <resultMap type="com.xiliulou.electricity.entity.ElectricityCabinetHysicsOperRecord" id="ElectricityCabinetHysicsOperRecordMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="electricityId" column="electricity_id" jdbcType="INTEGER"/>
        <result property="cellNo" column="cell_no" jdbcType="INTEGER"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="msg" column="msg" jdbcType="VARCHAR"/>
        <result property="uid" column="uid" jdbcType="INTEGER"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="ElectricityCabinetHysicsOperRecordMap">
        select
          id, electricity_id, cell_no, type, status, msg, uid, username, create_time
        from t_electricity_cabinet_hysics_oper_record
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="ElectricityCabinetHysicsOperRecordMap">
        select
          id, electricity_id, cell_no, type, status, msg, uid, username, create_time
        from t_electricity_cabinet_hysics_oper_record
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="ElectricityCabinetHysicsOperRecordMap">
        select
        id, electricity_id, cell_no, type, status, msg, uid, username, create_time
        from t_electricity_cabinet_hysics_oper_record
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="electricityId != null">
                and electricity_id = #{electricityId}
            </if>
            <if test="cellNo != null">
                and cell_no = #{cellNo}
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="msg != null and msg != ''">
                and msg = #{msg}
            </if>
            <if test="uid != null">
                and uid = #{uid}
            </if>
            <if test="username != null and username != ''">
                and username = #{username}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insertOne" keyProperty="id" useGeneratedKeys="true">
        insert into t_electricity_cabinet_hysics_oper_record(electricity_id, cell_no, type, status, msg, uid, username, create_time)
        values (#{electricityId}, #{cellNo}, #{type}, #{status}, #{msg}, #{uid}, #{username}, #{createTime})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update t_electricity_cabinet_hysics_oper_record
        <set>
            <if test="electricityId != null">
                electricity_id = #{electricityId},
            </if>
            <if test="cellNo != null">
                cell_no = #{cellNo},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="msg != null and msg != ''">
                msg = #{msg},
            </if>
            <if test="uid != null">
                uid = #{uid},
            </if>
            <if test="username != null and username != ''">
                username = #{username},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from t_electricity_cabinet_hysics_oper_record where id = #{id}
    </delete>

    <select id="cupboardOperRecordList" resultType="com.xiliulou.electricity.entity.ElectricityCabinetHysicsOperRecord">
        select
        id, electricity_id, create_time, type, cell_no, status, msg,uid,user_name
        from t_electricity_cabinet_hysics_oper_record
        <where>
            <if test="list != null and list.size() > 0 ">
                and electricity_id in
                <foreach collection="list" item="c" open="(" close=")" separator=",">
                    #{c}
                </foreach>
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
            <if test="cellNo != null">
                and cell_no = #{cellNo}
            </if>
            <if test="beginTime != null ">
                and create_time &gt;=#{beginTime}
            </if>
            <if test="endTime != null ">
                and create_time &lt;=#{endTime}
            </if>
        </where>
        order by create_time desc
        limit #{offset}, #{size}
    </select>

</mapper>
