<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.ElectricityPayParamsMapper">
    
    <resultMap type="com.xiliulou.electricity.entity.ElectricityPayParams" id="ElectricityPayParamsMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="officeAccountAppId" column="office_account_app_id" jdbcType="VARCHAR"/>
        <result property="officeAccountAppSecret" column="office_account_app_secret" jdbcType="VARCHAR"/>
        <result property="merchantMinProAppId" column="merchant_min_pro_app_id" jdbcType="VARCHAR"/>
        <result property="merchantMinProAppSecert" column="merchant_min_pro_app_secert" jdbcType="VARCHAR"/>
        <result property="wechatMerchantId" column="wechat_merchant_id" jdbcType="VARCHAR"/>
        <result property="wechatMerchantCertificateSno" column="wechat_merchant_certificate_sno" jdbcType="VARCHAR"/>
        <result property="wechatMerchantPrivateKeyPath" column="wechat_merchant_private_key_path" jdbcType="VARCHAR"/>
        <result property="wechatV3ApiKey" column="wechat_v3_api_key" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="BIGINT"/>
        <result property="updateTime" column="update_time" jdbcType="BIGINT"/>
        <result property="tenantId" column="tenant_id" jdbcType="INTEGER"/>
        <result property="apiName" column="api_name" jdbcType="VARCHAR"/>
        <result property="paternerKey" column="paterner_key" jdbcType="VARCHAR"/>
        <result property="configType" column="config_type" jdbcType="INTEGER"/>
        <result property="franchiseeId" column="franchisee_id" jdbcType="BIGINT"/>
        <result property="certType" column="cert_type" jdbcType="TINYINT"/>
        <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
    </resultMap>
    
    <sql id="base_column">
        id
        , office_account_app_id, office_account_app_secret, merchant_min_pro_app_id, merchant_min_pro_app_secert, wechat_merchant_id, wechat_merchant_certificate_sno, wechat_merchant_private_key_path, wechat_v3_api_key, create_time, update_time, tenant_id, api_name, paterner_key, config_type, franchisee_id,cert_type, del_flag
    </sql>
    
    <sql id="table_name">
        t_electricity_pay_params
    </sql>
    
    
    <select id="selectListByTenantIdAndFranchiseeIds" resultMap="ElectricityPayParamsMap">
        select
        <include refid="base_column"/>
        from
        <include refid="table_name"/>
        where del_flag = 0
        and tenant_id =#{tenantId}
        and franchisee_id in
        <foreach collection="franchiseeIds" open="(" separator="," close=")" item="franchiseeId">
            #{franchiseeId}
        </foreach>
    </select>
    
    
    <select id="selectByTenantId" resultMap="ElectricityPayParamsMap">
        select
        <include refid="base_column"/>
        from
        <include refid="table_name"/>
        where del_flag=0
        and tenant_id=#{tenantId}
        order by id asc
    </select>
    <select id="selectIdsByTenantIdAndConfigType" resultMap="ElectricityPayParamsMap">
        select
        <include refid="base_column"/>
        from
        <include refid="table_name"/>
        where del_flag=0
        and tenant_id=#{tenantId}
        and config_type=#{configType}
    </select>
    
    <select id="selectByTenantIdAndWechatMerchantId"
        resultMap="ElectricityPayParamsMap">
        select
        <include refid="base_column"/>
        from
        <include refid="table_name"/>
        where del_flag=0
        and tenant_id=#{tenantId}
        and wechat_merchant_id=#{wechatMerchantId}
        limit 1
    </select>
    <select id="selectFranchiseeIdsByTenantId" resultType="java.lang.Long">
        select franchisee_id
        from
        <include refid="table_name"/>
        where del_flag=0
        and tenant_id=#{tenantId}
    </select>
    <select id="selectListByAppId" resultMap="ElectricityPayParamsMap">
        select
        <include refid="base_column"/>
        from
        <include refid="table_name"/>
        where del_flag=0
        and tenant_id=#{tenantId}
        and merchant_min_pro_app_id=#{merchantMinProAppId}
    </select>
    
    
    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into t_electricity_pay_params(office_account_app_id, office_account_app_secret, merchant_min_pro_app_id, merchant_min_pro_app_secert, wechat_merchant_id,
                                             wechat_merchant_certificate_sno, wechat_merchant_private_key_path, wechat_v3_api_key, create_time, update_time, tenant_id, api_name,
                                             paterner_key, config_type, franchisee_id, cert_type)
        values (#{officeAccountAppId}, #{officeAccountAppSecret}, #{merchantMinProAppId}, #{merchantMinProAppSecert}, #{wechatMerchantId}, #{wechatMerchantCertificateSno},
                #{wechatMerchantPrivateKeyPath}, #{wechatV3ApiKey}, #{createTime}, #{updateTime}, #{tenantId}, #{apiName}, #{paternerKey}, #{configType}, #{franchiseeId},
                #{certType})
    </insert>
    
    
    <!--通过主键修改数据-->
    <update id="update">
        update
        <include refid="table_name"/>
        <set>
            update_time = UNIX_TIMESTAMP()*1000,
            <if test="officeAccountAppId != null and officeAccountAppId != ''">
                office_account_app_id = #{officeAccountAppId},
            </if>
            <if test="officeAccountAppSecret != null and officeAccountAppSecret != ''">
                office_account_app_secret = #{officeAccountAppSecret},
            </if>
            <if test="merchantMinProAppId != null and merchantMinProAppId != ''">
                merchant_min_pro_app_id = #{merchantMinProAppId},
            </if>
            <if test="merchantMinProAppSecert != null and merchantMinProAppSecert != ''">
                merchant_min_pro_app_secert = #{merchantMinProAppSecert},
            </if>
            <if test="wechatMerchantId != null and wechatMerchantId != ''">
                wechat_merchant_id = #{wechatMerchantId},
            </if>
            <if test="wechatMerchantCertificateSno != null and wechatMerchantCertificateSno != ''">
                wechat_merchant_certificate_sno = #{wechatMerchantCertificateSno},
            </if>
            <if test="wechatMerchantPrivateKeyPath != null and wechatMerchantPrivateKeyPath != ''">
                wechat_merchant_private_key_path = #{wechatMerchantPrivateKeyPath},
            </if>
            <if test="wechatV3ApiKey != null and wechatV3ApiKey != ''">
                wechat_v3_api_key = #{wechatV3ApiKey},
            </if>
            <if test="apiName != null and apiName != ''">
                api_name = #{apiName},
            </if>
            <if test="paternerKey != null and paternerKey != ''">
                paterner_key = #{paternerKey},
            </if>
            <if test="certType != null and certType != ''">
                cert_type = #{certType},
            </if>
        </set>
        where id = #{id} and tenant_id=#{tenantId}
    </update>
    
    <update id="logicalDelete">
        update
        <include refid="table_name"/>
        set del_flag = 1,update_time=UNIX_TIMESTAMP()*1000
        where id=#{id} and tenant_id=#{tenantId}
    </update>
    <update id="updateSync">
        update
        <include refid="table_name"/>
        <set>
            update_time = UNIX_TIMESTAMP()*1000,
            <if test="update.merchantMinProAppId != null and update.merchantMinProAppId != ''">
                merchant_min_pro_app_id = #{update.merchantMinProAppId},
            </if>
            <if test="update.merchantMinProAppSecert != null and update.merchantMinProAppSecert != ''">
                merchant_min_pro_app_secert = #{update.merchantMinProAppSecert},
            </if>
        </set>
        where
        id in
        <foreach collection="ids" open="(" close=")" item="item" separator=",">
            #{item}
        </foreach>
    </update>
    
    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from t_electricity_pay_params
        where id = #{id}
    </delete>

</mapper>

