<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.ElectricityCabinetModelMapper">


    <!--查询单个-->
    <select id="queryById" resultType="com.xiliulou.electricity.entity.ElectricityCabinetModel">
        select
          id, name, num, voltage, del_flag, create_time, update_time,tenant_id
        from electricity.t_electricity_cabinet_model
        where del_flag=0 and id = #{id} and  tenant_id = #{tenantId}
    </select>

    <!--查询指定行数据-->
    <select id="queryList" resultType="com.xiliulou.electricity.entity.ElectricityCabinetModel">
        select
          id, name, num, voltage, del_flag, create_time, update_time,tenant_id
        from electricity.t_electricity_cabinet_model
        where del_flag=0
        <if test="query.name != null and query.name != ''">
            and name = #{query.name}
        </if>
        order by update_time desc

    </select>




</mapper>
