<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.ElectricityCabinetOrderMapper">

    <resultMap type="com.xiliulou.electricity.entity.ElectricityCabinetOrder" id="ElectricityCabinetOrderMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="orderId" column="order_id" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="uid" column="uid" jdbcType="INTEGER"/>
        <result property="payAmount" column="pay_amount" jdbcType="NUMERIC"/>
        <result property="electricityCabinetId" column="electricity_cabinet_id" jdbcType="INTEGER"/>
        <result property="oldElectricityBatterySn" column="old_electricity_battery_sn" jdbcType="VARCHAR"/>
        <result property="newElectricityBatterySn" column="new_electricity_battery_sn" jdbcType="VARCHAR"/>
        <result property="oldCellNo" column="old_cell_no" jdbcType="INTEGER"/>
        <result property="newCellNo" column="new_cell_no" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="paymentMethod" column="payment_method" jdbcType="INTEGER"/>
        <result property="source" column="source" jdbcType="INTEGER"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="switchBeginTime" column="switch_begin_time" jdbcType="INTEGER"/>
        <result property="switchEndTime" column="switch_end_time" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="ElectricityCabinetOrderMap">
        select
          id, order_id, phone, uid, pay_amount, electricity_cabinet_id, old_electricity_battery_sn, new_electricity_battery_sn, old_cell_no, new_cell_no, status, payment_method, source, remark, switch_begin_time, switch_end_time, create_time, update_time
        from electricity.t_electricity_cabinet_order
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryList" resultType="com.xiliulou.electricity.vo.ElectricityCabinetOrderVO">
        select
        teco.id as id, teco.order_id as order_id, teco.phone as phone, teco.uid as uid, teco.pay_amount as pay_amount,
        teco.electricity_cabinet_id as electricity_cabinet_id, teco.old_electricity_battery_sn as
        old_electricity_battery_sn,
        teco.new_electricity_battery_sn as new_electricity_battery_sn, teco.old_cell_no as old_cell_no, teco.new_cell_no
        as new_cell_no, teco.status as status, teco.payment_method as payment_method, teco.source as source, teco.remark
        as remark,
        teco.switch_begin_time as switch_begin_time, teco.switch_end_time as switch_end_time, teco.create_time
        as create_time, teco.update_time as update_time,tec.area_id as area_id
        from electricity.t_electricity_cabinet_order as teco
        left join electricity.t_electricity_cabinet tec on teco.electricity_cabinet_id=tec.id
        <where>
            <if test="query.orderId != null and query.orderId != ''">
                and teco.order_id = #{query.orderId}
            </if>
            <if test="query.phone != null and query.phone != ''">
                and teco.phone = #{query.phone}
            </if>
            <if test="query.status != null">
                and teco.status = #{query.status}
            </if>
            <if test="query.beginTime != null">
                and teco.create_time &gt;=#{query.beginTime}
            </if>
            <if test="query.endTime != null">
                and teco.create_time &lt;=#{query.endTime}
            </if>
            <if test="query.areaId != null">
                and tec.area_id = #{query.areaId}
            </if>
        </where>
        order by teco.update_time desc
        limit #{query.offset}, #{query.size}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="ElectricityCabinetOrderMap">
        select
        id, order_id, phone, uid, pay_amount, electricity_cabinet_id, old_electricity_battery_sn,
        new_electricity_battery_sn, old_cell_no, new_cell_no, status, payment_method, source, remark,
        switch_begin_time, switch_end_time, create_time, update_time
        from electricity.t_electricity_cabinet_order
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="orderId != null and orderId != ''">
                and order_id = #{orderId}
            </if>
            <if test="phone != null and phone != ''">
                and phone = #{phone}
            </if>
            <if test="uid != null">
                and uid = #{uid}
            </if>
            <if test="payAmount != null">
                and pay_amount = #{payAmount}
            </if>
            <if test="electricityCabinetId != null">
                and electricity_cabinet_id = #{electricityCabinetId}
            </if>
            <if test="oldElectricityBatterySn != null and oldElectricityBatterySn != ''">
                and old_electricity_battery_sn = #{oldElectricityBatterySn}
            </if>
            <if test="newElectricityBatterySn != null and newElectricityBatterySn != ''">
                and new_electricity_battery_sn = #{newElectricityBatterySn}
            </if>
            <if test="oldCellNo != null">
                and old_cell_no = #{oldCellNo}
            </if>
            <if test="newCellNo != null">
                and new_cell_no = #{newCellNo}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="paymentMethod != null">
                and payment_method = #{paymentMethod}
            </if>
            <if test="source != null">
                and source = #{source}
            </if>
            <if test="remark != null and remark != ''">
                and remark = #{remark}
            </if>
            <if test="switchBeginTime != null">
                and switch_begin_time = #{switchBeginTime}
            </if>
            <if test="switchEndTime != null">
                and switch_end_time = #{switchEndTime}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
    </select>
    <select id="homeThree" resultType="java.util.HashMap">
         select from_unixtime(create_time / 1000, '%Y-%m-%d') date, count(*) as orderCount
        from electricity.t_electricity_cabinet_order where create_time &gt;= #{startTimeMilliDay} and create_time &lt;=#{endTimeMilliDay}
        group by from_unixtime(create_time / 1000, '%Y-%m-%d')
        order by from_unixtime(create_time / 1000, '%Y-%m-%d') desc
    </select>

    <!--新增所有列-->
    <insert id="insertOne" keyProperty="id" useGeneratedKeys="true">
        insert into electricity.t_electricity_cabinet_order(order_id, phone, uid, pay_amount, electricity_cabinet_id, old_electricity_battery_sn, new_electricity_battery_sn, old_cell_no, new_cell_no, status, payment_method, source, remark, switch_begin_time, switch_end_time, create_time, update_time)
        values (#{orderId}, #{phone}, #{uid}, #{payAmount}, #{electricityCabinetId}, #{oldElectricityBatterySn}, #{newElectricityBatterySn}, #{oldCellNo}, #{newCellNo}, #{status}, #{paymentMethod}, #{source}, #{remark}, #{switchBeginTime}, #{switchEndTime}, #{createTime}, #{updateTime})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update electricity.t_electricity_cabinet_order
        <set>
            <if test="orderId != null and orderId != ''">
                order_id = #{orderId},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="uid != null">
                uid = #{uid},
            </if>
            <if test="payAmount != null">
                pay_amount = #{payAmount},
            </if>
            <if test="electricityCabinetId != null">
                electricity_cabinet_id = #{electricityCabinetId},
            </if>
            <if test="oldElectricityBatterySn != null and oldElectricityBatterySn != ''">
                old_electricity_battery_sn = #{oldElectricityBatterySn},
            </if>
            <if test="newElectricityBatterySn != null and newElectricityBatterySn != ''">
                new_electricity_battery_sn = #{newElectricityBatterySn},
            </if>
            <if test="oldCellNo != null">
                old_cell_no = #{oldCellNo},
            </if>
            <if test="newCellNo != null">
                new_cell_no = #{newCellNo},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="paymentMethod != null">
                payment_method = #{paymentMethod},
            </if>
            <if test="source != null">
                source = #{source},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
            <if test="switchBeginTime != null">
                switch_begin_time = #{switchBeginTime},
            </if>
            <if test="switchEndTime != null">
                switch_end_time = #{switchEndTime},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>
    <update id="updateExpiredCancelOrder">
        update electricity.t_electricity_cabinet_order
        set status = 8 , update_time = #{updateTime}
        where  order_id = #{orderId} and status in(1,2,3);
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from electricity.t_electricity_cabinet_order where id = #{id}
    </delete>

</mapper>