<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.ElectricityCabinetBoxMapper">

    <resultMap type="com.xiliulou.electricity.entity.ElectricityCabinetBox" id="ElectricityCabinetBoxMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="electricityCabinetId" column="electricity_cabinet_id" jdbcType="INTEGER"/>
        <result property="cellNo" column="cell_no" jdbcType="VARCHAR"/>
        <result property="electricityBatteryId" column="electricity_battery_id" jdbcType="INTEGER"/>
        <result property="usableStatus" column="usable_status" jdbcType="INTEGER"/>
        <result property="boxStatus" column="box_status" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="INTEGER"/>
        <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="ElectricityCabinetBoxMap">
        select
          id, electricity_cabinet_id, cell_no, electricity_battery_id, usable_status, box_status, status, create_time, update_time, del_flag
        from electricity.t_electricity_cabinet_box
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryList" resultType="com.xiliulou.electricity.vo.ElectricityCabinetBoxVO">
        select
          id, electricity_cabinet_id, cell_no, electricity_battery_id, usable_status, box_status, status, create_time, update_time, del_flag
        from electricity.t_electricity_cabinet_box
        where del_flag=0
        limit #{query.offset}, #{query.size}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="ElectricityCabinetBoxMap">
        select
          id, electricity_cabinet_id, cell_no, electricity_battery_id, usable_status, box_status, status, create_time, update_time, del_flag
        from electricity.t_electricity_cabinet_box
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="electricityCabinetId != null">
                and electricity_cabinet_id = #{electricityCabinetId}
            </if>
            <if test="cellNo != null and cellNo != ''">
                and cell_no = #{cellNo}
            </if>
            <if test="electricityBatteryId != null">
                and electricity_battery_id = #{electricityBatteryId}
            </if>
            <if test="usableStatus != null">
                and usable_status = #{usableStatus}
            </if>
            <if test="boxStatus != null">
                and box_status = #{boxStatus}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="delFlag != null">
                and del_flag = #{delFlag}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insertOne" keyProperty="id" useGeneratedKeys="true">
        insert into electricity.t_electricity_cabinet_box(electricity_cabinet_id, cell_no, electricity_battery_id, usable_status, box_status, status, create_time, update_time, del_flag)
        values (#{electricityCabinetId}, #{cellNo}, #{electricityBatteryId}, #{usableStatus}, #{boxStatus}, #{status}, #{createTime}, #{updateTime}, #{delFlag})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update electricity.t_electricity_cabinet_box
        <set>
            <if test="electricityCabinetId != null">
                electricity_cabinet_id = #{electricityCabinetId},
            </if>
            <if test="cellNo != null and cellNo != ''">
                cell_no = #{cellNo},
            </if>
            <if test="electricityBatteryId != null">
                electricity_battery_id = #{electricityBatteryId},
            </if>
            <if test="usableStatus != null">
                usable_status = #{usableStatus},
            </if>
            <if test="boxStatus != null">
                box_status = #{boxStatus},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag},
            </if>
        </set>
        where id = #{id}
    </update>
    <update id="batchDeleteBoxByElectricityCabinetId">
        update electricity.t_electricity_cabinet_box
        set del_flag = 1
        where electricityCabinetId = #{id}
    </update>
    <update id="modifyByElectricityCabinetId">
         update electricity.t_electricity_cabinet_box
        set box_status = 0
        where electricityCabinetId = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from electricity.t_electricity_cabinet_box where id = #{id}
    </delete>

</mapper>