<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.ElectricityTradeOrderMapper">
    
    <select id="selectListByChannelOrderNoList"
            resultType="com.xiliulou.electricity.entity.ElectricityTradeOrder">
        SELECT
            channel_order_no,
            order_no
        FROM
        t_electricity_trade_order
        <where>
            channel_order_no in
            <foreach collection="transactionIdList" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="endTime != null">
                and create_time &lt;= #{endTime}
            </if>
        </where>
    </select>
    
    <select id="existByTenantIdList" resultType="Integer">
        SELECT
            tenant_id
        FROM
            t_electricity_trade_order
        where
            tenant_id in
        <foreach collection="tenantIdList" separator="," item="tenantId" close=")" open="(">
            #{tenantId}
        </foreach>
        and create_time  >=#{startTime}
        and create_time &lt;=#{endTime}
     group by tenant_id
    </select>
</mapper>

