<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.ElectricityCabinetOrderMapper">

    <!--查询指定行数据-->
    <select id="queryList" resultType="com.xiliulou.electricity.vo.ElectricityCabinetOrderVO">
        select
        teco.id, teco.order_id, teco.phone, teco.uid, teco.pay_amount, teco.electricity_cabinet_id,
        teco.old_electricity_battery_sn,tec.name as electricityCabinetName
        teco.new_electricity_battery_sn, teco.old_cell_no, teco.new_cell_no, teco.status, teco.payment_method,
        teco.source, teco.remark, teco.switch_begin_time,
        teco.switch_end_time, teco.create_time, teco.update_time, ui.name as u_name
        from t_electricity_cabinet_order teco
        left join t_electricity_cabinet tec on teco.electricity_cabinet_id=tec.id
        left join t_user_info ui on teco.uid = ui.uid
        <where>
            <if test="query.orderId != null and query.orderId != ''">
                and teco.order_id = #{query.orderId}
            </if>
            <if test="query.phone != null and query.phone != ''">
                and teco.phone = #{query.phone}
            </if>
            <if test="query.electricityCabinetName != null and query.electricityCabinetName != ''">
                and tec.name = #{query.electricityCabinetName}
            </if>
            <if test="query.oldCellNo != null">
                and teco.old_cell_no = #{query.oldCellNo}
            </if>
            <if test="query.status != null and query.status != ''">
                and teco.status = #{query.status}
            </if>
            <if test="query.beginTime != null">
                and teco.create_time &gt;=#{query.beginTime}
            </if>
            <if test="query.endTime != null">
                and teco.create_time &lt;=#{query.endTime}
            </if>
            <if test="query.paymentMethod != null">
                and teco.payment_method = #{query.paymentMethod}
            </if>
            <if test="query.source != null">
                and teco.source = #{query.source}
            </if>
            <if test="query.uid != null">
                and teco.uid = #{query.uid}
            </if>
            <if test="query.franchiseeIds != null">
                and teco.franchisee_id in
                <foreach collection="query.franchiseeIds" item="id" index="index" open="(" close=")"  separator=",">
                    #{id}
                </foreach>
            </if>
            <if test="query.storeIds != null">
                and teco.store_id in
                <foreach collection="query.storeIds" item="id" index="index" open="(" close=")"  separator=",">
                    #{id}
                </foreach>
            </if>
            <if test="query.tenantId != null">
                and teco.tenant_id = #{query.tenantId}
            </if>
        </where>
        order by teco.create_time desc
        limit #{query.offset}, #{query.size}
    </select>

    <select id="queryCount" resultType="java.lang.Integer">
        select count(1)
        from t_electricity_cabinet_order teco left join t_electricity_cabinet tec on teco.electricity_cabinet_id=tec.id
        <where>
            <if test="query.orderId != null and query.orderId != ''">
                and teco.order_id = #{query.orderId}
            </if>
            <if test="query.phone != null and query.phone != ''">
                and teco.phone = #{query.phone}
            </if>
            <if test="query.electricityCabinetName != null and query.electricityCabinetName != ''">
                and tec.name = #{query.electricityCabinetName}
            </if>
            <if test="query.oldCellNo != null">
                and teco.old_cell_no = #{query.oldCellNo}
            </if>
            <if test="query.status != null and query.status != ''">
                and teco.status = #{query.status}
            </if>
            <if test="query.beginTime != null">
                and teco.create_time &gt;=#{query.beginTime}
            </if>
            <if test="query.endTime != null">
                and teco.create_time &lt;=#{query.endTime}
            </if>
            <if test="query.paymentMethod != null">
                and teco.payment_method = #{query.paymentMethod}
            </if>
            <if test="query.source != null">
                and teco.source = #{query.source}
            </if>
            <if test="query.uid != null">
                and teco.uid = #{query.uid}
            </if>
            <if test="query.franchiseeIds != null">
                and teco.franchisee_id in
                <foreach collection="query.franchiseeIds" item="id" index="index" open="(" close=")"  separator=",">
                    #{id}
                </foreach>
            </if>
            <if test="query.storeIds != null">
                and teco.store_id in
                <foreach collection="query.storeIds" item="id" index="index" open="(" close=")"  separator=",">
                    #{id}
                </foreach>
            </if>
            <if test="query.tenantId != null">
                and teco.tenant_id = #{query.tenantId}
            </if>
        </where>
    </select>


    <select id="homepageExchangeOrderSumCount" resultType="java.lang.Integer">
        select count(1)
        from t_electricity_cabinet_order teco left join t_electricity_cabinet tec on teco.electricity_cabinet_id=tec.id
        <where>
            tec.del_flag=0
            <if test="query.beginTime != null">
                and teco.create_time &gt;=#{query.beginTime}
            </if>
            <if test="query.endTime != null">
                and teco.create_time &lt;=#{query.endTime}
            </if>
            <if test="query.tenantId != null">
                and teco.tenant_id = #{query.tenantId}
            </if>
            <if test="query.electricityCabinetId != null">
                and teco.electricity_cabinet_id = #{query.electricityCabinetId}
            </if>
            <if test="query.eleIdList!=null and query.eleIdList!=''">
                and teco.electricity_cabinet_id in
                <foreach collection="query.eleIdList" item="id" index="index" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>

    <select id="homepageExchangeFrequency" resultType="com.xiliulou.electricity.vo.HomepageElectricityExchangeFrequencyVo">
        select count(1) as exchangeFrequency, teco.electricity_cabinet_id as eleId,teco.store_id
        from t_electricity_cabinet_order teco left join t_electricity_cabinet tec on teco.electricity_cabinet_id=tec.id
        <where>
            tec.del_flag=0
            <if test="query.beginTime != null">
                and teco.create_time &gt;=#{query.beginTime}
            </if>
            <if test="query.endTime != null">
                and teco.create_time &lt;=#{query.endTime}
            </if>
            <if test="query.electricityCabinetId != null">
                and teco.electricity_cabinet_id = #{query.electricityCabinetId}
            </if>
            <if test="query.tenantId != null">
                and teco.tenant_id = #{query.tenantId}
            </if>
            <if test="query.eleIdList!=null and query.eleIdList!=''">
                and teco.electricity_cabinet_id in
                <foreach collection="query.eleIdList" item="id" index="index" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
        </where>
            group by teco.electricity_cabinet_id ,teco.store_id
        limit #{query.offset}, #{query.size}
    </select>

    <select id="homepageExchangeFrequencyCount" resultType="com.xiliulou.electricity.vo.HomepageElectricityExchangeFrequencyVo">
        select count(1) as exchangeFrequency, teco.electricity_cabinet_id as eleId,teco.store_id
        from t_electricity_cabinet_order teco left join t_electricity_cabinet tec on teco.electricity_cabinet_id=tec.id
        <where>
            tec.del_flag=0
            <if test="query.beginTime != null">
                and teco.create_time &gt;=#{query.beginTime}
            </if>
            <if test="query.endTime != null">
                and teco.create_time &lt;=#{query.endTime}
            </if>
            <if test="query.electricityCabinetId != null">
                and teco.electricity_cabinet_id = #{query.electricityCabinetId}
            </if>
            <if test="query.tenantId != null">
                and teco.tenant_id = #{query.tenantId}
            </if>
            <if test="query.eleIdList!=null and query.eleIdList!=''">
                and teco.electricity_cabinet_id in
                <foreach collection="query.eleIdList" item="id" index="index" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
        </where>
        group by teco.electricity_cabinet_id ,teco.store_id
    </select>


    <select id="homeOneCount" resultType="java.lang.Integer">
        select count(1)
        from t_electricity_cabinet_order
        <where>
            <if test="first != null">
                and create_time &gt;=#{first}
            </if>
            <if test="now != null">
                and create_time &lt;=#{now}
            </if>
            <if test="eleIdList!=null and eleIdList!=''">
                and electricity_cabinet_id in
                <foreach collection="eleIdList" item="id" index="index" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
            <if test="tenantId != null">
                and tenant_id = #{tenantId}
            </if>
        </where>
    </select>


    <select id="homeOneSuccess" resultType="java.lang.Integer">
        select count(1)
        from t_electricity_cabinet_order
        where order_seq=7.0
        <if test="first != null">
            and create_time &gt;=#{first}
        </if>
        <if test="now != null">
            and create_time &lt;=#{now}
        </if>
        <if test="eleIdList!=null and eleIdList!=''">
            and electricity_cabinet_id in
            <foreach collection="eleIdList" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        <if test="tenantId != null">
            and tenant_id = #{tenantId}
        </if>
    </select>


    <select id="homeThree" resultType="java.util.HashMap">
        select from_unixtime(create_time / 1000, '%Y-%m-%d') date, count(*) as count
        from t_electricity_cabinet_order where create_time &gt;= #{startTimeMilliDay} and create_time &lt;=#{endTimeMilliDay}
        <if test="eleIdList!=null and eleIdList!=''">
            and electricity_cabinet_id in
            <foreach collection="eleIdList" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        <if test="tenantId != null">
            and tenant_id = #{tenantId}
        </if>
        group by date
        order by date desc
    </select>

    <select id="selectLatestByUid" resultType="com.xiliulou.electricity.entity.ElectricityCabinetOrder">
        select id,uid,new_electricity_battery_sn from t_electricity_cabinet_order where uid=#{uid} and tenant_id=#{tenantId} order by create_time desc limit 1
    </select>

    <!--获取柜机今日订单-->
    <select id="selectTodayExchangeOrder" resultType="com.xiliulou.electricity.entity.ElectricityCabinetOrder">
        select
        id, uid
        from t_electricity_cabinet_order
        <where>
            <if test="eid != null">
                and electricity_cabinet_id = #{eid}
            </if>
            <if test="todayStartTimeStamp != null">
                and create_time &gt;=#{todayStartTimeStamp}
            </if>
            <if test="todayEndTimeStamp != null">
                and create_time &lt;=#{todayEndTimeStamp}
            </if>
            <if test="tenantId != null">
                and tenant_id = #{tenantId}
            </if>
        </where>
    </select>
    <!--获取30天内总订单-->
    <select id="selectMonthExchangeOrders" resultType="com.xiliulou.electricity.entity.ElectricityCabinetOrder">
        SELECT
        id, uid
        FROM t_electricity_cabinet_order
        <where>
            <if test="eid != null">
                and electricity_cabinet_id = #{eid}
            </if>
            <if test="startTimeStamp != null">
                and create_time &gt;=#{startTimeStamp}
            </if>
            <if test="endTimeStamp != null">
                and create_time &lt;= #{endTimeStamp}
            </if>
            <if test="tenantId != null">
                and tenant_id = #{tenantId}
            </if>
        </where>
    </select>


</mapper>
