<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.ElectricityCabinetMapper">



    <!--查询指定行数据-->
    <select id="queryList" resultType="com.xiliulou.electricity.vo.ElectricityCabinetVO">
        select
        id,  name, address, longitude, latitude, product_key, device_name, device_secret, usable_status,
         online_status, model_id, version, fully_charged, service_phone, business_time, create_time,
        update_time, del_flag,tenant_id
        from t_electricity_cabinet
        where del_flag=0 and  tenant_id = #{query.tenantId}
        <if test="query.name != null and query.name != ''">
            and name = #{query.name}
        </if>
        <if test="query.address != null and query.address != ''">
            and address like concat('%',#{query.address,jdbcType=VARCHAR},'%')
        </if>
        <if test="query.usableStatus != null">
            and usable_status = #{query.usableStatus}
        </if>
        <if test="query.onlineStatus != null">
            and online_status = #{query.onlineStatus}
        </if>
        <if test="query.tenantId != null and query.tenantId != ''">
            and tenant_id = #{query.tenantId}
        </if>
        <if test="query.beginTime != null">
            and create_time &gt;=#{query.beginTime}
        </if>
        <if test="query.endTime != null">
            and create_time &lt;=#{query.endTime}
        </if>
        <if test="query.eleIdList!=null and query.eleIdList!=''">
            and id in
            <foreach collection="query.eleIdList" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        order by create_time desc
        limit #{query.offset}, #{query.size}
    </select>




    <select id="showInfoByDistance" resultType="com.xiliulou.electricity.vo.ElectricityCabinetVO">
        select id,  name, address, longitude, latitude, product_key, device_name, device_secret,
        usable_status, online_status, model_id, version,
        fully_charged, service_phone, business_time, create_time, update_time, ROUND(
        6378.138 * 2 * ASIN(
        SQRT(
        POW(
        SIN(
        (
        #{query.lat} * PI() / 180 - latitude * PI() / 180
        ) / 2
        ),
        2
        ) + COS(#{query.lat} * PI() / 180) * COS(latitude * PI() / 180) * POW(
        SIN(
        (
        #{query.lon} * PI() / 180 - longitude * PI() / 180
        ) / 2
        ),
        2
        )
        )
        ) * 1000
        ) AS distance
        from t_electricity_cabinet
        where del_flag = 0
        <if test="query.distance != null">
            having distance &lt; #{query.distance}
        </if>
        order by distance asc
    </select>

    <select id="queryFullyElectricityBattery" resultType="java.lang.String">
        select eb.sn from  t_electricity_cabinet as ec
        left join t_electricity_cabinet_box as ecb on ec.id=ecb.electricity_cabinet_id
        left join t_electricity_battery as eb on ecb.electricity_battery_id is not null and ecb.electricity_battery_id=eb.id
        where eb.power&gt;=fully_charged  and ec.id = #{id} and ecb.usable_status =0
    </select>


    <select id="queryNameList" resultType="java.util.Map">
        select
        id, name
        from t_electricity_cabinet
        where del_flag=0
        <if test="query.tenantId != null and query.tenantId != ''">
            and tenant_id = #{query.tenantId}
        </if>
        <if test="eleIdList!=null and eleIdList!=''">
            and id in
            <foreach collection="eleIdList" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        limit #{offset}, #{size}
    </select>

    <select id="homeOne" resultType="com.xiliulou.electricity.entity.ElectricityCabinet">
        select
        id,  name,  address, longitude, latitude, product_key, device_name, device_secret, usable_status, online_status, model_id, version, fully_charged, service_phone, business_time, create_time, update_time, del_flag
        from t_electricity_cabinet
        where del_flag=0
        <if test="eleIdList!=null and eleIdList!=''">
            and id in
            <foreach collection="eleIdList" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        <if test="tenantId != null and tenantId != ''">
            and tenant_id = #{tenantId}
        </if>
    </select>


</mapper>
