<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.EleDepositOrderMapper">


    <!--查询指定行数据-->
    <select id="queryList" resultType="com.xiliulou.electricity.vo.EleDepositOrderVO">
        select
        edo.id, edo.pay_amount, edo.create_time, edo.update_time, edo.uid,
        edo.order_id, edo.status, edo.name, edo.phone, f.name as franchiseeName,
        edo.deposit_type,edo.pay_type, s.name as store_name
        from t_ele_deposit_order edo
        left join t_franchisee f on f.id = edo.franchisee_id
        left join t_store s on edo.store_id= s.id
        <where>
            <if test="query.orderId != null and query.orderId != ''">
                and edo.order_id = #{query.orderId}
            </if>
            <if test="query.status != null">
                and edo.status = #{query.status}
            </if>
            <if test="query.name != null and query.name != ''">
                and edo.name = #{query.name}
            </if>
            <if test="query.phone != null and query.phone != ''">
                and edo.phone = #{query.phone}
            </if>
            <if test="query.beginTime != null">
                and edo.create_time &gt;=#{query.beginTime}
            </if>
            <if test="query.endTime != null">
                and edo.create_time &lt;=#{query.endTime}
            </if>
            <if test="query.tenantId != null">
                and edo.tenant_id = #{query.tenantId}
            </if>
            <if test="query.franchiseeIds != null">
                and edo.franchisee_id in
                <foreach collection="query.franchiseeIds" item="id" index="index" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
            <if test="query.uid != null">
                and edo.uid = #{query.uid}
            </if>
            <if test="query.franchiseeName != null and query.franchiseeName != ''">
                and f.name = #{query.franchiseeName}
            </if>
            <if test="query.depositType != null">
                and edo.deposit_type = #{query.depositType}
            </if>
            <if test="query.payType != null">
                and edo.pay_type = #{query.payType}
            </if>
            <if test="query.storeIds != null">
                and edo.store_id in
                <foreach collection="query.storeIds" item="id" index="index" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
            <if test="query.storeName != null and query.storeName != ''">
                and s.name like concat('%', #{query.storeName}, '%')
            </if>
        </where>
        order by edo.create_time desc
        limit #{query.offset}, #{query.size}
    </select>


    <select id="queryListForRentCar" resultType="com.xiliulou.electricity.vo.EleDepositOrderVO">
        select
        edo.id, edo.pay_amount, edo.create_time, edo.update_time, edo.uid,
        edo.order_id, edo.status, edo.name, edo.phone, ts.name as storeName,tecm.name as carModel,
        edo.deposit_type,edo.pay_type
        from t_ele_deposit_order edo
        left join t_store ts on edo.store_id=ts.id
        left join t_electricity_car_model tecm on edo.car_model_id=tecm.id
        <where>
            <if test="query.orderId != null and query.orderId != ''">
                and edo.order_id = #{query.orderId}
            </if>
            <if test="query.status != null">
                and edo.status = #{query.status}
            </if>
            <if test="query.name != null and query.name != ''">
                and edo.name = #{query.name}
            </if>
            <if test="query.phone != null and query.phone != ''">
                and edo.phone = #{query.phone}
            </if>
            <if test="query.beginTime != null">
                and edo.create_time &gt;=#{query.beginTime}
            </if>
            <if test="query.endTime != null">
                and edo.create_time &lt;=#{query.endTime}
            </if>
            <if test="query.tenantId != null">
                and edo.tenant_id = #{query.tenantId}
            </if>
            <if test="query.franchiseeIds != null">
                and edo.franchisee_id in
                <foreach collection="query.franchiseeIds" item="id" index="index" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
            <if test="query.uid != null">
                and edo.uid = #{query.uid}
            </if>
            <if test="query.depositType != null">
                and edo.deposit_type = #{query.depositType}
            </if>
            <if test="query.payType != null">
                and edo.pay_type = #{query.payType}
            </if>
            <if test="query.storeIds != null">
                and edo.store_id in
                <foreach collection="query.storeIds" item="id" index="index" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
            <if test="query.carModel != null and query.carModel != ''">
                and tecm.name = #{query.carModel}
            </if>
            <if test="query.storeName != null and query.storeName != ''">
                and ts.name like concat('%', #{query.storeName}, '%')
            </if>
        </where>
        order by edo.create_time desc
        limit #{query.offset}, #{query.size}
    </select>


    <select id="queryCount" resultType="java.lang.Integer">
        select COUNT(1)
        from t_ele_deposit_order edo
        left join t_franchisee f on f.id = edo.franchisee_id
        left join t_electricity_car_model tecm on edo.car_model_id=tecm.id
        left join t_store ts on edo.store_id=ts.id
        <where>
            <if test="query.orderId != null and query.orderId != ''">
                and edo.order_id = #{query.orderId}
            </if>
            <if test="query.status != null">
                and edo.status = #{query.status}
            </if>
            <if test="query.name != null and query.name != ''">
                and edo.name = #{query.name}
            </if>
            <if test="query.phone != null and query.phone != ''">
                and edo.phone = #{query.phone}
            </if>
            <if test="query.beginTime != null">
                and edo.create_time &gt;=#{query.beginTime}
            </if>
            <if test="query.endTime != null">
                and edo.create_time &lt;=#{query.endTime}
            </if>
            <if test="query.tenantId != null">
                and edo.tenant_id = #{query.tenantId}
            </if>
            <if test="query.franchiseeIds != null">
                and edo.franchisee_id in
                <foreach collection="query.franchiseeIds" item="id" index="index" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
            <if test="query.franchiseeName != null and query.franchiseeName != ''">
                and f.name = #{query.franchiseeName}
            </if>
            <if test="query.storeIds != null">
                and edo.store_id in
                <foreach collection="query.storeIds" item="id" index="index" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
            <if test="query.depositType != null">
                and edo.deposit_type = #{query.depositType}
            </if>
            <if test="query.carModel != null and query.carModel != ''">
                and tecm.name = #{query.carModel}
            </if>
            <if test="query.payType != null">
                and edo.pay_type = #{query.payType}
            </if>
            <if test="query.storeName != null and query.storeName != ''">
                and ts.name like concat('%', #{query.storeName}, '%')
            </if>
        </where>
    </select>


    <select id="queryListForUser" resultType="com.xiliulou.electricity.vo.EleDepositOrderVO">
        select
        edo.id, edo.pay_amount, ero.create_time, ero.update_time, edo.uid,
        edo.order_id, ero.status, edo.name, edo.phone, f.name as franchiseeName,
        ero.refund_amount as refundAmount,ero.err_msg as errMsg, s.name as store_name
        from t_ele_deposit_order edo
        left join t_franchisee f on f.id = edo.franchisee_id
        left join t_ele_refund_order as ero on ero.order_id= edo.order_id
        left join t_store s on edo.store_id = s.id
        <where>

            <if test="query.orderId != null and query.orderId != ''">
                and edo.order_id = #{query.orderId}
            </if>
            <if test="query.status != null">
                and edo.status = #{query.status}
            </if>
            <if test="query.name != null and query.name != ''">
                and edo.name = #{query.name}
            </if>
            <if test="query.phone != null and query.phone != ''">
                and edo.phone = #{query.phone}
            </if>
            <if test="query.beginTime != null">
                and edo.create_time &gt;=#{query.beginTime}
            </if>
            <if test="query.endTime != null">
                and edo.create_time &lt;=#{query.endTime}
            </if>
            <if test="query.tenantId != null">
                and edo.tenant_id = #{query.tenantId}
            </if>
            <if test="query.franchiseeId != null">
                and edo.franchisee_id = #{query.franchiseeId}
            </if>
            <if test="query.uid != null">
                and edo.uid = #{query.uid}
            </if>
            <if test="query.refundOrderType != null">
                and ero.refund_order_type = #{query.refundOrderType}
            </if>
            <if test="query.franchiseeName != null and query.franchiseeName != ''">
                and f.name = #{query.franchiseeName}
            </if>
            <if test="query.storeId != null">
                and s.id = #{uery.storeId}
            </if>
        </where>
        order by ero.update_time desc
        limit #{query.offset}, #{query.size}
    </select>

    <select id="payDepositOrderList" resultType="com.xiliulou.electricity.vo.PayDepositOrderVO">
        select
        edo.pay_amount, edo.create_time as payTime,ero.update_time as refundTime,ero.status as refundStatus
        from t_ele_deposit_order edo
        left join t_ele_refund_order as ero on ero.order_id= edo.order_id
        where edo.status=1 and IFNULL(ero.status,'')  != 2
        <if test="query.orderId != null and query.orderId != ''">
            and edo.order_id = #{query.orderId}
        </if>
        <if test="query.status != null">
            and edo.status = #{query.status}
        </if>
        <if test="query.name != null and query.name != ''">
            and edo.name = #{query.name}
        </if>
        <if test="query.phone != null and query.phone != ''">
            and edo.phone = #{query.phone}
        </if>
        <if test="query.beginTime != null">
            and edo.create_time &gt;=#{query.beginTime}
        </if>
        <if test="query.endTime != null">
            and edo.create_time &lt;=#{query.endTime}
        </if>
        <if test="query.tenantId != null">
            and edo.tenant_id = #{query.tenantId}
        </if>
        <if test="query.franchiseeId != null">
            and edo.franchisee_id = #{query.franchiseeId}
        </if>
        <if test="query.uid != null">
            and edo.uid = #{query.uid}
        </if>
        <if test="query.refundOrderType != null">
            and ero.refund_order_type = #{query.refundOrderType}
        </if>
        order by edo.update_time desc
        limit #{query.offset}, #{query.size}
    </select>

    <select id="queryTurnOver" resultType="decimal">
        select sum(pay_amount) from t_ele_deposit_order
        where status=1
        <if test="tenantId != null">
            and tenant_id = #{tenantId}
        </if>
    </select>

    <select id="queryLastPayDepositTimeByUid" resultType="com.xiliulou.electricity.entity.EleDepositOrder">
        select * from t_ele_deposit_order where uid=#{uid}
        <where>
            status=1
            <if test="tenantId != null">
                and tenant_id = #{tenantId}
            </if>
            <if test="franchiseeId != null">
                and franchisee_id = #{franchiseeId}
            </if>
            <if test="depositType != null">
                and deposit_type = #{depositType}
            </if>
        </where>
        ORDER BY id DESC limit 1
    </select>

    <select id="queryDepositTurnOverByDepositType" resultType="decimal">
        select sum(pay_amount) from t_ele_deposit_order
        where status=1
        <if test="tenantId != null">
            and tenant_id = #{tenantId}
        </if>
        <if test="todayStartTime != null">
            and create_time &gt;=#{todayStartTime}
        </if>
        <if test="depositType != null">
            and deposit_type = #{depositType}
        </if>
        <!--        <if test="franchiseeId != null">-->
        <!--            and franchisee_id = #{franchiseeId}-->
        <!--        </if>-->
        <if test="franchiseeIds != null">
            and franchisee_id in
            <foreach collection="franchiseeIds" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
    </select>

    <select id="queryDepositTurnOverAnalysisByDepositType"
            resultType="com.xiliulou.electricity.vo.HomePageTurnOverGroupByWeekDayVo">
        select sum(pay_amount) as turnOver,FROM_UNIXTIME( create_time / 1000, '%Y-%m-%d' ) as
        weekDate from t_ele_deposit_order
        where status=1
        <if test="tenantId != null">
            and tenant_id = #{tenantId}
        </if>
        <if test="depositType != null">
            and deposit_type = #{depositType}
        </if>
        <!--        <if test="franchiseeId != null">-->
        <!--            and franchisee_id = #{franchiseeId}-->
        <!--        </if>-->
        <if test="franchiseeIds != null">
            and franchisee_id in
            <foreach collection="franchiseeIds" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        <if test="beginTime != null">
            and create_time &gt;=#{beginTime}
        </if>
        <if test="endTime != null">
            and create_time &lt;=#{endTime}
        </if>
        GROUP BY
        weekDate
    </select>

    <select id="querySumDepositTurnOverAnalysis" resultType="decimal">
        select sum(pay_amount) from t_ele_deposit_order
        where status=1
        <if test="tenantId != null">
            and tenant_id = #{tenantId}
        </if>
        <!--        <if test="franchiseeId != null">-->
        <!--            and franchisee_id = #{franchiseeId}-->
        <!--        </if>-->
        <if test="franchiseeIds != null">
            and franchisee_id in
            <foreach collection="franchiseeIds" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        <if test="beginTime != null">
            and create_time &gt;=#{beginTime}
        </if>
        <if test="endTime != null">
            and create_time &lt;=#{endTime}
        </if>
    </select>
</mapper>
