<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.EleDepositOrderMapper">


    <!--查询指定行数据-->
    <select id="queryList" resultType="com.xiliulou.electricity.vo.EleDepositOrderVO">
        select
        edo.id, edo.pay_amount, edo.create_time, edo.update_time, edo.uid, edo.order_id, edo.status, edo.name, edo.phone, f.name as franchiseeName
        from t_ele_deposit_order edo left join t_franchisee f on f.id = edo.franchisee_id
        <where>

            <if test="query.orderId != null and query.orderId != ''">
                and edo.order_id = #{query.orderId}
            </if>
            <if test="query.status != null">
                and edo.status = #{query.status}
            </if>
            <if test="query.name != null and query.name != ''">
                and edo.name = #{query.name}
            </if>
            <if test="query.phone != null and query.phone != ''">
                and edo.phone = #{query.phone}
            </if>
            <if test="query.beginTime != null">
                and edo.create_time &gt;=#{query.beginTime}
            </if>
            <if test="query.endTime != null">
                and edo.create_time &lt;=#{query.endTime}
            </if>
            <if test="query.tenantId != null">
                and edo.tenant_id = #{query.tenantId}
            </if>
            <if test="query.franchiseeId != null">
                and edo.franchisee_id = #{query.franchiseeId}
            </if>
            <if test="query.franchiseeName != null and query.franchiseeName != ''">
                and f.name = #{query.franchiseeName}
            </if>
        </where>
        order by edo.create_time desc
        limit #{query.offset}, #{query.size}
    </select>


	<select id="queryCount" resultType="java.lang.Integer">
        select  COUNT(1)
        from t_ele_deposit_order edo left join t_franchisee f on f.id = edo.franchisee_id
        <where>
            <if test="query.orderId != null and query.orderId != ''">
                and edo.order_id = #{query.orderId}
            </if>
            <if test="query.status != null">
                and edo.status = #{query.status}
            </if>
            <if test="query.name != null and query.name != ''">
                and edo.name = #{query.name}
            </if>
            <if test="query.phone != null and query.phone != ''">
                and edo.phone = #{query.phone}
            </if>
            <if test="query.beginTime != null">
                and edo.create_time &gt;=#{query.beginTime}
            </if>
            <if test="query.endTime != null">
                and edo.create_time &lt;=#{query.endTime}
            </if>
            <if test="query.tenantId != null">
                and edo.tenant_id = #{query.tenantId}
            </if>
            <if test="query.franchiseeId != null">
                and edo.franchisee_id = #{query.franchiseeId}
            </if>
            <if test="query.franchiseeName != null and query.franchiseeName != ''">
                and f.name = #{query.franchiseeName}
            </if>
        </where>
    </select>
</mapper>
