<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.EleDisableMemberCardRecordMapper">


    <select id="queryList" resultType="com.xiliulou.electricity.vo.EleDisableMemberCardRecordVO">
        select tedmcr.member_card_name, tedmcr.status, tedmcr.user_name,tedmcr.phone, tedmcr.create_time,tedmcr.tenant_id, tedmcr.err_msg,
        tedmcr.disable_member_card_no , tedmcr.user_info_id , tfui.member_card_expire_time from t_ele_disable_member_card_record tedmcr left join t_franchisee_user_info tfui on
        tedmcr.user_info_id=tfui.user_info_id
        <where>
            <if test="tenantId !=null">
                and tedmcr.tenant_id=#{tenantId}
            </if>
            <if test="uid !=null">
                and tedmcr.uid=#{uid}
            </if>
        </where>
        order by tedmcr.create_time desc
        limit #{offset},#{size}
    </select>


    <select id="queryCount" resultType="integer">
        select count(1) from t_ele_disable_member_card_record
        <where>
            <if test="tenantId != null">
                and tenant_id=#{tenantId}
            </if>
        </where>
    </select>
</mapper>
