<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.EleHardwareFailureWarnMsgMapper">
    
    <select id="selectList" parameterType="com.xiliulou.electricity.queryModel.failureAlarm.FailureWarnMsgTaskQueryModel" resultType="com.xiliulou.electricity.vo.failureAlarm.EleHardwareFailureWarnMsgVo">
        SELECT
            tenant_id as 'tenantId',
            cabinet_id as 'cabinetId',
            type,
            count( 1 ) as 'failureWarnNum'
        FROM
        t_ele_hardware_failure_warn_msg
        WHERE
            alarm_time between  #{startTime} and #{endTime}
        GROUP BY
        tenant_id,
        cabinet_id,
        type
    </select>
    
    <sql id="filter">
        <where>
            <if test="type != null">
                type  = #{type}
            </if>
        
            <if test="sn != null and sn != ''">
                and sn = #{sn}
            </if>
        
            <if test="tenantId != null">
                and tenant_id = #{tenantId}
            </if>
    
            <if test="signalId != null">
                and signal_id = #{signalId}
            </if>
        
            <if test="alarmStartTime != null and alarmEndTime != null">
                and alarm_time BETWEEN #{alarmStartTime} AND  #{alarmEndTime}
            </if>
        
            <if test="alarmFlag != null">
                and alarm_flag  = #{alarmFlag}
            </if>
            
            <if test="signalIdList != null and signalIdList.size() > 0">
                and signal_id in
                <foreach collection="signalIdList" item="signalId" separator="," open="(" close=")">
                    #{signalId}
                </foreach>
            </if>
        </where>
    </sql>
    <select id="selectListByPage" resultType="com.xiliulou.electricity.entity.EleHardwareFailureWarnMsg">
        SELECT
            id,
            cabinet_id,
            tenant_id,
            msg_type,
            txn_no,
            signal_id,
            alarm_desc,
            alarm_flag,
            alarm_id,
            cell_no,
            sn,
            type,
            occur_num,
            grade,
            device_type,
            failure_alarm_name,
            tenant_name,
            dev_id,
            recover_time,
            report_time,
            alarm_time,
            create_time
        FROM
        t_ele_hardware_failure_warn_msg
        <include refid="filter"/>
        order by alarm_time desc
        limit #{offset}, #{size}
    </select>
    <select id="countTotal" resultType="java.lang.Integer">
        SELECT
          count(1)
        FROM
        t_ele_hardware_failure_warn_msg
        <include refid="filter"/>
    </select>
    <select id="selectListExport" resultType="com.xiliulou.electricity.vo.failureAlarm.FailureWarnMsgExcelVo">
        SELECT
        id,
        cabinet_id,
        tenant_id,
        msg_type,
        txn_no,
        signal_id,
        alarm_desc,
        alarm_flag,
        alarm_id,
        cell_no,
        sn,
        type,
        occur_num,
        grade,
        device_type,
        failure_alarm_name,
        tenant_name,
        dev_id,
        recover_time,
        report_time,
        alarm_time,
        create_time
        FROM
        t_ele_hardware_failure_warn_msg
        <include refid="filter"/>
        order by alarm_time desc
        limit #{offset}, #{size}
    </select>
    <select id="countFailureWarnNum" resultType="com.xiliulou.electricity.vo.failureAlarm.EleHardwareFailureWarnMsgVo">
        SELECT
            type,
            count( 1 ) AS 'failureWarnNum'
        FROM
        t_ele_hardware_failure_warn_msg t
        WHERE
        alarm_time between  #{startTime} and #{endTime}
        <if test="limitFailureAlarmStatus != null">
            AND EXISTS ( SELECT 1 FROM t_failure_alarm a WHERE a.`status` = 1  AND a.del_flag = 0 AND a.signal_id = t.signal_id )
        </if>
        GROUP BY
        type
    </select>
    <select id="selectListProportion" resultType="com.xiliulou.electricity.vo.failureAlarm.FailureWarnProportionVo">
        SELECT
            signal_id,
            count(1) as 'count'
        FROM
            t_ele_hardware_failure_warn_msg
        WHERE
          alarm_time between  #{startTime} and #{endTime}
          and type = #{type}
        GROUP BY signal_id
    </select>
    
    <insert id="batchInsert">
        insert into t_ele_hardware_failure_warn_msg(
        cabinet_id, tenant_id, msg_type, txn_no, signal_id, alarm_desc, alarm_flag, alarm_id, cell_no,
        sn, type, occur_num, grade, device_type, failure_alarm_name,
        tenant_name, dev_id, recover_time, report_time, alarm_time, create_time) values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.cabinetId}, #{item.tenantId}, #{item.msgType}, #{item.txnNo}, #{item.signalId}, #{item.alarmDesc},
            #{item.alarmFlag}, #{item.alarmId}, #{item.cellNo}, #{item.sn}, #{item.type}, #{item.occurNum}, #{item.grade},
            #{item.deviceType}, #{item.failureAlarmName}, #{item.tenantName}, #{item.devId}, #{item.recoverTime},
            #{item.reportTime}, #{item.alarmTime}, #{item.createTime})
        </foreach>
    </insert>
</mapper>
