<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.EleRefundOrderMapper">

    <!--查询指定行数据-->
    <select id="queryList" resultType="java.util.Map">
        select
        tero.id as id, tero.refund_order_no as refundOrderNo, tero.order_id as orderId, tero.pay_amount as payAmount,
        tero.refund_amount as refundAmount, tero.status as status, tero.err_msg as errMsg,
        tero.create_time as createTime, tero.update_time as updateTime ,tedo.uid as uid,tedo.name as name,tedo.phone as phone
        from t_ele_refund_order as tero
        left join t_ele_deposit_order as tedo  on  tero.order_id= tedo.order_id
        <where>
            <if test="query.orderId != null and query.orderId != ''">
                and tero.order_id = #{query.orderId}
            </if>
            <if test="query.status != null">
                and tero.status = #{query.status}
            </if>
            <if test="query.beginTime != null">
                and tero.create_time &gt;=#{query.beginTime}
            </if>
            <if test="query.endTime != null">
                and tero.create_time &lt;=#{query.endTime}
            </if>
            <if test="query.tenantId != null">
                and tero.tenant_id = #{query.tenantId}
            </if>
        </where>
        order by tero.update_time desc
        limit #{query.offset}, #{query.size}
    </select>


	<select id="queryCount" resultType="java.lang.Integer">
        select COUNT(1)
        from t_ele_refund_order tero left join t_ele_deposit_order as tedo  on  tero.order_id= tedo.order_id
        <where>
            <if test="query.orderId != null and query.orderId != ''">
                and tero.order_id = #{query.orderId}
            </if>
            <if test="query.phone != null and query.phone != ''">
                and tedo.phone = #{query.phone}
            </if>
            <if test="query.status != null">
                and tero.status = #{query.status}
            </if>
            <if test="query.beginTime != null">
                and tero.create_time &gt;=#{query.beginTime}
            </if>
            <if test="query.endTime != null">
                and tero.create_time &lt;=#{query.endTime}
            </if>
            <if test="query.tenantId != null">
                and tero.tenant_id = #{query.tenantId}
            </if>
        </where>
    </select>

    <select id="queryUserInfoId" resultType="java.lang.Long">
        select tu.id from t_ele_deposit_order tedo left join  t_ele_refund_order tero on tedo.order_id =tero.order_id  left join t_user_info tu on tu.uid=tedo.uid where tero.refund_order_no=#{refundOrderNo}
    </select>

    <select id="queryTurnOver" resultType="decimal">
        select sum(pay_amount) from t_ele_refund_order
        where status=2
        <if test="tenantId != null">
            and tero.tenant_id = #{tenantId}
        </if>
    </select>


</mapper>
