<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.EleRefundOrderHistoryMapper">

    <!--查询指定行数据-->
    <select id="queryList" resultType="java.util.Map">
        select *
        from t_ele_refund_order_history
        <where>
            <if test="query.refundOrderNo != null and query.refundOrderNo != ''">
                and refund_order_no = #{query.refundOrderNo}
            </if>
            <if test="query.beginTime != null">
                and create_time &gt;=#{query.beginTime}
            </if>
            <if test="query.endTime != null">
                and create_time &lt;=#{query.endTime}
            </if>
            <if test="query.tenantId != null">
                and tenant_id = #{query.tenantId}
            </if>
        </where>
        order by create_time desc
        limit #{query.offset}, #{query.size}
    </select>


	<select id="queryCount" resultType="java.lang.Integer">
        select COUNT(1)
        from t_ele_refund_order_history
        <where>
            <if test="query.refundOrderNo != null and query.refundOrderNo != ''">
                and refund_order_no = #{query.refundOrderNo}
            </if>v
            <if test="query.beginTime != null">
                and create_time &gt;=#{query.beginTime}
            </if>
            <if test="query.endTime != null">
                and create_time &lt;=#{query.endTime}
            </if>
            <if test="query.tenantId != null">
                and tenant_id = #{query.tenantId}
            </if>
        </where>
    </select>


</mapper>
