<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.EleUserOperateRecordMapper">


    <select id="queryList" resultType="com.xiliulou.electricity.entity.EleUserOperateRecord">
        SELECT * FROM
        t_ele_user_operate_record
        WHERE uid =#{uid} and tenant_id=#{tenantId}
        <if test="beginTime != null">
            and create_time &gt;=#{beginTime}
        </if>
        <if test="endTime != null">
            and create_time &lt;=#{endTime}
        </if>
        <if test="operateModel != null">
            and operate_model =#{operateModel}
        </if>
        order by create_time desc
        limit #{offset},#{size}
    </select>

    <select id="queryCount" resultType="integer">
        select count(1) from t_ele_user_operate_record
        where uid=#{uid} and tenant_id=#{tenantId}
        <if test="beginTime != null">
            and create_time &gt;=#{beginTime}
        </if>
        <if test="endTime != null">
            and create_time &lt;=#{endTime}
        </if>
        <if test="operateModel != null">
            and operate_model =#{operateModel}
        </if>
    </select>

</mapper>
