<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.EnableMemberCardRecordMapper">
    
    <select id="selectLatestByUid" resultType="com.xiliulou.electricity.entity.EnableMemberCardRecord">
        select id
             , user_name
             , phone
             , member_card_name
             , enable_type
             , disable_days
             , battery_service_fee_status
             , disable_member_card_no
             , uid
             , franchisee_id
             , disable_time
             , enable_time
             , create_time
             , update_time
             , tenant_id
             , service_fee
        from t_enable_member_card_record
        where uid = #{uid}
        ORDER BY id DESC limit 1
    </select>
    
    <select id="queryList" resultType="com.xiliulou.electricity.entity.EnableMemberCardRecord">
        select id
        ,user_name,phone,member_card_name,member_card_id,enable_type,disable_days,battery_service_fee_status,disable_member_card_no
        ,uid,franchisee_id,disable_time,enable_time,create_time,update_time,tenant_id,service_fee from
        t_enable_member_card_record
        <where>
            <if test="uid != null">
                and uid = #{uid}
            </if>
            <if test="userName != null and userName != '' ">
                and user_name like concat('%',#{userName},'%')
            </if>
            <if test="phone != null and phone != ''">
                and phone=#{phone}
            </if>
            <if test="enableType != null">
                and enable_type =#{enableType}
            </if>
            <if test="franchiseeId != null">
                and franchisee_id =#{franchiseeId}
            </if>
            <if test="beginTime != null">
                and create_time &gt;=#{beginTime}
            </if>
            <if test="endTime != null">
                and create_time &lt;=#{endTime}
            </if>
            <if test="tenantId != null">
                and tenant_id = #{tenantId}
            </if>
            <if test="disableMemberCardNo != null and disableMemberCardNo != ''">
                and disable_member_card_no = #{disableMemberCardNo}
            </if>
            <if test="beginDisableTime != null">
                and disable_time &gt;= #{beginDisableTime}
            </if>
            <if test="endDisableTime != null">
                and disable_time &lt;= #{endDisableTime}
            </if>
            <if test="franchiseeIds != null">
                and franchisee_id in
                <foreach collection="franchiseeIds" item="id" index="index" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
            <if test="storeIds != null">
                and store_id in
                <foreach collection="storeIds" item="id" index="index" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
        
        </where>
        order by create_time desc
        limit #{offset}, #{size}
    </select>
    
    <select id="queryCount" resultType="integer">
        select count(1) from t_enable_member_card_record
        <where>
            <if test="uid != null">
                and uid = #{uid}
            </if>
            <if test="userName != null and userName != '' ">
                and user_name like concat('%',#{userName},'%')
            </if>
            <if test="phone != null and phone != ''">
                and phone=#{phone}
            </if>
            <if test="enableType != null">
                and enable_type =#{enableType}
            </if>
            <if test="franchiseeId != null">
                and franchisee_id =#{franchiseeId}
            </if>
            <if test="beginTime != null">
                and create_time &gt;=#{beginTime}
            </if>
            <if test="endTime != null">
                and create_time &lt;=#{endTime}
            </if>
            <if test="disableMemberCardNo != null and disableMemberCardNo != ''">
                and disable_member_card_no = #{disableMemberCardNo}
            </if>
            <if test="beginDisableTime != null">
                and disable_time &gt;= #{beginDisableTime}
            </if>
            <if test="endDisableTime != null">
                and disable_time &lt;= #{endDisableTime}
            </if>
            <if test="franchiseeIds != null">
                and franchisee_id in
                <foreach collection="franchiseeIds" item="id" index="index" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
            <if test="storeIds != null">
                and store_id in
                <foreach collection="storeIds" item="id" index="index" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
            <if test="tenantId != null">
                and tenant_id = #{tenantId}
            </if>
        </where>
    </select>
    
    <update id="updatePhoneByUid">
        update t_enable_member_card_record
        set phone=#{newPhone}
        where uid = #{uid}
          and tenant_id = #{tenantId}
    </update>
    
    <select id="selectListByOrderIds" resultType="com.xiliulou.electricity.entity.EnableMemberCardRecord">
        SELECT
        r.order_id,
        r.member_card_id,
        r.enable_time,
        d.disable_member_card_time as 'disable_time'
        FROM
        t_enable_member_card_record r
        inner join t_ele_disable_member_card_record d on d.disable_member_card_no = r.disable_member_card_no
        <where>
            order_id IN
            <foreach collection="orderIdList" separator="," open="(" close=")" item="orderId">
                #{orderId}
            </foreach>
        </where>
    
    </select>
</mapper>