<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.FaceAuthResultDataMapper">

    <resultMap type="com.xiliulou.electricity.entity.FaceAuthResultData" id="FaceAuthResultDataMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="authResult" column="auth_result" jdbcType="VARCHAR"/>
        <result property="tenantId" column="tenant_id" jdbcType="INTEGER"/>
        <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="INTEGER"/>
    </resultMap>

    <!-- 基础字段 -->
    <sql id="selectFaceAuthResultData">
       	select   id, auth_result, tenant_id, del_flag, create_time, update_time        from t_face_auth_result_data
    </sql>

    <!--查询单个-->
    <select id="selectById" resultMap="FaceAuthResultDataMap">
        <include refid="selectFaceAuthResultData"/>
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="selectByPage" resultMap="FaceAuthResultDataMap">
        <include refid="selectFaceAuthResultData"/>
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="selectByQuery" resultMap="FaceAuthResultDataMap">
        <include refid="selectFaceAuthResultData"/>
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="authResult != null and authResult != ''">
                and auth_result = #{authResult}
            </if>
            <if test="tenantId != null">
                and tenant_id = #{tenantId}
            </if>
            <if test="delFlag != null">
                and del_flag = #{delFlag}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insertOne" keyProperty="id" useGeneratedKeys="true">
        insert into t_face_auth_result_data(face_recognize_user_id, auth_result, tenant_id, del_flag, create_time, update_time)
        values (#{faceRecognizeUserId}, #{authResult}, #{tenantId}, #{delFlag}, #{createTime}, #{updateTime})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update t_face_auth_result_data
        <set>
            <if test="authResult != null and authResult != ''">
                auth_result = #{authResult},
            </if>
            <if test="tenantId != null">
                tenant_id = #{tenantId},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from t_face_auth_result_data where id = #{id}
    </delete>

</mapper>
