<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.FailureAlarmMapper">
    
    <insert id="insertOne" keyProperty="id" useGeneratedKeys="true">
        insert into t_failure_alarm(id, type, grade, device_type, signal_id, signal_name, signal_desc, event_desc, tenant_visible, status, del_flag,
            create_time, update_time)
        values (#{id}, #{type}, #{grade}, #{deviceType}, #{signalId}, #{signalName}, #{signalDesc},#{eventDesc}, #{tenantVisible}, #{status}, #{delFlag},
                #{createTime}, #{updateTime})
    </insert>
    
    <select id="checkErrorCode" resultType="int">
        select count(1)
        from t_failure_alarm
        where
        signal_id = #{signalId}
        and del_flag = 0
        <if test="id != null">
            and id != #{id}
        </if>
    </select>
    <sql id="pageFilter">
        <where>
             del_flag = 0
            <if test="signalName != null and signalName != ''">
                and signal_name like concat('%',concat(#{signalName}, '%'))
            </if>
            <if test="signalId != null">
                AND signal_id like concat('%',concat(#{signalId}, '%'))
            </if>
            <if test="type != null">
                AND type = #{type}
            </if>
            <if test="grade != null">
                AND grade = #{grade}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
            <if test="deviceType != null">
                AND device_type = #{deviceType}
            </if>
            <if test="tenantVisible != null">
                AND tenant_visible = #{tenantVisible}
            </if>
            <if test="protectMeasureList != null and protectMeasureList.size() > 0">
                and EXISTS (
                select 1 from t_failure_alarm_protect_measure p where failure_alarm_id = t.id and p.protect_measure in
                <foreach collection="protectMeasureList" close=")" open="(" separator="," item="protectMeasure">
                    #{protectMeasure}
                </foreach>
                )
            </if>
        </where>
    </sql>
    <select id="countTotal" resultType="int">
        SELECT
        count(1)
        FROM
        t_failure_alarm t
        <include refid="pageFilter"/>
    </select>
    
    <sql id="column">
            t.id,
            t.type ,
            t.grade,
            t.device_type,
            t.signal_id,
            t.signal_name,
            t.signal_desc,
            t.event_desc,
            t.tenant_visible,
            t.`status`,
            t.del_flag,
            t.create_time,
            t.update_time
    </sql>
    
    <select id="selectListByPage" resultType="com.xiliulou.electricity.entity.FailureAlarm">
        SELECT
        <include refid="column"/>
        FROM
        t_failure_alarm t
        <include refid="pageFilter"/>
        order by id desc
        limit #{offset}, #{size}
    </select>
    <select id="select" resultType="com.xiliulou.electricity.entity.FailureAlarm">
        SELECT
        <include refid="column"/>
        FROM
        t_failure_alarm t
        <where>
            del_flag = 0
            and t.id =  #{id}
        </where>
    </select>
    <select id="selectList" resultType="com.xiliulou.electricity.entity.FailureAlarm">
        SELECT
        <include refid="column"/>
        FROM
        t_failure_alarm t
        <where>
             del_flag = 0
             <if test="idList != null and idList.size() > 0">
                 and t.id in
                 <foreach collection="idList" item="id" separator="," open="(" close=")">
                     #{id}
                 </foreach>
             </if>

            <if test="deviceType != null">
                and t.device_type = #{deviceType}
            </if>
        
            <if test="grade != null">
                and t.grade = #{grade}
            </if>
        
            <if test="tenantVisible != null">
                and t.tenant_visible = #{tenantVisible}
            </if>

            <if test="status != null">
                and t.status = #{status}
            </if>
           
        </where>
    </select>
    
    <update id="update" parameterType="com.xiliulou.electricity.entity.FailureAlarm">
        UPDATE t_failure_alarm
        SET type           = #{type}
          , grade          = #{grade}
          , device_type          = #{deviceType}
          , signal_id           = #{signalId}
          , signal_name      = #{signalName}
          , signal_desc  = #{signalDesc}
          , event_desc = #{eventDesc}
          , tenant_visible = #{tenantVisible}
          , status         = #{status}
          , update_time    = #{updateTime}
        WHERE id = #{id}
    </update>
    <update id="remove">
        update t_failure_alarm
        set del_flag    = #{delFlag},
            update_time = #{updateTime}
        where id = #{id}
    </update>
    <update id="batchUpdateTenantVisible">
        update t_failure_alarm set tenant_visible = #{tenantVisible}, update_time = #{updateTime}
        <where>
            id in
            <foreach collection="idList" close=")" open="(" separator="," item="id">
                #{id}
            </foreach>
        </where>
    </update>
    
    <delete id="batchDeleteByFailureAlarmId">
        delete
        from t_failure_alarm_protect_measure
        where failure_alarm_id = #{failureAlarmId}
    </delete>
    
    <select id="selectBySignalId" resultType="com.xiliulou.electricity.entity.FailureAlarm">
        select <include refid="column"/>
        from t_failure_alarm
        where
        del_flag = 0
        and signal_id = #{signalId}
    </select>
</mapper>
