<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.FranchiseeBindCardMapper">

    <resultMap type="com.xiliulou.electricity.entity.FranchiseeBindCard" id="TFranchiseeBindCardMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="franchiseeId" column="franchisee_id" jdbcType="INTEGER"/>
        <result property="cardId" column="card_id" jdbcType="INTEGER"/>
    </resultMap>


    <!--查询指定行数据-->
    <select id="queryList" resultMap="TFranchiseeBindCardMap">
        select
          id, franchisee_id, card_id
        from electricity.t_franchisee_bind_card
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="TFranchiseeBindCardMap">
        select
          id, franchisee_id, card_id
        from electricity.t_franchisee_bind_card
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="franchiseeId != null">
                and franchisee_id = #{franchiseeId}
            </if>
            <if test="cardId != null">
                and card_id = #{cardId}
            </if>
        </where>
    </select>


</mapper>