<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.FranchiseeUserInfoMapper">

    <!-- 基础字段 -->
    <sql id="selectFranchiseeUserInfo">
        select id, user_info_id, service_status, franchisee_id, card_id, card_name, card_type, member_card_expire_time, remaining_number, init_electricity_battery_sn, now_electricity_battery_sn, battery_deposit, order_id, del_flag, create_time, update_time, tenant_id, model_type, battery_type, battery_service_fee_generate_time, battery_service_fee_status, member_card_disable_status, disable_member_card_time, rent_car_status, rent_car_order_id, rent_car_deposit, bind_car_id, bind_car_model_id, rent_car_card_id, rent_car_member_card_expire_time
        from t_franchisee_user_info
    </sql>


    <select id="selectByNowElectricityBatterySn" resultType="com.xiliulou.electricity.entity.FranchiseeUserInfo">
        <include refid="selectFranchiseeUserInfo"/>
        where del_flag=0 and now_electricity_battery_sn=#{batteryName}
    </select>

    <update id="unBind">
        update t_franchisee_user_info
        set service_status = #{serviceStatus},
        now_electricity_battery_sn = #{nowElectricityBatterySn},
        <if test="initElectricityBatterySn != null">
            init_electricity_battery_sn = #{initElectricityBatterySn},
        </if>
        update_time = #{updateTime}
        where id = #{id} and del_flag=0
    </update>


    <update id="updateRefund">
		update t_franchisee_user_info
        set service_status = #{serviceStatus},
            order_id = #{orderId},
            battery_deposit = #{batteryDeposit},
            update_time = #{updateTime}
        where id = #{id} and del_flag=0
	</update>


    <update id="updateByUserInfoId">
        update t_franchisee_user_info
        set now_electricity_battery_sn = #{nowElectricityBatterySn},
        <if test="serviceStatus != null">
            service_status = #{serviceStatus},
        </if>
        <if test="initElectricityBatterySn != null">
            init_electricity_battery_sn = #{initElectricityBatterySn},
        </if>
        <if test="batteryServiceFeeStatus != null">
            battery_service_fee_status = #{batteryServiceFeeStatus},
        </if>
        update_time = #{updateTime}
        where user_info_id = #{userInfoId} and del_flag=0
    </update>

    <update id="updateByOrder">
		update t_franchisee_user_info
		set service_status = #{serviceStatus},
		update_time = #{updateTime},
		battery_deposit = #{batteryDeposit},
		order_id = #{orderId},
		franchisee_id = #{franchiseeId},
		model_type = #{modelType},
		battery_type = #{batteryType},
		card_id = #{cardId},
		card_name = #{cardName},
		card_type = #{cardType},
		member_card_expire_time = #{memberCardExpireTime},
		remaining_number = #{remainingNumber}
		where id = #{id} and del_flag=0
	</update>


    <update id="updateOrderByUserInfoId">
		update t_franchisee_user_info
		set service_status = #{serviceStatus},
		update_time = #{updateTime},
		battery_deposit = #{batteryDeposit},
		order_id = #{orderId},
		franchisee_id = #{franchiseeId},
		model_type = #{modelType},
		battery_type = #{batteryType},
		card_id = #{cardId},
		card_name = #{cardName},
		card_type = #{cardType},
		member_card_expire_time = #{memberCardExpireTime},
		remaining_number = #{remainingNumber}
		where user_info_id = #{userInfoId} and del_flag=0
	</update>


    <select id="queryFranchiseeUserInfoByUid" resultType="com.xiliulou.electricity.entity.FranchiseeUserInfo">
        select tf.id ,tf.user_info_id,tf.service_status,tf.franchisee_id,tf.card_id,tf.card_name,tf.card_type,tf.member_card_expire_time,
                tf.remaining_number,tf.init_electricity_battery_sn,tf.now_electricity_battery_sn,tf.battery_deposit,tf.order_id,tf.del_flag,
                tf.create_time,tf.update_time,tf.tenant_id,tf.model_type,tf.battery_type,tf.battery_service_fee_status,tf.battery_service_fee_generate_time,
                tf.rent_car_status,tf.rent_car_order_id,tf.rent_car_deposit,tf.bind_car_id,tf.bind_car_model_id,tf.rent_car_card_id,tf.rent_car_member_card_expire_time
                from t_franchisee_user_info tf
                left join t_user_info tu on tf.user_info_id=tu.id where tu.uid=#{uid} and tf.del_flag=0
    </select>


    <update id="updateRentCar">
        update t_franchisee_user_info
        set rent_car_status = #{rentCarStatus},
            bind_car_id=#{bindCarId},
            update_time = #{updateTime}
        where id = #{id} and del_flag=0
    </update>

    <update id="modifyRentCarStatus">
         update t_franchisee_user_info
        set rent_car_status = #{rentCarStatus},
            bind_car_id=#{bindCarId},
            update_time = #{updateTime},
            rent_car_order_id=#{rentCarOrderId},
            bind_car_model_id=#{bindCarModelId},
            rent_car_deposit=#{rentCarDeposit},
            rent_car_card_id=#{rentCarCardId},
            rent_car_member_card_expire_time=#{rentCarMemberCardExpireTime}
        where id = #{id} and del_flag=0
    </update>


    <update id="modifyRentCarStatusByUserInfoId">
          update t_franchisee_user_info
        set rent_car_status = #{rentCarStatus},
            bind_car_id=#{bindCarId},
            update_time = #{updateTime},
            rent_car_order_id=#{rentCarOrderId},
            bind_car_model_id=#{bindCarModelId},
            rent_car_deposit=#{rentCarDeposit},
            rent_car_card_id=#{rentCarCardId},
            rent_car_member_card_expire_time=#{rentCarMemberCardExpireTime}
        where user_info_id = #{userInfoId} and del_flag=0
    </update>

    <update id="updateMemberCardExpire">
          update t_franchisee_user_info
        set member_card_expire_time = #{memberCardExpireTime},
		    remaining_number = #{remainingNumber},
		    card_id = #{cardId},
		    card_name = #{cardName},
		    card_type = #{cardType},
		    update_time = #{updateTime},
		    battery_service_fee_generate_time=#{batteryServiceFeeGenerateTime}
        where id = #{id} and del_flag=0
    </update>
</mapper>
