<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.FranchiseeUserInfoMapper">


	<update id="unBind">
        update t_franchisee_user_info
        set service_status = #{serviceStatus},
            now_electricity_battery_sn = #{nowElectricityBatterySn},
            update_time = #{updateTime}
        where id = #{id} and del_flag=0
    </update>
	<update id="updateRefund">
		update t_franchisee_user_info
        set service_status = #{serviceStatus},
            order_id = #{orderId},
            battery_deposit = #{batteryDeposit},
            update_time = #{updateTime}
        where id = #{id} and del_flag=0
	</update>
	<update id="updateByUserInfoId">
		update t_franchisee_user_info
		set now_electricity_battery_sn = #{nowElectricityBatterySn},
		update_time = #{updateTime},
		<if test="serviceStatus != null">
			service_status = #{serviceStatus},
		</if>
		where user_info_id = #{userInfoId} and del_flag=0
	</update>

</mapper>
