<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.FreeServiceFeeOrderMapper">

    <insert id="insert">
        insert into t_free_service_fee_order
        (order_id,
         free_deposit_order_id,
         uid,
         pay_amount,
         status,
         <if test="paymentChannel != null and paymentChannel != ''">payment_channel,</if>
         tenant_id,
         franchisee_id,
         store_id,
        <if test="payTime != null">pay_time,</if>
        create_time,
         update_time)
        values (
                #{orderId},
                #{freeDepositOrderId},
                #{uid},
                #{payAmount},
                #{status},
                <if test="paymentChannel != null and paymentChannel != ''">  #{paymentChannel},</if>
                #{tenantId},
                #{franchiseeId},
                #{storeId},
                <if test="payTime != null">#{payTime},</if>
                #{createTime},
                #{updateTime}
        )
    </insert>


    <select id="existsPaySuccessOrder" resultType="java.lang.Integer">
        select 1
        from t_free_service_fee_order
        where free_deposit_order_id = #{freeDepositOrderId}
          and uid = #{uid}
          and status = '${@com.xiliulou.electricity.enums.FreeServiceFeeStatusEnum@STATUS_SUCCESS.status}'
    </select>
</mapper>
