<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.InsuranceUserInfoMapper">



    <update id="update">
        update t_insurance_user_info
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="address != null and address != ''">
                address = #{address},
            </if>
            <if test="longitude != null">
                longitude = #{longitude},
            </if>
            <if test="latitude != null">
                latitude = #{latitude},
            </if>
            <if test="productKey != null and productKey != ''">
                product_key = #{productKey},
            </if>
            <if test="deviceName != null and deviceName != ''">
                device_name = #{deviceName},
            </if>
            <if test="deviceSecret != null and deviceSecret != ''">
                device_secret = #{deviceSecret},
            </if>
            <if test="usableStatus != null">
                usable_status = #{usableStatus},
            </if>
            <if test="onlineStatus != null">
                online_status = #{onlineStatus},
            </if>
            <if test="modelId != null">
                model_id = #{modelId},
            </if>
            <if test="version != null and version != ''">
                version = #{version},
            </if>
            <if test="fullyCharged != null">
                fully_charged = #{fullyCharged},
            </if>
            <if test="servicePhone != null and servicePhone != ''">
                service_phone = #{servicePhone},
            </if>
            <if test="businessTime != null and businessTime != ''">
                business_time = #{businessTime},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag},
            </if>
            <if test="storeId != null">
                store_id = #{storeId},
            </if>
            <if test="sn != null and sn != ''">
                sn = #{sn},
            </if>
        </set>
        where id = #{id} and tenant_id = #{tenantId}
    </update>

</mapper>
