<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.InsuranceOrderMapper">


    <select id="queryList" resultType="com.xiliulou.electricity.vo.InsuranceOrderVO">
        select tf.name as franchiseeName, tio.insurance_name as insuranceName,tio.insurance_type as insuranceType,tio.user_name as userName,tio.order_id as orderId
        ,tui.id_number as idCard,tio.phone as phone,tio.cid as cid,tio.pay_amount as insuranceAmount,tio.create_time as createTime,tio.valid_days as validDays
        from t_insurance_order tio left join t_franchisee tf on tio.franchisee_id=tf.id left join t_user_info tui on tio.uid=tui.uid
        <where>
            <if test="query.orderId != null and query.orderId !=''">
                and tio.order_id = #{query.orderId}
            </if>
            <if test="query.franchiseeId != null">
                and tio.franchisee_id = #{query.franchiseeId}
            </if>
            <if test="query.userName != null and query.userName !=''">
                and tio.user_name = #{query.userName}
            </if>
            <if test="query.phone != null and query.phone !=''">
                and tio.phone = #{query.phone}
            </if>
            <if test="query.beginTime != null">
                and tio.create_time &gt;= #{query.beginTime}
            </if>
            <if test="query.endTime != null">
                and tio.create_time &lt;= #{query.endTime}
            </if>
            <if test="query.tenantId != null">
                and tio.tenant_id = #{query.tenantId}
            </if>
        </where>
        order by tio.create_time desc
        limit #{query.offset},#{query.size}
    </select>

    <select id="queryCount" resultType="integer">
        select count(1) from t_insurance_order tio
        <where>
            <if test="query.orderId != null and query.orderId !=''">
                and tio.order_id = #{query.orderId}
            </if>
            <if test="query.franchiseeId != null">
                and tio.franchisee_id = #{query.franchiseeId}
            </if>
            <if test="query.userName != null and query.userName !=''">
                and tio.user_name = #{query.userName}
            </if>
            <if test="query.phone != null and query.phone !=''">
                and tio.phone = #{query.phone}
            </if>
            <if test="query.beginTime != null">
                and tio.create_time &gt;= #{query.beginTime}
            </if>
            <if test="query.endTime != null">
                and tio.create_time &lt;= #{query.endTime}
            </if>
            <if test="query.tenantId != null">
                and tio.tenant_id = #{query.tenantId}
            </if>
        </where>
    </select>

</mapper>
