<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.InvitationActivityMapper">

    <resultMap type="com.xiliulou.electricity.entity.InvitationActivity" id="InvitationActivityMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="hours" column="hours" jdbcType="INTEGER"/>
        <result property="minutes" column="minutes" jdbcType="INTEGER"/>
        <result property="discountType" column="discount_type" jdbcType="INTEGER"/>

        <result property="firstReward" column="first_reward" jdbcType="NUMERIC"/>
        <result property="otherReward" column="other_reward" jdbcType="NUMERIC"/>

        <result property="operateUid" column="operate_uid" jdbcType="INTEGER"/>
        <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="INTEGER"/>
        <result property="tenantId" column="tenant_id" jdbcType="INTEGER"/>
        <result property="franchiseeId" column="franchisee_id" jdbcType="BIGINT"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="InvitationActivityMap">
        select
          id, name, type, status, description, hours, minutes, discount_type, first_reward, other_reward, operate_uid, del_flag, create_time, update_time, tenant_id, franchisee_id
        from t_invitation_activity
        where id = #{id} and del_flag =0
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="InvitationActivityMap">
        select
          id, name, type, status, description, hours, discount_type, first_reward, other_reward, operate_uid, del_flag, create_time, update_time, tenant_id
        from t_invitation_activity where del_flag = 0
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="InvitationActivityMap">
        select
        id, name, type, status, description, hours, discount_type, first_reward, other_reward, operate_uid, del_flag,
        create_time, update_time,
        tenant_id
        from t_invitation_activity
            where del_flag = 0
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="name != null and name != ''">
            and name = #{name}
        </if>
        <if test="type != null">
            and type = #{type}
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
        <if test="description != null and description != ''">
            and description = #{description}
        </if>
        <if test="hours != null">
            and hours = #{hours}
        </if>
        <if test="discountType != null">
            and discount_type = #{discountType}
        </if>
        <if test="operateUid != null">
            and operate_uid = #{operateUid}
        </if>
        <if test="delFlag != null">
            and del_flag = #{delFlag}
        </if>
        <if test="createTime != null">
            and create_time = #{createTime}
        </if>
        <if test="updateTime != null">
            and update_time = #{updateTime}
        </if>
        <if test="tenantId != null">
            and tenant_id = #{tenantId}
        </if>
    </select>

    <select id="selectByPage" resultMap="InvitationActivityMap">
        select
        id, name, type, status, description, hours, minutes, discount_type, first_reward, other_reward, operate_uid, del_flag,
        create_time, update_time, tenant_id, franchisee_id
        from t_invitation_activity
        where del_flag=0
        <if test="name != null and name != ''">
            and name = #{name}
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
        <if test="tenantId != null">
            and tenant_id = #{tenantId}
        </if>
        <if test="franchiseeId != null">
            and franchisee_id = #{franchiseeId}
        </if>
        <if test="franchiseeIds != null and franchiseeIds.size() > 0">
            and franchisee_id in
            <foreach collection="franchiseeIds" item="franchiseeId" index="index" open="(" separator="," close=")">
                #{franchiseeId}
            </foreach>
        </if>
        order by id desc
        limit #{offset}, #{size}
    </select>

    <select id="selectByPageCount" resultType="int">
        select count(1)
        from t_invitation_activity
        where del_flag=0
        <if test="name != null and name != ''">
            and name = #{name}
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
        <if test="tenantId != null">
            and tenant_id = #{tenantId}
        </if>
        <if test="franchiseeId != null">
            and franchisee_id = #{franchiseeId}
        </if>
        <if test="franchiseeIds != null and franchiseeIds.size() > 0">
            and franchisee_id in
            <foreach collection="franchiseeIds" item="franchiseeId" index="index" open="(" separator="," close=")">
                #{franchiseeId}
            </foreach>
        </if>
    </select>
    
    <select id="checkUsableActivity" resultType="Integer">
        select 1 from t_invitation_activity
        where del_flag=0 and tenant_id = #{tenantId} and status =1
        <if test="franchiseeId == null and franchiseeId == 0">
            and franchisee_id = #{franchiseeId}
        </if>
        limit 1
    </select>

    <select id="selectBySearch" resultMap="InvitationActivityMap">
        select id, name
        from t_invitation_activity
        where tenant_id = #{tenantId} and del_flag=0
        <if test="name != null and name != ''">
            and name like concat('%',#{name,jdbcType=VARCHAR},'%')
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
        <if test="franchiseeId != null">
            and franchisee_id = #{franchiseeId}
        </if>
        order by id
    </select>

    <select id="selectByPageSearch" resultType="com.xiliulou.electricity.vo.InvitationActivitySearchVO">
        SELECT tia.id,tia.NAME
        FROM t_invitation_activity tia
        LEFT JOIN t_invitation_activity_user iau ON tia.id = iau.activity_id
        where tia.tenant_id = #{tenantId} and tia.del_flag=0
        <if test="name != null and name != ''">
            and tia.name like concat('%',#{name,jdbcType=VARCHAR},'%')
        </if>
        <if test="uid != null">
            and iau.uid = #{uid}
        </if>
        <if test="status != null">
            and tia.status = #{status}
        </if>
        order by tia.id limit #{offset}, #{size}
    </select>
    
    <select id="selectByPageSearchNoUid" resultType="com.xiliulou.electricity.vo.InvitationActivitySearchVO">
        SELECT tia.id,tia.NAME
        FROM t_invitation_activity tia
        where tia.tenant_id = #{tenantId} and tia.del_flag=0
        <if test="name != null and name != ''">
            and tia.name like concat('%',#{name,jdbcType=VARCHAR},'%')
        </if>
        <if test="status != null">
            and tia.status = #{status}
        </if>
        order by tia.id limit #{offset}, #{size}
    
    </select>
    
    <select id="selectUsableActivity" resultMap="InvitationActivityMap">
        select  id, name, type, status, description, hours, discount_type, first_reward, other_reward, create_time, franchisee_id
        from t_invitation_activity
        where tenant_id = #{tenantId} and status=1 and del_flag = 0
    </select>
    
    <!--新增所有列-->
    <insert id="insertOne" keyProperty="id" useGeneratedKeys="true">
        insert into t_invitation_activity(name, type, status, description, hours, minutes, discount_type, first_reward, other_reward, operate_uid, del_flag, create_time, update_time, tenant_id, franchisee_id)
        values (#{name}, #{type}, #{status}, #{description}, #{hours}, #{minutes}, #{discountType}, #{firstReward}, #{otherReward}, #{operateUid}, #{delFlag}, #{createTime}, #{updateTime}, #{tenantId}, #{franchiseeId})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update t_invitation_activity
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="description != null and description != ''">
                description = #{description},
            </if>
            <if test="hours != null">
                hours = #{hours},
            </if>
            <if test="minutes != null">
                minutes = #{minutes},
            </if>
            <if test="discountType != null">
                discount_type = #{discountType},
            </if>
            <if test="firstReward != null">
                first_reward = #{firstReward},
            </if>
            <if test="otherReward != null">
                other_reward = #{otherReward},
            </if>
            <if test="operateUid != null">
                operate_uid = #{operateUid},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="tenantId != null">
                tenant_id = #{tenantId},
            </if>
        </set>
        where id = #{id}
    </update>
    <!--9. 活动管理-套餐返现活动里面的套餐配置记录想能够手动删除 start-->
    <update id="removeById">
        update t_invitation_activity set `del_flag` = 1,`status`=2 where `del_flag` = 0 and `tenant_id` = #{tenantId} and `id` = #{id};
    </update>
    <!--9. 活动管理-套餐返现活动里面的套餐配置记录想能够手动删除 end-->
    
    <!--通过主键删除-->
    <delete id="deleteById">
        delete from t_invitation_activity where id = #{id}
    </delete>

</mapper>
