<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.JoinShareActivityHistoryMapper">
    
    <resultMap type="com.xiliulou.electricity.entity.JoinShareActivityHistory"  id="JoinShareActivityHistoryMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="uid" column="uid" jdbcType="INTEGER"/>
        <result property="recordId" column="record_id" jdbcType="INTEGER"/>
        <result property="joinUid" column="join_uid" jdbcType="INTEGER"/>
        <result property="startTime" column="start_time" jdbcType="INTEGER"/>
        <result property="expiredTime" column="expired_time" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="INTEGER"/>
        <result property="tenantId" column="tenant_id" jdbcType="INTEGER"/>
        <result property="activityId" column="activity_id" jdbcType="INTEGER"/>
    </resultMap>

    <!-- 基础字段 -->
    <sql id="selectJoinShareActivityHistory">
        select id,
            uid,
            record_id,
            join_uid,
            start_time,
            expired_time,
            status,
            create_time,
            update_time,
            tenant_id,
            activity_id
        from t_join_share_activity_history
    </sql>

    <!--通过实体作为筛选条件查询-->
    <select id="queryList" resultType="com.xiliulou.electricity.vo.JoinShareActivityHistoryVO">
        select
        jsah.id as id, jsah.start_time as startTime,
         jsah.expired_time as expiredTime,jsah.status as status,  jsah.create_time as createTime,
        jsah.update_time as updateTime, jsah.tenant_id as tenantId, tui.phone as join_phone, tui.name as join_name
        from t_join_share_activity_history as jsah
        left join t_user_info as tui on tui.uid = jsah.join_uid
        <where>
            <if test="uid != null">
                and jsah.uid = #{uid}
            </if>
            <if test="activityId != null">
                and jsah.activity_id = #{activityId}
            </if>
            <if test="tenantId != null">
                and jsah.tenant_id = #{tenantId}
            </if>
            <if test="status != null">
                and jsah.status = #{status}
            </if>
            <if test="joinName != null and joinName != ''">
                and tui.name like concat('%', #{joinName}, '%')
            </if>
            <if test="startTime != null">
                and jsah.start_time &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                and jsah.start_time &lt;= #{endTime}
            </if>
        </where>
		order by jsah.update_time desc
        <if test="offset != null and size != null">
			limit #{offset}, #{size}
		</if>

    </select>
    
    <select id="queryFinalHistoryByJoinUid" resultType="com.xiliulou.electricity.vo.FinalJoinShareActivityHistoryVo">
        select jsah.id, tui.name as user_name
        from t_join_share_activity_history as jsah
        left join t_user_info as tui on tui.uid = jsah.uid
        where tui.tenant_id = #{tenantId} and jsah.join_uid = #{joinUid}
        order by jsah.create_time desc
        limit 1
    </select>
    
    <select id="queryCount" resultType="long">
        select
        count(1)
        from t_join_share_activity_history as jsah
        left join t_user_info as tui on tui.uid = jsah.join_uid
        <where>
            <if test="uid != null">
                and jsah.uid = #{uid}
            </if>
            <if test="activityId != null">
                and jsah.activity_id = #{activityId}
            </if>
            <if test="tenantId != null">
                and jsah.tenant_id = #{tenantId}
            </if>
            <if test="status != null">
                and jsah.status = #{status}
            </if>
            <if test="joinName != null and joinName != ''">
                and tui.name like concat('%', #{joinName}, '%')
            </if>
            <if test="startTime != null">
                and jsah.start_time &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                and jsah.start_time &lt;= #{endTime}
            </if>
        </where>
    </select>
    
    
    <select id="queryExportExcel" resultType="com.xiliulou.electricity.query.ElectricityCabinetOrderExcelQuery">
        select jsah.uid as uid, jsah.start_time as startTime, jsah.expired_time as expiredTime,
        jsah.status as status, tui.phone as join_phone, tui.name as join_name
        from t_join_share_activity_history as jsah
        left join t_user_info as tui on tui.uid = jsah.join_uid
        <where>
            <if test="uid != null">
                and jsah.uid = #{uid}
            </if>
            <if test="activityId != null">
                and jsah.activity_id = #{activityId}
            </if>
            <if test="tenantId != null">
                and jsah.tenant_id = #{tenantId}
            </if>
            <if test="status != null">
                and jsah.status = #{status}
            </if>
            <if test="joinName != null and joinName != ''">
                and tui.name like concat('%', #{joinName}, '%')
            </if>
            <if test="startTime != null">
                and jsah.start_time &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                and jsah.start_time &lt;= #{endTime}
            </if>
        </where>
        order by jsah.update_time desc
        limit #{offset}, #{size}
    </select>

    <!-- 根据条件查询参与记录信息-->
    <select id="queryParticipants" resultType="com.xiliulou.electricity.vo.JoinShareActivityHistoryVO">
        select
            jsah.id as id,
            jsah.start_time as startTime,
            jsah.expired_time as expiredTime,
            jsah.status,
            jsah.create_time as createTime,
            jsah.update_time as updateTime,
            jsah.tenant_id as tenantId,
            tui.phone as joinPhone,
            jsah.uid as inviterUid,
            jsah.join_uid as joinUid,
            tui.name as joinName,
            jsah.activity_id as activityId,
            tsa.invitation_criteria as invitationCriteria,
            tsa.name as activityName
        from t_join_share_activity_history as jsah
        left join t_user_info as tui on tui.uid = jsah.join_uid
        left join t_share_activity as tsa on tsa.id = jsah.activity_id
        <where>
            <if test="uid != null">
                and jsah.uid = #{uid}
            </if>
            <if test="activityId != null">
                and jsah.activity_id = #{activityId}
            </if>
            <if test="tenantId != null">
                and jsah.tenant_id = #{tenantId}
            </if>
            <if test="status != null">
                and jsah.status = #{status}
            </if>
            <if test="joinName != null and joinName != ''">
                and tui.name like concat('%', #{joinName}, '%')
            </if>
            <if test="phone != null and phone != ''">
                and tui.phone = #{phone}
            </if>
            <if test="joinUid != null">
                and jsah.join_uid = #{joinUid}
            </if>
            <if test="activityName != null and activityName != ''">
                and tsa.name like concat('%', #{activityName}, '%')
            </if>
            <if test="startTime != null">
                and jsah.start_time &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                and jsah.start_time &lt;= #{endTime}
            </if>
            <if test="franchiseeIds != null">
                and tui.franchisee_id in
                <foreach collection="franchiseeIds" item="id" index="index" open="(" close=")"  separator=",">
                    #{id}
                </foreach>
            </if>
            <if test="storeIds != null">
                and tui.store_id in
                <foreach collection="storeIds" item="id" index="index" open="(" close=")"  separator=",">
                    #{id}
                </foreach>
            </if>
        </where>
        order by jsah.update_time desc
        <if test="offset != null and size != null">
            limit #{offset}, #{size}
        </if>

    </select>

    <select id="queryParticipantsCount" resultType="long">
        select
            count(1)
        from t_join_share_activity_history as jsah
        left join t_user_info as tui on tui.uid = jsah.join_uid
        left join t_share_activity as tsa on tsa.id = jsah.activity_id
        <where>
            <if test="uid != null">
                and jsah.uid = #{uid}
            </if>
            <if test="activityId != null">
                and jsah.activity_id = #{activityId}
            </if>
            <if test="tenantId != null">
                and jsah.tenant_id = #{tenantId}
            </if>
            <if test="status != null">
                and jsah.status = #{status}
            </if>
            <if test="joinName != null and joinName != ''">
                and tui.name like concat('%', #{joinName}, '%')
            </if>
            <if test="phone != null and phone != ''">
                and tui.phone = #{phone}
            </if>
            <if test="joinUid != null">
                and jsah.join_uid = #{joinUid}
            </if>
            <if test="activityName != null and activityName != ''">
                and tsa.name like concat('%', #{activityName}, '%')
            </if>
            <if test="startTime != null">
                and jsah.start_time &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                and jsah.start_time &lt;= #{endTime}
            </if>
            <if test="franchiseeIds != null">
                and tui.franchisee_id in
                <foreach collection="franchiseeIds" item="id" index="index" open="(" close=")"  separator=",">
                    #{id}
                </foreach>
            </if>
            <if test="storeIds != null">
                and tui.store_id in
                <foreach collection="storeIds" item="id" index="index" open="(" close=")"  separator=",">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>

    <select id="queryUserJoinedActivity" resultMap="JoinShareActivityHistoryMap">
        <include refid="selectJoinShareActivityHistory"/>
        <where>
            status in (1,2)
            <if test="joinUid != null">
                and join_uid = #{joinUid}
            </if>

            <if test="tenantId != null">
                and tenant_id = #{tenantId}
            </if>
        </where>
    </select>

    <select id="queryActivityByJoinerAndInviter" resultMap="JoinShareActivityHistoryMap">
        <include refid="selectJoinShareActivityHistory"/>
        <where>
            status in (1,2)
            <if test="joinUid != null">
                and join_uid = #{joinUid}
            </if>

            <if test="inviterUid != null">
                and uid = #{inviterUid}
            </if>

            <if test="activityId != null">
                and  activity_id = #{activityId}
            </if>
        </where>
    </select>

</mapper>
