<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.JoinShareMoneyActivityHistoryMapper">
    
    <!--通过实体作为筛选条件查询-->
    <select id="queryList" resultType="com.xiliulou.electricity.vo.JoinShareMoneyActivityHistoryVO">
        select
        jsah.id as id, jsah.uid as uid, jsah.join_uid as joinUid, jsah.start_time as startTime,
         jsah.expired_time as expiredTime,jsah.status as status,  jsah.create_time as createTime,
        jsah.update_time as updateTime, jsah.tenant_id as tenantId, jsah.activity_id as activityId,
        tui.name as join_name, tui.phone as join_phone
        from t_join_share_money_activity_history as jsah
        left join t_user_info as tui on tui.uid = jsah.join_uid
        <where>
            <if test="uid != null">
                and jsah.uid = #{uid}
            </if>
            <if test="activityId != null">
                and jsah.activity_id = #{activityId}
            </if>
            <if test="tenantId != null">
                and jsah.tenant_id = #{tenantId}
            </if>
            <if test="status != null">
                and jsah.status = #{status}
            </if>
            <if test="joinName != null and joinName != ''">
                and tui.name like concat('%', #{joinName}, '%')
            </if>
            <if test="beginTime != null">
                and jsah.start_time &gt;= #{beginTime}
            </if>
            <if test="endTime != null">
                and jsah.start_time &lt;= #{endTime}
            </if>
        </where>
		order by jsah.update_time desc
        <if test="offset != null and size != null">
			limit #{offset}, #{size}
		</if>

    </select>

	<select id="queryCount" resultType="java.lang.Integer">
        select count(1)
        from t_join_share_money_activity_history as jsah
        <where>
            <if test="uid != null">
                and jsah.uid = #{uid}
            </if>
            <if test="activityId != null">
                and jsah.activity_id = #{activityId}
            </if>
            <if test="tenantId != null">
                and jsah.tenant_id = #{tenantId}
            </if>
            <if test="status != null">
                and jsah.status = #{status}
            </if>
            <if test="joinName != null and joinName != ''">
                and tui.name like concat('%', #{joinName}, '%')
            </if>
            <if test="beginTime != null">
                and jsah.start_time &gt;= #{beginTime}
            </if>
            <if test="endTime != null">
                and jsah.start_time &lt;= #{endTime}
            </if>
        </where>
    </select>
    
    <select id="queryFinalHistoryByJoinUid"
        resultType="com.xiliulou.electricity.vo.FinalJoinShareMoneyActivityHistoryVo">
        select jsah.uid, tui.name as user_name
        from t_join_share_money_activity_history as jsah
        left join t_user_info as tui on tui.uid = jsah.uid
        where tui.tenant_id = #{tenantId} and jsah.join_uid = #{joinUid}
        order by jsah.create_time desc
        limit 1
    </select>
    
    <select id="queryExportExcel" resultType="com.xiliulou.electricity.query.JoinShareMoneyActivityHistoryExcelQuery">
        select
        jsah.uid as uid, jsah.start_time as startTime,
        jsah.expired_time as expiredTime,jsah.status as status,
        tui.name as join_name, tui.phone as join_phone
        from t_join_share_money_activity_history as jsah
        left join t_user_info as tui on tui.uid = jsah.join_uid
        <where>
            <if test="uid != null">
                and jsah.uid = #{uid}
            </if>
            <if test="activityId != null">
                and jsah.activity_id = #{activityId}
            </if>
            <if test="tenantId != null">
                and jsah.tenant_id = #{tenantId}
            </if>
            <if test="status != null">
                and jsah.status = #{status}
            </if>
            <if test="joinName != null and joinName != ''">
                and tui.name like concat('%', #{joinName}, '%')
            </if>
            <if test="beginTime != null">
                and jsah.start_time &gt;= #{beginTime}
            </if>
            <if test="endTime != null">
                and jsah.start_time &lt;= #{endTime}
            </if>
        </where>
        order by jsah.update_time desc
        limit #{offset}, #{size}
    </select>

    <!-- 根据条件查询参与记录信息-->
    <select id="queryParticipantsRecord" resultType="com.xiliulou.electricity.vo.JoinShareMoneyActivityHistoryVO">
        select tjsmah.id as id,
            tjsmah.activity_id as activityId,
            tsa.name as activityName,
            tjsmah.uid as inviterUid,
            tjsmah.join_uid as joinUid,
            tui.name as joinName,
            tui.phone as joinPhone,
            tjsmah.start_time as startTime,
            tjsmah.expired_time as expiredTime,
            tjsmah.status as status,
            tjsmah.create_time as createTime,
            tjsmah.update_time as updateTime,
            tjsmah.tenant_id as tenantId

        from t_join_share_money_activity_history tjsmah
        left join t_user_info as tui on tui.uid = tjsmah.join_uid
        left join t_share_activity as tsa on tsa.id = tjsmah.activity_id
        <where>
            <if test="uid != null">
                and tjsmah.uid = #{uid}
            </if>
            <if test="activityId != null">
                and tjsmah.activity_id = #{activityId}
            </if>
            <if test="tenantId != null">
                and tjsmah.tenant_id = #{tenantId}
            </if>
            <if test="status != null">
                and tjsmah.status = #{status}
            </if>
            <if test="joinName != null and joinName != ''">
                and tui.name like concat('%', #{joinName}, '%')
            </if>
            <if test="phone != null and phone != ''">
                and tui.phone = #{phone}
            </if>
            <if test="activityName != null and activityName != ''">
                and tsa.name like concat('%', #{activityName}, '%')
            </if>
            <if test="beginTime != null">
                and tjsmah.start_time &gt;= #{beginTime}
            </if>
            <if test="endTime != null">
                and tjsmah.start_time &lt;= #{endTime}
            </if>
        </where>
        order by tjsmah.update_time desc
        <if test="offset != null and size != null">
            limit #{offset}, #{size}
        </if>

    </select>

    <select id="queryParticipantsRecordCount" resultType="long">
        select
            count(1)
        from t_join_share_money_activity_history tjsmah
        left join t_user_info as tui on tui.uid = tjsmah.join_uid
        left join t_share_activity as tsa on tsa.id = tjsmah.activity_id
        <where>
            <if test="uid != null">
                and tjsmah.uid = #{uid}
            </if>
            <if test="activityId != null">
                and tjsmah.activity_id = #{activityId}
            </if>
            <if test="tenantId != null">
                and tjsmah.tenant_id = #{tenantId}
            </if>
            <if test="status != null">
                and tjsmah.status = #{status}
            </if>
            <if test="joinName != null and joinName != ''">
                and tui.name like concat('%', #{joinName}, '%')
            </if>
            <if test="phone != null and phone != ''">
                and tui.phone = #{phone}
            </if>
            <if test="activityName != null and activityName != ''">
                and tsa.name like concat('%', #{activityName}, '%')
            </if>
            <if test="beginTime != null">
                and tjsmah.start_time &gt;= #{beginTime}
            </if>
            <if test="endTime != null">
                and tjsmah.start_time &lt;= #{endTime}
            </if>
        </where>
    </select>


</mapper>
