<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.NewUserActivityMapper">


	<!--查询指定行数据-->
	<select id="queryList" resultType="com.xiliulou.electricity.entity.NewUserActivity">
		select
		id, name, type, status, time_type,begin_time,end_time,discount_type, count,days,coupon_id,
		description, del_flg, create_time,update_time, uid,user_name,franchisee_id
		from t_new_user_activity
		<where>
			<if test="query.name != null and query.name != ''">
				and name = #{query.name}
			</if>
			<if test="query.tenantId != null ">
				and tenant_id = #{query.tenantId}
			</if>
			<if test="query.status != null ">
				and status = #{query.status}
			</if>
		</where>
		order by update_time desc
		<if test="query.offset != null and query.size != null">
			limit #{query.offset}, #{query.size}
		</if>
	</select>


	<select id="queryCount" resultType="java.lang.Integer">
		select count(1)
		from t_new_user_activity
		<where>
			<if test="query.name != null and query.name != ''">
				and name = #{query.name}
			</if>
			<if test="query.tenantId != null ">
				and tenant_id = #{query.tenantId}
			</if>
			<if test="query.status != null ">
				and status = #{query.status}
			</if>
		</where>
	</select>

	<select id="selectByCouponId" resultType="com.xiliulou.electricity.entity.NewUserActivity">
        id, name, type, status
        from t_new_user_activity
        where del_flg=0 and coupon_id=#{couponId} order by id limit 1
    </select>
</mapper>
