<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.OldUserActivityMapper">


    <!--查询指定行数据-->
    <select id="queryList" resultType="com.xiliulou.electricity.entity.OldUserActivity">
        select
        id, name, type, status, time_type,begin_time,end_time,discount_type, count,coupon_id,
        description, del_flg, create_time,update_time, uid,user_name,franchisee_id
        from t_old_user_activity
        <where>
            <if test="query.name != null and query.name != ''">
                and name = #{query.name}
            </if>
            <if test="query.discountType != null">
                and discount_type = #{query.discountType}
            </if>
            <if test="query.tenantId != null ">
                and tenant_id = #{query.tenantId}
            </if>
        </where>
        order by update_time desc
        <if test="query.offset != null and query.size != null">
            limit #{query.offset}, #{query.size}
        </if>
    </select>


    <select id="queryCount" resultType="java.lang.Integer">
        select count(1)
        from t_old_user_activity
        <where>
            <if test="query.name != null and query.name != ''">
                and name = #{query.name}
            </if>
            <if test="query.typeList!=null and query.typeList!=''">
                and type in
                <foreach collection="query.typeList" item="id" index="index" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
            <if test="query.tenantId != null ">
                and tenant_id = #{query.tenantId}
            </if>
        </where>
    </select>


</mapper>
