<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.OrderProtocolMapper">

    <resultMap type="com.xiliulou.electricity.entity.OrderProtocol" id="OrderProtocolMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="INTEGER"/>
        <result property="tenantId" column="tenant_id" jdbcType="INTEGER"/>
    </resultMap>
    
    <!-- 基础字段 -->
	<sql id="selectOrderProtocol">
       	select   id, content, create_time, update_time, tenant_id        from t_order_protocol
    </sql>
    
    <!--查询单个-->
    <select id="selectById" resultMap="OrderProtocolMap">
        <include refid="selectOrderProtocol"/>
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="selectByPage" resultMap="OrderProtocolMap">
        <include refid="selectOrderProtocol"/>
        from t_order_protocol
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="selectByQuery" resultMap="OrderProtocolMap">
        <include refid="selectOrderProtocol"/>
        from t_order_protocol
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="content != null and content != ''">
                and content = #{content}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="tenantId != null">
                and tenant_id = #{tenantId}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insertOne" keyProperty="id" useGeneratedKeys="true">
        insert into t_order_protocol(content, create_time, update_time, tenant_id)
        values (#{content}, #{createTime}, #{updateTime}, #{tenantId})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update t_order_protocol
        <set>
            <if test="content != null and content != ''">
                content = #{content},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id} and tenant_id = #{tenantId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from t_order_protocol where id = #{id}
    </delete>

</mapper>
