<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.RoleMapper">


	<!--新增所有列-->
	<insert id="insertOne" keyProperty="id" useGeneratedKeys="true">
        insert into t_role(name, code, `desc`, create_time, update_time,tenant_id)
        values (#{name}, #{code}, #{desc}, #{createTime}, #{updateTime},#{tenantId})
    </insert>

	<update id="update">
		update t_role
		<set>
			<if test="name != null and name != '' ">
				name = #{name},
			</if>
			<if test="code != null and code != '' ">
				code = #{code},
			</if>
			<if test="desc != null and desc != '' ">
				`desc` = #{desc},
			</if>
			<if test="createTime != null  ">
				create_time = #{createTime},
			</if>
			<if test="updateTime != null  ">
				update_time = #{updateTime},
			</if>
			<if test="tenantId != null  ">
				tenant_id = #{tenantId},
			</if>
		</set>
		where id =#{id}

	</update>


	<!--通过实体作为筛选条件查询-->
	<select id="queryAll" resultType="com.xiliulou.electricity.entity.Role">
		select
		id, name, code, `desc`, create_time, update_time,tenant_id
		from t_role
		<where>
			<if test="tenantId != null ">
				and tenant_id = #{tenantId}
			</if>
		</where>
		order by create_time desc
	</select>


	<select id="queryByRoleIds" resultType="com.xiliulou.electricity.entity.Role">
		select
		id, name, code, `desc`, create_time, update_time,tenant_id
		from t_role
		where id in
		<foreach collection="list" close=")" open="(" item="r" separator=",">
			#{r}
		</foreach>

	</select>

</mapper>
