<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.RoleMapper">



    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultType="com.xiliulou.electricity.entity.Role">
        select
          id, name, code, `desc`, create_time, update_time
        from t_role
        order by create_time desc
    </select>


    <select id="queryListByCondition" resultType="com.xiliulou.electricity.entity.Role">
         select
          id, name, code, `desc`, create_time, update_time
        from t_role
        order by create_time desc
        limit #{offset},#{size}
    </select>

    <select id="queryByRoleIds" resultType="com.xiliulou.electricity.entity.Role">
           select
          id, name, code, `desc`, create_time, update_time
        from t_role
        where id in
         <foreach collection="list" close=")" open="(" item="r" separator=",">
             #{r}
         </foreach>

    </select>

</mapper>
