<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.ServiceFeeUserInfoMapper">

    <update id="update">
        update t_service_fee_user_info
        <set>
            <if test="disableMemberCardNo != null">
                disable_member_card_no = #{disableMemberCardNo},
            </if>
        </set>
        where id = #{id} and tenant_id = #{tenantId}
    </update>

    <update id="updateByUid">
        update t_service_fee_user_info
        <set>
            <if test="orderNo != null">
                order_no = #{orderNo},
            </if>
            <if test="disableMemberCardNo != null">
                disable_member_card_no = #{disableMemberCardNo},
            </if>
            <if test="franchiseeId != null">
                franchisee_id = #{franchiseeId},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="serviceFeeGenerateTime != null">
                service_fee_generate_time = #{serviceFeeGenerateTime},
            </if>
        </set>
        where uid = #{uid} and tenant_id = #{tenantId}
    </update>

    <delete id="deleteByUid">
        delete from t_service_fee_user_info where uid = #{uid}
    </delete>

</mapper>
