<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.ServiceFeeUserInfoMapper">

    <update id="updateByUid">
        update t_service_fee_user_info
        <set>
            <if test="expireOrderNo != null">
                expire_order_no = #{expireOrderNo},
            </if>
            <if test="pauseOrderNo != null">
                pause_order_no = #{pauseOrderNo},
            </if>
            <if test="disableMemberCardNo != null">
                disable_member_card_no = #{disableMemberCardNo},
            </if>
            <if test="franchiseeId != null">
                franchisee_id = #{franchiseeId},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="serviceFeeGenerateTime != null">
                service_fee_generate_time = #{serviceFeeGenerateTime},
            </if>
        </set>
        where uid = #{uid}
    </update>

    <delete id="deleteByUid">
        delete from t_service_fee_user_info where uid = #{uid}
    </delete>

    <select id="selectDisableMembercardList" resultType="com.xiliulou.electricity.entity.ServiceFeeUserInfo">
        select
        sfui.uid,
        sfui.pause_order_no ,
        sfui.disable_member_card_no
        from t_service_fee_user_info sfui
        left join t_user_battery_member_card ubmc on ubmc.uid=sfui.uid
        left join t_user_info tui on tui.uid=sfui.uid
        where tui.battery_deposit_status=1 and tui.del_flag=0 and ubmc.member_card_status=1
        limit #{offset},#{size}
    </select>

</mapper>
