<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.ShareActivityRecordMapper">


	<!--通过实体作为筛选条件查询-->
	<select id="queryList" resultType="com.xiliulou.electricity.vo.ShareActivityRecordVO">
		select
        tsar.id as id, tsar.activity_id as activityId, tsar.count as count,
		tsar.create_time as createTime, tsar.update_time as updateTime,
		tsar.tenant_id as tenantId,tsar.status as status,tsar.available_count as availableCount,
		tui.phone as phone,tui.name as name,tsa.name as activityName
		from t_share_activity_record as tsar
		left join t_user_info as tui on tui.uid=tsar.uid
		left join t_share_activity as tsa on tsar.activity_id=tsa.id
		<where>
			<if test="phone != null and phone != ''">
				and tui.phone = #{phone}
			</if>
			<if test="name != null and name != ''">
				and tui.name = #{name}
			</if>
			<if test="tenantId != null ">
				and tsar.tenant_id = #{tenantId}
            </if>
            <if test="startTime != null">
                and tsar.create_time &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                and tsar.create_time &lt;= #{endTime}
            </if>
			<if test="franchiseeIds != null and franchiseeIds.size()>0">
				and tui.franchisee_id in
				<foreach collection="franchiseeIds" item="id" index="index" open="(" close=")" separator=",">
					#{id}
				</foreach>
			</if>
			<if test="storeIds != null and storeIds.size()>0">
				and tui.store_id in
				<foreach collection="storeIds" item="id" index="index" open="(" close=")" separator=",">
					#{id}
				</foreach>
			</if>
		</where>
		order by tsar.update_time desc
		<if test="offset != null and size != null">
			limit #{offset}, #{size}
		</if>
	</select>

	<select id="queryCount" resultType="java.lang.Integer">
		select count(1)
		from t_share_activity_record as tsar
		left join t_user_info as tui on tui.uid=tsar.uid
		<where>
			<if test="phone != null and phone != ''">
				and tui.phone = #{phone}
			</if>
			<if test="name != null and name != ''">
				and tui.name = #{name}
			</if>
			<if test="tenantId != null ">
				and tsar.tenant_id = #{tenantId}
            </if>
            <if test="startTime != null">
                and tsar.create_time &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                and tsar.create_time &lt;= #{endTime}
            </if>
			<if test="franchiseeIds != null and franchiseeIds.size()>0">
				and tui.franchisee_id in
				<foreach collection="franchiseeIds" item="id" index="index" open="(" close=")" separator=",">
					#{id}
				</foreach>
			</if>
			<if test="storeIds != null and storeIds.size()>0">
				and tui.store_id in
				<foreach collection="storeIds" item="id" index="index" open="(" close=")" separator=",">
					#{id}
				</foreach>
			</if>
		</where>
	</select>

	<update id="reduceAvailableCountByUid">
		update t_share_activity_record set available_count=available_count-#{count} where uid =#{uid} and activity_id=#{activityId}
	</update>

	<update id="addCountByUid">
		update t_share_activity_record set count=count+1,available_count=available_count+1 where uid =#{uid} and activity_id=#{activityId}
	</update>


</mapper>
