<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.ShareActivityRuleMapper">
    <update id="removeByActivityId">
        update t_share_activity_rule
        set del_flag = 1
        where activity_id = #{activityId}
          and tenant_id = #{tenantId}
          and del_flag = 0;
    </update>
    
    <select id="selectByCouponId" resultType="com.xiliulou.electricity.entity.ShareActivityRule">
        select id,activity_id
        from t_share_activity_rule
        where del_flag=0 and JSON_CONTAINS(coupon_arrays,JSON_ARRAY(#{couponId})) order by id limit 1
    </select>
    <select id="selectByActivityIdWithDelFlag" resultType="com.xiliulou.electricity.entity.ShareActivityRule">
        select id,activity_id,coupon_id,coupon_arrays,trigger_count
        from t_share_activity_rule
        where activity_id = #{id}
    </select>

</mapper>
