<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.StoreMapper">

    <resultMap type="com.xiliulou.electricity.entity.Store" id="StoreMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="sn" column="sn" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="address" column="address" jdbcType="VARCHAR"/>
        <result property="longitude" column="longitude" jdbcType="NUMERIC"/>
        <result property="latitude" column="latitude" jdbcType="NUMERIC"/>
        <result property="delFlag" column="del_flag" jdbcType="OTHER"/>
        <result property="createTime" column="create_time" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="INTEGER"/>
        <result property="usableStatus" column="usable_status" jdbcType="INTEGER"/>
        <result property="servicePhone" column="service_phone" jdbcType="VARCHAR"/>
        <result property="businessTime" column="business_time" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="StoreMap">
        select
          id, sn, name, address, longitude, latitude, del_flag, create_time, update_time,
          usable_status,service_phone, business_time,tenant_id
        from electricity.t_store
        where id = #{id} and  tenant_id = #{tenantId}
    </select>

    <!--查询指定行数据-->
    <select id="queryList"
            resultType="com.xiliulou.electricity.vo.StoreVO">
        select
        id, sn, name, address, longitude, latitude, del_flag,
        create_time, update_time,usable_status,service_phone, business_time
        from electricity.t_store
        where del_flag=0
        <if test="query.name != null and query.name != ''">
            and name = #{query.name}
        </if>
        <if test="query.beginTime != null">
            and create_time &gt;=#{query.beginTime}
        </if>
        <if test="query.endTime != null">
            and create_time &lt;=#{query.endTime}
        </if>
        <if test="query.address != null and query.address != ''">
            and address = #{query.address}
        </if>
        <if test="query.sn != null and query.sn != ''">
            and sn = #{query.sn}
        </if>
        <if test="query.usableStatus != null">
            and usable_status = #{query.usableStatus}
        </if>
        <if test="query.storeIdList!=null and query.storeIdList!=''">
            and id in
            <foreach collection="query.storeIdList" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        order by create_time desc

    </select>


    <select id="showInfoByDistance" resultType="com.xiliulou.electricity.vo.StoreVO">
        select id, sn, name, address, longitude, latitude, del_flag,
        create_time, update_time,usable_status, service_phone, business_time, ROUND(
        6378.138 * 2 * ASIN(
        SQRT(
        POW(
        SIN(
        (
        #{query.lat} * PI() / 180 - latitude * PI() / 180
        ) / 2
        ),
        2
        ) + COS(#{query.lat} * PI() / 180) * COS(latitude * PI() / 180) * POW(
        SIN(
        (
        #{query.lon} * PI() / 180 - longitude * PI() / 180
        ) / 2
        ),
        2
        )
        )
        ) * 1000
        ) AS distance
        from electricity.t_store
        where del_flag = 0
        <if test="query.distance != null">
            having distance &lt; #{query.distance}
        </if>
        order by distance asc
    </select>
    <select id="homeTwoTotal" resultType="java.lang.Integer">
        select count(1)
        from electricity.t_store
        where del_flag=0
        <if test="storeIdList!=null and storeIdList!=''">
            and id in
            <foreach collection="storeIdList" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
    </select>
    <select id="homeTwoBusiness" resultType="com.xiliulou.electricity.entity.Store">
        select id, sn, name, address, longitude, latitude, del_flag,
        create_time, update_time,usable_status,service_phone, business_time
        from electricity.t_store
        where del_flag=0
        <if test="storeIdList!=null and storeIdList!=''">
            and id in
            <foreach collection="storeIdList" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
    </select>


    <!--通过主键修改数据-->
    <update id="update">
        update electricity.t_store
        <set>
            <if test="sn != null and sn != ''">
                sn = #{sn},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="address != null and address != ''">
                address = #{address},
            </if>
            <if test="longitude != null">
                longitude = #{longitude},
            </if>
            <if test="latitude != null">
                latitude = #{latitude},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="usableStatus != null">
                usable_status = #{usableStatus},
            </if>
            <if test="servicePhone != null and servicePhone != ''">
                service_phone = #{servicePhone},
            </if>
            <if test="businessTime != null and businessTime != ''">
                business_time = #{businessTime},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>
