<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.StoreSplitAccountHistoryMapper">




    <select id="queryListByCondition" resultType="com.xiliulou.electricity.entity.StoreSplitAccountHistory">
        select
        h.id, h.shop_id, h.create_time, h.split_amount, h.current_total_income, h.oid, h.tenant_id,h.`type`,o.order_id
        from t_shop_split_account_history h left join t_locker_order o
        on h.oid = o.id
        <where>
            <if test="shopId != null">
                and h.shop_id = #{shopId}
            </if>
            <if test="tenantId != null">
                and h.tenant_id = #{tenantId}
            </if>
            <if test="startTime != null">
                and h.create_time &gt;= #{startTime}
            </if>

            <if test="endTime != null">
                and h.create_time &lt;= #{endTime}
            </if>
        </where>
        order by create_time desc
        limit #{offset},#{size}
    </select>
</mapper>
