<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.StoreMapper">



    <!--查询指定行数据-->
    <select id="queryList"
            resultType="com.xiliulou.electricity.vo.StoreVO">
        select
        id, uid, name, address, longitude, latitude, del_flag,
        create_time, update_time,usable_status,service_phone, business_time,franchisee_id,percent
        from t_store
        where del_flag=0
        <if test="query.name != null and query.name != ''">
            and name = #{query.name}
        </if>
        <if test="query.beginTime != null">
            and create_time &gt;=#{query.beginTime}
        </if>
        <if test="query.endTime != null">
            and create_time &lt;=#{query.endTime}
        </if>
        <if test="query.address != null and query.address != ''">
            and address = #{query.address}
        </if>
        <if test="query.usableStatus != null">
            and usable_status = #{query.usableStatus}
        </if>
        <if test="query.franchiseeId != null">
            and franchisee_id = #{query.franchiseeId}
        </if>
        <if test="query.tenantId != null ">
            and tenant_id = #{query.tenantId}
        </if>
        <if test="query.storeIdList!=null and query.storeIdList!=''">
            and id in
            <foreach collection="query.storeIdList" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        order by create_time desc
        limit #{query.offset}, #{query.size}
    </select>

    <select id="queryCount" resultType="java.lang.Integer">
        select COUNT(1)
        from t_store
        where del_flag=0
        <if test="query.name != null and query.name != ''">
            and name = #{query.name}
        </if>
        <if test="query.beginTime != null">
            and create_time &gt;=#{query.beginTime}
        </if>
        <if test="query.endTime != null">
            and create_time &lt;=#{query.endTime}
        </if>
        <if test="query.address != null and query.address != ''">
            and address = #{query.address}
        </if>
        <if test="query.usableStatus != null">
            and usable_status = #{query.usableStatus}
        </if>
        <if test="query.franchiseeId != null">
            and franchisee_id = #{query.franchiseeId}
        </if>
        <if test="query.tenantId != null ">
            and tenant_id = #{query.tenantId}
        </if>
        <if test="query.storeIdList!=null and query.storeIdList!=''">
            and id in
            <foreach collection="query.storeIdList" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        order by create_time desc
    </select>


    <select id="showInfoByDistance" resultType="com.xiliulou.electricity.vo.StoreVO">
        select id, uid, name, address, longitude, latitude, del_flag,
        create_time, update_time,usable_status, service_phone, business_time, ROUND(
        6378.138 * 2 * ASIN(
        SQRT(
        POW(
        SIN(
        (
        #{query.lat} * PI() / 180 - latitude * PI() / 180
        ) / 2
        ),
        2
        ) + COS(#{query.lat} * PI() / 180) * COS(latitude * PI() / 180) * POW(
        SIN(
        (
        #{query.lon} * PI() / 180 - longitude * PI() / 180
        ) / 2
        ),
        2
        )
        )
        ) * 1000
        ) AS distance
        from t_store
        where del_flag = 0
        <if test="query.tenantId != null ">
            and tenant_id = #{query.tenantId}
        </if>
        <if test="query.distance != null">
            having distance &lt; #{query.distance}
        </if>
        order by distance asc
    </select>

    <select id="homeOne" resultType="java.lang.Integer">
        select count(1)
        from t_store
        where del_flag=0
        <if test="storeIdList!=null and storeIdList!=''">
            and id in
            <foreach collection="storeIdList" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        <if test="tenantId != null">
            and tenant_id = #{tenantId}
        </if>
    </select>


	<select id="homeThree" resultType="java.util.HashMap">
        select from_unixtime(create_time / 1000, '%Y-%m-%d') date, count(*) as count
        from t_store where create_time &gt;= #{startTimeMilliDay} and create_time &lt;=#{endTimeMilliDay}
        <if test="storeIdList!=null and storeIdList!=''">
            and id in
            <foreach collection="storeIdList" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        <if test="tenantId != null">
            and tenant_id = #{tenantId}
        </if>
        group by date
        order by date desc
    </select>


</mapper>
