<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.TenantFranchiseeMutualExchangeMapper">
    
    
    <sql id="column">
        id
        ,combined_name,combined_franchisee,tenant_id,status,del_flag,create_time,update_time
    </sql>
    
    <update id="updateMutualExchangeById">
        update t_tenant_franchisee_mutual_exchange
        <set>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="combinedName != null and combinedName != ''">
                combined_name = #{combinedName},
            </if>
            <if test="combinedFranchisee != null and combinedFranchisee != ''">
                combined_franchisee = #{combinedFranchisee},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime}
            </if>
        </set>
        where id = #{id}
    
    </update>
    
    
    <select id="selectMutualExchangeConfigListFromDB" resultType="com.xiliulou.electricity.entity.TenantFranchiseeMutualExchange">
        select
        <include refid="column"/>
        from t_tenant_franchisee_mutual_exchange where tenant_id = #{tenantId}
        and del_flag=0
    </select>
    
    
    <select id="selectOneById" resultType="com.xiliulou.electricity.entity.TenantFranchiseeMutualExchange">
        select
        <include refid="column"/>
        from t_tenant_franchisee_mutual_exchange
        where id = #{id}
        and del_flag = 0 limit 1
    </select>
    
    <select id="selectPageList" resultType="com.xiliulou.electricity.entity.TenantFranchiseeMutualExchange">
        select
        <include refid="column"/>
        from t_tenant_franchisee_mutual_exchange
        where
        del_flag = 0 and tenant_id = #{tenantId}
        <if test="status != null">
            and status = #{status}
        </if>
        <if test="combinedName != null and combinedName != ''">
            and combined_name like concat('%',#{combinedName},'%')
        </if>
        order by create_time desc
        limit #{offset}, #{size}
    </select>
    
    <select id="countTotal" resultType="java.lang.Long">
        select count(1)
        from t_tenant_franchisee_mutual_exchange
        where
        del_flag = 0 and tenant_id = #{tenantId}
        <if test="status != null">
            and status = #{status}
        </if>
        <if test="combinedName != null and combinedName != ''">
            and combined_name like concat('%',#{combinedName},'%')
        </if>
    </select>
</mapper>
