<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.UserInfoMapper">

    <!-- 表名 -->
    <sql id="table_name"> `t_user_info` </sql>

    <!-- 表中所有字段 -->
    <sql id="all_field">
        `id`, `uid`, `phone`, `user_name`, `name`, `id_number`, `auth_status`, `usable_status`, `service_status`, `del_flag`, `create_time`, `update_time`, `tenant_id`, `battery_rent_status`,
        `battery_deposit_status`, `franchisee_id`, `car_rent_status`, `car_deposit_status`, `car_battery_deposit_status`, `pay_count`, `auth_type`, `store_id`
    </sql>

    <!-- 查询条件 -->
    <sql id="where_field">
        <if test=" tenantId != null "> AND `tenant_id` = #{tenantId} </if>
        <if test=" keywords != null and keywords != '' "> AND (`name` LIKE CONCAT('%', #{keywords}, '%') OR `phone` LIKE CONCAT('%', #{keywords}, '%')) </if>
    </sql>

    <!-- 分页查询 -->
    <select id="page" resultType="com.xiliulou.electricity.entity.UserInfo">
        SELECT <include refid="all_field" /> FROM <include refid="table_name" />
        <where>
            `del_flag` = 0
            <include refid="where_field" />
        </where>
        ORDER BY `create_time` DESC
        LIMIT #{offset}, #{size}
    </select>

    <!-- 查询总数 -->
    <select id="count" resultType="java.lang.Integer">
        SELECT <include refid="all_field" /> FROM <include refid="table_name" />
        <where>
            `del_flag` = 0
            <include refid="where_field" />
        </where>
    </select>

    <select id="isFranchiseeBindUser" resultType="Integer">
        SELECT 1 FROM t_user_info WHERE del_flag=0 and franchisee_id = #{franchiseeId} AND tenant_id = #{tenantId} LIMIT 1
    </select>

    <!--查询指定行数据-->
    <select id="queryList" resultType="com.xiliulou.electricity.entity.UserInfo">
        select
        tui.id as id, tui.uid as uid, tui.name as name,tui.auth_type,
        tui.phone as phone, tui.id_number as idNumber,tui.battery_rent_status,tui.battery_deposit_status,
        tui.auth_status as authStatus,tui.usable_status as usableStatus, tui.del_flag as delFlag,
        tui.create_time as createTime,tui.update_time as updateTime,tui.tenant_id as tenantId
        from t_user_info as tui
        left join t_user_battery_member_card as tfui on tui.uid=tfui.uid
        where tui.del_flag=0
        <if test="query.name != null and query.name != ''">
            and tui.name = #{query.name}
        </if>
        <if test="query.phone != null and query.phone != ''">
            and tui.phone = #{query.phone}
        </if>
        <if test="query.uid != null ">
            and tui.uid = #{query.uid}
        </if>
        <if test="query.tenantId != null">
            and tui.tenant_id = #{query.tenantId}
        </if>
        <if test="query.beginTime != null">
            and tui.create_time &gt;=#{query.beginTime}
        </if>
        <if test="query.endTime != null">
            and tui.create_time &lt;=#{query.endTime}
        </if>
        <if test="query.authStatus !=null">
            and tui.auth_status =#{query.authStatus}
        </if>
        <if test="query.authType !=null">
            and tui.auth_type =#{query.authType}
        </if>
        <if test="query.authStatus ==null or query.authStatus==''">
            and tui.auth_status in (0,1,2)
        </if>
        <if test="query.franchiseeIds != null and query.franchiseeIds.size()>0">
            and tui.franchisee_id in
            <foreach collection="query.franchiseeIds" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        <if test="query.storeIds != null and query.storeIds.size()>0">
            and tui.store_id in
            <foreach collection="query.storeIds" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        order by tui.create_time desc
        limit #{query.offset}, #{query.size}
    </select>


    <select id="queryListForBatteryService" resultType="com.xiliulou.electricity.vo.UserBatteryInfoVO">
        select
        tui.id as user_info_id,
        tui.phone,
        tui.name,
        tui.uid,
        tui.create_time as userCertificationTime,
        tui.auth_status,
        tui.usable_status,
        tui.battery_rent_status,
        tui.franchisee_id,
        tui.battery_deposit_status,
        tui.pay_count,
        ubmc.member_card_expire_time,
        ubmc.disable_member_card_time,
        ubmc.remaining_number,
        ubmc.member_card_id as member_card_id,
        ubmc.card_pay_count as cardPayCount,
        tui.tenant_id
        from t_user_info tui
        left join t_user_battery_member_card ubmc on ubmc.uid=tui.uid
        left join t_electricity_battery teb on tui.uid=teb.uid
        where tui.del_flag=0 and tui.auth_status=2
        <if test="query.tenantId != null">
            and tui.tenant_id = #{query.tenantId}
        </if>
        <if test="query.name != null and query.name != ''">
            and tui.name = #{query.name}
        </if>
        <if test="query.phone != null and query.phone != ''">
            and tui.phone = #{query.phone}
        </if>
        <if test="query.batteryId != null">
            and teb.id = #{query.batteryId}
        </if>
        <if test="query.uid != null ">
            and tui.uid = #{query.uid}
        </if>
        <if test="query.memberCardId != null ">
            and ubmc.member_card_id = #{query.memberCardId}
        </if>
        <if test="query.beginTime != null">
            and tui.create_time &gt;=#{query.beginTime}
        </if>
        <if test="query.endTime != null">
            and tui.create_time &lt;=#{query.endTime}
        </if>
        <if test="query.authStatus !=null">
            and tui.auth_status =#{query.authStatus}
        </if>
        <if test="query.batteryRentStatus !=null">
            and tui.battery_rent_status =#{query.batteryRentStatus}
        </if>
        <if test="query.batteryDepositStatus !=null">
            and tui.battery_deposit_status =#{query.batteryDepositStatus}
        </if>
        <if test="query.memberCardExpireTimeBegin !=null">
            and ubmc.member_card_expire_time &gt;=#{query.memberCardExpireTimeBegin}
        </if>
        <if test="query.memberCardExpireTimeEnd !=null">
            and ubmc.member_card_expire_time &lt;=#{query.memberCardExpireTimeEnd}
        </if>
        <if test="query.memberCardExpireType == 4">
            and ubmc.member_card_expire_time is not null and ubmc.member_card_expire_time !=0
        </if>
        <if test="query.cardPayCount != null">
            and ubmc.card_pay_count =#{query.cardPayCount}
        </if>
        <if test="query.franchiseeIds != null and query.franchiseeIds.size()>0">
            and tui.franchisee_id in
            <foreach collection="query.franchiseeIds" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        <if test="query.storeIds != null and query.storeIds.size()>0">
            and tui.store_id in
            <foreach collection="query.storeIds" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        <if test="query.userCreateBeginTime !=null">
            and tui.create_time &gt;=#{query.userCreateBeginTime}
        </if>
        <if test="query.userCreateEndTime !=null">
            and tui.create_time &lt;=#{query.userCreateEndTime}
        </if>
        <if test="query.sortType == null or query.sortType == 0">
            order by ubmc.member_card_expire_time desc
        </if>
        <if test="query.sortType == 1">
            order by tui.create_time desc
        </if>
        limit #{query.offset}, #{query.size}
    </select>


    <select id="queryListByMemberCardExpireTime" resultType="com.xiliulou.electricity.vo.UserBatteryInfoVO">
        select
        tui.id as user_info_id,
        tui.phone,
        tui.name,
        tui.uid,
        tui.create_time as userCertificationTime,
        tui.auth_status,
        tui.usable_status,
        tui.battery_rent_status,
        tui.franchisee_id,
        tui.battery_deposit_status,
        tui.pay_count,
        ubmc.member_card_expire_time,
        ubmc.disable_member_card_time,
        ubmc.remaining_number,
        ubmc.member_card_id as member_card_id,
        ubmc.member_card_status as member_card_status,
        ubmc.card_pay_count as cardPayCount,
        tui.tenant_id
        from t_user_battery_member_card ubmc
        left join t_user_info tui on ubmc.uid=tui.uid
        left join t_electricity_battery teb on tui.uid=teb.uid
        where tui.del_flag=0 and tui.auth_status=2
        <if test="query.tenantId != null">
            and ubmc.tenant_id = #{query.tenantId}
        </if>
        <if test="query.name != null and query.name != ''">
            and tui.name = #{query.name}
        </if>
        <if test="query.phone != null and query.phone != ''">
            and tui.phone = #{query.phone}
        </if>
        <if test="query.batteryId != null">
            and teb.id = #{query.batteryId}
        </if>
        <if test="query.uid != null ">
            and tui.uid = #{query.uid}
        </if>
        <if test="query.memberCardId != null ">
            and ubmc.member_card_id = #{query.memberCardId}
        </if>
        <if test="query.beginTime != null">
            and tui.create_time &gt;=#{query.beginTime}
        </if>
        <if test="query.endTime != null">
            and tui.create_time &lt;=#{query.endTime}
        </if>
        <if test="query.authStatus !=null">
            and tui.auth_status =#{query.authStatus}
        </if>
        <if test="query.batteryRentStatus !=null">
            and tui.battery_rent_status =#{query.batteryRentStatus}
        </if>
        <if test="query.batteryDepositStatus !=null">
            and tui.battery_deposit_status =#{query.batteryDepositStatus}
        </if>
        <if test="query.memberCardExpireTimeBegin !=null">
            and ubmc.member_card_expire_time &gt;=#{query.memberCardExpireTimeBegin}
        </if>
        <if test="query.memberCardExpireTimeEnd !=null">
            and ubmc.member_card_expire_time &lt;=#{query.memberCardExpireTimeEnd}
        </if>
        <if test="query.memberCardExpireType == 4">
            and ubmc.member_card_expire_time is not null and ubmc.member_card_expire_time !=0
        </if>
        <if test="query.cardPayCount != null">
            and ubmc.card_pay_count =#{query.cardPayCount}
        </if>
        <if test="query.franchiseeIds != null and query.franchiseeIds.size()>0">
            and tui.franchisee_id in
            <foreach collection="query.franchiseeIds" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        <if test="query.storeIds != null and query.storeIds.size()>0">
            and tui.store_id in
            <foreach collection="query.storeIds" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        <if test="query.userCreateBeginTime !=null">
            and tui.create_time &gt;=#{query.userCreateBeginTime}
        </if>
        <if test="query.userCreateEndTime !=null">
            and tui.create_time &lt;=#{query.userCreateEndTime}
        </if>
        order by ubmc.member_card_expire_time,tui.uid desc
        limit #{query.offset}, #{query.size}
    </select>

    <select id="queryListByCarMemberCardExpireTime" resultType="com.xiliulou.electricity.vo.UserBatteryInfoVO">
        select
        tui.id as user_info_id,
        tui.phone,
        tui.name,
        tui.uid,
        tui.create_time as userCertificationTime,
        tui.auth_status,
        tui.usable_status,
        tui.battery_rent_status,
        tui.franchisee_id,
        tui.battery_deposit_status,
        tui.pay_count,
        ubmc.member_card_expire_time,
        ubmc.disable_member_card_time,
        ubmc.remaining_number,
        ubmc.member_card_id as member_card_id,
        ubmc.member_card_status as member_card_status,
        ubmc.card_pay_count as cardPayCount,
        tui.tenant_id
        from t_user_car_member_card ucmc
        left join t_user_battery_member_card ubmc on ubmc.uid=ucmc.uid
        left join t_user_info tui on ucmc.uid=tui.uid
        left join t_electricity_battery teb on tui.uid=teb.uid
        where tui.del_flag=0 and tui.auth_status=2
        <if test="query.tenantId != null">
            and tui.tenant_id = #{query.tenantId}
        </if>
        <if test="query.name != null and query.name != ''">
            and tui.name = #{query.name}
        </if>
        <if test="query.phone != null and query.phone != ''">
            and tui.phone = #{query.phone}
        </if>
        <if test="query.batteryId != null">
            and teb.id = #{query.batteryId}
        </if>
        <if test="query.uid != null ">
            and tui.uid = #{query.uid}
        </if>
        <if test="query.memberCardId != null ">
            and ubmc.member_card_id = #{query.memberCardId}
        </if>
        <if test="query.beginTime != null">
            and tui.create_time &gt;=#{query.beginTime}
        </if>
        <if test="query.endTime != null">
            and tui.create_time &lt;=#{query.endTime}
        </if>
        <if test="query.authStatus !=null">
            and tui.auth_status =#{query.authStatus}
        </if>
        <if test="query.batteryRentStatus !=null">
            and tui.battery_rent_status =#{query.batteryRentStatus}
        </if>
        <if test="query.batteryDepositStatus !=null">
            and tui.battery_deposit_status =#{query.batteryDepositStatus}
        </if>
        <if test="query.carMemberCardExpireTimeBegin !=null">
            and ucmc.member_card_expire_time &gt;=#{query.carMemberCardExpireTimeBegin}
        </if>
        <if test="query.carMemberCardExpireTimeEnd !=null">
            and ucmc.member_card_expire_time &lt;=#{query.carMemberCardExpireTimeEnd}
        </if>
        <if test="query.carMemberCardExpireType == 4">
            and ucmc.member_card_expire_time is not null and ucmc.member_card_expire_time !=0
        </if>
        <if test="query.cardPayCount != null">
            and ubmc.card_pay_count =#{query.cardPayCount}
        </if>
        <if test="query.franchiseeIds != null and query.franchiseeIds.size()>0">
            and tui.franchisee_id in
            <foreach collection="query.franchiseeIds" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        <if test="query.userCreateBeginTime !=null">
            and tui.create_time &gt;=#{query.userCreateBeginTime}
        </if>
        <if test="query.userCreateEndTime !=null">
            and tui.create_time &lt;=#{query.userCreateEndTime}
        </if>
        order by ucmc.member_card_expire_time,tui.uid desc
        limit #{query.offset}, #{query.size}
    </select>

    <select id="queryCountByMemberCardExpireTime" resultType="java.lang.Integer">
        select COUNT(1)
        from t_user_battery_member_card ubmc
        left join t_user_info tui on ubmc.uid=tui.uid
        left join t_electricity_battery teb on tui.uid=teb.uid
        where tui.del_flag=0 and tui.auth_status=2
        <if test="query.tenantId != null">
            and ubmc.tenant_id = #{query.tenantId}
        </if>
        <if test="query.name != null and query.name != ''">
            and tui.name = #{query.name}
        </if>
        <if test="query.phone != null and query.phone != ''">
            and tui.phone = #{query.phone}
        </if>
        <if test="query.batteryId != null">
            and teb.id = #{query.batteryId}
        </if>
        <if test="query.uid != null ">
            and tui.uid = #{query.uid}
        </if>
        <if test="query.memberCardId != null ">
            and ubmc.member_card_id = #{query.memberCardId}
        </if>
        <if test="query.beginTime != null">
            and tui.create_time &gt;=#{query.beginTime}
        </if>
        <if test="query.endTime != null">
            and tui.create_time &lt;=#{query.endTime}
        </if>
        <if test="query.authStatus !=null">
            and tui.auth_status =#{query.authStatus}
        </if>
        <if test="query.batteryRentStatus !=null">
            and tui.battery_rent_status =#{query.batteryRentStatus}
        </if>
        <if test="query.batteryDepositStatus !=null">
            and tui.battery_deposit_status =#{query.batteryDepositStatus}
        </if>
        <if test="query.memberCardExpireTimeBegin !=null">
            and ubmc.member_card_expire_time &gt;=#{query.memberCardExpireTimeBegin}
        </if>
        <if test="query.memberCardExpireTimeEnd !=null">
            and ubmc.member_card_expire_time &lt;=#{query.memberCardExpireTimeEnd}
        </if>
        <if test="query.memberCardExpireType == 4">
            and ubmc.member_card_expire_time is not null and ubmc.member_card_expire_time !=0
        </if>
        <if test="query.cardPayCount != null">
            and ubmc.card_pay_count =#{query.cardPayCount}
        </if>
        <if test="query.userCreateBeginTime !=null">
            and tui.create_time &gt;=#{query.userCreateBeginTime}
        </if>
        <if test="query.userCreateEndTime !=null">
            and tui.create_time &lt;=#{query.userCreateEndTime}
        </if>
        <if test="query.franchiseeIds != null and query.franchiseeIds.size()>0">
            and tui.franchisee_id in
            <foreach collection="query.franchiseeIds" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        <if test="query.storeIds != null and query.storeIds.size()>0">
            and tui.store_id in
            <foreach collection="query.storeIds" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
    </select>

    <select id="queryCountByCarMemberCardExpireTime" resultType="java.lang.Integer">
        select COUNT(1)
        from t_user_car_member_card ucmc
        left join t_user_battery_member_card ubmc on ubmc.uid=ucmc.uid
        left join t_user_info tui on ucmc.uid=tui.uid
        left join t_electricity_battery teb on tui.uid=teb.uid
        where tui.del_flag=0 and tui.auth_status=2
        <if test="query.tenantId != null">
            and tui.tenant_id = #{query.tenantId}
        </if>
        <if test="query.name != null and query.name != ''">
            and tui.name = #{query.name}
        </if>
        <if test="query.phone != null and query.phone != ''">
            and tui.phone = #{query.phone}
        </if>
        <if test="query.batteryId != null">
            and teb.id = #{query.batteryId}
        </if>
        <if test="query.uid != null ">
            and tui.uid = #{query.uid}
        </if>
        <if test="query.memberCardId != null ">
            and ubmc.member_card_id = #{query.memberCardId}
        </if>
        <if test="query.beginTime != null">
            and tui.create_time &gt;=#{query.beginTime}
        </if>
        <if test="query.endTime != null">
            and tui.create_time &lt;=#{query.endTime}
        </if>
        <if test="query.authStatus !=null">
            and tui.auth_status =#{query.authStatus}
        </if>
        <if test="query.batteryRentStatus !=null">
            and tui.battery_rent_status =#{query.batteryRentStatus}
        </if>
        <if test="query.batteryDepositStatus !=null">
            and tui.battery_deposit_status =#{query.batteryDepositStatus}
        </if>
        <if test="query.carMemberCardExpireTimeBegin !=null">
            and ucmc.member_card_expire_time &gt;=#{query.carMemberCardExpireTimeBegin}
        </if>
        <if test="query.carMemberCardExpireTimeEnd !=null">
            and ucmc.member_card_expire_time &lt;=#{query.carMemberCardExpireTimeEnd}
        </if>
        <if test="query.carMemberCardExpireType == 4">
            and ucmc.member_card_expire_time is not null and ucmc.member_card_expire_time !=0
        </if>
        <if test="query.userCreateBeginTime !=null">
            and tui.create_time &gt;=#{query.userCreateBeginTime}
        </if>
        <if test="query.userCreateEndTime !=null">
            and tui.create_time &lt;=#{query.userCreateEndTime}
        </if>
        <if test="query.franchiseeIds != null and query.franchiseeIds.size()>0">
            and tui.franchisee_id in
            <foreach collection="query.franchiseeIds" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
    </select>

    <select id="queryCount" resultType="java.lang.Integer">
        select COUNT(1)
        from t_user_info as tui
        where tui.del_flag=0
        <if test="query.name != null and query.name != ''">
            and tui.name = #{query.name}
        </if>
        <if test="query.phone != null and query.phone != ''">
            and tui.phone = #{query.phone}
        </if>
        <if test="query.uid != null ">
            and tui.uid = #{query.uid}
        </if>
        <if test="query.tenantId != null">
            and tui.tenant_id = #{query.tenantId}
        </if>
        <if test="query.beginTime != null">
            and tui.create_time &gt;=#{query.beginTime}
        </if>
        <if test="query.endTime != null">
            and tui.create_time &lt;=#{query.endTime}
        </if>
        <if test="query.authStatus !=null">
            and tui.auth_status =#{query.authStatus}
        </if>
        <if test="query.authStatus ==null or query.authStatus==''">
            and tui.auth_status in (0,1,2)
        </if>
    </select>

    <select id="queryCountForBatteryService" resultType="java.lang.Integer">
        select COUNT(1)
        from t_user_info as tui
        left join t_user_battery_member_card ubmc on ubmc.uid=tui.uid
        left join t_electricity_battery as teb on tui.uid=teb.uid
        where tui.del_flag=0 and tui.auth_status=2
        <if test="query.name != null and query.name != ''">
            and tui.name = #{query.name}
        </if>
        <if test="query.phone != null and query.phone != ''">
            and tui.phone = #{query.phone}
        </if>
        <if test="query.uid != null ">
            and tui.uid = #{query.uid}
        </if>
        <if test="query.tenantId != null">
            and tui.tenant_id = #{query.tenantId}
        </if>
        <if test="query.batteryId != null">
            and teb.id = #{query.batteryId}
        </if>
        <if test="query.batteryRentStatus !=null">
            and tui.battery_rent_status =#{query.batteryRentStatus}
        </if>
        <if test="query.batteryDepositStatus !=null">
            and tui.battery_deposit_status =#{query.batteryDepositStatus}
        </if>
        <if test="query.memberCardId != null ">
            and ubmc.member_card_id = #{query.memberCardId}
        </if>
        <if test="query.beginTime != null">
            and tui.create_time &gt;=#{query.beginTime}
        </if>
        <if test="query.endTime != null">
            and tui.create_time &lt;=#{query.endTime}
        </if>
        <if test="query.memberCardExpireTimeBegin !=null">
            and ubmc.member_card_expire_time &gt;=#{query.memberCardExpireTimeBegin}
        </if>
        <if test="query.memberCardExpireTimeEnd !=null">
            and ubmc.member_card_expire_time &lt;=#{query.memberCardExpireTimeEnd}
        </if>
        <if test="query.memberCardExpireType == 4">
            and ubmc.member_card_expire_time is not null and ubmc.member_card_expire_time !=0
        </if>
        <if test="query.authStatus !=null">
            and tui.auth_status =#{query.authStatus}
        </if>
        <if test="query.authType !=null">
            and tui.auth_type =#{query.authType}
        </if>
        <if test="query.cardPayCount != null">
            and ubmc.card_pay_count =#{query.cardPayCount}
        </if>
        <if test="query.franchiseeIds != null and query.franchiseeIds.size()>0">
            and tui.franchisee_id in
            <foreach collection="query.franchiseeIds" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        <if test="query.storeIds != null and query.storeIds.size()>0">
            and tui.store_id in
            <foreach collection="query.storeIds" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        <if test="query.userCreateBeginTime !=null">
            and tui.create_time &gt;=#{query.userCreateBeginTime}
        </if>
        <if test="query.userCreateEndTime !=null">
            and tui.create_time &lt;=#{query.userCreateEndTime}
        </if>
    </select>

    <select id="queryAuthenticationCount" resultType="java.lang.Integer">
        select COUNT(1)
        from t_user_info as tui
        where tui.del_flag=0
        <if test="query.name != null and query.name != ''">
            and tui.name = #{query.name}
        </if>
        <if test="query.phone != null and query.phone != ''">
            and tui.phone = #{query.phone}
        </if>
        <if test="query.uid != null ">
            and tui.uid = #{query.uid}
        </if>
        <if test="query.tenantId != null">
            and tui.tenant_id = #{query.tenantId}
        </if>
        <if test="query.beginTime != null">
            and tui.create_time &gt;=#{query.beginTime}
        </if>
        <if test="query.endTime != null">
            and tui.create_time &lt;=#{query.endTime}
        </if>
        <if test="query.authStatus !=null">
            and tui.auth_status =#{query.authStatus}
        </if>
        <if test="query.authType !=null">
            and tui.auth_type =#{query.authType}
        </if>
        <if test="query.authStatus ==null or query.authStatus==''">
            and tui.auth_status in (0,1,2)
        </if>
        <if test="query.franchiseeIds != null and query.franchiseeIds.size()>0">
            and tui.franchisee_id in
            <foreach collection="query.franchiseeIds" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
    </select>


    <select id="homeThree" resultType="java.util.HashMap">
        select from_unixtime(create_time / 1000, '%Y-%m-%d') date, count(*) as count
        from t_user_info
        where del_flag=0
        and create_time &gt;= #{startTimeMilliDay} and create_time &lt;=#{endTimeMilliDay}
        <if test="tenantId != null ">
            and tenant_id = #{tenantId}
        </if>
        group by date
        order by date desc
    </select>


    <select id="homeOne" resultType="java.lang.Integer">
        select count(1)
        from t_user_info
        where del_flag=0
        and create_time &gt;=#{first}
        and create_time &lt;=#{now}
        <if test="tenantId != null">
            and tenant_id = #{tenantId}
        </if>
    </select>

    <select id="queryAuthenticationUserCount" resultType="java.lang.Integer">
        select count(1)
        from t_user_info as tui
        where tui.del_flag=0 and tui.auth_status=2
        <if test="tenantId != null">
            and tui.tenant_id = #{tenantId}
        </if>
    </select>

    <select id="queryUserAnalysisForAuthUser" resultType="com.xiliulou.electricity.vo.HomePageUserByWeekDayVo">
        select count(1) as userCount,FROM_UNIXTIME( tfui.create_time / 1000, '%Y-%m-%d' ) as
        weekDate
        from t_user_info as tfui
        where tfui.del_flag=0 and tfui.auth_status=2
        <if test="tenantId != null">
            and tfui.tenant_id = #{tenantId}
        </if>
        <if test="beginTime != null">
            and tfui.create_time &gt;=#{beginTime}
        </if>
        <if test="endTime != null">
            and tfui.create_time &lt;=#{endTime}
        </if>
        GROUP BY
        weekDate
    </select>

    <select id="queryUserAnalysisByUserStatus" resultType="com.xiliulou.electricity.vo.HomePageUserByWeekDayVo">
        select count(1) as userCount,FROM_UNIXTIME( create_time / 1000, '%Y-%m-%d' ) as
        weekDate
        from t_user
        where del_flag=0
        <if test="tenantId != null">
            and tenant_id = #{tenantId}
        </if>
        <if test="userType != null ">
            and user_type =#{userType}
        </if>
        <if test="beginTime != null">
            and create_time &gt;=#{beginTime}
        </if>
        <if test="endTime != null">
            and create_time &lt;=#{endTime}
        </if>
        GROUP BY
        weekDate
    </select>

    <update id="updateByUid">
        update t_user_info
        <set>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="idNumber != null and idNumber != ''">
                id_number = #{idNumber},
            </if>
            <if test="authStatus != null">
                auth_status = #{authStatus},
            </if>
            <if test="usableStatus != null">
                usable_status = #{usableStatus},
            </if>
            <if test="storeId != null">
                store_id = #{storeId},
            </if>
            <if test="franchiseeId != null">
                franchisee_id = #{franchiseeId},
            </if>
            <if test="batteryDepositStatus != null">
                battery_deposit_status = #{batteryDepositStatus},
            </if>
            <if test="batteryRentStatus != null">
                battery_rent_status = #{batteryRentStatus},
            </if>
            <if test="carRentStatus != null">
                car_rent_status = #{carRentStatus},
            </if>
            <if test="carDepositStatus != null">
                car_deposit_status = #{carDepositStatus},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="carBatteryDepositStatus != null">
                `car_battery_deposit_status` = #{carBatteryDepositStatus},
            </if>
            <if test="payCount != null">
                `pay_count` = #{payCount},
            </if>
        </set>
        where uid = #{uid}
    </update>

    <update id="update">
        update t_user_info
        <set>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="idNumber != null and idNumber != ''">
                id_number = #{idNumber},
            </if>
            <if test="authStatus != null">
                auth_status = #{authStatus},
            </if>
            <if test="storeId != null">
                store_id = #{storeId},
            </if>
            <if test="usableStatus != null">
                usable_status = #{usableStatus},
            </if>
            <if test="authType != null">
                auth_type = #{authType},
            </if>
            <if test="batteryDepositStatus != null">
                battery_deposit_status = #{batteryDepositStatus},
            </if>
            <if test="batteryRentStatus != null">
                battery_rent_status = #{batteryRentStatus},
            </if>
            <if test="carRentStatus != null">
                car_rent_status = #{carRentStatus},
            </if>
            <if test="carDepositStatus != null">
                car_deposit_status = #{carDepositStatus},
            </if>
            <if test="franchiseeId != null">
                franchisee_id = #{franchiseeId},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="carBatteryDepositStatus != null">
                `car_battery_deposit_status` = #{carBatteryDepositStatus},
            </if>
            <if test="payCount != null">
                `pay_count` = #{payCount},
            </if>
        </set>
        where uid = #{uid} and tenant_id=#{tenantId}
    </update>
    
    <select id="queryByIdNumber" resultType="com.xiliulou.electricity.entity.UserInfo">
      select
          uid, phone, user_name, name, id_number, auth_status, usable_status,
          service_status, del_flag, create_time, update_time, tenant_id, battery_rent_status,
          battery_deposit_status,franchisee_id, car_rent_status, car_deposit_status, `car_battery_deposit_status`, `pay_count`
      from t_user_info
      where del_flag = 0 and id_number = #{idNumber} and tenant_id = #{tenantId}
  </select>


    <select id="verifyIdNumberExist" resultType="Integer">
      SELECT 1  FROM t_user_info WHERE del_flag = 0 AND id_number = #{idNumber} AND tenant_id = #{tenantId} LIMIT 1
    </select>
    
    <select id="userInfoSearch" resultType="com.xiliulou.electricity.vo.UserInfoSearchVo">
        select id, uid, name FROM t_user_info
        WHERE del_flag = 0 and auth_status=2 and tenant_id = #{tenantId}
        <if test="name != null and name != ''">
            and name like concat('%', #{name}, '%')
        </if>
        order by id
        limit #{offset}, #{size}
    </select>
    <sql id="QUERY_USER_INFO_DATA">
        select  ui.uid,ui.user_name AS userName,ui.phone as phone, ubmc.sn AS batterySn, ubmc.card_pay_count AS payCount,
                ubmc.member_card_expire_time AS expireTime,uai.active_time AS activeTime
    </sql>
    <sql id="QUERY_USER_INFO_DATA_COUNT">
        select  count(*)
        from    t_user_info ui
    </sql>

    <select id="queryAllUserInfoDataByParam" resultType="com.xiliulou.electricity.entity.UserInfoDataEntity">
        <include refid="QUERY_USER_INFO_DATA"></include>
        where ui.del_flag = 0 and ui.tenant_id = #{query.tenantId}
        <if test="query.query.batterySn != null and query.query.batterySn != '' ">
            and eb.sn = #{query.batterySn}
        </if>
        <if test="query.phone != null and query.phone != '' ">
            and ui.phone = #{query.phone}
        </if>
        <if test="query.userName != null and query.userName !=''">
            and ui.user_name like concat('%',#{userName, jdbcType=VARCHAR},'%')
        </if>
        order by id
        limit #{query.offset}, #{query.size}
    </select>
    <select id="queryAllUserInfoDataCount" resultType="java.lang.Integer">
        <include refid="QUERY_USER_INFO_DATA_COUNT"></include>
        where ui.del_flag = 0 and ui.tenant_id = #{query.tenantId}
        <if test="query.query.batterySn != null and query.query.batterySn != '' ">
            and eb.sn = #{query.batterySn}
        </if>
        <if test="query.phone != null and query.phone != '' ">
            and ui.phone = #{query.phone}
        </if>
        <if test="query.userName != null and query.userName !=''">
            and ui.user_name like concat('%',#{userName, jdbcType=VARCHAR},'%')
        </if>
        order by id
        limit #{query.offset}, #{query.size}
    </select>
    <select id="queryEffectiveUserInfoDataByParam" resultType="com.xiliulou.electricity.entity.UserInfoDataEntity">
        select  ui.uid,ui.user_name AS userName,ui.phone as phone, ubmc.card_pay_count AS payCount,
        ubmc.member_card_expire_time AS expireTime,uai.active_time AS activeTime
        from    t_user_info ui
        left join t_user_active_info uai on ui.uid = uai.uid
        left join t_user_battery_member_card ubmc on ubmc.uid = ui.uid
        where ui.del_flag = 0 and ui.tenant_id = #{query.tenantId} and ubmc.member_card_expire_time > UNIX_TIMESTAMP()
        <if test="query.phone != null and query.phone != '' ">
            and ui.phone = #{query.phone}
        </if>
        <if test="query.userName != null and query.userName !=''">
            and ui.user_name like concat('%',#{userName, jdbcType=VARCHAR},'%')
        </if>
        order by id
        limit #{query.offset}, #{query.size}
    </select>
    <select id="queryEffectiveUserInfoDataCount" resultType="java.lang.Integer">
        <include refid="QUERY_USER_INFO_DATA_COUNT"></include>
        left join t_user_active_info uai on ui.uid = uai.uid
        left join t_user_battery_member_card ubmc on ubmc.uid = ui.uid
        where ui.del_flag = 0 and ui.tenant_id = #{query.tenantId} and ubmc.member_card_expire_time > UNIX_TIMESTAMP()
        <if test="query.phone != null and query.phone != '' ">
            and ui.phone = #{query.phone}
        </if>
        <if test="query.userName != null and query.userName !=''">
            and ui.user_name like concat('%',#{userName, jdbcType=VARCHAR},'%')
        </if>
        order by id
        limit #{query.offset}, #{query.size}
    </select>
    <select id="queryRentUserInfoDataByParam" resultType="com.xiliulou.electricity.entity.UserInfoDataEntity">
        select  ui.uid,ui.user_name AS userName,ui.phone as phone, ubmc.card_pay_count AS payCount,
        ubmc.member_card_expire_time AS expireTime,uai.active_time AS activeTime
        from t_user_info ui
        left join t_user_active_info uai on ui.uid = uai.uid
        left join t_electricity_battery eb on eb.uid = eb.uid
        where ui.del_flag = 0 and ui.tenant_id = #{query.tenantId}
        <if test="query.query.batterySn != null and query.query.batterySn != '' ">
            and eb.sn = #{query.batterySn}
        </if>
        <if test="query.phone != null and query.phone != '' ">
            and ui.phone = #{query.phone}
        </if>
        <if test="query.userName != null and query.userName !=''">
            and ui.user_name like concat('%',#{userName, jdbcType=VARCHAR},'%')
        </if>
        order by id
        limit #{query.offset}, #{query.size}
    </select>
    <select id="queryRentUserInfoDataCount" resultType="java.lang.Integer">
        select count(*)
        from t_user_info ui
        left join t_user_active_info uai on ui.uid = uai.uid
        left join t_electricity_battery eb on eb.uid = eb.uid
        where ui.del_flag = 0 and ui.tenant_id = #{query.tenantId}
        <if test="query.query.batterySn != null and query.query.batterySn != '' ">
            and eb.sn = #{query.batterySn}
        </if>
        <if test="query.phone != null and query.phone != '' ">
            and ui.phone = #{query.phone}
        </if>
        <if test="query.userName != null and query.userName !=''">
            and ui.user_name like concat('%',#{userName, jdbcType=VARCHAR},'%')
        </if>
        order by id
        limit #{query.offset}, #{query.size}
    </select>

    <select id="queryOverdueUserInfoDataByParam" resultType="com.xiliulou.electricity.entity.UserInfoDataEntity">
        select  ui.uid,ui.user_name AS userName,ui.phone as phone, ubmc.card_pay_count AS payCount,
                ubmc.member_card_expire_time AS expireTime,uai.active_time AS activeTime,eb.sn AS batterySn
        from t_user_info ui
                 left join t_user_active_info uai on ui.uid = uai.uid
                 left join t_electricity_battery eb on eb.uid = eb.uid
                 left join t_user_battery_member_card ubmc on ubmc.uid = ui.uid
        where ui.del_flag = 0 and ui.tenant_id = #{query.tenantId} and UNIX_TIMESTAMP() > ubmc.member_card_expire_time
        <if test="query.query.batterySn != null and query.query.batterySn != '' ">
            and eb.sn = #{query.batterySn}
        </if>
        <if test="query.phone != null and query.phone != '' ">
            and ui.phone = #{query.phone}
        </if>
        <if test="query.userName != null and query.userName !=''">
            and ui.user_name like concat('%',#{userName, jdbcType=VARCHAR},'%')
        </if>
        order by id
        limit #{query.offset}, #{query.size}
    </select>

    <select id="queryOverdueUserInfoDataCount" resultType="java.lang.Integer">
        select count(*)
        from t_user_info ui
        left join t_user_active_info uai on ui.uid = uai.uid
        left join t_electricity_battery eb on eb.uid = eb.uid
        left join t_user_battery_member_card ubmc on ubmc.uid = ui.uid
        where ui.del_flag = 0 and ui.tenant_id = #{query.tenantId} and UNIX_TIMESTAMP() > ubmc.member_card_expire_time
        <if test="query.query.batterySn != null and query.query.batterySn != '' ">
            and eb.sn = #{query.batterySn}
        </if>
        <if test="query.phone != null and query.phone != '' ">
            and ui.phone = #{query.phone}
        </if>
        <if test="query.userName != null and query.userName !=''">
            and ui.user_name like concat('%',#{userName, jdbcType=VARCHAR},'%')
        </if>
        order by id
        limit #{query.offset}, #{query.size}

    </select>
    <select id="querySilentUserInfoDataByParam" resultType="com.xiliulou.electricity.entity.UserInfoDataEntity">
        select  ui.uid,ui.user_name AS userName,ui.phone as phone, ubmc.sn AS batterySn, ubmc.card_pay_count AS payCount,
                ubmc.member_card_expire_time AS expireTime,uai.active_time AS activeTime
        from t_user_info ui
                 left join t_user_active_info uai on ui.uid = uai.uid
                 left join t_electricity_battery eb on eb.uid = eb.uid
                 left join t_user_battery_member_card ubmc on ubmc.uid = ui.uid
        where ui.del_flag = 0 and ui.tenant_id = #{query.tenantId} and  uai.active_time > UNIX_TIMESTAMP(DATE_SUB(NOW(), INTERVAL 30 DAY))
        <if test="query.query.batterySn != null and query.query.batterySn != '' ">
            and eb.sn = #{query.batterySn}
        </if>
        <if test="query.phone != null and query.phone != '' ">
            and ui.phone = #{query.phone}
        </if>
        <if test="query.userName != null and query.userName !=''">
            and ui.user_name like concat('%',#{userName, jdbcType=VARCHAR},'%')
        </if>
    </select>
    <select id="querySilentUserInfoDataCount" resultType="java.lang.Integer">
        select count(*)
        from t_user_info ui
        left join t_user_active_info uai on ui.uid = uai.uid
        left join t_electricity_battery eb on eb.uid = eb.uid
        left join t_user_battery_member_card ubmc on ubmc.uid = ui.uid
        where ui.del_flag = 0 and ui.tenant_id = #{query.tenantId} and  uai.active_time > UNIX_TIMESTAMP(DATE_SUB(NOW(), INTERVAL 30 DAY))
        <if test="query.query.batterySn != null and query.query.batterySn != '' ">
            and eb.sn = #{query.batterySn}
        </if>
        <if test="query.phone != null and query.phone != '' ">
            and ui.phone = #{query.phone}
        </if>
        <if test="query.userName != null and query.userName !=''">
            and ui.user_name like concat('%',#{userName, jdbcType=VARCHAR},'%')
        </if>

    </select>

    <select id="queryEleList" resultType="com.xiliulou.electricity.vo.userinfo.UserEleInfoVO">
        SELECT
            tui.NAME,
            tui.phone,
            ubmc.card_pay_count AS cardPayCount,
            tui.id AS user_info_id,
            teb.sn,
            tui.battery_rent_status,
            tui.battery_deposit_status,
            ubmc.member_card_id,
            ubmc.member_card_status,
            ubmc.member_card_expire_time,
            tiui.is_use,
            tiui.insurance_expire_time,
            tui.uid,
            tui.create_time AS userCertificationTime,
            tui.franchisee_id,
            tui.tenant_id,
            ubmc.remaining_number AS limitCount,
            tui.usable_status
        FROM
            t_user_info tui
            LEFT JOIN t_user_battery_member_card ubmc ON ubmc.uid = tui.uid
            AND ubmc.del_flag = 0
            LEFT JOIN t_electricity_battery teb ON tui.uid = teb.uid
            AND teb.del_flag = 0
            LEFT JOIN t_insurance_user_info tiui ON tui.uid = tiui.uid
            AND tiui.del_flag = 0
        WHERE
            tui.del_flag = 0
            AND tui.auth_status = 2
            AND tui.tenant_id =#{query.tenantId}
            <if test="query.memberCardExpireTimeBegin !=null">
                and ubmc.member_card_expire_time &gt;=#{query.memberCardExpireTimeBegin}
            </if>
            <if test="query.memberCardExpireTimeEnd !=null">
                and ubmc.member_card_expire_time &lt;=#{query.memberCardExpireTimeEnd}
            </if>
            <if test="query.batteryRentStatus !=null">
                and tui.battery_rent_status =#{query.batteryRentStatus}
            </if>
            <if test="query.memberCardExpireType == 4">
                and ubmc.member_card_expire_time is not null and ubmc.member_card_expire_time !=0
            </if>
            <if test="query.uid != null ">
                and tui.uid = #{query.uid}
            </if>
            <if test="query.franchiseeIds != null and query.franchiseeIds.size()>0">
                and tui.franchisee_id in
                <foreach collection="query.franchiseeIds" item="id" index="index" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
            <if test="query.storeIds != null and query.storeIds.size()>0">
                and tui.store_id in
                <foreach collection="query.storeIds" item="id" index="index" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
            order by ISNULL(ubmc.member_card_expire_time),ubmc.member_card_expire_time
            limit  #{query.offset}, #{query.size}
    </select>
    <select id="queryEleListCount" resultType="java.lang.Integer">
        SELECT
            count(1)
        FROM
        t_user_info tui
        LEFT JOIN t_user_battery_member_card ubmc ON ubmc.uid = tui.uid
        AND ubmc.del_flag = 0
        LEFT JOIN t_electricity_battery teb ON tui.uid = teb.uid
        AND teb.del_flag = 0
        LEFT JOIN t_insurance_user_info tiui ON tui.uid = tiui.uid
        AND tiui.del_flag = 0
        WHERE
        tui.del_flag = 0
        AND tui.auth_status = 2
        AND tui.tenant_id =#{query.tenantId}
        <if test="query.memberCardExpireTimeBegin !=null">
            and ubmc.member_card_expire_time &gt;=#{query.memberCardExpireTimeBegin}
        </if>
        <if test="query.memberCardExpireTimeEnd !=null">
            and ubmc.member_card_expire_time &lt;=#{query.memberCardExpireTimeEnd}
        </if>
        <if test="query.batteryRentStatus !=null">
            and tui.battery_rent_status =#{query.batteryRentStatus}
        </if>
        <if test="query.memberCardExpireType == 4">
            and ubmc.member_card_expire_time is not null and ubmc.member_card_expire_time !=0
        </if>
        <if test="query.uid != null ">
            and tui.uid = #{query.uid}
        </if>
        <if test="query.franchiseeIds != null and query.franchiseeIds.size()>0">
            and tui.franchisee_id in
            <foreach collection="query.franchiseeIds" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        <if test="query.storeIds != null and query.storeIds.size()>0">
            and tui.store_id in
            <foreach collection="query.storeIds" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
    </select>
</mapper>
