<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.UserEleOnlineLogMapper">
    <insert id="insert" parameterType="com.xiliulou.electricity.device.business.entity.UserEleOnlineLog" useGeneratedKeys="true" keyProperty="id">
        insert into t_user_ele_on_line_log(eid, client_ip, status, msg, appear_time, create_time)
        values (#{eid}, #{clientIp}, #{status}, #{msg}, #{appearTime}, #{createTime})
    </insert>

    <select id="queryOnlineLogList" resultType="com.xiliulou.electricity.vo.UserEleOnlineLogVO">
        SELECT
        a.id, a.eid as eleId, a.client_ip, a.status, a.msg, a.appear_time,a.create_time, b.`name`
        FROM
        t_user_ele_on_line_log a
        LEFT JOIN t_electricity_cabinet b ON a.eid = b.id
        <where>
            a.eid = #{eleId}
            and b.tenant_id = #{tenantId}
            <if test="type != null and type != ''">
                and a.status = #{type}
            </if>
        </where>
        order by a.create_time desc
        limit #{offset}, #{size}
    </select>

    <select id="queryOnlineLogCount" resultType="integer">
        select count(1) from t_user_ele_on_line_log a
        <where>
                    a.eid = #{eleId}
            <if test="type != null and type != ''">
                and a.status = #{type}
            </if>
        </where>
    </select>

</mapper>
