<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.UserNotifyMapper">
    
    <resultMap type="com.xiliulou.electricity.entity.UserNotify" id="UserNotifyMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="beginTime" column="begin_time" jdbcType="INTEGER"/>
        <result property="endTime" column="end_time" jdbcType="INTEGER"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="INTEGER"/>
        <result property="tenantId" column="tenant_id" jdbcType="INTEGER"/>
    </resultMap>
    
    <!--查询单个-->
    <select id="queryById" resultMap="UserNotifyMap">
        select
          id, status, begin_time, end_time, title, content, create_time, update_time, tenant_id
        from t_user_notify
        where id = #{id}
    </select>
    
    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="UserNotifyMap">
        select
          id, status, begin_time, end_time, title, content, create_time, update_time, tenant_id
        from t_user_notify
        limit #{offset}, #{limit}
    </select>
    
    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="UserNotifyMap">
        select
        id, status, begin_time, end_time, title, content, create_time, update_time, tenant_id
        from t_user_notify
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="startTime != null">
                and begin_time = #{beginTime}
            </if>
            <if test="endTime != null">
                and end_time = #{endTime}
            </if>
            <if test="title != null and title != ''">
                and title = #{title}
            </if>
            <if test="content != null and content != ''">
                and content = #{content}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
    </select>
    
    <!--新增所有列-->
    <insert id="insertOne" keyProperty="id" useGeneratedKeys="true">
        insert into t_user_notify(status, begin_time, end_time, title, content, create_time, update_time, tenant_id)
        values (#{status}, #{beginTime}, #{endTime}, #{title}, #{content}, #{createTime}, #{updateTime}, #{tenantId})
    </insert>
    
    <!--通过主键修改数据-->
    <update id="update">
        update t_user_notify
        <set>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="beginTime  != null">
                begin_time = #{beginTime},
            </if>
            <if test="endTime != null">
                end_time = #{endTime},
            </if>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="content != null and content != ''">
                content = #{content},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="tenantId != null">
                tenant_id = #{tenantId},
            </if>
        </set>
        where id = #{id}
    </update>
    
    <!--通过主键删除-->
    <delete id="deleteById">
        delete from t_user_notify where id = #{id}
    </delete>
    
    <select id="queryByTenantId" resultMap="UserNotifyMap">
    select
    id, status, begin_time, end_time, title, content, create_time, update_time, tenant_id
    from t_user_notify where tenant_id = #{tenantId}
  </select>
</mapper>
