<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.UserCarMapper">

    <resultMap type="com.xiliulou.electricity.entity.UserCar" id="UserCarMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="uid" column="uid" jdbcType="INTEGER"/>
        <result property="cid" column="cid" jdbcType="INTEGER"/>
        <result property="sn" column="sn" jdbcType="VARCHAR"/>
        <result property="carModel" column="car_model" jdbcType="INTEGER"/>
        <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
        <result property="tenantId" column="tenant_id" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="INTEGER"/>
    </resultMap>

    <!-- 基础字段 -->
    <sql id="selectUserCar">
       	select   id, uid, cid, sn, car_model, del_flag, create_time, update_time        from t_user_car
    </sql>

    <!--查询单个-->
    <select id="selectByUid" resultMap="UserCarMap">
        <include refid="selectUserCar"/>
        where uid = #{uid}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="selectByQuery" resultMap="UserCarMap">
        <include refid="selectUserCar"/>
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="uid != null">
                and uid = #{uid}
            </if>
            <if test="cid != null">
                and cid = #{cid}
            </if>
            <if test="sn != null and sn != ''">
                and sn = #{sn}
            </if>
            <if test="carModel != null">
                and car_model = #{carModel}
            </if>
            <if test="delFlag != null">
                and del_flag = #{delFlag}
            </if>
            <if test="tenantId != null">
                and tenant_id = #{tenantId}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insertOne" keyProperty="id" useGeneratedKeys="true">
        insert into t_user_car(uid, cid, sn, car_model, del_flag, create_time, update_time)
        values (#{uid}, #{cid}, #{sn}, #{carModel}, #{delFlag}, #{createTime}, #{updateTime})
    </insert>

    <insert id="insertOrUpdate" keyProperty="id" useGeneratedKeys="true">
        insert into t_user_car(uid, cid, sn, car_model, del_flag, create_time, update_time)
        values (#{uid}, #{cid}, #{sn}, #{carModel}, #{delFlag}, #{createTime}, #{updateTime})
        on duplicate key
        update cid=#{cid}, sn=#{sn}, car_model=#{carModel}, del_flag=#{delFlag}, update_time=#{updateTime}
    </insert>

    <!--通过主键修改数据-->
    <update id="updateByUid">
        update t_user_car
        <set>
            <if test="uid != null">
                uid = #{uid},
            </if>
            <if test="cid != null">
                cid = #{cid},
            </if>
            <if test="sn != null and sn != ''">
                sn = #{sn},
            </if>
            <if test="carModel != null">
                car_model = #{carModel},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag},
            </if>
            <if test="tenantId != null">
                tenant_id = #{tenantId},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where uid = #{uid}
    </update>

    <update id="unBindingCarByUid">
        update t_user_car
        <set>
            <if test="carModel != null">
                car_model = #{carModel},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag},
            </if>
            <if test="tenantId != null">
                tenant_id = #{tenantId},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            cid = #{cid},
            sn = #{sn}
        </set>
        where uid = #{uid}
    </update>

    <!--通过主键删除-->
    <delete id="deleteByUid">
        delete from t_user_car where uid = #{uid}
    </delete>

</mapper>
