<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.UserPhoneModifyRecordMapper">
    <insert id="insertOne">
        insert into t_user_ele_phone_modify_record(uid, tenant_id, old_phone, new_phone, create_time, update_time)
        values (#{uid}, #{tenantId}, #{oldPhone}, #{newPhone}, #{createTime}, #{updateTime})
    </insert>
</mapper>