<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.UserMapper">

	<resultMap type="com.xiliulou.electricity.entity.User" id="UserMap">
		<result property="uid" column="uid" jdbcType="INTEGER"/>
		<result property="phone" column="phone" jdbcType="VARCHAR"/>
		<result property="loginPwd" column="login_pwd" jdbcType="VARCHAR"/>
		<result property="salt" column="salt" jdbcType="VARCHAR"/>
		<result property="avatar" column="avatar" jdbcType="VARCHAR"/>
		<result property="name" column="name" jdbcType="VARCHAR"/>
		<result property="gender" column="gender" jdbcType="INTEGER"/>
		<result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
		<result property="lockFlag" column="lock_flag" jdbcType="INTEGER"/>
		<result property="userType" column="user_type" jdbcType="INTEGER"/>
		<result property="createTime" column="create_time" jdbcType="INTEGER"/>
		<result property="updateTime" column="update_time" jdbcType="INTEGER"/>
		<result property="city" column="city" jdbcType="VARCHAR"/>
		<result property="address" column="address" jdbcType="VARCHAR"/>
		<result property="province" column="province" jdbcType="VARCHAR"/>
		<result property="cid" column="cid" jdbcType="INTEGER"/>
		<result property="lang" column="lang" jdbcType="VARCHAR"/>
		<result property="refId" column="ref_id" jdbcType="INTEGER"/>
	</resultMap>

	<!--查询单个-->
	<select id="queryById" resultMap="UserMap">
        select
          uid, phone, login_pwd, salt, avatar, name, gender, del_flag, lock_flag, user_type, create_time, update_time, lang,city,province,address,cid,ref_id
        from electricity.t_user
        where uid = #{uid}
    </select>

	<!--查询指定行数据-->
	<select id="queryAllByLimit" resultMap="UserMap">
        select
          uid, phone, login_pwd, salt, avatar, name, gender, del_flag, lock_flag, user_type, create_time, update_time, lang,city,province,address,cid,ref_id
        from electricity.t_user
        limit #{offset}, #{limit}
    </select>

	<!--通过实体作为筛选条件查询-->
	<select id="queryAll" resultMap="UserMap">
		select
		uid, phone, login_pwd, salt, avatar, name, gender, del_flag, lock_flag, user_type, create_time, update_time,city,province,address,cid,
		lang,ref_id
		from electricity.t_user
		<where>
			<if test="uid != null">
				and uid = #{uid}
			</if>
			<if test="phone != null and phone != ''">
				and phone = #{phone}
			</if>
			<if test="loginPwd != null and loginPwd != ''">
				and login_pwd = #{loginPwd}
			</if>
			<if test="salt != null and salt != ''">
				and salt = #{salt}
			</if>
			<if test="avatar != null and avatar != ''">
				and avatar = #{avatar}
			</if>
			<if test="name != null and name != ''">
				and name = #{name}
			</if>
			<if test="gender != null">
				and gender = #{gender}
			</if>
			<if test="delFlag != null">
				and del_flag = #{delFlag}
			</if>
			<if test="lockFlag != null">
				and lock_flag = #{lockFlag}
			</if>
			<if test="userType != null">
				and user_type = #{userType}
			</if>
			<if test="createTime != null">
				and create_time = #{createTime}
			</if>
			<if test="updateTime != null">
				and update_time = #{updateTime}
			</if>
			<if test="lang != null and lang != ''">
				and lang = #{lang}
			</if>
		</where>
	</select>

	<!--新增所有列-->
	<insert id="insertOne" keyProperty="uid" useGeneratedKeys="true">
        insert into electricity.t_user(phone, login_pwd, salt, avatar, name, gender, del_flag, lock_flag, user_type, create_time, update_time, lang,city,province,address,cid,ref_id)
        values (#{phone}, #{loginPwd}, #{salt}, #{avatar}, #{name}, #{gender}, #{delFlag}, #{lockFlag}, #{userType}, #{createTime}, #{updateTime}, #{lang},#{city},#{province},#{address},#{cid},#{refId})
    </insert>

	<!--通过主键修改数据-->
	<update id="update">
		update electricity.t_user
		<set>
			<if test="phone != null and phone != ''">
				phone = #{phone},
			</if>
			<if test="loginPwd != null and loginPwd != ''">
				login_pwd = #{loginPwd},
			</if>
			<if test="salt != null and salt != ''">
				salt = #{salt},
			</if>
			<if test="avatar != null and avatar != ''">
				avatar = #{avatar},
			</if>
			<if test="name != null and name != ''">
				name = #{name},
			</if>
			<if test="gender != null">
				gender = #{gender},
			</if>
			<if test="delFlag != null">
				del_flag = #{delFlag},
			</if>
			<if test="lockFlag != null">
				lock_flag = #{lockFlag},
			</if>
			<if test="userType != null">
				user_type = #{userType},
			</if>
			<if test="createTime != null">
				create_time = #{createTime},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime},
			</if>
			<if test="lang != null and lang != ''">
				lang = #{lang},
			</if>
			<if test=""></if>
		</set>
		where uid = #{uid}
	</update>

	<!--通过主键删除-->
	<update id="deleteById">
        update electricity.t_user set del_flag = 1  where uid = #{uid}
    </update>

	<select id="queryListUserByCriteria" resultMap="UserMap">
		select uid, phone, avatar, name, gender, del_flag, lock_flag, user_type, create_time, update_time,
		city,province,address,cid,ref_id
		lang
		from t_user
		<where>
			del_flag = 0
			<if test="uid != null">
				and uid = #{uid}
			</if>
			<if test="name != null and name != '' ">
				and name like concat('%',#{name},'%')
			</if>
			<if test="type != null">
				and user_type = #{type}
			</if>
			<if test="phone != null and phone != ''">
				and phone=#{phone}
			</if>
			<if test="startTime != null">
				and create_time &gt;=#{startTime}
			</if>
			<if test="endTime != null">
				and create_time &lt;=#{endTime}
			</if>
		</where>
		order by create_time desc

	</select>

</mapper>