<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.UserAmountHistoryMapper">


	<select id="queryList" resultType="com.xiliulou.electricity.vo.UserAmountHistoryVO">
		select tuah.id as id,tuah.uid as uid, tuah.type as type,tuah.amount as amount,
		tuah.join_uid as joinUid,tu.phone as joinPhone,tuah.create_time as createTime,
		tuah.tenant_id as tenantId
		from t_user_amount_history as tuah
		left join t_user_info as tu on tuah.join_uid=tu.uid
		<where>
			<if test="uid != null ">
				and tuah.uid = #{uid}
			</if>
			<if test="tenantId != null ">
				and tuah.tenant_id = #{tenantId}
			</if>
			<if test="type != null ">
				and tuah.type = #{type}
			</if>
			<if test="type == null ">
				and tuah.type in (1,2)
			</if>
		</where>
		order by tuah.create_time desc
		limit #{offset},#{size}
	</select>

	<select id="queryCount" resultType="java.lang.Integer">
		select count(1) from t_user_amount_history
		<where>
			<if test="uid != null ">
				and uid = #{uid}
			</if>
			<if test="tenantId != null ">
				and tenant_id = #{tenantId}
			</if>
			<if test="type != null ">
				and type = #{type}
			</if>
			<if test="type == null ">
				and type in (1,2)
			</if>
		</where>
	</select>

	<select id="selectRewardList" resultType="com.xiliulou.electricity.vo.UserAmountHistoryVO">
		select
		id,
		uid,
		type,
		amount,
		join_uid,
		create_time
		from t_user_amount_history
		where uid = #{uid} and tenant_id = #{tenantId} and type in (1,2)
		order by id desc
		limit #{offset},#{size}
	</select>
</mapper>
