<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.UserExtraMapper">

    <resultMap type="com.xiliulou.electricity.entity.UserExtra" id="UserExtraMap">
        <result property="uid" column="uid" jdbcType="INTEGER"/>
        <result property="source" column="source" jdbcType="INTEGER"/>
        <result property="eid" column="eid" jdbcType="INTEGER"/>
        <result property="inviter" column="inviter" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="INTEGER"/>
        <result property="tenantId" column="tenant_id" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="UserExtraMap">
        select
          uid, source, eid, inviter, create_time, update_time, tenant_id
        from t_user_extra
        where uid = #{uid}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="UserExtraMap">
        select
          uid, source, eid, inviter, create_time, update_time, tenant_id
        from t_user_extra
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="UserExtraMap">
        select
        uid, source, eid, inviter, create_time, update_time, tenant_id
        from t_user_extra
        <where>
            <if test="uid != null">
                and uid = #{uid}
            </if>
            <if test="source != null">
                and source = #{source}
            </if>
            <if test="eid != null">
                and eid = #{eid}
            </if>
            <if test="inviter != null">
                and inviter = #{inviter}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="tenantId != null">
                and tenant_id = #{tenantId}
            </if>
        </where>
    </select>

    <!--通过主键修改数据-->
    <update id="update">
        update t_user_extra
        <set>
            <if test="source != null">
                source = #{source},
            </if>
            <if test="eid != null">
                eid = #{eid},
            </if>
            <if test="inviter != null">
                inviter = #{inviter},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="tenantId != null">
                tenant_id = #{tenantId},
            </if>
        </set>
        where uid = #{uid}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from t_user_extra where uid = #{uid}
    </delete>

</mapper>
