<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.UserCouponMapper">


    <!--查询指定行数据-->
    <select id="queryList" resultType="com.xiliulou.electricity.vo.UserCouponVO">
        select
        tuc.id as id, tuc.name as name, tuc.uid as uid, tuc.phone as phone, tuc.coupon_id as couponId,
        tuc.deadline as deadline, tuc.order_id as orderId,tuc.create_time as createTime,tc.superposition as superposition,
        tuc.update_time as updateTime, tuc.status as status, tuc.source as source, tuc.del_flag as delFlag,
        tuc.discount_type as discountType,tc.amount AS amount,tc.discount AS discount,tui.name as userName
        from t_user_coupon as tuc
        left join t_user_info tui on tuc.uid=tui.uid
        left join t_coupon as tc on tuc.coupon_id=tc.id
        <where>
            <if test="query.uid != null">
                and tuc.uid = #{query.uid}
            </if>
            <if test="query.phone != null and query.phone != ''">
                and tuc.phone = #{query.phone}
            </if>
            <if test="query.userName != null and query.userName != ''">
                and tui.name = #{query.userName}
            </if>
            <if test="query.orderId != null and query.orderId != ''">
                and tuc.order_id = #{query.orderId}
            </if>
            <if test="query.couponId != null">
                and tuc.coupon_id = #{query.couponId}
            </if>
            <if test="query.status != null">
                and tuc.status = #{query.status}
            </if>
            <if test="query.discountType != null">
                and tuc.discount_type = #{query.discountType}
            </if>
            <if test="query.statusList!=null and query.statusList!=''">
                and tuc.status in
                <foreach collection="query.statusList" item="id" index="index" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
            <if test="query.typeList!=null and query.typeList!=''">
                and tuc.discount_type in
                <foreach collection="query.typeList" item="id" index="index" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
            <if test="query.tenantId != null ">
                and tuc.tenant_id = #{query.tenantId}
            </if>
        </where>
        ORDER BY tuc.update_time DESC
        <if test="query.offset != null and query.size != null">
            limit #{query.offset}, #{query.size}
        </if>
    </select>


    <select id="queryCount" resultType="java.lang.Integer">
        select count(1)
        from t_user_coupon as tuc left join t_user_info tui on tuc.uid=tui.uid
        <where>
            <if test="query.uid != null">
                and tuc.uid = #{query.uid}
            </if>
            <if test="query.phone != null and query.phone != ''">
                and tuc.phone = #{query.phone}
            </if>
            <if test="query.orderId != null and query.orderId != ''">
                and tuc.order_id = #{query.orderId}
            </if>
            <if test="query.couponId != null">
                and tuc.coupon_id = #{query.couponId}
            </if>
            <if test="query.userName != null and query.userName != ''">
                and tui.name = #{query.userName}
            </if>
            <if test="query.discountType != null">
                and tuc.discount_type = #{query.discountType}
            </if>
            <if test="query.status != null">
                and tuc.status = #{query.status}
            </if>
            <if test="query.statusList!=null and query.statusList!=''">
                and tuc.status in
                <foreach collection="query.statusList" item="id" index="index" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
            <if test="query.typeList!=null and query.typeList!=''">
                and tuc.discount_type in
                <foreach collection="query.typeList" item="id" index="index" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
            <if test="query.tenantId != null ">
                and tuc.tenant_id = #{query.tenantId}
            </if>
        </where>
    </select>

    <update id="update">
        update t_user_coupon
        <set>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
        </set>
        where id = #{id} and tenant_id = #{tenantId}
    </update>

    <update id="updateStatus">
        update t_user_coupon set
        status = #{status},
        order_id=#{orderId},
        update_time = #{updateTime}
        where id = #{id} and tenant_id = #{tenantId}
    </update>

    <update id="batchUpdateUserCoupon">
        <foreach collection="list" item="item" open="" separator=";" close="">
            update t_user_coupon set
            status = #{item.status},
            order_id=#{item.orderId},
            update_time = #{item.updateTime}
            where id = #{item.id}
        </foreach>
    </update>

    <update id="updateUserCouponStatus">
            update t_user_coupon set  status = #{status}, order_id=#{orderId}, update_time = #{updateTime}  where id = #{id}
    </update>

</mapper>
