<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.UserOauthBindMapper">


    <select id="queryListByCondition" resultType="com.xiliulou.electricity.entity.UserOauthBind">
        select
        id, uid, source, third_id, third_nick, access_token, refresh_token, status, create_time, update_time,phone
        fromt_user_oauth_bind
        <where>
            <if test="phone != null and phone != ''">
                phone = #{phone}
            </if>
            <if test="thirdId != null and thirdId != ''">
                third_id = #{thirdId}
            </if>
            <if test="uid != null">
                uid = #{uid}
            </if>
        </where>
        order by create_time desc
        limit #{offset}, #{size}
    </select>

    <select id="queryUserOauthBySysId" resultType="com.xiliulou.electricity.entity.UserOauthBind">
                SELECT
                 id,
                 uid,
                 source,
                 third_id,
                 third_nick,
                 access_token,
                 refresh_token,
                 status,
                 phone,
                 create_time,
                 update_time
                FROM
                t_user_oauth_bind
                WHERE
                uid = #{uid}

    </select>

</mapper>
