<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.VersionNotificationMapper">


    <select id="queryVersionPage" resultType="com.xiliulou.electricity.entity.VersionNotification">
        select
        id,
        version,
        content,
        send_mail_status,
        create_time,
        update_time
        from
        t_version_notification
        order by create_time desc
        <if test="offset !=null and size !=null">
            limit #{offset},#{size}
        </if>
    </select>

    <select id="queryCreateTimeMaxTenantNotification" resultType="com.xiliulou.electricity.entity.VersionNotification">
         select id, version, content,send_mail_status,create_time,update_time from t_version_notification order by update_time desc limit 1
    </select>

</mapper>
