<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.WechatPaymentCertificateMapper">
    
    <sql id="base_column">
        id
        ,
        tenant_id,
        certificate_content,
        upload_time,
        pay_params_id,
        franchisee_id,
        del_flag
    </sql>
    
    <select id="selectByTenantIdAndFranchiseeId" resultType="com.xiliulou.electricity.entity.WechatPaymentCertificate">
        select
        <include refid="base_column"/>
        from t_wechat_payment_certificate
        where tenant_id = #{tenantId} and franchisee_id = #{franchiseeId} and del_flag=0
    </select>
    <select id="selectListByTenantIdAndFranchiseeIds"
        resultType="com.xiliulou.electricity.entity.WechatPaymentCertificate">
        select
        <include refid="base_column"/>
        from t_wechat_payment_certificate
        where tenant_id = #{tenantId} and del_flag=0
        and franchisee_id in
        <foreach collection="franchiseeIds" open="(" close=")" separator="," item="franchiseeId">
            #{franchiseeId}
        </foreach>
    </select>
    
    
    <update id="updateByIdAndTenantId">
        update t_wechat_payment_certificate
        <set>
            <if test="certificateContent != null and certificateContent != ''">
                certificate_content = #{certificateContent},
            </if>
            <if test="uploadTime != null">
                upload_time = #{uploadTime},
            </if>
        </set>
        where id = #{id} and tenant_id = #{tenantId}
    </update>
    
    <update id="logicalDeleteByPayParamsId">
        update
            t_wechat_payment_certificate
        set del_flag = 1
        where pay_params_id = #{payParamsId}
          and tenant_id = #{tenantId}
    </update>
</mapper>
