<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiliulou.electricity.mapper.profitsharing.ProfitSharingOrderMapper">
    <!-- 基础字段 -->
    <sql id="basic_field">
        id
        , third_trade_order_no, order_no, third_order_no, amount, business_type,
            status, type, tenant_id, franchisee_id, third_merchant_id, del_flag, create_time,update_time
    </sql>
    
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO t_profit_sharing_order (third_trade_order_no, order_no, third_order_no, amount, business_type,
                                            status, type, tenant_id, franchisee_id, third_merchant_id, create_time, update_time, out_account_type, channel)
        VALUES (#{thirdTradeOrderNo}, #{orderNo}, #{thirdOrderNo}, #{amount}, #{businessType},
                #{status}, #{type}, #{tenantId}, #{franchiseeId}, #{thirdMerchantId}, #{createTime}, #{updateTime}, #{outAccountType}, #{channel})
    </insert>
    <insert id="batchInsert" keyProperty="id" useGeneratedKeys="true">
        insert into t_profit_sharing_order(third_trade_order_no, order_no, third_order_no, amount, business_type,
        status, type, tenant_id, franchisee_id, third_merchant_id, create_time, update_time, out_account_type, channel)
        values
        <foreach item="item" collection="list" separator=",">
            (#{item.thirdTradeOrderNo}, #{item.orderNo}, #{item.thirdOrderNo}, #{item.amount}, #{item.businessType},
            #{item.status}, #{item.type}, #{item.tenantId}, #{item.franchiseeId}, #{item.thirdMerchantId}, #{item.createTime}, #{item.updateTime},
            #{item.outAccountType}, #{item.channel})
        </foreach>
    
    </insert>
    <update id="update">
        update t_profit_sharing_order
        set
        <if test="thirdOrderNo!=null and thirdOrderNo!=''">
            third_order_no =#{thirdOrderNo},
        </if>
        <if test="businessType!=null">
            business_type =#{businessType},
        </if>
        <if test="status!=null">
            status =#{status},
        </if>
        update_time=#{updateTime}
        where id =#{id}
    </update>
    
    <update id="updateUnfreezeOrderById">
        update t_profit_sharing_order
        set
            <if test="status != null">
                status = #{status},
            </if>
           update_time = #{updateTime}
        where id = #{id}
    </update>
    
    <select id="selectListByIds" resultType="com.xiliulou.electricity.entity.profitsharing.ProfitSharingOrder">
        select
        <include refid="basic_field"/>
        from t_profit_sharing_order
        where
        del_flag = 0
        and id in
        <foreach collection="idList" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
    
    <select id="existsUnfreezeByThirdOrderNo" resultType="java.lang.Integer">
        select 1
        from t_profit_sharing_order
        where third_order_no = #{thirdOrderNo}
          and business_type = 98 limit 1
    </select>
    <select id="selectListByThirdOrderNos"
        resultType="com.xiliulou.electricity.entity.profitsharing.ProfitSharingOrder">
        select
        <include refid="basic_field"/>
        from t_profit_sharing_order
        where del_flag=0 and tenant_id=#{tenantId}
        and third_order_no in
        <foreach collection="thirdOrderNos" open="(" close=")" item="thirdOrderNo" separator=",">
            #{thirdOrderNo}
        </foreach>
    </select>
    <select id="selectByIdGreaterThanAndOtherConditions"
        resultType="com.xiliulou.electricity.entity.profitsharing.ProfitSharingOrder">
        SELECT
        <include refid="basic_field"/>
        from t_profit_sharing_order
        where del_flag=0
        and tenant_id=#{tenantId}
        and id>#{startId}
        and status in
        <foreach collection="statusList" open="(" close=")" item="status" separator=",">
            #{status}
        </foreach>
        order by id asc
        limit #{size}
    </select>


</mapper>




